
h2{
    font-weight: bold;
    color: rgb(13, 7, 7);
    text-align: center;
    justify-content: center;
}
.container{
    
    margin-top: 70px;
    justify-content: center;
    height: 700px;
    background-color: white;
}
.bg-image {
  background: url(../../assets/img/electrical-panel-testing_test.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  background-size: 100%;
  height: auto;
  width: 100%;
  position: relative;
  padding: 20px;
}
.changeNumber{
  position: absolute;
  right: 30px;
}