<div class="card">
<div class="card-body">
    <form [formGroup]="LPSBasicForm" (ngSubmit)="onSubmit(flag)" (keyup)="onKeyForm($event)" (change)="onChangeForm($event)" (window:beforeunload)="doBeforeUnload()">
            <div class="row" style="font-weight: bold;">
                <label for="Basicdetails" style="font-weight: bold;margin: 10px;
                font-size: 16px;">Basic Details</label>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="clientname">Client Name</label>
                    <!-- icon code -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> 
                                <i class="bi bi-person-lines-fill"></i>
                            </span>
                        </div>
                        <input tpe="text" class="form-control" placeholder="Enter clientname"
                            [readonly]="isEditable" formControlName="clientName"[(ngModel)]="basicDetails.clientName"
                            [ngClass]="{ 'is-invalid': submitted && f.clientName.errors}" />
                        <div *ngIf="submitted && f.clientName.errors" class="invalid-feedback">
                            <div *ngIf="f.clientName.errors.required">ClientName is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="projectname">Project Name</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-journal-plus"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter project name"
                            [readonly]="isEditable" formControlName="projectName" [(ngModel)]="basicDetails.projectName"
                            [ngClass]="{ 'is-invalid': submitted && f.projectName.errors}" />
                        <div *ngIf="submitted && f.projectName.errors" class="invalid-feedback">
                            <div *ngIf="f.projectName.errors.required">ProjectName is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="pmcname">PMC Name </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-person-lines-fill"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter PMC name" [readonly]="isEditable" formControlName="pmcName" [(ngModel)]="basicDetails.pmcName"
                            [ngClass]="{ 'is-invalid': submitted && f.pmcName.errors}" />
                        <div *ngIf="submitted && f.pmcName.errors" class="invalid-feedback">
                            <div *ngIf="f.pmcName.errors.required">PMC Name is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="consultantname">Consultant Name </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-person-lines-fill"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter consultant name"
                            [readonly]="isEditable" formControlName="consultantName" [(ngModel)]="basicDetails.consultantName"
                            [ngClass]="{ 'is-invalid': submitted && f.consultantName.errors}" />
                        <div *ngIf="submitted && f.consultantName.errors" class="invalid-feedback">
                            <div *ngIf="f.consultantName.errors.required">Consultant Name is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="contractorname">Contractor Name </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-person-lines-fill"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter contractor name"
                            [readonly]="isEditable" formControlName="contractorName" [(ngModel)]="basicDetails.contractorName"
                            [ngClass]="{ 'is-invalid': submitted && f.contractorName.errors}" />
                        <div *ngIf="submitted && f.contractorName.errors" class="invalid-feedback">
                            <div *ngIf="f.contractorName.errors.required">Contractor Name is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="dealer/sub-contractor">Dealer/Sub-contractor </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-person-lines-fill"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter dealer/sub-contractor name"
                            [readonly]="isEditable" formControlName="dealerContractorName"  [(ngModel)]="basicDetails.dealerContractorName"
                            [ngClass]="{ 'is-invalid': submitted && f.dealerContractorName.errors}" />
                        <div *ngIf="submitted && f.dealerContractorName.errors" class="invalid-feedback">
                            <div *ngIf="f.dealerContractorName.errors.required">Dealer/Sub-contractor is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="address">Address </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-geo-fill"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter address name"  [(ngModel)]="basicDetails.address"
                            [readonly]="isEditable" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors}" />
                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                            <div *ngIf="f.address.errors.required">Address is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="location/region/branch">Location/Region/Branch </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-geo-fill"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter Location/Region/Branch name" [(ngModel)]="basicDetails.location"
                            [readonly]="isEditable" formControlName="location" [ngClass]="{ 'is-invalid': submitted && f.location.errors}" />
                        <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                            <div *ngIf="f.location.errors.required">location is required</div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-4">
                    <label for="installationbyCAPE/contractor/dealer">Installation by CAPE /
                        Contractor/Dealer </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-person-lines-fill"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control"
                            placeholder="Enter Installation by CAPE / Contractor/Dealer name"
                            [readonly]="isEditable" formControlName="installationContractor" [(ngModel)]="basicDetails.installationContractor"
                            [ngClass]="{ 'is-invalid': submitted && f.installationContractor.errors}" />
                        <div *ngIf="submitted && f.installationContractor.errors" class="invalid-feedback">
                            <div *ngIf="f.installationContractor.errors.required">Installation by CAPE /
                                Contractor/Dealer is required</div>
                        </div>
                    </div>
                </div> -->

                <div class="col-md-4">
                    <label for="typeofindustry">Type of Industry </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-building"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter Type of Industry name"
                            [readonly]="isEditable" formControlName="industryType" [(ngModel)]="basicDetails.industryType"
                            [ngClass]="{ 'is-invalid': submitted && f.industryType.errors}" />
                        <div *ngIf="submitted && f.industryType.errors" class="invalid-feedback">
                            <div *ngIf="f.industryType.errors.required">Type of Industry is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="soilresistivity">Soil Resistivity in ohm-meter(Optional)</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-shield-fill-x"></i>
                            </span>
                        </div>
                        <input (keypress)="keyPressNumbers($event)" class="form-control" placeholder="Enter Soil Resistivity"
                            [readonly]="isEditable" formControlName="soilResistivity" [(ngModel)]="basicDetails.soilResistivity"/>
                    </div>
                </div>                
            </div>

            <div class="row" style="font-weight: bold;">
                <label for="Basicdetails" style="font-weight: bold;margin: 10px; font-size: 16px;">Person who ordering the report</label>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label for="clientname">Name</label>
                    <!-- icon code -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> 
                                <i class="bi bi-person-lines-fill"></i>
                            </span>
                        </div>
                        <input tpe="text" class="form-control" placeholder="Enter clientname"
                        formControlName="name"  [readonly]="isEditable"/>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="clientname">Company</label>
                    <!-- icon code -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> 
                                <i class="bi bi-building"></i>
                            </span>
                        </div>
                        <input tpe="text" class="form-control" placeholder="Enter clientname"
                        formControlName="company" [readonly]="isEditable"/>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="clientname">Designation</label>
                    <!-- icon code -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> 
                                <i class="bi bi-person-lines-fill"></i>
                            </span>
                        </div>
                        <input tpe="text" class="form-control" placeholder="Enter clientname"
                        formControlName="designation"  [readonly]="isEditable"/>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="clientname">Contact Number</label>
                    <!-- icon code -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> 
                                <i class="bi bi-phone-fill"></i>
                            </span>
                        </div>
                        <input tpe="text" class="form-control" placeholder="Enter clientname"
                        formControlName="contactNumber"  [readonly]="isEditable"/>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="clientname">Mail Id</label>
                    <!-- icon code -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> 
                                <i class="bi bi-envelope-fill"></i>
                            </span>
                        </div>
                        <input tpe="text" formControlName="mailId" class="form-control" placeholder="Enter clientname" [readonly]="isEditable"/>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4">
                    <label>Availability of previous report</label>
                    <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> 
                            <i class="bi bi-check-square-fill"></i>
                        </span>
                    </div>
                    <select class="form-control"  formControlName="availabilityOfPreviousReport" >
                        <option  value="" selected>Select Option</option>
                        <option value="YES" >Yes</option>
                        <option value="NO" >No</option>
                    </select>
                    </div>
                </div>
            </div>

            <div style="text-align: center;margin-top: 40px;margin-left: 80px;">
                <button class="next" (click)="gotoNextModal(content,contents)" mat-button >Next &raquo;</button>
            </div>
       
            <div *ngIf="validationError" style="text-align: center;margin-top: 30px;">
            <span class="alert alert-danger">{{validationErrorMsg}}</span>
            </div>
    </form>
</div>
</div>
<ng-template #content let-modal>
    <div class="modal-body">
        <div class="centre-text m-btm30">
            <div *ngIf="success" style="text-align: center;">
                <span class="successshow">{{successMsg}}</span>
            </div>
            <div *ngIf="Error" style="text-align: center;">
                <span class="errorshow">{{errorMsg}}</span>
            </div>
        </div>
    </div>
    <br>
     <button type="button" class="close" class="btn btn-block btn-primary btn-rounded btn-md font-weight-medium auth-form-btn"
     aria-label="Close"  (click)="closeModalDialog()" style="margin-left: 195px;width: 16%;" matStepperNext>

      <span aria-hidden="true">Ok</span>

  </button>
</ng-template> 
<ng-template #contents let-modal>
    <div class="modal-body">
     <div class="centre-text m-btm30">
      <div style="text-align: center;">
        <span class="successshow">Are you sure you want to procced? </span>
        <br>
        <span style="font-size: 12px;">Note: Please verify all the details! </span>
       </div>
      </div>
     </div>
    <br>
    <div class="row">
       <button type="button" class="col-md-6" style="text-align:center; width: auto;" class="btn btn-primary btn-rounded btn-md font-weight-medium auth-form-btn"
       aria-label="Close" (click)="closeModalDialog()" matStepperNext>
       <i class="bi bi-arrow-right-circle"></i>&nbsp;
        <span aria-hidden="true">Ok</span>
    </button>
    <button type="button" class="col-md-6" style="width: auto;" class="btn btn-danger btn-rounded btn-md font-weight-medium auth-form-btn"
       aria-label="Close" (click)="closeModalDialog()">
       <i class="bi bi-x icon"></i>
        <span aria-hidden="true">Cancel</span>
    </button>
  </div>
  
    </ng-template>
 