<div *ngIf="service.msgForStep1" style="text-align: center;margin-top: 30px;">
    <span class="successshow">Please fill steps to proceed further!</span>
</div>
<div *ngIf="tabError" style="text-align: center;">
    <span class="alert alert-danger">{{tabErrorMsg}}</span>
</div>
<div *ngIf="validationErrorTab" style="text-align: center;">
    <span class="alert alert-danger">{{validationErrorMsgTab}}</span>
</div>
<div class="card">
<div class="card-body">
    <form [formGroup]="LPSBasicForm" (ngSubmit)="onSubmit(flag)" (keyup)="onKeyForm($event)" (change)="onChangeForm($event)" (window:beforeunload)="doBeforeUnload()">
        <div  formArrayName="lpsBasic" *ngFor="let f of overAllControl(); let j = index">
            <div class="col-md-4" class="form-group" [formGroupName]="j">
            <div class="row" style="font-weight: bold;">
                <label for="Basicdetails" style="font-weight: bold;margin: 10px;font-size: 16px;">Basic Details</label>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="clientname">Client Name</label>
                    <!-- icon code -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> 
                                <i class="bi bi-person-lines-fill"></i>
                            </span>
                        </div>
                        <input tpe="text" class="form-control" placeholder="Enter clientname"
                            [readonly]="isEditable" formControlName="clientName" [readonly]="isEditable"
                            [ngClass]="{ 'is-invalid': submitted && f.get('clientName')?.errors }"/>
                        <div *ngIf="submitted && f.get('clientName')?.errors" class="invalid-feedback">
                                <div *ngIf="f.get('clientName')?.errors?.required">ClientName is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="projectname">Project Name</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-journal-plus"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter project name"
                            [readonly]="isEditable" formControlName="projectName" [ngClass]="{ 'is-invalid': submitted && f.get('projectName')?.errors }"/>
                            <div *ngIf="submitted && f.get('projectName')?.errors" class="invalid-feedback">
                                <div *ngIf="f.get('projectName')?.errors?.required">ProjectName is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="pmcname">PMC Name </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-person-lines-fill"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter PMC name" [readonly]="isEditable" formControlName="pmcName"
                        [ngClass]="{ 'is-invalid': submitted && f.get('pmcName')?.errors }"/>
                        <div *ngIf="submitted && f.get('pmcName')?.errors" class="invalid-feedback">
                            <div *ngIf="f.get('pmcName')?.errors?.required">PMC Name is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="consultantname">Consultant Name </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-person-lines-fill"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter consultant name"
                            [readonly]="isEditable" formControlName="consultantName" [ngClass]="{ 'is-invalid': submitted && f.get('consultantName')?.errors }"/>
                            <div *ngIf="submitted && f.get('consultantName')?.errors" class="invalid-feedback">
                                <div *ngIf="f.get('consultantName')?.errors?.required">Consultant Name is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="contractorname">Contractor Name </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-person-lines-fill"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter contractor name"
                            [readonly]="isEditable" formControlName="contractorName" [ngClass]="{ 'is-invalid': submitted && f.get('contractorName')?.errors }"/>
                            <div *ngIf="submitted && f.get('contractorName')?.errors" class="invalid-feedback">
                                <div *ngIf="f.get('contractorName')?.errors?.required">Contractor Name is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="dealer/sub-contractor">Dealer/Sub-contractor </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-person-lines-fill"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter dealer/sub-contractor name"
                            [readonly]="isEditable" formControlName="dealerContractorName" [ngClass]="{ 'is-invalid': submitted && f.get('dealerContractorName')?.errors }"/>
                            <div *ngIf="submitted && f.get('dealerContractorName')?.errors" class="invalid-feedback">
                                <div *ngIf="f.get('dealerContractorName')?.errors?.required">Dealer/Sub-contractor is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="address">Address </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-geo-fill"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter address name"
                            [readonly]="isEditable" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.get('address')?.errors }"/>
                            <div *ngIf="submitted && f.get('address')?.errors" class="invalid-feedback">
                                <div *ngIf="f.get('address')?.errors?.required">Address is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="location/region/branch">Location/Region/Branch </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-geo-fill"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter Location/Region/Branch name"
                            [readonly]="isEditable" formControlName="location" [ngClass]="{ 'is-invalid': submitted && f.get('location')?.errors }"/>
                            <div *ngIf="submitted && f.get('location')?.errors" class="invalid-feedback">
                                <div *ngIf="f.get('location')?.errors?.required">Location/Region/Branch is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="typeofindustry">Type of Industry </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-building"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter Type of Industry name"
                            [readonly]="isEditable" formControlName="industryType" [ngClass]="{ 'is-invalid': submitted && f.get('industryType')?.errors }"/>
                            <div *ngIf="submitted && f.get('industryType')?.errors" class="invalid-feedback">
                                <div *ngIf="f.get('industryType')?.errors?.required">Type of Industry is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="soilresistivity">Soil Resistivity in ohm-meter(Optional)</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-shield-fill-x"></i>
                            </span>
                        </div>
                        <input (keypress)="keyPressNumbers($event)" class="form-control" placeholder="Enter Soil Resistivity"
                            [readonly]="isEditable" formControlName="soilResistivity"
                            />
                    </div>
                </div>                
            </div>

            <div class="row" style="font-weight: bold;">
                <label for="Basicdetails" style="font-weight: bold;margin: 10px; font-size: 16px;">Person who ordering the report</label>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label for="clientname">Name</label>
                    <!-- icon code -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> 
                                <i class="bi bi-person-lines-fill"></i>
                            </span>
                        </div>
                        <input tpe="text" class="form-control" placeholder="Enter Name"
                         formControlName="name"  [readonly]="isEditable" [ngClass]="{ 'is-invalid': submitted && f.get('name')?.errors }"/>
                         <div *ngIf="submitted && f.get('name')?.errors" class="invalid-feedback">
                             <div *ngIf="f.get('name')?.errors?.required">Name is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="clientname">Company</label>
                    <!-- icon code -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> 
                                <i class="bi bi-building"></i>
                            </span>
                        </div>
                        <input tpe="text" class="form-control" placeholder="Enter Company" 
                        [readonly]="isEditable" formControlName="company" [ngClass]="{ 'is-invalid': submitted && f.get('company')?.errors }"/>
                        <div *ngIf="submitted && f.get('company')?.errors" class="invalid-feedback">
                            <div *ngIf="f.get('company')?.errors?.required">Company is required</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="clientname">Designation</label>
                    <!-- icon code -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> 
                                <i class="bi bi-person-lines-fill"></i>
                            </span>
                        </div>
                        <input tpe="text" class="form-control" placeholder="Enter Designation" 
                        [readonly]="isEditable" formControlName="designation" [ngClass]="{ 'is-invalid': submitted && f.get('designation')?.errors }"/>
                        <div *ngIf="submitted && f.get('designation')?.errors" class="invalid-feedback">
                            <div *ngIf="f.get('designation')?.errors?.required">Designation is required</div>
                        </div>
                    </div>
                </div>

               

                <div class="col-md-4">
                    <label for="contactNumber">Contact Number</label>
                    <input type="tel" class="form-control" type="tel" ng2TelInput  [ng2TelInputOptions]="{initialCountry: 'in',separateDialCode: 'true'}"
                       (keypress)="keyPressNumbers($event)" (countryChange)="countryChange($event)" placeholder="Enter Contact Number" 
                       [readonly]="isEditable" formControlName="contactNumber"  [ngClass]="{ 'is-invalid': submitted && f.get('contactNumber')?.errors }"/>
                       <div *ngIf="submitted && f.get('contactNumber')?.errors" class="invalid-feedback">
                           <div *ngIf="f.get('contactNumber')?.errors?.required">Contact Number is required</div>
                           <div *ngIf="f.get('contactNumber')?.errors?.minlength">Enter 10 Digit Number</div> 
                                <div *ngIf="f.get('contactNumber')?.errors?.maxlength">Enter 10 Digit Number</div>
                       </div>
            </div>

                <div class="col-md-4">
                    <label for="clientname">Email Id</label>
                    <!-- icon code -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> 
                                <i class="bi bi-envelope-fill"></i>
                            </span>
                        </div>
                        <input tpe="text" [readonly]="isEditable" formControlName="mailId" 
                         class="form-control" placeholder="Enter Email Id"  [ngClass]="{ 'is-invalid': submitted && f.get('mailId')?.errors }"/>
                         <div *ngIf="submitted && f.get('mailId')?.errors" class="invalid-feedback">
                             <div *ngIf="f.get('mailId')?.errors?.required">Email Id is required</div>
                            <div *ngIf="f.get('mailId')?.errors?.pattern">Enter valid email</div>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4">
                    <label>Availability of previous report</label>
                    <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> 
                            <i class="bi bi-check-square-fill"></i>
                        </span>
                    </div>

                    <select class="form-control" formControlName="availabilityOfPreviousReport" [attr.disabled]="isEditable ? '' : null" 
                    [ngClass]="{ 'is-invalid': submitted && f.get('availabilityOfPreviousReport')?.errors }" [(ngModel)]="availableReportNo">
                        <option  value="" selected>Select Option</option>
                        <option value="Yes" >Yes</option>
                        <option value="No" >No</option>
                    </select>

                    <div *ngIf="submitted && f.get('availabilityOfPreviousReport')?.errors" class="invalid-feedback">
                        <div *ngIf="f.get('availabilityOfPreviousReport')?.errors?.required">Availability of previous report is required</div>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
            <div style="text-align: center;margin-top: 40px;margin-left: 80px;">
                <button class="next" (click)="gotoNextModal(content,contents)" mat-button >Next &raquo;</button>
            </div>
       
            <div *ngIf="validationError" style="text-align: center;margin-top: 30px;">
            <span class="alert alert-danger">{{validationErrorMsg}}</span>
            </div>
    </form>
</div>
</div>
<ng-template #content let-modal>
    <div class="modal-body">
        <div class="centre-text m-btm30">
            <div *ngIf="success" style="text-align: center;">
                <span class="successshow">{{successMsg}}</span>
            </div>
            <div *ngIf="Error" style="text-align: center;">
                <span class="errorshow">{{errorMsg}}</span>
            </div>
        </div>
    </div>
    <br>
     <button type="button" *ngIf="!Error" class="close" class="btn btn-block btn-primary btn-rounded btn-md font-weight-medium auth-form-btn"
     aria-label="Close"  (click)="closeModalDialog()" style="margin-left: 195px;width: 16%;" matStepperNext>
      <span aria-hidden="true">Ok</span>
  </button>
  <button type="button" *ngIf="Error" class="close" class="btn btn-block btn-primary btn-rounded btn-md font-weight-medium auth-form-btn"
  aria-label="Close"  (click)="closeModalDialog()" style="margin-left: 195px;width: 16%;" >
   <span aria-hidden="true">Ok</span>
</button>
</ng-template> 
<ng-template #contents let-modal>
    <div class="modal-body">
     <div class="centre-text m-btm30">
      <div style="text-align: center;">
        <span class="successshow">Are you sure you want to procced? </span>
        <br>
        <span style="font-size: 12px;">Note: Please verify all the details! </span>
       </div>
      </div>
     </div>
    <br>
    <div class="row">
       <button type="button" class="col-md-6" style="text-align:center; width: auto;" class="btn btn-primary btn-rounded btn-md font-weight-medium auth-form-btn"
       aria-label="Close" (click)="closeModalDialog()" matStepperNext>
       <i class="bi bi-arrow-right-circle"></i>&nbsp;
        <span aria-hidden="true">Ok</span>
    </button>
    <button type="button" class="col-md-6" style="width: auto;" class="btn btn-danger btn-rounded btn-md font-weight-medium auth-form-btn"
       aria-label="Close" (click)="closeModalDialog()">
       <i class="bi bi-x icon"></i>
        <span aria-hidden="true">Cancel</span>
    </button>
  </div>
  
    </ng-template>
 