<div class="card">
    <div class="card-header" style="text-align: center; display: block">
       <h2 class="modal-title" style="display: contents">CableConnector</h2>
     </div>
   <div class="card-body">
     <form [formGroup]="cableConnectorForm" (keyup)="onKeyForm($event)" (change)="onChangeForm($event)">
     <div class="row">
       <div class="col-md-6">
         <div class="form-group">
           <label>Manfacturer Name</label>
           <input type="text" class="form-control" formControlName="manufacturerName" [(ngModel)]="cableConnector.manufacturerName"
           [ngClass]="{ 'is-invalid': submittedCableConnector && f.manufacturerName?.errors }">
           <!-- <div *ngIf="submittedCableConnector && f.manufacturerName?.errors" class="invalid-feedback">
             <div *ngIf="f.manufacturerName?.errors?.required">Manufacturer Name is required</div>
           </div> -->
         </div>
       </div>

       <div class="col-md-6">
        <div class="form-group">
          <label>Type of conductor</label>
          <select  class="form-control" formControlName="conductorType" [(ngModel)]="cableConnector.conductorType"
          [ngClass]="{ 'is-invalid': submittedCableConnector && f.conductorType?.errors }">
            <option value="" disabled>Select Option</option>
            <option value="1">Cable</option>
            <option value="2">Bus Duct</option>
          </select>        
          <div *ngIf="submittedCableConnector && f.conductorType?.errors" class="invalid-feedback">
            <div *ngIf="f.conductorType?.errors?.required">Type of conductor is required</div>
          </div>
        </div>
      </div>
    </div>

     <div class="row">
        <div class="col-md-4">
            <div class="form-group">
              <label>Voltage(V)</label>
              <input type="number" class="form-control" formControlName="voltage" [(ngModel)]="cableConnector.voltage"
              [ngClass]="{ 'is-invalid': submittedCableConnector && f.voltage?.errors }">
              <div *ngIf="submittedCableConnector && f.voltage?.errors" class="invalid-feedback">
                <div *ngIf="f.voltage?.errors?.required">Voltage is required</div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Cable/Busduct Type</label>
              <select  class="form-control" formControlName="busDuctType" [(ngModel)]="cableConnector.busDuctType"
              [ngClass]="{ 'is-invalid': submittedCableConnector && f.busDuctType?.errors }">
                <option value="" disabled>Select Option</option>
                <option value="1">Aluminium</option>
                <option value="2">copper</option>
              </select>        
              <div *ngIf="submittedCableConnector && f.busDuctType?.errors" class="invalid-feedback">
                <div *ngIf="f.busDuctType?.errors?.required">Cable/Busduct Type is required</div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Cable installation type</label>
              <select  class="form-control" formControlName="installation" [(ngModel)]="cableConnector.installation"
              [ngClass]="{ 'is-invalid': submittedCableConnector && f.installation?.errors }">
                <option value="" disabled>Select Option</option>
                <option value="1">Overhead</option>
                <option value="2">Underground</option>
                <option value="3">Trench cable</option>
                <option value="4">Conduit</option>
              </select>        
              <div *ngIf="submittedCableConnector && f.installation?.errors" class="invalid-feedback">
                <div *ngIf="f.installation?.errors?.required">Cable installation type is required</div>
              </div>
            </div>
          </div>
     </div>

     <br>
    
     <h3 style="text-align: center">Cable/Busduct (sq.mm./mm)</h3>
     <br>
     <div class="row">
       <div class="col-md-4">
         <div class="form-group">
           <label>Phase</label>
           <input type="text" class="form-control" formControlName="busDuctPhaseM" [(ngModel)]="cableConnector.busDuctPhaseM"
           [ngClass]="{ 'is-invalid': submittedCableConnector && f.busDuctPhaseM?.errors }">
           <div *ngIf="submittedCableConnector && f.busDuctPhaseM?.errors" class="invalid-feedback">
             <div *ngIf="f.busDuctPhaseM?.errors?.required">Phase is required</div>
           </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class="form-group">
           <label>Neutral</label>
           <input type="text" class="form-control" formControlName="busDuctNeutralM" [(ngModel)]="cableConnector.busDuctNeutralM"
           [ngClass]="{ 'is-invalid': submittedCableConnector && f.busDuctNeutralM?.errors }">
           <div *ngIf="submittedCableConnector && f.busDuctNeutralM?.errors" class="invalid-feedback">
             <div *ngIf="f.busDuctNeutralM?.errors?.required">Neutral is required</div>
           </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class="form-group">
           <label>Protective Conductor</label>
           <input type="text" class="form-control" formControlName="busDuctProtectiveM" [(ngModel)]="cableConnector.busDuctProtectiveM"
           [ngClass]="{ 'is-invalid': submittedCableConnector && f.busDuctProtectiveM?.errors }">
           <div *ngIf="submittedCableConnector && f.busDuctProtectiveM?.errors" class="invalid-feedback">
             <div *ngIf="f.busDuctProtectiveM?.errors?.required">Protective Conductor is required</div>
           </div>
         </div>
       </div>
     </div>
   <br>
  
   <div class="row">
     <div class="col-md-6">
       <label>Cable/Busduct length(m)</label>
       <input type="text" class="form-control" formControlName="busDuctLength" [(ngModel)]="cableConnector.busDuctLength"
       [ngClass]="{ 'is-invalid': submittedCableConnector && f.busDuctLength?.errors }">
       <div *ngIf="submittedCableConnector && f.busDuctLength?.errors" class="invalid-feedback">
         <div *ngIf="f.busDuctLength?.errors?.required">Phase is required</div>
       </div>
     </div>

     <div class="col-md-6">
        <div class="form-group">
          <label>Cable high potential test report</label>
          <select  class="form-control" formControlName="potentialTestReport" [(ngModel)]="cableConnector.potentialTestReport"
          [ngClass]="{ 'is-invalid': submittedCableConnector && f.potentialTestReport?.errors }" (change)="showPotential($event)" >
            <option value="" disabled>Select Option</option>
            <option value="Available">Available</option>
            <option value="Not available">Not available</option>
            <option value="Not applicable">Not applicable</option>
          </select>        
          <div *ngIf="submittedCableConnector && f.potentialTestReport?.errors" class="invalid-feedback">
            <div *ngIf="f.potentialTestReport?.errors?.required">Test report is required</div>
          </div>
        </div>
      </div>
      <br>
      <h3><b>Note:</b>Applicable only for HV cable</h3>

   </div>

   <br>
   <div *ngIf="f.potentialTestReport?.value === 'Available'">
    <h2><b><u>Testing</u></b></h2>
    
        <br>
        <ng-container>
         <ng-container>
           <h2>General Testing</h2>
           <div class="table-responsive">
             <table class="table" style="width: 70%; border: 1px solid black">
             
               <thead>
                 <tr>
                   <th>
                     Reference
                   </th>
   
                   <th>
                     Insulation Resistance(MΩ)
                   </th>
 
                   <th>
                     Continuity Resistance(Ω)
                   </th>
                   <th>
                    
                   </th>
                 </tr>
               </thead>    
              
               <tbody formArrayName="generalTestingCableConnector" *ngFor="let a of getGeneralTestingCableConnectorControls(); let i = index">
                 <tr  [formGroupName]="i">
                   <td>
                     <input type="text" formControlName="phN" [ngClass]="{ 'is-invalid': submittedCableConnector && a.get('phN')?.errors }">
                     <div *ngIf="submittedCableConnector && a.get('phN')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('phN')?.errors?.required">phN is required</div>
                     </div>
                   </td>
   
                   <td>
                     <input type="text" formControlName="phNIResistance" [ngClass]="{ 'is-invalid': submittedCableConnector && a.get('phNIResistance')?.errors }">
                     <div *ngIf="submittedCableConnector && a.get('phNIResistance')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('phNIResistance')?.errors?.required">phNIResistance is required</div>
                     </div>
                   </td>
 
                   <td>
                     <input type="text" formControlName="phNCResistance" [ngClass]="{ 'is-invalid': submittedCableConnector && a.get('phNCResistance')?.errors }">
                     <div *ngIf="submittedCableConnector && a.get('phNCResistance')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('phNCResistance')?.errors?.required">phNCResistance is required</div>
                     </div>
                   </td>
                  
                   <mat-icon class="mousechange" *ngIf="getGeneralTestingCableConnectorControls().length>1" class="dlt" type="button" 
                     title="Delete"  (click)="removeCableConnectortesting(i)" style="float: right;cursor:pointer;
                     position: relative;left: -24%;bottom: -12px;">remove_circle_outline</mat-icon>
                 </tr>
                
                   <!-- <tr>
                   <td>
                     <input type="text" formControlName="phE" [ngClass]="{ 'is-invalid': submittedCableConnector && a.get('phE')?.errors }">
                     <div *ngIf="submittedCableConnector && a.get('phE')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('phE')?.errors?.required">phE is required</div>
                     </div>
                   </td>
   
                   <td>
                     <input type="text" formControlName="phEIResistance" [ngClass]="{ 'is-invalid': submittedCableConnector && a.get('phEIResistance')?.errors }">
                     <div *ngIf="submittedCableConnector && a.get('phEIResistance')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('phEIResistance')?.errors?.required">phEVoltage is required</div>
                     </div>
                   </td>
 
                   <td>
                     <input type="text" formControlName="phECResistance" [ngClass]="{ 'is-invalid': submittedCableConnector && a.get('phECResistance')?.errors }">
                     <div *ngIf="submittedCableConnector && a.get('phECResistance')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('phECResistance')?.errors?.required">phECResistance is required</div>
                     </div>
                   </td>
                 </tr>
 
                 <tr>
                   <td>
                     <input type="text"  formControlName="nE" [ngClass]="{ 'is-invalid': submittedCableConnector && a.get('nE')?.errors }">
                     <div *ngIf="submittedCableConnector && a.get('nE')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('nE')?.errors?.required">nE is required</div>
                     </div>
                   </td>
   
                   <td>
                     <input type="text"  formControlName="nEIResistance" [ngClass]="{ 'is-invalid': submittedCableConnector && a.get('nEIResistance')?.errors }">
                     <div *ngIf="submittedCableConnector && a.get('nEIResistance')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('nEIResistance')?.errors?.required">nEIResistance is required</div>
                     </div>
                   </td>
 
                   <td>
                     <input type="text"  formControlName="nECResistance" [ngClass]="{ 'is-invalid': submittedCableConnector && a.get('nECResistance')?.errors }">
                     <div *ngIf="submittedCableConnector && a.get('nECResistance')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('nECResistance')?.errors?.required">nECResistance is required</div>
                     </div>
                   </td>
                 </tr> -->
   
                </tbody>
               
                     <mat-icon class="mousechange" (click)="addCableConnectorTesting()" 
                     style="float:right; position: relative;
                     left: 200%;
                     bottom: 88px;cursor:pointer;">add_box</mat-icon>  
                   
 
             </table>
           </div>
          
           
           <br>
         </ng-container>
       </ng-container>
      </div>
     </form>
   </div>

   <div *ngIf="validationError" style="text-align: center;;margin-top: 5px;margin-bottom: 40px">
       <span class="alert alert-danger">{{validationErrorMsg}}</span>
     </div>

     <div class="centre-text m-btm30">
       <div *ngIf="success" style="text-align: center;margin-top: 5px;margin-bottom: 40px">
         <span class="successshow">{{ successMsg }}</span>
       </div>
       <div *ngIf="error" style="text-align: center;margin-top: 5px;margin-bottom: 40px">
         <span class="errorshow">{{ errorMsg }}</span>
       </div>
     </div>
     
     <div style="display: inline;margin-top: 30px;">    
       <button type="button"  style="float: left; margin-left: 400px"
         class="btn btn-info" (click)="saveCableConnector(cableConnectorFlag)">
         <i class="bi bi-person-plus-fill icon"></i> Save
       </button>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <button type="button"  class="btn btn-danger" aria-label="Close"  (click)="close()"
         style="float: right; margin-right: 400px" >
         <span aria-hidden="true">Cancel</span>
       </button>
     </div>
     <br>
 </div>

 