
<ng-template #ref ></ng-template>
<app-verificationlv *ngIf="value" #verify></app-verificationlv>
<app-lps-matstepper *ngIf="value1" #verify1></app-lps-matstepper>
<div class="card" *ngIf="!destroy">
    <div class="card-body" >
        <form [formGroup]="licenseForm" >
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState2(true)" (closed)="panelOpenState2(false)" [(expanded)]="service.toggle" *ngIf="service.licenseHide">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <!-- <h3>Unused License</h3> -->
                        <h3>{{licensePageHeading}}</h3>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!-- ErrorMsg -->
                    <div class="centre-text m-btm30">
                      <div *ngIf="ErrorLPS" style="text-align: center;">
                         <span class="alert alert-danger">{{errorMsg}}</span>
                      </div>
                      <div *ngIf="ErrorLV" style="text-align: center;">
                        <span class="alert alert-danger">{{errorMsg}}</span>
                     </div>
                    </div>
    
                      <div class="row">
                        <div class="col-md-3">
                             <div class="form-group"> <!--//aish -->
                                <label>No of available License:</label>
                                <input type="text" class="form-control" [(ngModel)]="service.noofLicense" formControlName="noOfAvailableLicense" readonly [value]="service.noofLicense">
                            </div>
                        </div>
    
                        <div class="col-md-3">
                            <div class="form-group">
                                <button class="btn" [hidden]="service.noofLicense<=0" (click)=decreaseLicense() 
                                style="margin-top: 28px;background-color: #0f800c;color: white;">Use</button>
                            </div>
                        </div>
    
                        <div class="col-md-6"  *ngIf="capeIndiaMail && service.noofLicense == 0">
                            <div class="form-group">
                                <button class="btn"(click)=purchaseLicense() 
                                style="margin-top: 28px;background-color: #0f800c;color: white;">Get Complimentary Licenses</button>
                            </div>
                        </div>
                        <div class="col-md-3" *ngIf="!capeIndiaMail && service.noofLicense == 0">
                          <div class="form-group">
                              <button class="btn btn-primary"  style="margin-top: 28px;"  (click)=createPayment() >ObtainLicense</button>
                          </div>
                      </div>
                      </div>
                </mat-expansion-panel>    
                
              <ng-container *ngIf="lvData">
                <mat-expansion-panel (opened)="panelOpenState1(true)" (closed)="panelOpenState1(false)">
                    <mat-expansion-panel-header>
                      <!-- Lv Systems -->
                      <mat-panel-title *ngIf="lvData">
                        <h3>Ongoing Site</h3>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                  <!-- Error Msg -->
                  <div class="centre-text m-btm30" style="margin-bottom: 2rem;">
                    <div *ngIf="errorSite" style="text-align: center;">
                      <span class="alert alert-danger">{{errorMsg}}</span>
                  </div>
                  </div>

                  <mat-form-field appearance="standard" style=" font-size: 14px;width: 30%;">
                    <mat-label>Filter Sites</mat-label>
                    <input matInput (keyup)="applyFilter1($event)" (focus)="applyFilter(siteName)" placeholder="Ex. ium" #input="matInput" [(ngModel)]="siteName">
                  </mat-form-field>
                    <table mat-table [dataSource]="ongoingSite_dataSource" class="mat-elevation-z8 table" matSort
                #ongoingSiteSort="matSort">



                <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="siteCd">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> Site Code </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                    {{element.siteCd}} </td>
                </ng-container>
                <ng-container matColumnDef="site">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> Site Name </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element"
                    class="mousechange"> {{element.site}} </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="country">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> Country </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                    {{element.country}} </td>
                </ng-container>

                <ng-container matColumnDef="city">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> City </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                    {{element.city}} </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="createdDate">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> Created Date </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                    {{element.createdDate | date : 'shortDate'}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="createdBy">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> Created By </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                    {{element.createdBy}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="updatedDate">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> Updated Date </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                    {{element.updatedDate | date : 'shortDate'}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="updatedBy">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> Updated By </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                    {{element.updatedBy}} </td>
                </ng-container>

                <!-- <ng-container matColumnDef="action">
                    <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef> Action
                    </th>
                    <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                      <button class="btn btn-outline-danger delete" title="Edit Site" (click)="editSite(element.siteId,element.userName,element.site)">
                        <mat-icon>edit</mat-icon>
                      </button>
                    </td>
                  </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="ongoingSiteColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: ongoingSiteColumns;" title="Click here to edit Site details" 
                (click)="editSite(row.siteId,row.userName,row.site,row.departmentName,row.companyName,row.allStepsCompleted,row)" style="cursor: pointer;"
                  [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (mouseover)="row.hovered = true"
                  (mouseout)="row.hovered = false"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>

              </table>
              <mat-paginator #ongoingSitePaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </mat-expansion-panel>
    
                <mat-expansion-panel (opened)="panelOpenState3(true)" (closed)="panelOpenState3(false)">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <h3>Completed License</h3>
                      </mat-panel-title>
        
                    </mat-expansion-panel-header>
                  <!-- Error Msg -->
                  <div class="centre-text m-btm30" style="margin-bottom: 2rem;">
                    <div *ngIf="errorSite" style="text-align: center;">
                      <span class="alert alert-danger">{{errorMsg}}</span>
                    </div>
                  </div>

                  <mat-form-field appearance="standard" style=" font-size: 14px;width: 30%;">
                    <mat-label>Filter Sites</mat-label>
                    <input matInput (keyup)="applyFilterFinal($event)" placeholder="Ex. ium" #input>
                  </mat-form-field>

                  <table mat-table [dataSource]="completedLicense_dataSource" class="mat-elevation-z8 table" matSort #completedLicenseSort="matSort">

                <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->
                  
                <!-- Position Column -->
                
                <ng-container matColumnDef="siteCd">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> Site Code </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                    {{element.siteCd}} </td>
                </ng-container>
                <ng-container matColumnDef="site">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> Site Name </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element"
                    class="mousechange"> {{element.site}} </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="country">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> Country </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                    {{element.country}} </td>
                </ng-container>

                <ng-container matColumnDef="city">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> City </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                    {{element.city}} </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="createdDate">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> Created Date </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                    {{element.createdDate | date : 'shortDate'}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="createdBy">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> Created By </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                    {{element.createdBy}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="updatedDate">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> Updated Date </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                    {{element.updatedDate | date : 'shortDate'}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="updatedBy">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> Updated By </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                    {{element.updatedBy}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef> Action
                    </th>
                    <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                      <button class="btn btn-outline-danger delete" title="View Site" 
                      (click)="viewSite(element.siteId,element.userName,element.site,element.departmentName,element.companyName)">
                        <mat-icon>visibility</mat-icon>
                      </button>
                      <button class="btn btn-outline-danger delete" title="Download Final PDF" 
                      (click)="downloadPdf(element.siteId,element.userName, element.site)" [disabled]="disable"
                      style="border-color: #cdcecf;box-shadow: unset;">
                        <mat-icon>download</mat-icon>
                      </button>
                      <button class="btn btn-outline-danger delete" title="Trigger Email With Final PDF" 
                      (click)="emailPDF(element.siteId,element.userName, element.site)" [disabled]="disable"
                      style="border-color: #cdcecf;box-shadow: unset;">
                        <mat-icon>email</mat-icon>
                      </button>
                      <button class="btn btn-outline-danger delete" title="Print Final PDF" 
                      (click)="pdfModal(element.siteId,element.userName, element.site)" [disabled]="disable"
                      style="border-color: #cdcecf;box-shadow: unset;">
                        <mat-icon>print</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                <tr mat-header-row *matHeaderRowDef="completedLicenseColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: completedLicenseColumns; "
                  [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (mouseover)="row.hovered = true"
                  (mouseout)="row.hovered = false">
                </tr>
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
              </table>

              <mat-paginator #completedLicensePaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

              <div class="centre-text m-btm30">
                <div *ngIf="success" style="text-align: center;">
                  <span class="successshow">{{successMsg}}</span>
                 </div>
                 <div *ngIf="Error" style="text-align: center;">
                   <span class="errorshow">{{errorMsg}}</span>
                  </div>
              </div>
                </mat-expansion-panel>
              </ng-container>

              <ng-container *ngIf="lpsData">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <!-- LPS -->
                      <mat-panel-title *ngIf="lpsData">
                        <h3>Ongoing LPS License Details</h3>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                      <app-lps-saved-report></app-lps-saved-report>
                    </div>
                </mat-expansion-panel>
    
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <h3>Completed License</h3>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                      <app-lps-final-report></app-lps-final-report>
                    </div>
                </mat-expansion-panel>
              </ng-container>

            </mat-accordion>
    
        </form>
    </div>
</div>