<mat-tab-group>
  <mat-tab label="Company Details">
    <mat-horizontal-stepper #stepper>
      <mat-step>
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Company</ng-template>
          <div class="card" style="width: 855px; overflow: auto;">
            <div class="card-header">
              <button class="btn btn-info" (click)="addClient()">
                <mat-icon>add_box</mat-icon>
              </button>
              <input type="checkbox" style="width: 50px; height: 20px;" formControlName="retrieveIsActive"
                (change)="retrieveIsActiveData()" [(ngModel)]="isChecked"><label style="margin-left: -10px;">Show
                InActive</label>

            </div>
            <div class="card-body">
              <table mat-table [dataSource]="company_dataSource" class="mat-elevation-z8" matSort
                #companySort="matSort">

                <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let element">
                    <button class="btn btn-outline-danger delete" (click)="deleteClient(element.clientName)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <ng-container matColumnDef="companyCd">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Code </th>
                  <td mat-cell *matCellDef="let element"> {{element.companyCd}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="clientName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </th>
                  <td mat-cell *matCellDef="let element"
                    (click)="updateClient(element.companyId,element.companyCd, element.clientName,element.inActive,element.createdDate,element.createdBy)"
                    class="mousechange"> {{element.clientName}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="inActive">
                  <th mat-header-cell *matHeaderCellDef> InActive </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-checkbox [checked]="element.inActive" class="fixed" [disabled]="true"></mat-checkbox>
                  </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="createdDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.createdDate | date : 'shortDate'}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="createdBy">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
                  <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="updatedDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.updatedDate | date : 'shortDate'}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="updatedBy">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated By </th>
                  <td mat-cell *matCellDef="let element"> {{element.updatedBy}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="companyColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: companyColumns;"
                  [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (mouseover)="row.hovered = true"
                  (mouseout)="row.hovered = false"></tr>

              </table>

              <mat-paginator #companyPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>

          </div>


          <!-- <input matInput formControlName="firstCtrl"> -->
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Departments</ng-template>

          <div class="card">
            <div class="card-body">
              <div class="search-bar">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label style="display: table-cell;
                          width: 1px;
                          white-space: nowrap;">Client Name:</label><span style="display: table-cell; width: 500px;
                          padding: 0 4px 0 20px;"><select formControlName="clientname" class="form-control"
                          [(ngModel)]="company.clientName" (change)="retrieveDepartmentDetails()">
                          <option value="0" selected>Select Client Name</option>
                          <option *ngFor="let client of clientList">{{client.clientName}}</option>
                        </select></span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6" style="margin-top:30px;">
                <div style="margin-bottom: 10px;">
                  <button class="btn btn-info" (click)="addDepartment()">
                    <mat-icon>add_box</mat-icon>
                  </button>
                </div>
                <table mat-table [dataSource]="department_dataSource" class="mat-elevation-z8" matSort
                  #departmentSort="matSort">

                  <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

                  <!-- Position Column -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element">
                      <button class="btn btn-outline-danger delete" (click)="deleteDepartment(element.departmentId)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="departmentCd">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Department Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.departmentCd}} </td>
                  </ng-container>
                  <!-- Name Column -->
                  <ng-container matColumnDef="departmentName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Department Name </th>
                    <td mat-cell *matCellDef="let element"
                      (click)="updateDepartment(element.departmentId, element.departmentName, element.departmentCd, element.clientName,element.createdDate,element.createdBy)"
                      class="mousechange"> {{element.departmentName}} </td>
                  </ng-container>
                  <!-- Name Column -->
                  <ng-container matColumnDef="createdDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdDate | date : 'shortDate'}} </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="createdBy">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="updatedDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.updatedDate | date : 'shortDate'}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="updatedBy">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated By </th>
                    <td mat-cell *matCellDef="let element"> {{element.updatedBy}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="departmentColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: departmentColumns;"
                    [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (mouseover)="row.hovered = true"
                    (mouseout)="row.hovered = false"></tr>

                </table>

              </div>
              <mat-paginator #departmentPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>

          </div>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Sites</ng-template>
        <div class="card">
          <div class="card-body">
            <div class="search-bar">
              <div class="row">
                <div class="col-md-10">
                  <div class="form-group">
                    <label style="display: table-cell;
                          width: 1px;
                          white-space: nowrap;">Company Name:</label><span style="display: table-cell; width: 1000px;
                          padding: 0 4px 0 20px;"><select class="form-control" (change)="changeClient($event)"
                        [(ngModel)]="site.clientName">
                        <option value="0" selected>Select Company Name</option>
                        <option *ngFor="let client of clientList">{{client.clientName}}</option>
                      </select></span>

                    <label style="display: table-cell;
                          width: 1px;
                          white-space: nowrap;">Department Name:</label><span style="display: table-cell; width: 1000px;
                          padding: 0 4px 0 20px;"><select class="form-control" [(ngModel)]="site.departmentName"
                        (change)="retrieveSiteDetails()">
                        <option value="0" selected>Select Department Name</option>
                        <option *ngFor="let department of departmentList">{{department.departmentName}}</option>
                      </select></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6" style="margin-top:30px;">
              <div style="margin-bottom: 10px;">
                <button class="btn btn-info" (click)="addSite()">
                  <mat-icon>add_box</mat-icon>
                </button>
              </div>
              <table mat-table [dataSource]="site_dataSource" class="mat-elevation-z8" matSort #siteSort="matSort">

                <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="action">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef> Action
                  </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                    <button class="btn btn-outline-danger delete" (click)="deleteSite(element.siteId)">
                      <mat-icon>delete</mat-icon><label></label>
                    </button>
                  </td>
                </ng-container>
                <ng-container matColumnDef="siteCd">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> Site Code </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                    {{element.siteCd}} </td>
                </ng-container>
                <ng-container matColumnDef="siteName">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> Site Name </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element"
                    (click)="updateSite( element.userName, element.clientName, element.departmentName,  element.site, element.siteId, element.siteCd, element.country, element.state, element.city, element.landMark, element.sitePersons, element.addressLine_1, element.addressLine_2, element.zipCode, element.createdDate,element.createdBy)"
                    class="mousechange"> {{element.site}} </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="country">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> Country </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                    {{element.country}} </td>
                </ng-container>

                <ng-container matColumnDef="city">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> City </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                    {{element.city}} </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="createdDate">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> Created Date </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                    {{element.createdDate | date : 'shortDate'}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="createdBy">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> Created By </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                    {{element.createdBy}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="updatedDate">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> Updated Date </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                    {{element.updatedDate | date : 'shortDate'}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="updatedBy">
                  <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
                    mat-sort-header> Updated By </th>
                  <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
                    {{element.updatedBy}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="siteColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: siteColumns; "
                  [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (mouseover)="row.hovered = true"
                  (mouseout)="row.hovered = false"></tr>

              </table>

            </div>
            <mat-paginator #sitePaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-tab>
  <mat-tab label="Inspection Verification & Testing of Installation">
    <div class="card">
      <div class="card-body">
        <mat-accordion>

          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Details of Report</h3>
              </mat-panel-title>

            </mat-expansion-panel-header>

            <mat-form-field class="client-description ">
              <mat-label>Description of Report</mat-label>
              <textarea matInput maxlength="500" placeholder="Ex. Report description..."></textarea>
            </mat-form-field>

            <mat-form-field class="client-description ">
              <mat-label>Reason for the Report</mat-label>
              <textarea matInput maxlength="500" placeholder="Ex. Report reason..."></textarea>
            </mat-form-field>

          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Installation Details</h3>
              </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Type of Installation:</label>
                  <select class="form-control">
                    <option value="0" selected>Select option</option>
                    <option *ngFor="let value of installationList">{{value}}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>Description of the premise:</label>
                  <select class="form-control">
                    <option value="0" selected>Select option</option>
                    <option *ngFor="let value of premiseList">{{value}}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <p>Estimated age of wiring system years</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <label>Evidence of addition/alterations:</label>
                <select class="form-control">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of evidenceList">{{value}}</option>
                </select>
              </div>

              <div class="col-md-3" *ngIf="true">
                <p>If yes estimated age years</p>
              </div>

              <div class="col-md-4">
                <label>Previous records available:</label>
                <select class="form-control">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of previousRecordList">{{value}}</option>
                </select>
              </div>

              <div class="col-md-4">
                <p>Last date of inspection (date picker here)</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="client-description ">
                  <mat-label>Extent of installation covered by this report *</mat-label>
                  <textarea matInput maxlength="500" placeholder="Ex. Report reason..."></textarea>
                </mat-form-field>
              </div>
            </div>

          </mat-expansion-panel>


          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Details of client / person ordering this report </h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="client-description ">
                  <mat-label>Details of client / person ordering this report</mat-label>
                  <textarea matInput maxlength="500" placeholder=" Report reason..."></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label> Name:</label>
                  <input type="text" class="form-control" placeholder="Enter Name">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Purpose:</label>
                  <input type="text" class="form-control" placeholder="Enter purpose">
                </div>
              </div>
              <div class="col-md-4">
                <label>Address:</label>
                <mat-form-field class="client-description ">
                  <textarea matInput maxlength="75" placeholder=" Enter address"></textarea>
                </mat-form-field>
              </div>
            </div>
            <h1>Details of installation referred in this report</h1>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label> Occipiers:</label>
                  <input type="text" class="form-control" placeholder="Occipiers Name">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Purpose:</label>
                  <input type="text" class="form-control" placeholder="Enter purpose">
                </div>
              </div>
              <div class="col-md-4">
                <label>Address:</label>
                <mat-form-field class="client-description ">
                  <textarea matInput maxlength="75" placeholder=" Enter address"></textarea>
                </mat-form-field>
              </div>
            </div>
            <h1>Date of starting the verfication</h1>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="client-description ">
                  <mat-label>Date of starting the verfication</mat-label>
                  <textarea matInput maxlength="75" placeholder=" Start of verification..."></textarea>
                </mat-form-field>
              </div>
            </div>
            <h1>Name of engineer who carries out verification</h1>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="client-description ">
                  <mat-label>Name of engineer who carries out verification</mat-label>
                  <textarea matInput maxlength="75" placeholder=" Start of verification..."></textarea>
                </mat-form-field>
              </div>
            </div>
            <h1>Designation:</h1>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="client-description ">
                  <mat-label>Designation</mat-label>
                  <textarea matInput maxlength="75" placeholder=" Start Designation..."></textarea>
                </mat-form-field>
              </div>
            </div>
            <h1>Company:</h1>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="client-description ">
                  <mat-label>Company</mat-label>
                  <textarea matInput maxlength="75" placeholder=" Enter company..."></textarea>
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>

              <mat-panel-title>
                <h3> Liability and declaration</h3>
              </mat-panel-title>

            </mat-expansion-panel-header>
            <h1>Declaration of designer of the electrical installation</h1>

            <p>I/we being the person responsible for the design of the electrical installation (as indicated by my/our
              signatures
              below), particulars of which are described above, having exercised reasonable skill and care when carrying
              out the
              design hereby declare that design work for which I/We have been responsible is to the best of my/our
              knowledge and
              belief in accordance with IEC 60364 </p>
            <p>The extent of liability of the signatory or signatories is limited to the work described above as the
              subject of
              this report.</p>
            <h1>Designer-1</h1>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label> Signature:</label>
                  <section class="signature-component">
                    <canvas id="signature-pad" width="200" height="50"></canvas>
                  </section>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Date:</label>
                  <input type="date" class="form-control" placeholder="Enter Date">
                </div>
                <div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Name:</label>
                  <input type="text" class="form-control" placeholder="Enter Name">
                </div>
              </div>

            </div>
            <h1>Designer-2</h1>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label> Signature:</label>
                  <section class="signature-component">
                    <canvas id="signature-pad" width="200" height="50"></canvas>
                  </section>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Date:</label>
                  <input type="date" class="form-control" placeholder="Enter Date">
                </div>
                <div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Name:</label>
                  <input type="text" class="form-control" placeholder="Enter Name">
                </div>
              </div>

            </div>
            <h1>Declaration of contractor of installation</h1>

            <p>I/we being the person responsible for the construction of the electrical installation (as indicated by
              my/our
              signatures below), particulars of which are described above, having exercised reasonable skill and care
              when
              carrying out the design hereby declare that the design work for which I/We have been responsible is to the
              best of
              my/our knowledge and belief in accordance with IEC 60364
            </p>
            <p>The extent of liability of the signatory is limited to the work described above as the subject of this
              report.</p>
            <h1>Contractor</h1>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label> Signature:</label>
                  <section class="signature-component">
                    <canvas id="signature-pad" width="200" height="50"></canvas>
                  </section>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Date:</label>
                  <input type="date" class="form-control" placeholder="Enter Date">
                </div>
                <div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Name:</label>
                  <input type="text" class="form-control" placeholder="Enter Name">
                </div>
              </div>

            </div>
            <h1>Declaration of Safety Engineer (Inspector)</h1>

            <p>I/we being the person responsible for the inspection & testing of the electrical installation (as
              indicated by
              my/our signatures below), particulars of which are described above, having exercised reasonable skill and
              care when
              carrying out the design hereby declare that the design work for which I/We have been responsible is to the
              best of
              my/our knowledge and belief in accordance with IEC 60364
            </p>
            <p>The extent of liability of the signatory is limited to the work described above as the subject of this
              report.</p>
            <h1>Inspector</h1>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label> Signature:</label>
                  <section class="signature-component">
                    <canvas id="signature-pad" width="200" height="50"></canvas>
                  </section>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Date:</label>
                  <input type="date" class="form-control" placeholder="Enter Date">
                </div>
                <div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label> Name:</label>
                  <input type="text" class="form-control" placeholder="Enter Name">
                </div>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Next inspection</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I/We recommend that installation is further inspected and tested after an interval of not more than</p>
            <textarea matInput maxlength="9" placeholder=" enter year only"></textarea>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Details of Signatories to the verification report
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h2>Designer Details</h2>

            <form [formGroup]="addDesignerForm">

              <mat-icon class="mousechange" (click)="addItem()"
                style="float:right; padding-right: 37px; padding-top: 30px;">add_box</mat-icon>

              <div formArrayName="arrDesigner" *ngFor="let a of getDesignerControls(); let i = index">
                <div class="form-group" [formGroupName]="i">
                  <div class="row">
                    <h2>Designer - {{i+1}}</h2>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <label>Person Name:</label>
                      <input type="text" formControlName="personName" class="form-control"
                        placeholder="Enter Person Name">
                    </div>

                    <div class="col-md-4">
                      <label>Contact No:</label>
                      <input type="number" formControlName="designercontactNo" class="form-control"
                        placeholder="Enter Contact Number">
                    </div>

                    <div class="col-md-4">
                      <label>Email:</label>
                      <input type="text" formControlName="DesignerEmail" class="form-control"
                        placeholder="Enter Email Address">
                    </div>
                    <mat-icon class="mousechange" *ngIf="getDesignerControls().length > 1"
                      (click)="removeDesignerItem(i)" style="float:right; padding-left: 1055px;">delete</mat-icon>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <label>Manager Name:</label>
                    <input type="text" formControlName="managerName" class="form-control"
                      placeholder="Enter Manager Name">
                  </div>

                  <div class="col-md-4">
                    <label>Contact No:</label>
                    <input type="number" formControlName="managercontactNo" class="form-control"
                      placeholder="Enter Contact Number">
                  </div>

                  <div class="col-md-4">
                    <label>Email:</label>
                    <input type="text" formControlName="managerEmail" class="form-control"
                      placeholder="Enter Email Address">
                  </div>
                </div>
              </div>


              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <label>Company Name:</label>
                    <input type="text" formControlName="companyName" class="form-control"
                      placeholder="Enter Company Name">
                  </div>

                  <div class="col-md-4">
                    <label>AddressLine1:</label>
                    <input type="text" formControlName="AddressLine1" class="form-control"
                      placeholder="Enter Address Line1">
                  </div>

                  <div class="col-md-4">
                    <label>AddressLine2:</label>
                    <input type="text" formControlName="AddressLine2" class="form-control"
                      placeholder="Enter Address Line2">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <label>Site Landmark:</label>
                    <input type="text" formControlName="designerLandmark" class="form-control"
                      placeholder="Enter Landmark">
                  </div>

                  <div class="col-md-4">
                    <label>Country:</label>
                    <select formControlName="country" class="form-control" (change)="changeCountry($event)">
                      <option value="0" selected>Select Country Name</option>
                      <option *ngFor="let country of countryList">{{country.name}}</option>
                    </select>
                  </div>

                  <div class="col-md-4">
                    <label>State:</label>
                    <select formControlName="state" class="form-control">
                      <option value="0" selected>Select State Name</option>
                      <option *ngFor="let state of stateList">{{state.name}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <label>Pincode:</label>
                    <input type="number" formControlName="designerPincode" class="form-control"
                      placeholder="Enter Pincode">
                  </div>
                </div>
              </div>

            </form>
          </mat-expansion-panel>

        </mat-accordion>
      </div>
    </div>


  </mat-tab>
  <mat-tab label="Incomplete Saved Reports"></mat-tab>
  <mat-tab label="Final Reports"></mat-tab>
</mat-tab-group>