<mat-tab-group>
    <mat-tab label="Client Details">
        <mat-horizontal-stepper #stepper>
            <mat-step [stepControl]="firstFormGroup" errorMessage="Company details are required.">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Company</ng-template>
                <div class="card" style="width: 855px; overflow: auto;">
                  <div class="card-header">
                    <button style="width: 50px; border: 0px;" (click)="addClient()">
                      <mat-icon>add_box</mat-icon>
                    </button>                   
                    <input type="checkbox" style="width: 50px; height: 20px;"><label style="margin-left: -10px;">Show InActive</label> 
                    
                  </div>
                  <div class="card-body">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                      <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->
                    
                      <!-- Position Column -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef > Action </th>
                        <td mat-cell *matCellDef="let element"> 
                        <button class="btn btn-outline-danger delete" (click)="delete(element.clientName)">
                          <mat-icon>delete</mat-icon>
                        </button> 
                      </td>
                      </ng-container>

                      <ng-container matColumnDef="companyCd">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Code </th>
                        <td mat-cell *matCellDef="let element" > {{element.companyCd}} </td>
                      </ng-container>
                    
                      <!-- Name Column -->
                      <ng-container matColumnDef="clientName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </th>
                        <td mat-cell *matCellDef="let element" (click)="updateClient(element.companyId,element.companyCd, element.clientName,element.inActive,element.createdDate,element.createdBy)" class="mousechange"> {{element.clientName}} </td>
                      </ng-container>
                      
                       <!-- Name Column -->
                      <ng-container matColumnDef="inActive">
                        <th mat-header-cell *matHeaderCellDef> InActive </th>
                        <td mat-cell *matCellDef="let element"><mat-checkbox [checked]="element.inActive" class="fixed" [disabled]="true"></mat-checkbox> </td>
                      </ng-container>

                       <!-- Name Column -->
                      <ng-container matColumnDef="createdDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdDate | date : 'shortDate'}} </td>
                      </ng-container>
                    
                      <!-- Weight Column -->
                      <ng-container matColumnDef="createdBy">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
                      </ng-container>
                    
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="updatedDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.updatedDate | date : 'shortDate'}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="updatedBy">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated By </th>
                        <td mat-cell *matCellDef="let element"> {{element.updatedBy}} </td>
                      </ng-container>
                    
                      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns1;" [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}"  (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>

                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                  </div>
                  
                </div>
                

                  <!-- <input matInput formControlName="firstCtrl"> -->
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" errorMessage="Departments details are required.">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Departments</ng-template>
                
                <div class="card">
                  <div class="card-body"> 
                    <div class="search-bar"> 
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label style="display: table-cell;
                          width: 1px;
                          white-space: nowrap;">Client Name:</label><span style="display: table-cell; width: 500px;
                          padding: 0 4px 0 20px;"><select class="form-control">
                            <option value="" selected>Select Client Name</option>
                            <option *ngFor="let client of clientList">{{client | uppercase}}</option>
                         </select></span>
                          </div>                                
                        </div>
                        <div class="col-md-6" >
                          <button  class="btn btn-info" style="float: right; margin-right: 200px;">Submit</button>
                        </div>
                      </div>
                    </div> 
                    
                    <div class="col-md-6" style="margin-top:30px;">
                      <div style="margin-bottom: 10px;">
                        <button class="btn btn-info" (click)="addDepartment()"><mat-icon>add_box</mat-icon> </button>
                      </div>
                      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->
                      
                        <!-- Position Column -->
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef > Action </th>
                          <td mat-cell *matCellDef="let element"> 
                          <button class="btn btn-outline-danger delete" (click)="delete(clientName)">
                            <mat-icon>delete</mat-icon>
                          </button> 
                        </td>
                        </ng-container>
                      
                        <!-- Name Column -->
                        <ng-container matColumnDef="clientName">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
                        </ng-container>
                         <!-- Name Column -->
                        <ng-container matColumnDef="inActive">
                          <th mat-header-cell *matHeaderCellDef> Department Name </th>
                          <td mat-cell *matCellDef="let element"><input type="checkbox" disabled="disabled"> </td>
                        </ng-container>
                         <!-- Name Column -->
                        <ng-container matColumnDef="createdDate">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
                          <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
                        </ng-container>
                      
                        <!-- Weight Column -->
                        <ng-container matColumnDef="createdBy">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
                          <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
                        </ng-container>
                      
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="updatedDate">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated Date </th>
                          <td mat-cell *matCellDef="let element"> {{element.updatedDate}} </td>
                        </ng-container>
  
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="updatedBy">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated By </th>
                          <td mat-cell *matCellDef="let element"> {{element.updatedBy}} </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
  
                      </table>
                      
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                  </div>
                  
                </div>
                
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Sites</ng-template>
              <div class="card">
                <div class="card-body"> 
                  <div class="search-bar"> 
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label style="display: table-cell;
                          width: 1px;
                          white-space: nowrap;">Client Name:</label><span style="display: table-cell; width: 1000px;
                          padding: 0 4px 0 20px;"><select class="form-control">
                            <option value="" selected>Select Client Name</option>
                            <option *ngFor="let client of clientList">{{client | uppercase}}</option>
                         </select></span>
                           
                         <label style="display: table-cell;
                          width: 1px;
                          white-space: nowrap;">Department Name:</label><span style="display: table-cell; width: 1000px;
                          padding: 0 4px 0 20px;"><select class="form-control">
                            <option value="" selected>Select Department Name</option>
                            <option *ngFor="let client of clientList">{{client | uppercase}}</option>
                         </select></span>
                        </div>                                
                      </div>
                      <div class="col-md-6" >
                        <button  class="btn btn-info" style="float: right; margin-right: 50px;">Submit</button>
                      </div>
                    </div>
                  </div> 
                  
                  <div class="col-md-6" style="margin-top:30px;">
                    <div style="margin-bottom: 10px;">
                      <button class="btn btn-info" (click)="addSite()"><mat-icon>add_box</mat-icon> Add</button>
                    </div>
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                      <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->
                    
                      <!-- Position Column -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef > Action </th>
                        <td mat-cell *matCellDef="let element"> 
                        <button class="btn btn-outline-danger delete" (click)="delete(clientName)">
                          <mat-icon>delete</mat-icon><label>Delete</label>
                        </button> 
                      </td>
                      </ng-container>
                    
                      <!-- Name Column -->
                      <ng-container matColumnDef="clientName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
                      </ng-container>
                       <!-- Name Column -->
                      <ng-container matColumnDef="inActive">
                        <th mat-header-cell *matHeaderCellDef> Department Name </th>
                        <td mat-cell *matCellDef="let element"><input type="checkbox" disabled="disabled"> </td>
                      </ng-container>
                       <!-- Name Column -->
                      <ng-container matColumnDef="createdDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
                      </ng-container>
                    
                      <!-- Weight Column -->
                      <ng-container matColumnDef="createdBy">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
                      </ng-container>
                    
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="updatedDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.updatedDate}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="updatedBy">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated By </th>
                        <td mat-cell *matCellDef="let element"> {{element.updatedBy}} </td>
                      </ng-container>
                    
                      <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>

                    </table>
                    
                  </div>
                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
              </div>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
    </mat-tab>
    <mat-tab label="Inspection Verification & Testing of Installation"> </mat-tab>
    <mat-tab label="Incomplete Saved Reports"></mat-tab>
    <mat-tab label="Final Reports"></mat-tab>
</mat-tab-group>
