.client-name {
    width: 1px;
    white-space: nowrap;
    display: table-cell;
}

.auth-form-btn {
    margin-top: 40px;
    width: 20%;
}

.auth-form-btn .icon {
    float: left;
    margin-left: 30px;
}

.cancel {
    margin-top: 40px;
    width: 20%;
}

.successshow1 {
  padding: 5px 8px;
  text-align: center;
  font-size: 14px;
  color: hsl(120deg 34% 27%);
  background-color: hsl(101deg 45% 88%);
  border-color: hsl(101deg 45% 100%);
  border-radius: 0.25rem;
  margin: 10px;
}
