<h1>Add New Client</h1>
    <form  [formGroup]="addClientForm">
        <div *ngIf="showErrorMessage" class="alert alert-danger">Please enter valid client name</div>

        <div class="form-group">       
                <label class="client-name">Client Name:</label>
                <span style="display: table-cell; width: 500px;
                padding: 0 4px 0 20px;">
                <input type="text"  formControlName="clientName" class="form-control" [(ngModel)]="company.clientName" placeholder="Enter client name"></span>
        </div>

                
        <div class="form-group">
            <label class="client-name">Inactive :</label>
            <span style="display: table-cell; width: 500px;
                padding: 0 4px 0 20px;">
            <input type="checkbox"  formControlName="isActive" style="width:30px ;margin-bottom: -10px; margin-left: 24px;"  [(ngModel)]="company.inActive"></span>
        </div>
                
        <div style="display: flex;justify-content: space-evenly;">
            <button (click)="onSubmit()" [disabled]="loading" type="submit" class="btn btn-block btn-primary btn-rounded btn-md font-weight-medium auth-form-btn"> Save</button>
            <button (click)="cancel()" style="display: flex;"  class="btn btn-outline-danger cancel" ><i class="bi bi-x icon"></i> Cancel</button>
        </div> 
        
    </form>
    