<div class="card">
    <div class="card-body">
        <div>
            <h3 style="font-weight: 600;">Circuit Details</h3>
            <div class="row">
                <div class="col-md-4">
                    <label>Circuit No.</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value1'>
                </div>
                <div class="col-md-4">
                    <label>Description</label>
                    <textarea class="form-control" style="height:40px;" readonly [(ngModel)]='value2'></textarea>
                </div>
            </div>

            <h3 style="font-weight: 600;">OCPD</h3>
            <div class="row">
                <div class="col-md-2">
                    <label>Standard No
                        <mat-icon style="font-size: 18px; line-height: unset;" matTooltip="Manufacturer’s reference standard"
                            matTooltipClass="example-tooltip-red." aria-label="Button that shows a red tooltip"
                            class="example-button">
                            info_outline
                        </mat-icon>
                    </label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value3'>
                </div>
                <div class="col-md-2">
                    <label>Make
                        <mat-icon style="float: right;font-size: 18px;line-height: unset;" matTooltip="Manufacturer’s name"
                            matTooltipClass="multiline-tooltip" aria-label="Button that shows a red tooltip"
                            class="example-button">
                            info_outline
                        </mat-icon>
                    </label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value4'>
                </div>
                <div class="col-md-2">
                    <label>Type
                        <mat-icon style="float: right;font-size: 18px;line-height: unset;"
                            matTooltip="MCB/MCCB/RCBO/MCB with RCD/ACB with micrologic relay/ ACB with numerical protection relay (enter details of relay in case of ACB"
                            matTooltipClass="multiline-tooltip" aria-label="Button that shows a red tooltip"
                            class="example-button">
                            info_outline
                        </mat-icon>
                    </label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value5'>
                </div>
                <div class="col-md-2">
                    <label>No of poles
                        <mat-icon style="font-size: 18px;line-height: unset;" matTooltip="1 / 2 / 3 / 4"
                            matTooltipClass="example-tooltip-red." aria-label="Button that shows a red tooltip"
                            class="example-button">
                            info_outline
                        </mat-icon>
                    </label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value6'>
                </div>
                <div class="col-md-2">
                    <label>Model/ current curve
                        <mat-icon style="float: right;font-size: 18px;line-height: unset;"
                            matTooltip="MCB Type B / C / D / K / Z & others specify manufacturer’s model"
                            matTooltipClass="multiline-tooltip" aria-label="Button that shows a red tooltip"
                            class="example-button">
                            info_outline
                        </mat-icon>
                    </label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value7'>
                </div>
                <div class="col-md-2">
                    <label>Rating current (A) </label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value8'>
                </div>
                <div class="col-md-2">
                    <label>Breaking capacity (kA)
                        <mat-icon style="float: right;font-size: 18px;line-height: unset;" matTooltip="As specified by manufacturer"
                            matTooltipClass="multiline-tooltip" aria-label="Button that shows a red tooltip"
                            class="example-button">
                            info_outline
                        </mat-icon>
                    </label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value9'>
                </div>
                <div class="col-md-2">
                    <label>Short circuit setting (A) </label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value10'>
                </div>
                <div class="col-md-2">
                    <label>Earth fault setting (A) </label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value11'>
                </div>
            </div>

            <h3 style="font-weight: 600;">Conductor Details
                <span style="margin-left: 35%;">Cross sectional area (sq.mm.)</span>
            </h3>
            <div class="row">
                <div class="col-md-3">
                    <label>Installation Reference Method</label>
                    <textarea class="form-control" readonly [(ngModel)]='value12' style="height:40px;"></textarea>
                </div>
                <div class="col-md-3">
                    <label>Phase</label>
                    <input type="number" class="form-control" readonly [(ngModel)]='value13'>
                </div>
                <div class="col-md-3">
                    <label>Neutral</label>
                    <input type="number" class="form-control" readonly [(ngModel)]='value14'>
                </div>
                <div class="col-md-3">
                    <label>PE</label>
                    <input type="number" class="form-control" readonly [(ngModel)]='value15'>
                </div>
            </div>

            <h3 style="font-weight: 600;">Continuity (Ω)</h3>
            <h3 style="font-weight: 500;">Applicable to live and protective conductors in final circuits only</h3>
            <div class="row">
                <div class="col-md-3">
                    <label>Length(meter)</label>
                    <textarea class="form-control" readonly [(ngModel)]='value16' style="height:40px;"></textarea>
                </div>
                <div class="col-md-3">
                    <label>R1+R2 (Ω)</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value17'>
                </div>
                <div class="col-md-3">
                    <label>R2 (Ω)</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value18'>
                </div>
                <div class="col-md-3">
                    <label>Maximum allowed value</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value19'>
                </div>
                <div class="col-md-3">
                    <label>Remarks</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value20'>
                </div>
            </div>

            <h3 style="font-weight: 600;">Insulation Resistance (MΩ)
                <mat-icon style="font-size: 18px;
                line-height: unset;" matTooltip="If 1-phase, 2-wire (LN) is selected, column L1-N, L1-PE to be filled. 
                If 1-phase, 3-wire (LLM) is selected, column L1-L2, L1-N, L2-N, L1-PE & L2-PE to be filled. 
                If 2-phase, 3-wire (LLN) is selected, column L1-L2, L1-N, L2-N, L1-PE & L2-PE to be filled. 
                If 3-phase, 3-wire (LLL) is selected, column L1-L2, L2-L3, L3-L1, L1-PE, L2-PE & L3-PE to be filled. 
                If 3-phase, 4-wire (LLLN) is selected, all fields to be filled. 
                Fill not applicable for unfilled fields.
                14.24 = 14.22/14.23 * 10-3 (calculation will be automatically done)"
                    matTooltipClass="multiline-tooltip" aria-label="Button that shows a red tooltip"
                    class="example-button">
                    info_outline
                </mat-icon>
            </h3>
            <div class="row">
                <div class="col-md-2">
                    <label>Polarity</label>
                    <textarea class="form-control" readonly [(ngModel)]='value21' style="height:40px;"></textarea>
                </div>
                <div class="col-md-2">
                    <label>L1-L2</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value22'>
                </div>
                <div class="col-md-2">
                    <label>L2-L3</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value23'>
                </div>
                <div class="col-md-2">
                    <label>L1-L3</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value24'>
                </div>
                <div class="col-md-2">
                    <label>L1-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value25'>
                </div>
                <div class="col-md-2">
                    <label>L2-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value26'>
                </div>
                <div class="col-md-2">
                    <label>L3-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value27'>
                </div>
                <div class="col-md-2">
                    <label>L1-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value28'>
                </div>
                <div class="col-md-2">
                    <label>L2-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value29'>
                </div>
                <div class="col-md-2">
                    <label>L3-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value30'>
                </div>
            </div>

            <h3 style="font-weight: 600;">Voltage (V)</h3>
            <div class="row">
                
                <div class="col-md-2">
                    <label>L1-L2</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value32'>
                </div>
                <div class="col-md-2">
                    <label>L2-L3</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value33'>
                </div>
                <div class="col-md-2">
                    <label>L1-L3</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value34'>
                </div>
                <div class="col-md-2">
                    <label>L1-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value35'>
                </div>
                <div class="col-md-2">
                    <label>L2-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value36'>
                </div>
                <div class="col-md-2">
                    <label>L3-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value37'>
                </div>
                <div class="col-md-2">
                    <label>L1-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value38'>
                </div>
                <div class="col-md-2">
                    <label>L2-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value39'>
                </div>
                <div class="col-md-2">
                    <label>L3-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value40'>
                </div>
            </div>

            <h3 style="font-weight: 600;">Short circuit / Fault loop impedance (Ω)</h3>
            <div class="row">
               
                <div class="col-md-2">
                    <label>L1-L2</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value42'>
                </div>
                <div class="col-md-2">
                    <label>L2-L3</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value43'>
                </div>
                <div class="col-md-2">
                    <label>L1-L3</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value44'>
                </div>
                <div class="col-md-2">
                    <label>L1-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value45'>
                </div>
                <div class="col-md-2">
                    <label>L2-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value46'>
                </div>
                <div class="col-md-2">
                    <label>L3-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value47'>
                </div>
                <div class="col-md-2">
                    <label>L1-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value48'>
                </div>
                <div class="col-md-2">
                    <label>L2-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value49'>
                </div>
                <div class="col-md-2">
                    <label>L3-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value50'>
                </div>
            </div>

            <h3 style="font-weight: 600;">Actual Short circuit / fault current (kA)</h3>
            <div class="row">
               
                <div class="col-md-2">
                    <label>L1-L2</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value52'>
                </div>
                <div class="col-md-2">
                    <label>L2-L3</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value53'>
                </div>
                <div class="col-md-2">
                    <label>L1-L3</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value54'>
                </div>
                <div class="col-md-2">
                    <label>L1-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value55'>
                </div>
                <div class="col-md-2">
                    <label>L2-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value56'>
                </div>
                <div class="col-md-2">
                    <label>L3-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value57'>
                </div>
                <div class="col-md-2">
                    <label>L1-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value58'>
                </div>
                <div class="col-md-2">
                    <label>L2-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value59'>
                </div>
                <div class="col-md-2">
                    <label>L3-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value60'>
                </div>
            </div>

            <h3 style="font-weight: 600;">Disconnection Time(sec) </h3>
            <div class="row">
                <div class="col-md-2">
                    <label>L1-L2</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value62'>
                </div>
                <div class="col-md-2">
                    <label>L2-L3</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value63'>
                </div>
                <div class="col-md-2">
                    <label>L1-L3</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value64'>
                </div>
                <div class="col-md-2">
                    <label>L1-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value65'>
                </div>
                <div class="col-md-2">
                    <label>L2-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value66'>
                </div>
                <div class="col-md-2">
                    <label>L3-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value67'>
                </div>
                <div class="col-md-2">
                    <label>L1-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value68'>
                </div>
                <div class="col-md-2">
                    <label>L2-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value69'>
                </div>
                <div class="col-md-2">
                    <label>L3-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value70'>
                </div>
            </div>

            <h3 style="font-weight: 600;">RCD</h3>
            <h3 style="font-weight: 500;">Operating Time</h3>
            <div class="row">
                <div class="col-md-3">
                    <label>Type (A/B/AC/F)</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value71'>
                </div>
                <div class="col-md-3">
                    <label>Sensitivity I∆n (mA)</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value72'>
                </div>
                <div class="col-md-3">
                    <label>I∆n (ms)</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value73'>
                </div>
                <div class="col-md-3">
                    <label>5*I∆n (ms)</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='value74'>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label>Test Button Operation</label>
                    <textarea class="form-control" readonly [(ngModel)]='value75' style="height:40px;"></textarea>
                </div>
                <div class="col-md-4">
                    <label>Observations</label>
                    <textarea class="form-control" readonly [(ngModel)]='value76' style="height:40px;"></textarea>
                </div>
            </div>

        </div>
       <br>
        <div *ngFor="let g of alternateList; let j = index">
            <h2 style="font-weight: 600;text-align: center;">Alternate Supply-{{j+1}}</h2> 
            <h3 style="font-weight: 600;">Voltage (V)</h3>
            <div class="row">
                <div class="col-md-2">
                    <label>L1-L2</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.ryVoltage'>
                </div>
                <div class="col-md-2">
                    <label>L2-L3</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.rbVoltage'>
                </div>
                <div class="col-md-2">
                    <label>L1-L3</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.ybVoltage'>
                </div>
                <div class="col-md-2">
                    <label>L1-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.rnVoltage'>
                </div>
                <div class="col-md-2">
                    <label>L2-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.ynVoltage'>
                </div>
                <div class="col-md-2">
                    <label>L3-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.bnVoltage'>
                </div>
                <div class="col-md-2">
                    <label>L1-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.rpeVoltage'>
                </div>
                <div class="col-md-2">
                    <label>L2-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.ypeVoltage'>
                </div>
                <div class="col-md-2">
                    <label>L3-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.bpeVoltage'>
                </div>
            </div>

            <h3 style="font-weight: 600;">Short circuit / Fault loop impedance (Ω)</h3>
            <div class="row">
                <div class="col-md-2">
                    <label>L1-L2</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.ryLoopImpedance'>
                </div>
                <div class="col-md-2">
                    <label>L2-L3</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.rbLoopImpedance'>
                </div>
                <div class="col-md-2">
                    <label>L1-L3</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.ybLoopImpedance'>
                </div>
                <div class="col-md-2">
                    <label>L1-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.rnLoopImpedance'>
                </div>
                <div class="col-md-2">
                    <label>L2-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.ynLoopImpedance'>
                </div>
                <div class="col-md-2">
                    <label>L3-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.bnLoopImpedance'>
                </div>
                <div class="col-md-2">
                    <label>L1-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.rpeLoopImpedance'>
                </div>
                <div class="col-md-2">
                    <label>L2-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.ypeLoopImpedance'>
                </div>
                <div class="col-md-2">
                    <label>L3-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.bpeLoopImpedance'>
                </div>
            </div>

            <h3 style="font-weight: 600;">Actual Short circuit / fault current (kA)</h3>
            <div class="row">
                <div class="col-md-2">
                    <label>L1-L2</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.ryFaultCurrent'>
                </div>
                <div class="col-md-2">
                    <label>L2-L3</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.rbFaultCurrent'>
                </div>
                <div class="col-md-2">
                    <label>L1-L3</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.ybFaultCurrent'>
                </div>
                <div class="col-md-2">
                    <label>L1-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.rnFaultCurrent'>
                </div>
                <div class="col-md-2">
                    <label>L2-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.ynFaultCurrent'>
                </div>
                <div class="col-md-2">
                    <label>L3-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.bnFaultCurrent'>
                </div>
                <div class="col-md-2">
                    <label>L1-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.rpeFaultCurrent'>
                </div>
                <div class="col-md-2">
                    <label>L2-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.ypeFaultCurrent'>
                </div>
                <div class="col-md-2">
                    <label>L3-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.bpeFaultCurrent'>
                </div>
            </div>

            <h3 style="font-weight: 600;">Disconnection Time(sec) </h3>
            <div class="row">
                <div class="col-md-2">
                    <label>L1-L2</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.ryDisconnect'>
                </div>
                <div class="col-md-2">
                    <label>L2-L3</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.rbDisconnect'>
                </div>
                <div class="col-md-2">
                    <label>L1-L3</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.ybDisconnect'>
                </div>
                <div class="col-md-2">
                    <label>L1-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.rnDisconnect'>
                </div>
                <div class="col-md-2">
                    <label>L2-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.ynDisconnect'>
                </div>
                <div class="col-md-2">
                    <label>L3-N</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.bnDisconnect'>
                </div>
                <div class="col-md-2">
                    <label>L1-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.rpeDisconnect'>
                </div>
                <div class="col-md-2">
                    <label>L2-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.ypeDisconnect'>
                </div>
                <div class="col-md-2">
                    <label>L3-PE</label>
                    <input type="text" class="form-control" readonly [(ngModel)]='g.bpeDisconnect'>
                </div>
            </div>
        </div>
    </div>
</div>