<div class="card">
    <div class="card-body">
        <form [formGroup]="EMCPowerAndEarthForm">
            <mat-accordion displayMode="default" [multi]="true" [hideToggle]="false">

                <mat-expansion-panel [hideToggle]="false" class="body">
                    <mat-expansion-panel-header>
                        Service Entrance
                    </mat-expansion-panel-header>

                    <!-- Electrical utility service supplier -->
                    <div class="acc_font">
                        <label for="text">1. Electrical utility service supplier:</label>
                        <!-- Icon code -->
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="bi bi-text-paragraph"></i>
                                </span>
                            </div>
                            <textarea class="textarea-size" class="form-control" [(ngModel)]="emcPowerAndEarthingData.powerElectricalUtility"
                                formControlName="powerElectricalUtility"
                                placeholder="describe type, demand, system earthing, protection at incoming...!"></textarea>
                        </div>
                    </div>

                    <!-- Back up source -->
                    <div class="acc_font">
                        <label class="form-label">2. Back up source:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="bi bi-text-paragraph"></i>
                                </span>
                            </div>
                            <textarea class="textarea-size" class="form-control" style="font-size: medium;" [(ngModel)]="emcPowerAndEarthingData.powerBackupSource"
                                formControlName="powerBackupSource"
                                placeholder="describe type, capacity, time delay, loads, etc...!"></textarea>
                        </div>
                    </div>

                    <!-- Distance to HV/LV substation -->
                    <div class="acc_font">
                        <label class="form-label">3. Distance to HV/LV substation:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="bi bi-text-paragraph"></i>
                                </span>
                            </div>
                            <textarea class="form-control" formControlName="powerDistanceHvLv" [(ngModel)]="emcPowerAndEarthingData.powerDistanceHvLv"
                                placeholder="In case transformer with in the premise (HV supply), describe this and the distance to the suppliers substation...!"></textarea>
                        </div>
                    </div>

                    <!-- Type of incoming cables from HV/LV substation -->
                    <div class="acc_font">
                        <label>4. Type of incoming cables from HV/LV substation:</label>
                        <br>
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="emcPowerAndEarthingData.powerCableHvLv" formControlName="powerCableHvLv">
                                <option [ngValue]="null">Select Option</option>
                                <option *ngFor="let value of incomingcable">{{value}}</option>
                            </select>
                        </div>
                    </div>
                    <br>

                    <!-- Discription of supply -->
                    <div>
                        <label class="form-label">*Discription of supply:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="bi bi-text-paragraph"></i>
                                </span>
                            </div>
                            <textarea class="textarea-size" class="form-control" [(ngModel)]="emcPowerAndEarthingData.powerDiscSupply" formControlName="powerDiscSupply"
                                placeholder="Enter Discription of supply"></textarea>
                        </div>
                    </div>

                    <!-- Transformer characteristics -->

                    <div class="acc_font">
                        <label class="form-label">5. Transformer characteristics:</label>
                        <div>
                            <div>
                                <div>
                                    <label class="form-label">KVA: </label>
                                    <input type="number" class="form-control" [(ngModel)]="emcPowerAndEarthingData.powerTransformationKVA" formControlName="powerTransformationKVA"
                                        placeholder="Enter KVA">
                                </div>
                            </div>
                            <br>
                            <div>
                                <label style="font-size: medium;">Input:</label>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">Volts:</label>
                                    <input type="number" class="form-control" [(ngModel)]="emcPowerAndEarthingData.powerInputVolts" formControlName="powerInputVolts"
                                        placeholder="Enter Volts">
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label">No. of phases:</label>
                                    <input type="number" class="form-control" [(ngModel)]="emcPowerAndEarthingData.powerInputPhase" formControlName="powerInputPhase"
                                        placeholder="Enter No. of phases">
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label">No. of wires:</label>
                                    <input type="number" class="form-control" [(ngModel)]="emcPowerAndEarthingData.powerInputWires" formControlName="powerInputWires"
                                        placeholder="Enter No. of wires">
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label">Feed (Delta/WYE):</label>
                                    <input type="text" class="form-control" [(ngModel)]="emcPowerAndEarthingData.powerInputFeed" formControlName="powerInputFeed"
                                        placeholder="Enter Feed (Delta/WYE)">
                                </div>
                            </div>

                            <div>
                                <label class="form-label">Describe Other</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="bi bi-text-paragraph"></i>
                                        </span>
                                    </div>
                                    <textarea class="textarea-size" class="form-control"
                                        formControlName="powerInputDesc" [(ngModel)]="emcPowerAndEarthingData.powerInputDesc" placeholder="Enter Describe Others"></textarea>
                                </div>
                            </div>

                            <br>

                            <!-- Output to MDB -->
                            <div>
                                <label class="form-label">Output to MDB</label>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="form-label">Volts:</label>
                                        <input type="number" class="form-control" [(ngModel)]="emcPowerAndEarthingData.powerOutputVolts" formControlName="powerOutputVolts"
                                            placeholder="Enter Volts">
                                    </div>

                                    <div class="col-md-4">
                                        <label class="form-label">No. of phases:</label>
                                        <input type="number" class="form-control" [(ngModel)]="emcPowerAndEarthingData.powerOutputPhase" formControlName="powerOutputPhase"
                                            placeholder="Enter No. of phases">
                                    </div>

                                    <div class="col-md-4">
                                        <label class="form-label">No. of wires:</label>
                                        <input type="number" class="form-control" [(ngModel)]="emcPowerAndEarthingData.powerOutputWires" formControlName="powerOutputWires"
                                            placeholder="Enter No. of wires">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="form-label">Feed (Delta/WYE):</label>
                                        <input type="text" class="form-control" [(ngModel)]="emcPowerAndEarthingData.powerOutputFeed" formControlName="powerOutputFeed"
                                            placeholder="Enter Feed (Delta/WYE)">
                                    </div>

                                    <!-- Incoming (Amps) -->

                                    <div class="col-md-4">
                                        <label class="form-label">Incoming (Amps):</label>
                                        <input type="number" class="form-control" [(ngModel)]="emcPowerAndEarthingData.powerIncomingAmps" formControlName="powerIncomingAmps"
                                            placeholder="Enter Amps here">
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Neutral</label>
                                            <select class="form-control" [(ngModel)]="emcPowerAndEarthingData.powerNeutral" formControlName="powerNeutral">
                                                <option [ngValue]="null">Select Option</option>
                                                <option *ngFor="let value of neutral">{{value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <!-- System earthing -->
                            <div>
                                <label class="form-label">System earthing:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="bi bi-text-paragraph"></i>
                                        </span>
                                    </div>
                                    <textarea class="textarea-size" class="form-control" [(ngModel)]="emcPowerAndEarthingData.psEarthing"  formControlName="psEarthing"
                                        placeholder="describe how and where?"></textarea>
                                </div>
                            </div>
                            <br>
                            <div>
                                <label class="form-label">Attach SLD of power supply system</label>
                                <div class="input-group mb-3">
                                    <label for="inputGroupFile01">Upload</label>
                                    <input type="file" class="form-control" id="inputGroupFile01" [(ngModel)]="emcPowerAndEarthingData.peAttachement"
                                        formControlName="peAttachement">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 6.Building Service Entrance -->
                    <div>
                        <label class="form-label">6. Building Service Entrance</label>
                        <div>
                            <label class="form-label">Dedicated transformer:</label>
                            <select class="form-control" [(ngModel)]="emcPowerAndEarthingData.dedicatedTransfermation" formControlName="dedicatedTransfermation">
                                <option [ngValue]="null">Select Option</option>
                                <option *ngFor="let value of selectionValue">{{value}}</option>
                            </select>
                        </div>
                        <div>
                            <label class="form-label">If no, which are the other buildings / loads
                                connected to the transformer:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-text-paragraph"></i>
                                    </span>
                                </div>
                                <textarea class="textarea-size" class="form-control" [(ngModel)]="emcPowerAndEarthingData.dedicatedTransfermationOtherBuilding"
                                    formControlName="dedicatedTransfermationOtherBuilding"
                                    placeholder="Enter If no, which are the other buildings / loads connected to the transformer"></textarea>
                            </div>
                        </div>

                        <!-- Type and routing of incoming cable from transformer -->
                        <div>
                            <label class="form-label">Type and routing of incoming cable from
                                transformer:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-text-paragraph"></i>
                                    </span>
                                </div>
                                <textarea class="textarea-size" class="form-control" [(ngModel)]="emcPowerAndEarthingData.typeOFIncoming" formControlName="typeOFIncoming"
                                    placeholder="metallic conduit / non metallic conduit / others...!"></textarea>
                            </div>
                        </div>

                        <!-- Description of service entrance earth electrode -->
                        <div>
                            <label class="form-label">Description of service entrance earth electrode:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-text-paragraph"></i>
                                    </span>
                                </div>
                                <textarea class="textarea-size" class="form-control" [(ngModel)]="emcPowerAndEarthingData.descOfService" formControlName="descOfService"
                                    placeholder="foundation earth / building steel / ring earth / rod / multiple rods / grid / earth plate / burried conduit / metal water pipe etc...!"></textarea>
                            </div>
                        </div>

                        <!-- Describe about testing of service entrance earth electrode -->
                        <div>
                            <label class="form-label">Describe about testing of service entrance earth
                                electrode:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-text-paragraph"></i>
                                    </span>
                                </div>
                                <textarea class="textarea-size" class="form-control" [(ngModel)]="emcPowerAndEarthingData.descOfTestingService"
                                    formControlName="descOfTestingService"
                                    placeholder="Date of testing / Name of person who did the testing / value (impedance in ohms)...!"></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- 7. Describe about equipotential bonding and SPD's at service entrance -->
                    <div>
                        <div>
                            <label class="form-label">7. Describe about equipotential bonding and SPD's at
                                service entrance:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="bi bi-text-paragraph"></i>
                                    </span>
                                </div>
                                <textarea class="textarea-size" class="form-control" [(ngModel)]="emcPowerAndEarthingData.descOfEquipotentilaBonding"
                                    formControlName="descOfEquipotentilaBonding"
                                    placeholder="Ex...yes/no. If yes, type and rating of SPD's...!"></textarea>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>


                <div formArrayName="electronicSystemArr" *ngFor="let a of getElectronicSystemControl(); let i = index">
                    <div class="form-group" [formGroupName]="i">

                        <mat-expansion-panel [hideToggle]="false" class="body">
                            <mat-expansion-panel-header>Building Distribution</mat-expansion-panel-header>

                            <!-- SLD -->
                            <div>
                                <div>
                                    <label class="form-label">1. SLD:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="bi bi-text-paragraph"></i>
                                            </span>
                                        </div>
                                        <textarea class="textarea-size" class="form-control" formControlName="bDSld"
                                            placeholder="Ex. An one-line diagram of the site power distribution system from the service entrance to the electronic system power distribution panel(s). Show all transformers, load centres, power conditioning equipment, emergency load transfer switches, etc. Also indicate nominal voltage, kVA, type of feed, how run, number of conductors, and approximate length of feeders involved...!"></textarea>
                                    </div>
                                </div>
                                <br>
                                <!-- Notes -->
                                <div>
                                    <label for="" style="font-weight: bold;">Note: any heavy cycling loads or variable
                                        load
                                        controllers fed from the same distribution feeder path that supplies the
                                        computer
                                        system.</label>
                                </div>

                                <div>
                                    <label for="" style="font-weight: bold;">Note: how protective earthing distribution
                                        is
                                        accomplished (conduit only, flexible conduit and bond wire, other).</label>
                                </div>

                                <!-- Record data -->
                                <div>
                                    <label class="form-label">2. Record data:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="bi bi-text-paragraph"></i>
                                            </span>
                                        </div>
                                        <textarea class="textarea-size" class="form-control"
                                            formControlName="bDRecordData"
                                            placeholder="Ex. Record data (including name-plate data) note any power conditioning equipment and/or last transformer before electronic system load...!"></textarea>
                                    </div>
                                </div>

                                <!-- Earthing  -->
                                <div>
                                    <label class="form-label">3. Earthing :</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="bi bi-text-paragraph"></i>
                                            </span>
                                        </div>
                                        <textarea class="textarea-size" class="form-control"
                                            formControlName="bDEarthing"
                                            placeholder="Ex. Describe how and where earthing of power conditioning equipment carried out...!"></textarea>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel [hideToggle]="false" class="body">
                            <mat-expansion-panel-header>Electronics System Room Power Distribution
                            </mat-expansion-panel-header>

                            <!--1. Using the SLD, sketch the system power and ground distribution system, including all major components in (or immediately adjacent to) the computer room. Clearly identify all major components -->

                            <!-- Electronic system power distribution panel -->
                            <div>
                                <div>
                                    <label class="form-label">1. Description:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="bi bi-text-paragraph"></i>
                                            </span>
                                        </div>
                                        <textarea class="textarea-size" class="form-control"
                                            formControlName="electronicDesc"
                                            placeholder="Ex. Using the SLD, sketch the system power and ground distribution system, including all major components in (or immediately adjacent to) the computer room. Clearly identify all major components...!"></textarea>
                                    </div>
                                </div>
                                <br>
                                <label class="form-label">2. Electronic system power distribution panel</label>

                                <div class="container-fluid">
                                    <table cellpadding="7" cellspacing="7" border="1"
                                        style="border:solid 1px #ddd;font-size:14px; line-height:24px; width:100%; border-collapse:collapse; margin:15px 0 0 0px;">
                                        <tr>
                                            <td rowspan="1" style="width: 4rem;">a.</td>
                                            <td style="width: 27rem;">
                                                <label class="form-label">Panel ID:</label>
                                            </td>

                                            <td>
                                                <input type="number" class="form-control" formControlName="panelId"
                                                    placeholder="Enter ID here">
                                            </td>
                                        </tr>
                                    </table>

                                    <table cellpadding="7" cellspacing="7" border="1"
                                        style="border:solid 1px #ddd;font-size:14px; line-height:24px; width:100%; border-collapse:collapse; margin:15px 0 0 0px;">

                                        <tr>
                                            <td rowspan="1" style="width: 4rem;">
                                                <label class="form-label">b.</label>
                                            </td>
                                            <td style="width: 27rem;">
                                                <label class="form-label">Name plate data (manufacturer)</label>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" formControlName="namePlateData"
                                                    placeholder="Name (manufacturer)">
                                            </td>
                                        </tr>
                                    </table>

                                    <table cellpadding="7" cellspacing="7" border="1"
                                        style="border:solid 1px #ddd;font-size:14px; line-height:24px; width:100%; border-collapse:collapse; margin:15px 0 0 0px;">
                                        <tr>
                                            <td rowspan="3" style="width: 4rem;">
                                                <label class="form-label">c.</label>
                                            </td>
                                            <td style="width: 27rem;">
                                                <label class="form-label">Main circuit breaker</label>
                                            </td>
                                            <td style="width: 36rem;">
                                                <select class="form-control" formControlName="mainCircuteBraker">
                                                    <!-- <option value="o">choose yes/no</option> -->
                                                    <option [ngValue]="null">Select Option</option>
                                                    <option value="1">Yes</option>
                                                    <option value="2">No</option>
                                                </select>
                                            </td>
                                            <td>
                                                <p style="font-size: 100%;">Rating (A)
                                                    <input type="text" style=" 
                            width: 50px;
                            background: transparent;
                            border: none;
                            border-bottom: 1px solid #000000;" formControlName="mainCircuteBrakerRating">
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td rowspan="1" style="font-size: 100%;">Emergency trip?</td>
                                            <td>
                                                <p style="font-size: 100%;">Remote <input type="text" style=" 
                                width: 50px;
                                background: transparent;
                                border: none;
                                border-bottom: 1px solid #000000;" formControlName="emergencyTripRemote" /> local<input
                                                        type="text" style=" 
                                width: 50px;
                                background: transparent;
                                border: none;
                                border-bottom: 1px solid #000000;" formControlName="emergencyTripLocal" /> none</p>

                                            </td>
                                        </tr>
                                    </table>

                                    <table cellpadding="7" cellspacing="7" border="1"
                                        style="border:solid 1px #ddd;font-size:14px; line-height:24px; width:100%; border-collapse:collapse; margin:15px 0 0 0px;">
                                        <tr>
                                            <td rowspan="2" style="width: 4rem;">
                                                <label class="form-label">d.</label>
                                            </td>

                                            <td style="width: 27rem;">
                                                <label class="form-label">Other trips:</label>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" formControlName="otherTrip"
                                                    placeholder="Under voltage / over voltage">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label class="form-label">Differential protection:</label>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control"
                                                    formControlName="differentalProtection"
                                                    placeholder="Enter Differential protection">
                                            </td>
                                        </tr>

                                    </table>

                                    <table cellpadding="7" cellspacing="7" border="1"
                                        style="border:solid 1px #ddd;font-size:14px; line-height:24px; width:100%; border-collapse:collapse; margin:15px 0 0 0px;">

                                        <tr>
                                            <td rowspan="1" style="width: 4rem;">
                                                <label class="form-label">e.</label>
                                            </td>

                                            <td style="width: 27rem;">
                                                <label class="form-label">Panel bonded to building
                                                    steel:</label>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" formControlName="bouodingStell"
                                                    placeholder="YES / NO. Describe bond location - external or internal steel member">
                                            </td>
                                        </tr>
                                    </table>

                                    <table cellpadding="7" cellspacing="7" border="1"
                                        style="border:solid 1px #ddd;font-size:14px; line-height:24px; width:100%; border-collapse:collapse; margin:15px 0 0 0px;">
                                        <tr>
                                            <td rowspan="4" style="width: 4rem;">
                                                <label class="form-label">f.</label>
                                            </td>
                                            <td style="width: 27rem;">
                                                <label class="form-label">Panel feed:</label>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" formControlName="panelFeed"
                                                    placeholder="WYE / DELTA / SPLIT PHASE / Single phase / No of wires">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="form-label">Phase wires:</label>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" formControlName="phaseWires"
                                                    placeholder="Cu / Al, Size, Number and insulation type">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="form-label">Neutral wire:</label>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" formControlName="neutralWire"
                                                    placeholder="Cu / Al, Size, Number and insulation type">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="form-label">PE wire size:</label>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" formControlName="peWireSize"
                                                    placeholder="Cu / Al, Size, Number and insulation type">
                                            </td>
                                        </tr>
                                    </table>

                                    <table cellpadding="7" cellspacing="7" border="1"
                                        style="border:solid 1px #ddd;font-size:14px; line-height:24px; width:100%; border-collapse:collapse; margin:15px 0 0 0px;">
                                        <tr>
                                            <td rowspan="4" style="width: 4rem;">g.</td>
                                            <td rowspan="4" style="width: 27rem; font-size: 100%;">Panel connectors</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control"
                                                    formControlName="pannelConnectors"
                                                    placeholder="Type - Cu / Al, Cu/Al">
                                            </td>
                                        </tr>
                                        <!--  <tr>
                                            <td>
                                                <input type="text" class="form-control" formControlName=""
                                                    placeholder="Any discoloration / corrosion">
                                            </td>
                                        </tr> -->
                                        <!-- <tr>
                                            <td>
                                                <input type="text" class="form-control" formControlName=""
                                                    placeholder="Termination quality (checked / not checked??)">
                                            </td>
                                        </tr> -->
                                    </table>

                                    <table cellpadding="7" cellspacing="7" border="1"
                                        style="border:solid 1px #ddd;font-size:14px; line-height:24px; width:100%; border-collapse:collapse; margin:15px 0 0 0px;">
                                        <tr>
                                            <td rowspan="4" style="width: 4rem;">h.</td>
                                            <td rowspan="4" style="width: 27rem; font-size: 100%;">Neutral and earth
                                                busbars
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 100%; width: 25rem;">Neutral bus:</td>
                                            <td>
                                                <input type="text" class="form-control" formControlName="neutralBus"
                                                    placeholder="insulated from panel?? (check for bonding screws / straps) etc">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 100%;">Earth bus:</td>
                                            <td>
                                                <input type="text" class="form-control" formControlName="earthBus"
                                                    placeholder="(available  / not available) (insulated / uninsulated) quality of bonding">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 100%;">List of non electronic loads on earth bus:</td>
                                            <td>
                                                <input type="text" class="form-control"
                                                    formControlName="listOfNonElectronicLoad"
                                                    placeholder="List of non electronic loads on earth bus">
                                            </td>
                                        </tr>
                                    </table>

                                    <table cellpadding="7" cellspacing="7" border="1"
                                        style="border:solid 1px #ddd;font-size:14px; line-height:24px; width:100%; border-collapse:collapse; margin:15px 0 0 0px;">
                                        <tr>
                                            <td rowspan="3" style="width: 4rem;">i.</td>
                                            <td rowspan="3" style="width: 27rem; font-size: 100%;">Uses</td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 100%; width: 25rem;">Dediated to electronic system?:
                                            </td>
                                            <td>
                                                <input type="text" class="form-control"
                                                    formControlName="dedicatedElectronicSystem"
                                                    placeholder="Enter Dediated to electronic system?">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 100%;">List all non computer loads, including any
                                                convenience
                                                receptacles:</td>
                                            <td>
                                                <input type="text" class="form-control"
                                                    formControlName="nonComputerLoads" placeholder="Enter List all non computer loads, including any
                                        convenience receptacles">
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </div>
                </div>

                <div formArrayName="distributionPannelArr"
                    *ngFor="let a of getDistributionPannelControl(); let j = index">
                    <div class="form-group" [formGroupName]="j">

                        <!-- Distribution panel at load (final circuits) -->
                        <mat-expansion-panel [hideToggle]="false" class="body">
                            <mat-expansion-panel-header>Distribution panel At Load (Final Circuits)
                            </mat-expansion-panel-header>

                            <!-- a. Branch circuit wire size -->
                            <div>
                                <label class="form-label">a. Branch circuit wire size</label>
                                <br>
                                <label class="form-label">Wire size compatilble to circuit braker</label>
                                <select class="form-control" formControlName="cbWireSize">
                                    <option [ngValue]="null">Select Option</option>
                                    <option value="">Yes</option>
                                    <option value="">No</option>
                                </select>
                                <div>
                                    <label class="form-label">Description</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="bi bi-text-paragraph"></i>
                                            </span>
                                        </div>
                                        <textarea class="textarea-size" class="form-control" formControlName="cbDesc"
                                            placeholder="Description"></textarea>
                                    </div>
                                </div>
                                <div>
                                    <label class="form-label">Matches receptable:</label>
                                    <select name="" id="" class="form-control" formControlName="matchesReceptable">
                                        <option [ngValue]="null">Select Option</option>
                                        <option value="">Yes</option>
                                        <option value="">No</option>
                                    </select>
                                    <div>
                                        <label class="form-label">Description</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="bi bi-text-paragraph"></i>
                                                </span>
                                            </div>
                                            <textarea class="textarea-size" class="form-control" formControlName="matchesReceptableDesc"
                                                placeholder="Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--b. Individual insulated PE wire run in each electronics load circuit -->
                            <div>
                                <div>
                                    <label class="form-label">b. Individual insulated PE wire run in each
                                        electronics load circuit</label>
                                    <select name="" id="" class="form-control" formControlName="indivdialPwire">
                                        <option [ngValue]="null">Select Option</option>
                                        <option value="">Yes</option>
                                        <option value="">No</option>
                                    </select>
                                    <div>
                                        <label class="form-label">Description</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="bi bi-text-paragraph"></i>
                                                </span>
                                            </div>
                                            <textarea class="textarea-size" class="form-control" formControlName="indivdialPwireDesc"
                                                placeholder="Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--c. Individual insulated neutral wire run in each computer load circuit (if necessary??) -->
                            <div>
                                <div>
                                    <label class="form-label">c. Individual insulated neutral wire run in each
                                        computer load circuit (if necessary??</label>
                                    <select name="" id="" class="form-control" formControlName="indivdialNeutralwire">
                                        <option [ngValue]="null">Select Option</option>
                                        <option value="">Yes</option>
                                        <option value="">No</option>
                                    </select>
                                    <div>
                                        <label class="form-label">Description</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="bi bi-text-paragraph"></i>
                                                </span>
                                            </div>
                                            <textarea class="textarea-size" class="form-control" formControlName="indivdialNeutralwireDesc"
                                                placeholder="Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- d. All computer load circuits coorectly identified -->
                            <div>
                                <div>
                                    <label class="form-label">d. All computer load circuits coorectly
                                        identified</label>
                                    <select name="" id="" class="form-control" formControlName="computerLoadCircute">
                                        <option [ngValue]="null">Select Option</option>
                                        <option value="">Yes</option>
                                        <option value="">No</option>
                                    </select>
                                    <div>
                                        <label class="form-label">Description</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="bi bi-text-paragraph"></i>
                                                </span>
                                            </div>
                                            <textarea class="textarea-size" class="form-control" formControlName="computerLoadCircuteDes"
                                                placeholder="Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- e. All computer load circuits (<30 A/phase) terminated in isolated earth receptacles -->
                            <div>
                                <div>
                                    <label class="form-label">e. All computer load circuits (30/Aphase)
                                        terminated in isolated earth receptacles</label>
                                    <select name="" id="" class="form-control" formControlName="computerLoadReceptable">
                                        <option [ngValue]="null">Select Option</option>
                                        <option value="">Yes</option>
                                        <option value="">No</option>
                                    </select>
                                    <div>
                                        <label class="form-label">Description</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="bi bi-text-paragraph"></i>
                                                </span>
                                            </div>
                                            <textarea class="textarea-size" class="form-control" formControlName="computerLoadReceptableDesc"
                                                placeholder="Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- f. System branch circuits run in (metallic conduits / non metallic conduits) -->
                            <div>
                                <div>
                                    <label class="form-label">f. System branch circuits run in (metallic
                                        conduits / non metallic conduits)</label>
                                    <select name="" id="" class="form-control" formControlName="branchCircuteRun">
                                        <option [ngValue]="null">Select Option</option>
                                        <option value="">Yes</option>
                                        <option value="">No</option>
                                    </select>

                                    <div>
                                        <label class="form-label">Description</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="bi bi-text-paragraph"></i>
                                                </span>
                                            </div>
                                            <textarea class="textarea-size" class="form-control" formControlName="branchCircuteRunDesc"
                                                placeholder="Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--g. Frequently cyclid loads (disks/tapes etc) power circuit run seperately or in same physical closure -->
                            <div>
                                <div>
                                    <label class="form-label">g. Frequently cyclid loads (disks/tapes etc) power
                                        circuit run seperately or in same physical closure</label>
                                    <select name="" id="" class="form-control" formControlName="frequencyCyclidLoads">
                                        <option [ngValue]="null">Select Option</option>
                                        <option value="">Yes</option>
                                        <option value="">No</option>
                                    </select>
                                    <div>
                                        <label class="form-label">Description</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="bi bi-text-paragraph"></i>
                                                </span>
                                            </div>
                                            <textarea class="textarea-size" class="form-control" formControlName="frequencyCyclidLoadsDesc"
                                                placeholder="Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- h. Any phase conductor, neutral conductor or PE condcutors daisy chained?? -->
                            <div>
                                <div>
                                    <label class="form-label">h. Any phase conductor, neutral conductor or PE
                                        condcutors daisy chained??</label>
                                    <select name="" id="" class="form-control" formControlName="conductors">
                                        <option [ngValue]="null">Select Option</option>
                                        <option value="">Yes</option>
                                        <option value="">No</option>
                                    </select>
                                    <div>
                                        <label class="form-label">Description</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="bi bi-text-paragraph"></i>
                                                </span>
                                            </div>
                                            <textarea class="textarea-size" class="form-control" formControlName="conductorsDesc"
                                                placeholder="Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </div>
                </div>
            </mat-accordion>

            <div class="container">
                <div style="text-align: center;">
                    <button type="button" style="width: 100px; margin: 16px auto;"
                        class="btn btn-primary">Previous</button>
                    <button type="submit" style="width: 100px; margin: 16px auto;" (click)="savePowerAndEarthingData()"  (click)="gotoNextModal(content3)"class="btn btn-success">Next</button>
                </div>
            </div>

        </form>
    </div>

    
<ng-template #content3 let-modal>
    <mat-progress-spinner style="margin: 0 auto;" *ngIf="finalSpinner"
    color="primary">
    </mat-progress-spinner>
    <div class="modal-body" *ngIf="popup">
        <div class="centre-text m-btm30">
            <div *ngIf="success" style="text-align: center;">
                <span class="successshow">{{successMsg}}</span>
            </div>
            <div *ngIf="Error" style="text-align: center;">
                <span class="errorshow">{{errorMsg}}</span>
            </div>
        </div>
    </div>
    <br>

    <button type="button" *ngIf="popup" class="close" class="btn btn-block btn-primary btn-rounded btn-md font-weight-medium auth-form-btn"
                aria-label="Close" (click)="closeModalDialog()" matStepperNext>
                 <span aria-hidden="true">Ok</span>
     </button>
 </ng-template>