.previous {

    background-color: #f1f1f1;

    color: black;

  }

  .previous:hover {

    /* background-color: #747a76; */
    background-color: #04AA6D;

    color: white;

  }

  .next{

    background-color: #f1f1f1;

    color: black;

    margin-left: 30px;

  }

  .next:hover{

    background-color: #04AA6D;

    color: white;

    margin-left: 30px;

  }

  .disableForm{
    pointer-events: none;
  }