<html>
<ng-template #reference></ng-template>

<body>
    <div *ngIf="destroy">
        <app-emc-matstepper *ngIf="showEmcHome"></app-emc-matstepper>
    </div>
    <div *ngIf="!destroy" style="padding: 20px; background: white;">
        <button style="float: right;" type="submit"
        class="btn btn-block btn-primary btn-rounded btn-md font-weight-medium auth-form-btn"
            (click)="onNavigateToQuestionaire()">Skip</button>
        <button style="float: right;" class="btn btn-block btn-primary btn-rounded btn-md font-weight-medium auth-form-btn" 
            printSectionId="printdiv" ngxPrint>Print</button>
        <h2>EMC assessment of an installation (IEC 61000-5-1).</h2>
        <div id="printdiv">
            <div>
                <p>Electromagnetic compatibility (EMC) is the ability of electronic systems to function acceptably in
                    their
                    electromagnetic environment,
                    by limiting the unintentional generation, propagation and reception of electromagnetic energy which
                    may
                    cause malfunctions or even physical
                    damage to the equipment. Every electrical and electronic device produces electromagnetic
                    interference
                    (EMI) that can adversely affect the
                    performance of similar equipment located nearby if the level of the interference is high. ​</p>
            </div>
            <div>
                <p>Electromagnetic compatibility (EMC) provides methods that help contain EMI so that electrical and
                    electronic systems or components
                    are able to work correctly even when they are close together. In essence, EMC is about protecting
                    sensitive equipment such as radio
                    receivers, domestic appliances or electronic circuits from electromagnetic interference, and
                    containing
                    the electromagnetic emissions
                    for example from large scale batteries, power lines or electric motors so that they can't interfere
                    with
                    more sensitive devices. ​</p>
            </div>
            <div>
                <p>The goal of EMC is the correct operation of different equipment in a common electromagnetic
                    environment.
                    It is also the name given to
                    the associated branch of electrical engineering. Several techniques can be used to achieve EMC.
                    Avoidance techniques call for the removal
                    of the source of disturbance or the reduction of its level of emissions. Alternatively, mitigation
                    techniques, such as filtering or shielding,
                    can limit the effect of the disturbance.​</p>
            </div>
            <div>
                <ol>
                    <b>Electromagnetic disturbances are classified as ​</b>
                    <li>Conducted low-frequency phenomena, consisting of​</li>
                    <ol class="d">
                        <li>Harmonics, inter harmonics​</li>
                        <li>Signals superimposed on power lines​</li>
                        <li>Voltage fluctuations​</li>
                        <li>Voltage dips and interruptions​</li>
                        <li>Voltage unbalance​</li>
                        <li>Power frequency variations​</li>
                        <li>Induced low frequency voltage</li>
                        <li>DC components in AC networks​</li>
                    </ol>
                    <li>Conducted high-frequency phenomena:​</li>
                    <ol class="d">
                        <li>Induced voltage or currents</li>
                        <ul>
                            <li>Continuous wave​</li>
                            <li>Modulated waves​</li>
                        </ul>
                        <li>Unidirectional transients</li>
                        <li>Oscillatory transients​</li>
                    </ol>
                    <li>Radiated low-frequency field phenomena:​</li>
                    <ol class="d">
                        <li>Magnetic fields</li>
                        <ul>
                            <li>Continuous</li>
                            <li>Transient</li>
                        </ul>
                        <li>Electric fields​</li>
                    </ol>
                    <li>Radiated high-frequency field phenomena:​</li>
                    <ol class="d">
                        <li>Magnetic fields​</li>
                        <li>Electric fields​</li>
                        <li>Electromagnetic fields</li>
                        <ul>
                            <li>Continuous waves​</li>
                            <li>Modulated waves​</li>
                            <li>Transients</li>
                        </ul>
                    </ol>
                    <li>Electrostatic discharge (ESD) - Contact, Air & Discharge to adjacent objects</li>
                </ol>
            </div>
            <div>
                <p>EMC conformity assessment is aimed to ensure electromagnetic compatibility (EMC) among electrical
                    and electronic apparatus or systems used in industrial, commercial, and residential installations,
                    while
                    designing and installing an electronic system.
                    The assessment program is made as per IEC 61000-5-1, intended for use by installers and users of
                    sensitive electrical or electronic installations and systems.
                    This assessment program is not intended to verify the EMC compliance of a product.​</p>
                <p>This assessment program developed primarily from IEC 61000-5-1, including various safety requirements
                    as
                    per IEC 60364. The intelligent and efficient integration
                    of technical requirements from these two modern IEC standards with our vast experience, ensure
                    safety,
                    reliability and long life of electronic system.​</p>
            </div>
            <button style="float: right;" type="submit"
                class="btn btn-block btn-primary btn-rounded btn-md font-weight-medium auth-form-btn"
                (click)="onNavigateToQuestionaire()" [disabled]="displayIconsBasedOnEmail()">Continue
            </button>
        </div>
    </div>
</body>
</html>