
  
     <form [formGroup]="testingForm">
        <div class="card">
        <button class="btn btn-info mousechange" style="padding: 7px 10px 0px 10px;
                                   left: 93%;
                                  top: 10px;
                                    width: 4%;position: relative;">
            <mat-icon aria-hidden="false" (click)="addItem()" aria-label="Example home icon" mat-list-icon>add_box</mat-icon>
        </button>
                    
                 <div class="card-body" formArrayName="testaccordianArr" *ngFor="let a of getTestControls(); let i = index" >
                    <div [formGroupName]="i">
                    <div class="search-bar">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-4">
                                <label>Location Number*</label>
                                <input type="text" class="form-control" formControlName="locationNumber"
                                 placeholder="Enter Location Number"  [ngClass]="{ 'is-invalid': submitted && f.locationNumber?.errors }">
                                 <div *ngIf="submitted && f.locationNumber?.errors" class="invalid-feedback">
                                    <div *ngIf="f.locationNumber?.errors?.required">Location number is required</div>
                                </div> 
                
                          </div>
                          <div class="col-md-4">
                                <label>Location Name*</label>
                                  <input type="text" class="form-control" formControlName="locationName"
                                    placeholder="Enter Location Name"  [ngClass]="{ 'is-invalid': submitted && f.locationName?.errors }">
                                    <div *ngIf="submitted && f.locationName?.errors" class="invalid-feedback">
                                        <div *ngIf="f.locationName?.errors?.required">Location name is required</div>
                                    </div> 
                    
                            </div>
                        </div>
                     </div>
                   </div> 
                <mat-accordion>
               <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3>section-1</h3>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
             
                   
                    <div class="row">
                        <div class="col-md-4">
                            <label>Test Engineer Name </label>
                            <input type="text" formControlName="testEngineerName" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.testEngineerName?.errors }">
                            <div *ngIf="submitted && f.testEngineerName?.errors" class="invalid-feedback">
                                <div *ngIf="f.testEngineerName?.errors?.required">Test engineer name is required</div>
                            </div> 
                        </div>

                        <div class="col-md-4">
                            <label>Date</label>
                            <input type='date' formControlName="date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.testEngineerName?.errors }">
                            <div *ngIf="submitted && f.testEngineerName?.errors" class="invalid-feedback">
                                <div *ngIf="f.testEngineerName?.errors?.required">Date  is required</div>
                            </div> 
                        </div>

                        <div class="col-md-4">
                            <label>Designation</label>
                            <input type="text" formControlName="designation" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.testEngineerName?.errors }">
                            <div *ngIf="submitted && f.testEngineerName?.errors" class="invalid-feedback">
                                <div *ngIf="f.testEngineerName?.errors?.required">Designation value is required</div>
                            </div> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label> Company Name</label>
                            <input type="text" formControlName="companyName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.companyName?.errors }">
                            <div *ngIf="submitted && f.companyName?.errors" class="invalid-feedback">
                                <div *ngIf="f.companyName?.errors?.required">Company name is required</div>
                            </div> 
                        </div>

                        <div class="col-md-4">
                            <label>Details of test instrument </label>
                            <input type="text" formControlName="detailsTestInstrument" class="form-control"[ngClass]="{ 'is-invalid': submitted && f.detailsTestInstrument?.errors }">
                            <div *ngIf="submitted && f.detailsTestInstrument?.errors" class="invalid-feedback">
                                <div *ngIf="f.detailsTestInstrument?.errors?.required">Details of test instrument value is required</div>
                            </div> 
                        </div>

                        <div class="col-md-4">
                            <label>Continuity </label>
                            <input type="text" formControlName="continuity" class="form-control"[ngClass]="{ 'is-invalid': submitted && f.continuity?.errors }">
                            <div *ngIf="submitted && f.continuity?.errors" class="invalid-feedback">
                                <div *ngIf="f.continuity?.errors?.required">Continuity  value is required</div>
                            </div> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label>Insulation resistance</label>
                            <input type="text" formControlName="insulationResisance" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.insulationResisance?.errors }">
                            <div *ngIf="submitted && f.insulationResisance?.errors" class="invalid-feedback">
                                <div *ngIf="f.insulationResisance?.errors?.required">Insulation resistance value is required</div>
                            </div> 
                        </div>

                        <div class="col-md-4">
                            <label>Impedance </label>
                            <input type="text" formControlName="Impedance" class="form-control"[ngClass]="{ 'is-invalid': submitted && f.Impedance?.errors }">
                            <div *ngIf="submitted && f.Impedance?.errors" class="invalid-feedback">
                                <div *ngIf="f.Impedance?.errors?.required">Impedance value is required</div>
                            </div> 
                        </div>

                        <div class="col-md-4">
                            <label>RCD </label>
                            <input type="text" formControlName="rcd" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.rcd?.errors }">
                            <div *ngIf="submitted && f.rcd?.errors" class="invalid-feedback">
                                <div *ngIf="f.rcd?.errors?.required">RCD value is required</div>
                            </div> 
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>Earth electrode resistance</label>
                        <input type="text" formControlName="earthElectrodeResistance" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.earthElectrodeResistance?.errors }">
                        <div *ngIf="submitted && f.earthElectrodeResistance?.errors" class="invalid-feedback">
                            <div *ngIf="f.earthElectrodeResistance?.errors?.required">Earth electrode resistance value is required</div>
                        </div> 
                    </div>
         
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3>section-2</h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
             
                   <div formArrayName="testDistributionArr" *ngFor="let c of gettestDistributionFormControls(a); let i = index">
                        <div class="form-group" [formGroupName]="i">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Distribution board details </label>
                                    <input type="text" formControlName="distributionBoardDetails" class="form-control" [ngClass]="{ 'is-invalid': submitted && c.get('distributionBoardDetails')?.errors }"  >
                                    <div *ngIf="submitted && c.get('distributionBoardDetails')?.errors" class="invalid-feedback">
                                      <div *ngIf="c.get('distributionBoardDetails')?.errors?.required">Distribution board  details value is required</div>
                                    </div>
                              </div>

                                <div class="col-md-4">
                                    <label>Referance (name)</label>
                                    <input type="text" formControlName="referance" class="form-control"[ngClass]="{ 'is-invalid': submitted && c.get('referance')?.errors }"  >
                                    <div *ngIf="submitted && c.get('referance')?.errors" class="invalid-feedback">
                                      <div *ngIf="c.get('referance')?.errors?.required">Reference name  is required</div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label>Location</label>
                                    <input type="text" formControlName="location" class="form-control"[ngClass]="{ 'is-invalid': submitted && c.get('location')?.errors }"  >
                                    <div *ngIf="submitted && c.get('location')?.errors" class="invalid-feedback">
                                      <div *ngIf="c.get('location')?.errors?.required">Location  name  is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <label>Correct supply polarity </label>
                                    <select class="form-control" formControlName="correctSupplyPolarity" [ngClass]="{ 'is-invalid': submitted && c.get('correctSupplyPolarity')?.errors }">
                                        <option value="0" selected>Select option</option>
                                        <option value="Yes" selected>Yes</option>
                                        <option value="No" selected>No</option>
                                    </select>
                                    <div *ngIf="submitted && c.get('correctSupplyPolarity')?.errors" class="invalid-feedback">
                                        <div *ngIf="c.get('correctSupplyPolarity')?.errors?.required">Please select valid option</div>
                                      </div>
                                </div>
                               
                                <div class="col-md-4">
                                    <label> Number of output circuits - Spare </label>
                                    <input type="text" formControlName="numOutputCircuitsSpare" class="form-control"[ngClass]="{ 'is-invalid': submitted && c.get('numOutputCircuitsSpare')?.errors }"  >
                                    <div *ngIf="submitted && c.get('numOutputCircuitsSpare')?.errors" class="invalid-feedback">
                                      <div *ngIf="c.get('numOutputCircuitsSpare')?.errors?.required">Number of output circuits -spare value is required</div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label> Installed equipment vulnarable to testing </label>
                                    <input type="text" formControlName="installedEquipmentVulnarable"
                                        class="form-control"[ngClass]="{ 'is-invalid': submitted && c.get('installedEquipmentVulnarable')?.errors }"  >
                                        <div *ngIf="submitted && c.get('installedEquipmentVulnarable')?.errors" class="invalid-feedback">
                                          <div *ngIf="c.get('installedEquipmentVulnarable')?.errors?.required">Installed equipment vulnarable to testing  value is required</div>
                                        </div>
                                </div>
                            </div>
                      

                             <div class="row">
                                <div class="col-md-4">
                                    <label>Number of output circuits in use</label>
                                    <input type="number" formControlName="numOutputCircuitsUse"  
                                    maxlength="2" class="form-control"  (keyup)="onKey($event,c,a)" [ngClass]="{ 'is-invalid': submitted && c.get('numOutputCircuitsUse')?.errors }"  >
                                    <div *ngIf="submitted && c.get('numOutputCircuitsUse')?.errors" class="invalid-feedback">
                                      <div *ngIf="c.get('numOutputCircuitsUse')?.errors?.required">Number of output circuits in use value is required</div>
                                    </div>
                                </div>

                                <div  class="col-md-4" formArrayName="rateArr"  *ngFor="let d of gettestrateFormControls(c); let j = index"> 
                                    <div class="form-group" [formGroupName]="j">
                                    <label>Ratings in Amps </label>
                                    <input type="number" formControlName="ratingsAmps"class="form-control"[ngClass]="{ 'is-invalid': submitted && d.get('ratingsAmps')?.errors }"  >
                                    <div *ngIf="submitted && d.get('ratingsAmps')?.errors" class="invalid-feedback">
                                      <div *ngIf="d.get('ratingsAmps')?.errors?.required">Ratings in Amps value is required</div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                     
                


                    <div class="col">
                        <div class="table-responsive" >
                            <table class="table"  border="1">
                                <div formArrayName="distributionIncomingValueArr" *ngFor="let e of getdistributionIncomingValueControls(c); let j= index">
                                    <div class="form-group" >
                                        <thead>
                                            <tr align="center">
                                                <th></th>
                                                <th>L1-L2</th>
                                                <th>L2-L3</th>
                                                <th>L1-L3</th>
                                                <th>L1-N</th>
                                                <th>L2-N</th>
                                                <th>L3-N</th>
                                                <th>L1-PE</th>
                                                <th>L2-PE</th>
                                                <th>L3-PE</th>
                                            </tr>
                                        </thead>
                                        <tbody  [formGroupName]="j" >
                                            <tr  >

                                                <td>Incoming Voltage</td>
                                                <td><input type="text" formControlName="incomingVoltage1"class="form-control" maxlength="4" ></td>
                                                <td><input type="text"  formControlName="incomingVoltage2" class="form-control" maxlength="4"></td>
                                                <td><input type="text"  formControlName="incomingVoltage3"  class="form-control" maxlength="4" ></td>
                                                <td><input type="text" formControlName="incomingVoltage4"   class="form-control" maxlength="4" ></td>
                                                <td><input type="text"  formControlName="incomingVoltage5"  class="form-control" maxlength="4" ></td>
                                                <td><input type="text" formControlName="incomingVoltage6"   class="form-control" maxlength="4"></td>
                                                <td><input type="text" formControlName="incomingVoltage7"  class="form-control" maxlength="4"></td>
                                                <td><input type="text" formControlName="incomingVoltage8"  class="form-control" maxlength="4"></td>
                                                <td><input type="text" formControlName="incomingVoltage9"   class="form-control" maxlength="4" ></td>
                                            </tr>

                                            <tr>
                                                <td>Incoming Zs (Ω)</td>
                                                <td><input type="text" formControlName="incomingZs1" class="form-control" maxlength="3" ></td>
                                                <td><input type="text"formControlName="incomingZs2" class class="form-control" maxlength="3"></td>
                                                <td><input type="text" formControlName="incomingZs3" class="form-control" maxlength="3" ></td>
                                                <td><input type="text" formControlName="incomingZs4" class="form-control" maxlength="3" ></td>
                                                <td><input type="text" formControlName="incomingZs5"  class="form-control" maxlength="3"></td>
                                                <td><input type="text"  formControlName="incomingZs6" class="form-control" maxlength="3" ></td>
                                                <td><input type="text" formControlName="incomingZs7"   class="form-control" maxlength="3"></td>
                                                <td><input type="text" formControlName="incomingZs8"   class="form-control" maxlength="3" ></td>
                                                <td><input type="text"formControlName="incomingZs9"    class="form-control" maxlength="3" ></td>
                                            </tr>


                                            <tr>
                                                <td>Incoming Ipf (Amps)</td>
                                                <td><input type="text" formControlName="incomingIpf1"   class="form-control" maxlength="7" ></td>
                                                <td><input type="text"  formControlName="incomingIpf2"   class="form-control" maxlength="7"></td>
                                                <td><input type="text" formControlName="incomingIpf3"  class="form-control" maxlength="7" ></td>
                                                <td><input type="text" formControlName="incomingIpf4"  class="form-control" maxlength="7" ></td>
                                                <td><input type="text"  formControlName="incomingIpf5" class="form-control" maxlength="7" ></td>
                                                <td><input type="text"formControlName="incomingIpf6"   class="form-control" maxlength="7" ></td>
                                                <td><input type="text" formControlName="incomingIpf7"  class="form-control" maxlength="7"></td>
                                                <td><input type="text" formControlName="incomingIpf8" class="form-control" maxlength="7" ></td>
                                                <td><input type="text" formControlName="incomingIpf9"  class="form-control" maxlength="7" ></td>
                                            </tr>

                                        </tbody>
                                    </div>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



                   
                    <div class="row">
                        <div class="col">
                            <div class="table-responsive">
                              <table class="table" border="1">
                                  <thead>
                                        <tr align="center">
                                            <th colspan="6"> Circuit details </th>
                                            <th colspan="3"> Conductor details </th>
                                            <th colspan="3"> Continuity (Ω) </th>
                                            <th colspan="2" rowspan="2">Insulation resistance</th>
                                            <th rowspan="2"></th>
                                            <th colspan="9" rowspan="2"> Voltage (V)(note)</th>
                                            <th colspan="9" rowspan="2"> Fault loop impedance (Ω)(note) </th>
                                            <th colspan="9" rowspan="2"> Actual Short circuit / fault current (Amps) (note)</th>
                                            <th colspan="9" rowspan="2"> Disconnection time (for a short circuit/fault of
                                                negligible impedance) (seconds) </th>
                                            <th colspan="4">RCD </th>
                                            <th rowspan="2"></th>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th colspan="4">Over current device</th>
                                            <th></th>
                                            <th colspan="2">crosssectionalarea(mm2)</th>
                                            <th colspan="3">Required for final circuits and protective conductor only</th>
                                            <th></th>
                                            <th colspan="2">Operating time</th>
                                            <th></th>
                                        </tr>
                                        <tr align="center">
                                            <th rowspan="2">Circute no</th>
                                            <th>Description</th>
                                            <th>Standard no</th>
                                            <th>R-N</th>
                                            <th>Rating (A)</th>
                                            <th>Breaking capacity (kA)</th>
                                            <th>Installation referance method</th>
                                            <th>Live</th>
                                            <th>PE / CPC</th>
                                            <th>Approximate length</th>
                                            <th>R1+R2 (Ω)</th>
                                            <th>R2 (Ω)</th>
                                            <th>L-L</th>
                                            <th>L-E</th>
                                            <th>Polarity</th>
                                            <th>L1-L2</th>
                                            <th>L2-L3</th>
                                            <th>L1-L3</th>
                                            <th>L1-N</th>
                                            <th>L2-N</th>
                                            <th>L3-N</th>
                                            <th>L1-PE</th>
                                            <th>L2-PE</th>
                                            <th>L3-PE</th>
                                            <th>L1-L2</th>
                                            <th>L2-L3</th>
                                            <th>L1-L3</th>
                                            <th>L1-N</th>
                                            <th>L2-N</th>
                                            <th>L3-N</th>
                                            <th>L1-PE</th>
                                            <th>L2-PE</th>
                                            <th>L3-PE</th>
                                            <th>L1-L2</th>
                                            <th>L2-L3</th>
                                            <th>L1-L3</th>
                                            <th>L1-N</th>
                                            <th>L2-N</th>
                                            <th>L3-N</th>
                                            <th>L1-PE</th>
                                            <th>L2-PE</th>
                                            <th>L3-PE</th>
                                            <th>L1-L2</th>
                                            <th>L2-L3</th>
                                            <th>L1-L3</th>
                                            <th>L1-N</th>
                                            <th>L2-N</th>
                                            <th>L3-N</th>
                                            <th>L1-PE</th>
                                            <th>L2-PE</th>
                                            <th>L3-PE</th>
                                            <th>I∆n</th>
                                            <th>I∆n </th>
                                            <th>5 I∆n</th>
                                            <th rowspan="2">Test button operation</th>
                                            <th>Remarks</th>
                                      </tr>
                                   </thead>
                                  <tbody formArrayName="testValueArr" >
                                    <tr *ngFor="let f of gettestValueControls(a); let i = index"  class="form-group"[formGroupName]="i" >
                                            <td><input type="number" formControlName="circuitNo" class="form-control"  maxlength="4"style="width:70px"></td>
                                            <td><input type="text" formControlName="circuitDesc"  class="form-control" maxlength="4"style="width:70px"></td>
                                            <td><input type="number" formControlName="circuitStandardNo" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="circuitType" class="form-control" maxlength="4"style="width:70px"></td>
                                            <td><input type="text" formControlName="circuitRating" class="form-control" maxlength="4"  style="width:70px"></td>
                                            <td><input type="text" formControlName="circuitBreakingCapacity" class="form-control" maxlength="4"  style="width:70px"></td>
                                            <td><input type="text" formControlName="conductorInstallation" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="conductorLive" class="form-control" maxlength="4"  style="width:70px"></td>
                                            <td><input type="text" formControlName="conductorPecpc" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="continutiyApproximateLength" class="form-control" maxlength="4"  style="width:70px"></td>
                                            <td><input type="text" formControlName="continutiyRR" class="form-control" maxlength="4"  style="width:70px"></td>
                                            <td><input type="text" formControlName="continutiyR" class="form-control" maxlength="4"  style="width:70px"></td>
                                            <td><input type="number" formControlName="continutiyLL" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="number" formControlName="continutiyLE" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="number" formControlName="continutiyPolarity" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="ryVoltage" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="rbVoltage" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="ybVoltage" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="rnVoltage" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="ynVoltage" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="bnVoltage" class="form-control" maxlength="4"  style="width:70px"></td>
                                            <td><input type="number" formControlName="rpeVoltage" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="number" formControlName="ypeVoltage" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="number" formControlName="bpeVoltage" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="ryLoopImpedance" class="form-control" maxlength="4"  style="width:70px"></td>
                                            <td><input type="text" formControlName="rbLoopImpedance" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="ybLoopImpedance" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="rnLoopImpedance" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="ynLoopImpedance" class="form-control" maxlength="4"  style="width:70px"></td>
                                            <td><input type="text" formControlName="bnLoopImpedance" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="rpeLoopImpedance" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="number" formControlName="ypeLoopImpedance" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="number" formControlName="bpeLoopImpedance" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td> <input type="text" formControlName="ryFaultCurrent" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="number" formControlName="rbFaultCurrent" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="ybFaultCurrent" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="rnFaultCurrent" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="ynFaultCurrent" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="bnFaultCurrent" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="rpeFaultCurrent" class="form-control" maxlength="4"  style="width:70px"></td>
                                            <td><input type="text" formControlName="ypeFaultCurrent" class="form-control" maxlength="4"  style="width:70px"></td>
                                            <td><input type="number" formControlName="bpeFaultCurrent" class="form-control" maxlength="4"  style="width:70px"></td>
                                            <td><input type="text" formControlName="ryDisconnect" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="number" formControlName="rbDisconnect" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="number" formControlName="ybDisconnect" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="rnDisconnect" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="ynDisconnect" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="bnDisconnect" class="form-control" maxlength="4"  style="width:70px"></td>
                                            <td><input type="text" formControlName="rpeDisconnect" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="ypeDisconnect" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="text" formControlName="bpeDisconnect" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="number" formControlName="rcdCurrent" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="number" formControlName="rcdOperatingCurrent" class="form-control" maxlength="4" style="width:70px"></td>
                                            <td><input type="number" formControlName="rcdOperatingFiveCurrent" class="form-control" maxlength="4"  style="width:70px"></td>
                                            <td><input type="text" formControlName="testButtonOperation" class="form-control" maxlength="4"  style="width:70px"></td>
                                            <td><input type="text" formControlName="rcdRemarks" class="form-control" maxlength="4"  style="width:70px"></td>
                                           </tr>
                                    </tbody>
                                 </table>
                               </div>
                              </div>
                            </div>
                        </mat-expansion-panel>
                     </mat-accordion>
                     <mat-icon class="mousechange"  style="float:right;" *ngIf="getTestControls().length > 1" (click)="removeAccordian(i)">delete</mat-icon> 
                  </div>
               </div>
             <div style="display: inline;">
            <button style="float: left;" type="submit" (click)="nextTab()"
                     class="btn btn-block btn-primary btn-rounded btn-lg font-weight-medium auth-form-btn"><i
                      class="bi bi-person-plus-fill icon"></i> Submit</button>
             </div>
        </div>
      </form>

  

 