<div class="card">
    <div class="card-header" style="text-align: center; display: block">
       <h2 class="modal-title" style="display: contents">Switch Board</h2>
     </div>
   <div class="card-body">
     <form [formGroup]="switchBoardForm" (keyup)="onKeyForm($event)" (change)="onChangeForm($event)">
     <div class="row">
       <div class="col-md-4">
         <div class="form-group">
           <label>Reference Name</label>
           <input type="text" class="form-control" formControlName="referenceName" [(ngModel)]="switchBoard.referenceName"
           [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.referenceName?.errors }">
           <div *ngIf="submittedSwitchBoard && h.referenceName?.errors" class="invalid-feedback">
             <div *ngIf="h.referenceName?.errors?.required">Reference name is required</div>
           </div>
         </div>
       </div>

       <div class="col-md-4">
        <div class="form-group">
          <label>Voltage(V)</label>
          <input type="number" class="form-control" formControlName="voltage" [(ngModel)]="switchBoard.voltage"
          [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.voltage?.errors }">
          <div *ngIf="submittedSwitchBoard && h.voltage?.errors" class="invalid-feedback">
            <div *ngIf="h.voltage?.errors?.required">Voltage is required</div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Overvoltage protection device / SPD/ surge arrestor</label>
          <select  class="form-control" formControlName="overvoltage" [(ngModel)]="switchBoard.overvoltage"
          [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.overvoltage?.errors }">
            <option value="" disabled>Select Option</option>
            <option value="Available">Available</option>
            <option value="Not available">Not available</option>
          </select>        
          <div *ngIf="submittedSwitchBoard && h.overvoltage?.errors" class="invalid-feedback">
            <div *ngIf="h.overvoltage?.errors?.required">Overvoltage is required</div>
          </div>
        </div>
      </div>
     </div>

     <div class="row">
       <div class="col-md-3">
         <div class="form-group">
           <label>Make</label>
           <input type="text" class="form-control" formControlName="make" [(ngModel)]="switchBoard.make"
           [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.make?.errors }">
           <div *ngIf="submittedSwitchBoard && h.make?.errors" class="invalid-feedback">
             <div *ngIf="h.make?.errors?.required">Make is required</div>
           </div>
         </div>
       </div>

       <div class="col-md-3">
        <div class="form-group">
          <label>Model</label>
          <input type="text" class="form-control" formControlName="model" [(ngModel)]="switchBoard.model"
          [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.model?.errors }">
          <div *ngIf="submittedSwitchBoard && h.model?.errors" class="invalid-feedback">
            <div *ngIf="h.model?.errors?.required">Model is required</div>
          </div>
        </div>
      </div>

       <div class="col-md-3">
         <div class="form-group">
           <label>Current Rating(A)</label>
           <input type="number" class="form-control" formControlName="rating" [(ngModel)]="switchBoard.rating"
           [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.rating?.errors }">
           <div *ngIf="submittedSwitchBoard && h.rating?.errors" class="invalid-feedback">
             <div *ngIf="h.rating?.errors?.required">Rating is required</div>
           </div>
         </div>
       </div>

       <div class="col-md-3">
        <div class="form-group">
          <label>Class type</label>
          <select  class="form-control" formControlName="classType" [(ngModel)]="switchBoard.classType"
          [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.classType?.errors }">
            <option value="" disabled>Select Option</option>
            <option value="Class I">Class I</option>
            <option value="Class II">Class II</option>
            <option value="Class I+II">Class I+II</option>
          </select>        
          <div *ngIf="submittedSwitchBoard && h.classType?.errors" class="invalid-feedback">
            <div *ngIf="h.classType?.errors?.required">Class type is required</div>
          </div>
        </div>
      </div>

     </div>
      
     <br>
     <h3 style="text-align: center">Switch board bus bar size</h3>
     <br>
     <div class="row">
       <div class="col-md-4">
         <div class="form-group">
           <label>Phase</label>
           <input type="number" class="form-control" formControlName="switchBoardPhase" [(ngModel)]="switchBoard.switchBoardPhase"
           [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.switchBoardPhase?.errors }">
           <div *ngIf="submittedSwitchBoard && h.switchBoardPhase?.errors" class="invalid-feedback">
             <div *ngIf="h.switchBoardPhase?.errors?.required">Phase is required</div>
           </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class="form-group">
           <label>Neutral</label>
           <input type="number" class="form-control" formControlName="switchBoardNeutral" [(ngModel)]="switchBoard.switchBoardNeutral"
           [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.switchBoardNeutral?.errors }">
           <div *ngIf="submittedSwitchBoard && h.switchBoardNeutral?.errors" class="invalid-feedback">
             <div *ngIf="h.switchBoardNeutral?.errors?.required">Neutral is required</div>
           </div>
         </div>
       </div>
       <div class="col-md-4">
         <div class="form-group">
           <label>Protective Conductor</label>
           <input type="number" class="form-control" formControlName="switchBoardProtective" [(ngModel)]="switchBoard.switchBoardProtective"
           [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.switchBoardProtective?.errors }">
           <div *ngIf="submittedSwitchBoard && h.switchBoardProtective?.errors" class="invalid-feedback">
             <div *ngIf="h.switchBoardProtective?.errors?.required">Protective Conductor is required</div>
           </div>
         </div>
       </div>
       <div class="col-md-4">
        <div class="form-group">
          <label>Fault current (kA)</label>
          <input type="number" class="form-control" formControlName="faultCurrent" [(ngModel)]="switchBoard.faultCurrent"
          [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.faultCurrent?.errors }">
          <div *ngIf="submittedSwitchBoard && h.faultCurrent?.errors" class="invalid-feedback">
            <div *ngIf="h.faultCurrent?.errors?.required">Protective Conductor is required</div>
          </div>
        </div>
      </div>
     </div>
   <br>
  <div class="row">
    <div class="col-md-4">
        <div class="form-group">
          <label>Switchboard equipments functional test report</label>
          <select class="form-control" formControlName="switchBoardTest" (change)="changeSwitchBoardTest($event)"
          [(ngModel)]="switchBoard.switchBoardTest"
          [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.switchBoardTest?.errors }">
          <option value="">Select Option</option>
          <option value="Available">Available</option>
          <option value="Not available">Not available</option>
        </select>
          <div *ngIf="submittedSwitchBoard && h.switchBoardTest?.errors" class="invalid-feedback">
            <div *ngIf="h.switchBoardTest?.errors?.required">Test report is required</div>
          </div>
        </div>
      </div>
  </div>
   <div class="row" *ngIf="h.switchBoardTest?.value == 'Available'">
    <table class="table TableBorder" style="margin-top: 3rem;">
      <thead>
        <tr style="text-align: center;">
          <th width="25%">Attach SLD of power supply system:</th>
          <th width="25%">Status</th>
          <th width="27%">Name</th>
          <th width="6%">Size</th>
          <th width="17%">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input style="height: 3rem;" type="file" (change)="onChange($event)" formControlName="file"
              [ngClass]="{'is-invalid':submittedSwitchBoard && !fileSuccessFlag}" [attr.disabled]="false ? '' : null"
              accept=".txt,.jpeg,.png,.jpg,.pdf">
            <div *ngIf="submittedSwitchBoard && !fileSuccessFlag" class="invalid-feedback">
              <div *ngIf="!fileSuccessFlag">Field Is Required</div>
            </div>
          </td>
          <td>
            <p *ngIf="fileFlag"> {{fileStatus}} </p>

            <mat-icon *ngIf="fileSuccessFlag" class="material-icons-outlined"
              style="font-size: 40px; color: #06ea06; margin-left: 105px;">
              check_circle_outline
            </mat-icon>

            <mat-icon *ngIf="fileErrorFlag" class="material-icons-outlined"
              style="font-size: 40px; color: #eb1909; margin-left: 105px;">
              highlight_off
            </mat-icon>
          </td>
          <td style="text-align: center;">{{fileName}}</td>
          <td nowrap style="text-align: center;">{{fileSize}}</td>

          <td nowrap style="text-align: center;">
            <button type="button" class="btn btn-secondary btn-xs mr-4" [disabled]="uploadDisable"
              (click)="onUpload()" title="Upload">
              <i class="fa fa-upload" style="color: white;"></i>
            </button>

            <button type="button" class="btn btn-success btn-xs mr-4" (click)="onDownload()" *ngIf="fileId != ''"
              href='javascript:onDownload()' href='javascript:void(0)' [ngClass]="{'disableForm':false}"
              title="Download">
              <i class="fa fa-download" style="color: white;"></i>
            </button>

            <button type="button" class="btn btn-danger btn-xs mr-4" *ngIf="fileId != ''" (click)="deleteFile()"
              [ngClass]="{'disableForm':false}" title="Delete">
              <i class="fa fa-trash-o" style="color: white;"></i>
            </button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
<br>
<div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Touch/Shock Voltage (V)</label>
        <input type="number" class="form-control" formControlName="shockVoltage" [(ngModel)]="switchBoard.shockVoltage"
          [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.shockVoltage?.errors }">
        <div *ngIf="submittedSwitchBoard && h.shockVoltage?.errors" class="invalid-feedback">
          <div *ngIf="h.shockVoltage?.errors?.required">Touch/Shock Voltage is required</div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label>Floor Resistance (MΩ)</label>
        <input type="number" class="form-control" formControlName="floorResistance" [(ngModel)]="switchBoard.floorResistance"
          [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.floorResistance?.errors }">
        <div *ngIf="submittedSwitchBoard && h.floorResistance?.errors" class="invalid-feedback">
          <div *ngIf="h.floorResistance?.errors?.required">Floor Resistance is required</div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label>Wall Resistance (MΩ)</label>
        <input type="number" class="form-control" formControlName="wallResistance" [(ngModel)]="switchBoard.wallResistance"
          [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.wallResistance?.errors }">
        <div *ngIf="submittedSwitchBoard && h.wallResistance?.errors" class="invalid-feedback">
          <div *ngIf="h.wallResistance?.errors?.required">Wall Resistance is required</div>
        </div>
      </div>
    </div>
</div>
<br>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Sizing of protective device complies with standard with respect to load & cable</label>
        <select  class="form-control" formControlName="cable" [(ngModel)]="switchBoard.cable"
        [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.cable?.errors }">
          <option value="" disabled>Select Option</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>     
        <div *ngIf="submittedSwitchBoard && h.cable?.errors" class="invalid-feedback">
          <div *ngIf="h.cable?.errors?.required">Load & cable is required</div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
     <div class="form-group">
       <label>Over voltage  protection type</label>
       <select  class="form-control" formControlName="protectionType" [(ngModel)]="switchBoard.protectionType"
       [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.protectionType?.errors }" style="margin-top: 20px;">
         <option value="" disabled>Select Option</option>
         <option value="CAT I">CAT I</option>
         <option value="CAT II">CAT II</option>
         <option value="CAT III">CAT III</option>
         <option value="CAT IV">CAT IV</option>
       </select>     
       <div *ngIf="submittedSwitchBoard && h.protectionType?.errors" class="invalid-feedback">
         <div *ngIf="h.protectionType?.errors?.required">Over Protection type is required</div>
       </div>
     </div>
   </div>

   <div class="col-md-4">
     <div class="form-group">
       <label>Verified TOV due to fault in HV system</label>
       <select  class="form-control" formControlName="hvSystem" [(ngModel)]="switchBoard.hvSystem"
       [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.hvSystem?.errors }" style="margin-top: 20px;">
         <option value="" >Select Option</option>
         <option value="Yes">Yes</option>
         <option value="No">No</option>
       </select>        
       <div *ngIf="submittedSwitchBoard && h.hvSystem?.errors" class="invalid-feedback">
         <div *ngIf="h.hvSystem?.errors?.required">HV system is required</div>
       </div>
     </div>
   </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Verified TOV due to fault in LV system</label>
        <select  class="form-control" formControlName="lvSystem" [(ngModel)]="switchBoard.lvSystem"
        [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.lvSystem?.errors }">
          <option value="" disabled>Select Option</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>     
        <div *ngIf="submittedSwitchBoard && h.lvSystem?.errors" class="invalid-feedback">
          <div *ngIf="h.lvSystem?.errors?.required">LV system is required</div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
     <div class="form-group">
       <label>Verified connection of SPD</label>
       <select  class="form-control" formControlName="spd" [(ngModel)]="switchBoard.spd"
       [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.spd?.errors }">
         <option value="" disabled>Select Option</option>
         <option value="Yes">Yes</option>
         <option value="No">No</option>
         <option value="Not available">Not available</option>
       </select>     
       <div *ngIf="submittedSwitchBoard && h.spd?.errors" class="invalid-feedback">
         <div *ngIf="h.spd?.errors?.required">Voltage is required</div>
       </div>
     </div>
   </div>

   <div class="col-md-4">
     <div class="form-group">
       <label>Verified protection from disconnection of neutral</label>
       <select  class="form-control" formControlName="neutral" [(ngModel)]="switchBoard.neutral"
       [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.neutral?.errors }">
         <option value="" disabled>Select Option</option>
         <option value="Yes">Yes</option>
         <option value="No">No</option>
       </select>        
       <div *ngIf="submittedSwitchBoard && h.neutral?.errors" class="invalid-feedback">
         <div *ngIf="h.neutral?.errors?.required">Neutral is required</div>
       </div>
     </div>
   </div>
  </div>

  <br>
  <h3 style="text-align: center" >Basic Fault Protection</h3>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Verified protective equipotential bonding</label>
        <select  class="form-control" formControlName="verifiedProtective" [(ngModel)]="switchBoard.verifiedProtective"
        [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.verifiedProtective?.errors }">
          <option value="" disabled>Select Option</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>     
        <div *ngIf="submittedSwitchBoard && h.verifiedProtective?.errors" class="invalid-feedback">
          <div *ngIf="h.verifiedProtective?.errors?.required">Reference name is required</div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
     <div class="form-group">
       <label>Verified double insulation</label>
       <select  class="form-control" formControlName="verifiedDouble" [(ngModel)]="switchBoard.verifiedDouble"
       [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.verifiedDouble?.errors }">
         <option value="" disabled>Select Option</option>
         <option value="Yes">Yes</option>
         <option value="No">No</option>
         <option value="Not available">Not available</option>
       </select>     
       <div *ngIf="submittedSwitchBoard && h.verifiedDouble?.errors" class="invalid-feedback">
         <div *ngIf="h.verifiedDouble?.errors?.required">Voltage is required</div>
       </div>
     </div>
   </div>

   <div class="col-md-4">
     <div class="form-group">
       <label>Verified isolation/ seggregation  ELV system</label>
       <select  class="form-control" formControlName="verifiedIsolation" [(ngModel)]="switchBoard.verifiedIsolation"
       [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.verifiedIsolation?.errors }">
         <option value="" disabled>Select Option</option>
         <option value="Yes">Yes</option>
         <option value="No">No</option>
       </select>        
       <div *ngIf="submittedSwitchBoard && h.verifiedIsolation?.errors" class="invalid-feedback">
         <div *ngIf="h.verifiedIsolation?.errors?.required">Verified isolation is required</div>
       </div>
     </div>
   </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Board is kept out of reach</label>
        <select  class="form-control" formControlName="boardReach" [(ngModel)]="switchBoard.boardReach"
        [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.boardReach?.errors }">
          <option value="" disabled>Select Option</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>     
        <div *ngIf="submittedSwitchBoard && h.boardReach?.errors" class="invalid-feedback">
          <div *ngIf="h.boardReach?.errors?.required">Board Reach is required</div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
     <div class="form-group">
       <label>Arms reach of panels within the safer limits</label>
       <select  class="form-control" formControlName="armsReach" [(ngModel)]="switchBoard.armsReach"
       [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.armsReach?.errors }">
         <option value="" disabled>Select Option</option>
         <option value="Yes">Yes</option>
         <option value="No">No</option>
       </select>     
       <div *ngIf="submittedSwitchBoard && h.armsReach?.errors" class="invalid-feedback">
         <div *ngIf="h.armsReach?.errors?.required">Arms reach is required</div>
       </div>
     </div>
   </div>

   <div class="col-md-4">
     <div class="form-group">
       <label>Caution barriers are available</label>
       <select  class="form-control" formControlName="cautionBarriers" [(ngModel)]="switchBoard.cautionBarriers"
       [ngClass]="{ 'is-invalid': submittedSwitchBoard && h.cautionBarriers?.errors }">
         <option value="" disabled>Select Option</option>
         <option value="Yes">Yes</option>
         <option value="No">No</option>
       </select>        
       <div *ngIf="submittedSwitchBoard && h.cautionBarriers?.errors" class="invalid-feedback">
         <div *ngIf="h.cautionBarriers?.errors?.required">Caution barriers is required</div>
       </div>
     </div>
   </div>
  </div>
     </form>
   </div>

   <div *ngIf="validationError" style="text-align: center;;margin-top: 5px;margin-bottom: 40px">
       <span class="alert alert-danger">{{validationErrorMsg}}</span>
     </div>

     <div class="centre-text m-btm30">
       <div *ngIf="success" style="text-align: center;margin-top: 5px;margin-bottom: 40px">
         <span class="successshow">{{ successMsg }}</span>
       </div>
       <div *ngIf="error" style="text-align: center;margin-top: 5px;margin-bottom: 40px">
         <span class="errorshow">{{ errorMsg }}</span>
       </div>
     </div>
     
     <div style="display: inline;margin-top: 30px;">     
       <button type="button"  style="float: left; margin-left: 400px"
         class="btn btn-info" (click)="saveSwitchBoard(switchBoardFlag)">
         <i class="bi bi-person-plus-fill icon"></i> Save
       </button>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <button type="button"  class="btn btn-danger" aria-label="Close"  (click)="close()"
         style="float: right; margin-right: 400px" >
         <span aria-hidden="true">Cancel</span>
       </button>
     </div>
     <br>
 </div>

 