<div class="card">
    <!-- <div>
        <h2 style="text-align: center;"> FACILITY DATA</h2>
    </div> -->
    <div class="card-body">

        <mat-accordion>
            <form [formGroup]="EMCFacilityForm">

                <mat-expansion-panel class="body">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3>Building Location / Setting</h3>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Type</label>
                                <select class="form-control" formControlName="blType"
                                    [(ngModel)]="emcFacilityData.blType">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of buildingType">{{value}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Describe others</label>
                                <textarea class="textarea-size" class="form-control"
                                    [(ngModel)]="emcFacilityData.blOtherDescription"
                                    formControlName="blOtherDescription" placeholder="Describe others"></textarea>
                            </div>
                        </div>
                    </div>

                </mat-expansion-panel>
                <mat-expansion-panel class="body">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3>Building Construction</h3>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Type </label>
                                <select class="form-control" formControlName="bcType"
                                    [(ngModel)]="emcFacilityData.bcType">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of buildingConstruction">{{value}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>No. of floors </label>
                                <input type="text" class="form-control" formControlName="bcNoOfFloors"
                                    [(ngModel)]="emcFacilityData.bcNoOfFloors" placeholder="Enter No. of floors">
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Computer room floor location </label>
                                <input type="text" class="form-control" formControlName="bcRoomFloorLocation"
                                    [(ngModel)]="emcFacilityData.bcRoomFloorLocation"
                                    placeholder="Enter Computer room floor location">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Building primary use </label>
                                <input type="text" class="form-control" formControlName="bcBuildingPrimaryUse"
                                    [(ngModel)]="emcFacilityData.bcBuildingPrimaryUse"
                                    placeholder="Enter Building primary use">
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div>
                                <label>Other uses / processes</label>
                                <input type="text" class="form-control" formControlName="bcOtherUses"
                                    [(ngModel)]="emcFacilityData.bcOtherUses"
                                    placeholder="Enter Other uses / processes">
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel class="body">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3>Room Location</h3>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Interior room</label>
                                <input type="text" class="form-control" formControlName="rlInteriorRoom"
                                    [(ngModel)]="emcFacilityData.rlInteriorRoom" placeholder="Enter Interior room">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Exterior room </label>
                                <input type="text" class="form-control" formControlName="rlExteriorRoom"
                                    [(ngModel)]="emcFacilityData.rlExteriorRoom" placeholder="Enter Exterior room">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Solid exterior walls</label>
                                <input type="text" class="form-control" formControlName="rlSolidExterior"
                                    [(ngModel)]="emcFacilityData.rlSolidExterior"
                                    placeholder="Enter Solid exterior walls">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Windowed exterior walls </label>
                                <input type="text" class="form-control" formControlName="rlWindowedExterior"
                                    [(ngModel)]="emcFacilityData.rlWindowedExterior"
                                    placeholder="Enter Windowed exterior walls">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Windows face (north, south, east, or west)</label>
                                <input type="text" class="form-control" formControlName="rlWindsFace"
                                    [(ngModel)]="emcFacilityData.rlWindsFace"
                                    placeholder="Enter Windows face (north, south, east, or west)">
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel class="body">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3>Room Use</h3>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Dedicated room for system</label>
                                <!-- <input type="text" class="form-control" placeholder="Enter Dedicated room for system"> -->
                                <select class="form-control" formControlName="ruDedicated"
                                    [(ngModel)]="emcFacilityData.ruDedicated">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of dedicatedRoomForSafety">{{value}}</option>
                                </select>
                            </div>
                        </div>
                        <!-- <div class="col-md-4">
                            <div class="form-group">
                                <label>Non dedicated room</label>
                                <input type="text" class="form-control" placeholder="Enter Non dedicated room">
                            </div>
                        </div> -->
                        <div class="col-md-4">
                            <div>
                                <label>Describe other equipment in room</label>
                                <textarea class="textarea-size" class="form-control" style="font-size: medium;"
                                    [(ngModel)]="emcFacilityData.ruOtherDesc" formControlName="ruOtherDesc"
                                    placeholder="Enter Describe other equipment in room"></textarea>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel class="body">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3>Room Dimentions</h3>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Height (true floor to true ceiling)</label>
                                <input type="text" class="form-control" formControlName="rmHeightTrueFloor"
                                    [(ngModel)]="emcFacilityData.rmHeightTrueFloor"
                                    placeholder="Enter Height (true floor to true ceiling)">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Height (false floor to drop ceiling)</label>
                                <input type="text" class="form-control" formControlName="rmHeightFalseFloor"
                                    [(ngModel)]="emcFacilityData.rmHeightFalseFloor"
                                    placeholder="Enter Height (false floor to drop ceiling)">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Width</label>
                                <input type="text" class="form-control" formControlName="rmWidth"
                                    [(ngModel)]="emcFacilityData.rmWidth" placeholder="Enter Width">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Length</label>
                                <input type="text" class="form-control" formControlName="rmLength"
                                    [(ngModel)]="emcFacilityData.rmLength" placeholder="Enter Length">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Maximum allowable floor loading (Kg/m2)</label>
                                <input type="text" class="form-control" formControlName="rmMaxFloor"
                                    [(ngModel)]="emcFacilityData.rmMaxFloor"
                                    placeholder="Enter Maximum allowable floor loading (Kg/m2)">
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel class="body">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3>Floor Type</h3>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Raised floor</label>
                                <input type="text" class="form-control" formControlName="ftRaisedFloor"
                                    [(ngModel)]="emcFacilityData.ftRaisedFloor" placeholder="Enter Raised floor">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Used as air supply plenum</label>
                                <input type="text" class="form-control" formControlName="ftAirSupply"
                                    [(ngModel)]="emcFacilityData.ftAirSupply"
                                    placeholder="Enter Used as air supply plenum">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Height</label>
                                <input type="text" class="form-control" formControlName="ftHeight"
                                    [(ngModel)]="emcFacilityData.ftHeight" placeholder="Enter Height">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Air flow obstructions</label>
                                <input type="text" class="form-control" formControlName="ftAirFlowObservation"
                                    [(ngModel)]="emcFacilityData.ftAirFlowObservation"
                                    placeholder="Enter Air flow obstructions">
                            </div>
                        </div>
                        <div class="col-md-4    ">
                            <div>
                                <label>Description</label>
                                <textarea class="textarea-size" class="form-control" style="font-size: medium;"
                                    [(ngModel)]="emcFacilityData.ftDescription" formControlName="ftDescription"
                                    placeholder="Enter Description"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Air grill dampers</label>
                                <input type="text" class="form-control" formControlName="ftAirGrillDampers"
                                    [(ngModel)]="emcFacilityData.ftAirGrillDampers"
                                    placeholder="Enter Air grill dampers">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Cable hole edge guards</label>
                                <input type="text" class="form-control" formControlName="ftCableHole"
                                    [(ngModel)]="emcFacilityData.ftCableHole"
                                    placeholder="Enter Cable hole edge guards">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Pedestals</label>
                                <input type="text" class="form-control" formControlName="ftPedestals"
                                    [(ngModel)]="emcFacilityData.ftPedestals" placeholder="Enter Pedestals">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Grids</label>
                                <input type="text" class="form-control" formControlName="ftGrids"
                                    [(ngModel)]="emcFacilityData.ftGrids" placeholder="Enter Grids">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Bolted</label>
                                <input type="text" class="form-control" formControlName="ftBolted"
                                    [(ngModel)]="emcFacilityData.ftBolted" placeholder="Enter Bolted">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>welded</label>
                                <input type="text" class="form-control" formControlName="ftWelded"
                                    [(ngModel)]="emcFacilityData.ftWelded" placeholder="Enter welded">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <label>Description of earthing</label>
                                <textarea class="textarea-size" class="form-control" style="font-size: medium;"
                                    [(ngModel)]="emcFacilityData.ftEarthingDesc" formControlName="ftEarthingDesc"
                                    placeholder="Enter Description of earthing"></textarea>
                            </div>
                        </div>
                        <!-- <div class="col-md-4">
                            <div class="form-group">
                                <label>True floor: material</label>
                                <input type="text" class="form-control" placeholder="Enter True floor: material">
                            </div>
                        </div> -->

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>True floor: material </label>
                                <select class="form-control" formControlName="ftTrueFloorMaterial"
                                    [(ngModel)]="emcFacilityData.ftTrueFloorMaterial">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of floorMaterisl">{{value}}</option>
                                </select>
                            </div>
                        </div>

                        <!-- <div class="col-md-4">
                            <div class="form-group">
                                <label>Sealed/coated/covered</label>
                                <input type="text" class="form-control" placeholder="Enter Sealed/coated/covered">
                            </div>
                        </div> -->
                        <div class="col-md-4">
                            <div>
                                <label>Describe</label>
                                <textarea class="textarea-size" class="form-control" style="font-size: medium;"
                                    [(ngModel)]="emcFacilityData.ftDescribe" formControlName="ftDescribe"
                                    placeholder="Enter Describe"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Cleanliness</label>
                                <input type="text" class="form-control" formControlName="ftCleanliness"
                                    [(ngModel)]="emcFacilityData.ftCleanliness" placeholder="Enter Cleanliness">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <label>Other descriptions</label>
                                <textarea class="textarea-size" class="form-control" style="font-size: medium;"
                                    [(ngModel)]="emcFacilityData.ftOtherDescription"
                                    formControlName="ftOtherDescription"
                                    placeholder="Enter Other descriptions"></textarea>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>

                <div formArrayName="floorCoveringArr" *ngFor="let a of getfloorCoveringarrControl(); let i = index">
                    <div class="form-group" [formGroupName]="i">

                        <mat-expansion-panel class="body">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h3>Floor Covering</h3>
                                </mat-panel-title>

                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Type</label>
                                        <input type="text" class="form-control" formControlName="fcType"
                                            placeholder="Enter Type">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Manufacturer</label>
                                        <input type="text" class="form-control" formControlName="fcManufactor"
                                            placeholder="Enter Manufacturer">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Static tratment type and description</label>
                                        <input type="text" class="form-control" formControlName="fcDescription"
                                            placeholder="Enter Static tratment type and description ">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Woven</label>
                                        <input type="text" class="form-control" formControlName="fcWoven"
                                            placeholder="Enter Woven">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Chemical</label>
                                        <input type="text" class="form-control" formControlName="fcChemical"
                                            placeholder="Enter Chemical">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>None</label>
                                        <input type="text" class="form-control" formControlName="fcNone"
                                            placeholder="Enter None">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label>Others - Describe</label>
                                        <textarea class="textarea-size" class="form-control" style="font-size: medium;"
                                            formControlName="fcOtherDecription"
                                            placeholder="Enter Others - Describe"></textarea>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel class="body">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h3>Walls</h3>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Type of construction</label>
                                        <input type="text" class="form-control" formControlName="wallType"
                                            placeholder="Enter Type of construction">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Material</label>
                                        <input type="text" class="form-control" formControlName="wallMaterial"
                                            placeholder="Enter Material">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Covering type</label>
                                        <input type="text" class="form-control" formControlName="wallCoveringType"
                                            placeholder="Enter Covering type">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Humidity and dust control</label>
                                        <input type="text" class="form-control" formControlName="wallHumidity"
                                            placeholder="Enter Humidity and dust control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>True floor to true sealing</label>
                                        <input type="text" class="form-control" formControlName="wallSealing"
                                            placeholder="Enter True floor to true sealing">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Additional description</label>
                                        <input type="text" class="form-control" formControlName="wallDesc"
                                            placeholder="Enter Additional description">
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel class="body">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h3>Ceiling Construction</h3>
                                </mat-panel-title>

                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-md-4">
                                    <div>
                                        <label>Description of False (drop) ceiling</label>
                                        <textarea class="textarea-size" class="form-control" style="font-size: medium;"
                                            formControlName="ccFalseDesc"
                                            placeholder="Enter Description of False (drop) ceiling"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Humidity and dust control</label>
                                        <input type="text" class="form-control" formControlName="ccFalseHumidity"
                                            placeholder="Enter Humidity and dust control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Height and use of void space</label>
                                        <input type="text" class="form-control" formControlName="ccFalseHeight"
                                            placeholder="Enter Height and use of void space">
                                    </div>
                                </div>
                                <!-- <div class="col-md-4">
                            <div class="form-group">
                                <label>Utilisation of void</label>
                                <input type="text" class="form-control" placeholder="Enter Utilisation of void">
                            </div>
                        </div> -->

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Utilisation of void</label>
                                        <select class="form-control" formControlName="ccUtilisation">
                                            <option [ngValue]="null">Select Option</option>
                                            <option *ngFor="let value of utilisation">{{value}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div>
                                        <label>Description of true ceiling</label>
                                        <textarea class="textarea-size" class="form-control" style="font-size: medium;"
                                            formControlName="ccTrueDesc"
                                            placeholder="Enter Description of true ceiling"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Humidity and dust control</label>
                                        <input type="text" class="form-control" formControlName="ccTrueHumidity"
                                            placeholder="Enter Humidity and dust control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <label>Description of surface tratment and condition/clealiness</label>
                                        <textarea class="textarea-size" class="form-control" style="font-size: medium;"
                                            formControlName="ccSurfaceDesc"
                                            placeholder="Enter Description of surface tratment and condition/clealiness"></textarea>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel class="body">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h3>Windows</h3>
                                </mat-panel-title>

                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>External</label>
                                        <select class="form-control" formControlName="windowsExternal">
                                            <option [ngValue]="null">Select Option</option>
                                            <option *ngFor="let value of external">{{value}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div>
                                        <label>Description of construction</label>
                                        <textarea class="textarea-size" class="form-control" style="font-size: medium;"
                                            formControlName="windowsDescription"
                                            placeholder="(can the windows be opened?)...!"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Window covering</label>
                                        <select class="form-control" formControlName="windowsCovering">
                                            <option [ngValue]="null">Select Option</option>
                                            <option *ngFor="let value of windowCovering">{{value}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div>
                                        <label>Describe others</label>
                                        <textarea class="textarea-size" class="form-control" style="font-size: medium;"
                                            formControlName="windowsOtherDesc"
                                            placeholder="Enter Describe others"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div>
                                        <label>Description of Internal windows </label>
                                        <textarea class="textarea-size" class="form-control" style="font-size: medium;"
                                            formControlName="windowsInternalDesc"
                                            placeholder="Enter Description of Internal windows "></textarea>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel class="body">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h3>Doors</h3>
                                </mat-panel-title>

                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Material</label>
                                        <input type="text" class="form-control" formControlName="doorsMaterial"
                                            placeholder="Enter Material">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Number</label>
                                        <input type="text" class="form-control" formControlName="doorsNumber"
                                            placeholder="Enter Number">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Width</label>
                                        <input type="text" class="form-control" formControlName="doorsWidth"
                                            placeholder="Enter Width">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Height</label>
                                        <input type="text" class="form-control" formControlName="doorsHeight"
                                            placeholder="Enter Height">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Closure mechanism</label>
                                        <input type="text" class="form-control" formControlName="doorsCloserMechanish"
                                            placeholder="Enter Closure mechanism">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Quality of air sealing</label>
                                        <input type="text" class="form-control" formControlName="doorsQualitySealing"
                                            placeholder="Enter Quality of air sealing">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <label>Description of service area provided</label>
                                        <textarea class="textarea-size" class="form-control" style="font-size: medium;"
                                            formControlName="doorsDesc"
                                            placeholder="Enter Description of service area provided"></textarea>
                                    </div>
                                </div>
                                <!-- <div class="col-md-4">
                            <div class="form-group">
                                <label>Attach room layout as close to scale as possible (or attach site plan drawing, if
                                    current). Show all major equipment: windows, doors, furniture, and so forth. If
                                    possible, make three copies of this drawing for use in subsequent survey
                                    sections</label>
                                <input type="text" class="form-control" placeholder="Enter Attach room layout">

                            </div>
                        </div> -->
                                <!-- <div class="col-md-12">
                            <div class="form-group">
                                <label>Note:</label>
                                <p>Attach room layout as close to scale as possible (or attach site plan drawing, if
                                    current).
                                    Show all major equipment: windows, doors, furniture, and so forth.
                                    If possible, make three copies of this drawing for use in subsequent survey sections
                                </p>
                            </div>
                        </div> -->
                                <div>
                                    <label for="" style="font-weight: normal;">Note: Attach room layout as close to
                                        scale as
                                        possible (or attach site plan drawing, if current). Show all major equipment:
                                        windows,
                                        doors, furniture, and so forth. If possible, make three copies of this drawing
                                        for use
                                        in subsequent survey sections.</label>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </div>
                </div>

                <div class="container">
                    <div style="text-align: center;">
                        <button type="submit" style="width: 100px; margin: 16px auto;"
                        (click)="saveFacilityData()" class="btn btn-success">Next</button>
                    </div>
                </div>

            </form>
        </mat-accordion>
    </div>

</div>