<div class="container body" >
    <div class="main_container">

        <nav class="navbar navbar-light bg-light" style="background-color: #ffffff!important;">
            <a class="navbar-brand"></a>
        </nav>

        <div class="alert alert-success" id="pay-success" style="display:none;">
            <strong>Payment Completed Successfully</strong>
        </div>

        <form [formGroup]="paymentForm">

            <div class="form-group">
                <label for="email">Name</label>
                <input type="text" class="form-control" formControlName="customerName" name="customerName"
                    placeholder="Enter Customer Name" required="required">
            </div>

            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" formControlName="email" name="email" placeholder="Enter Email"
                    required="required">
            </div>

            <div class="form-group">
                <label for="phoneNo">Phone No</label>
                <input type="tel"
                ng2TelInput [ng2TelInputOptions]="{initialCountry: 'in',separateDialCode: 'true'}"
               (keypress)="keyPressNumbers($event)" (countryChange)="countryChange($event)" class="form-control" formControlName="phoneNo" name="phoneNo" placeholder="Phone No">
            </div>

            <div class="form-group">
                <label for="noofLicense">Number of License</label>
                <input   type="text"
                        class="form-control"  (keypress)="keyPressNumbers($event)" (change)="updateLicenceAmount()" formControlName="noofLicense" name="noofLicense" placeholder="Enter Number of License"
                    required="required">
                    <label >Note : 1 License = 500 INR</label>
            </div>
            
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="text" class="form-control" formControlName="amount" name="amount" placeholder="Please fill NoOfLicense"
                    required="required" readonly>
            </div>

            <button type="button" class="btn btn-primary" (click)="onSubmit()" id="rzp-button1"
                style="margin-left: 185px; margin-top: 21px;">Proceed</button>

            <button type="button" style="margin-top: 17px;margin-left: 95px;" class="btn btn-danger" id="closeModal"  (click)="onCancel()">Cancel</button>

        </form>
    </div>
</div>