<div class="card">
    <div class="card-body">
      <form [formGroup]="step1Form" (ngSubmit)="nextTab()">
      <div class="search-bar">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                    <label>Company Name*</label>
                    <select class="form-control" formControlName="clientName" (change)="changeClientName($event)" [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }">
                      <option value="0" selected>Select Client Name</option>
                      <option *ngFor="let client of clientList">{{client.clientName}}</option>
                    </select>
                    <div *ngIf="submitted && f.clientName.errors" class="invalid-feedback">
                      <div *ngIf="f.clientName.errors.required">Client name is required</div>
                  </div> 
              </div>
              <div class="col-md-4">
                    <label>Department Name*</label>
                    <select class="form-control"  formControlName="departmentName" (change)="retrieveSiteInfo($event)" [ngClass]="{ 'is-invalid': submitted && f.departmentName.errors }">
                      <option value="0" selected>Select Department Name</option>
                      <option *ngFor="let department of departmentListInspec">{{department.departmentName}}</option>
                    </select>
                    <div *ngIf="submitted && f.departmentName.errors" class="invalid-feedback">
                      <div *ngIf="f.departmentName.errors.required">Department name is required</div>
                  </div> 
              </div>
              <div class="col-md-4">
                    <label>Site Name*</label>
                    <select class="form-control" formControlName="siteName" (change)="retrieveSiteId($event)" [ngClass]="{ 'is-invalid': submitted && f.siteName.errors }">
                      <option value="0" selected>Select Site Name</option>
                      <option *ngFor="let site of siteListInspec">{{site.site}}</option>
                    </select>
                    <div *ngIf="submitted && f.siteName.errors" class="invalid-feedback">
                      <div *ngIf="f.siteName.errors.required">Site name is required</div>
                  </div> 
              </div>             
            </div>
        </div>
      </div>

      <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Details of Report</h3>
              </mat-panel-title>
  
            </mat-expansion-panel-header>
              
  
            <mat-form-field class="client-description ">
              <mat-label><h3>Description of Report*</h3></mat-label>
              <textarea matInput class="client-box-description" formControlName="descriptionOfReport" maxlength="500" placeholder="Ex. Report description..." [(ngModel)]="reportDetails.descriptionReport" [ngClass]="{ 'is-invalid': submitted && f.descriptionOfReport.errors }"></textarea>
              <div *ngIf="submitted && f.descriptionOfReport.errors" class="invalid-feedback">
                <div *ngIf="f.descriptionOfReport.errors.required">Description is required</div>
            </div> 
            </mat-form-field>
  
            <mat-form-field class="client-description ">
              <mat-label><h3>Reason for the Report*</h3></mat-label>
              <textarea matInput class="client-box-description" formControlName="reasonOfReport" maxlength="500" placeholder="Ex. Report reason..." [(ngModel)]="reportDetails.reasonOfReport" [ngClass]="{ 'is-invalid': submitted && f.reasonOfReport.errors }"></textarea>
              <div *ngIf="submitted && f.reasonOfReport.errors" class="invalid-feedback">
                <div *ngIf="f.reasonOfReport.errors.required">Reason is required</div>
            </div> 
            </mat-form-field>
  
          </mat-expansion-panel>
  
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Installation Details</h3>
              </mat-panel-title>
  
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Type of Installation* :</label>
                  <select class="form-control" formControlName="installationType" (change)="showWiringAge($event)" [(ngModel)]="reportDetails.installationType" [ngClass]="{ 'is-invalid': submitted && f.installationType.errors }">
                    <option value="0" selected>Select option</option>
                    <option *ngFor="let value of installationList">{{value}}</option>
                  </select>
                  <div *ngIf="submitted && f.installationType.errors" class="invalid-feedback">
                    <div *ngIf="f.installationType.errors.required">Installation type is required</div>
                </div> 
                </div>
              </div>
  
              <div class="col-md-4">
                <div class="form-group">
                  <label>Description of the premise* :</label>
                  <select class="form-control" formControlName="descPremise" [(ngModel)]="reportDetails.descriptionPremise" [ngClass]="{ 'is-invalid': submitted && f.descPremise.errors }">
                    <option value="0" selected>Select option</option>
                    <option *ngFor="let value of premiseList">{{value}}</option>
                  </select>
                  <div *ngIf="submitted && f.descPremise.errors" class="invalid-feedback">
                    <div *ngIf="f.descPremise.errors.required">Please enter valid details</div>
                </div> 
                </div>
              </div>
  
              <div class="col-md-4" *ngIf="showField1" style="margin-top: 24px;">
                  <p>Estimated age of wiring system <input type="number" formControlName="showField1" style="
                    width: 50px;
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid #000000;"
                     [(ngModel)]="reportDetails.estimatedWireAge" [ngClass]="{ 'is-invalid': submitted && f.showField1.errors }">years</p>
                     <div *ngIf="submitted && f.showField1.errors" class="invalid-feedback">
                      <div *ngIf="f.showField1.errors.required">Please enter valid details</div>
                     </div> 
              </div>
  
              <div class="col-md-4">
                <label>Evidence of addition/alterations* :</label>
                <select class="form-control" formControlName="evidenceAlterations" (change)="showEstimatedAge($event)" [(ngModel)]="reportDetails.evidanceAddition" [ngClass]="{ 'is-invalid': submitted && f.evidenceAlterations.errors }">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of evidenceList">{{value}}</option>
                </select>
                <div *ngIf="submitted && f.evidenceAlterations.errors" class="invalid-feedback">
                  <div *ngIf="f.evidenceAlterations.errors.required">Evidence is required</div>
              </div> 
              </div>
  
              <div class="col-md-4" *ngIf="showField2" style="margin-top: 43px;">
                <p>If yes estimated age <input type="number" formControlName="showField2" [ngClass]="{ 'is-invalid': submitted && f.showField2.errors }" style="
                  width: 50px;
                  background: transparent;
                  border: none;
                  border-bottom: 1px solid #000000;"
                [(ngModel)]="reportDetails.estimateAgeYes">years</p>
                <div *ngIf="submitted && f.showField2.errors" class="invalid-feedback">
                  <div *ngIf="f.showField2.errors.required">Please enter valid details</div>
                </div> 
              </div>
  
              <div class="col-md-4">
                <label>Previous records available* :</label>
                <select class="form-control" formControlName="previousRecord" [(ngModel)]="reportDetails.previousRecords" [ngClass]="{ 'is-invalid': submitted && f.previousRecord.errors }">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of previousRecordList">{{value}}</option>
                </select>
                <div *ngIf="submitted && f.previousRecord.errors" class="invalid-feedback">
                  <div *ngIf="f.previousRecord.errors.required">Previous record is required</div>
                </div> 
              </div>
  
              <div class="col-md-4">
                <p>Last date of inspection* </p>
                <input type="date" class="form-control" formControlName="inspectionLast" placeholder="Enter Date" [(ngModel)]="reportDetails.lastInspection" [ngClass]="{ 'is-invalid': submitted && f.inspectionLast.errors }">   
                <div *ngIf="submitted && f.inspectionLast.errors" class="invalid-feedback">
                  <div *ngIf="f.inspectionLast.errors.required">Inspection last date is required</div>
                </div>            
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="client-description ">
                  <mat-label><h3>Extent of installation covered by this report*</h3> </mat-label>
                  <textarea matInput class="client-box-description" formControlName="extentInstallation" maxlength="500" placeholder="Ex. Report reason..." [(ngModel)]="reportDetails.extentInstallation" [ngClass]="{ 'is-invalid': submitted && f.extentInstallation.errors }"></textarea>
                  <div *ngIf="submitted && f.extentInstallation.errors" class="invalid-feedback">
                    <div *ngIf="f.extentInstallation.errors.required">Please enter valid details</div>
                  </div> 
                </mat-form-field>
              </div>
            </div>
  
          </mat-expansion-panel>
  
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Details of Client / Person Ordering this Report </h3>
              </mat-panel-title>
      
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="client-description ">
                  <mat-label><h3>Details of client / person ordering this report * (maximum length is 50 )</h3></mat-label>
                  <textarea matInput class="client-box-description" formControlName="detailsOfClient" maxlength="50" [ngClass]="{ 'is-invalid': submitted && f.detailsOfClient.errors }" placeholder=" Ex. Name, address ,purpose ,relation with end user.." [(ngModel)]="reportDetails.clientDetails"></textarea>
                  <div *ngIf="submitted && f.detailsOfClient.errors" class="invalid-feedback">
                    <div *ngIf="f.detailsOfClient.errors.required">Details of client is required</div>
                </div> 
                </mat-form-field>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="client-description ">
                  <mat-label><h3>Details of installation referred in this report * (maximum length is 75 )</h3></mat-label>
                  <textarea matInput class="client-box-description" formControlName="detailsOfInstallation" maxlength="75" [ngClass]="{ 'is-invalid': submitted && f.detailsOfInstallation.errors }" placeholder=" Ex. Occupier ,address details etc.." [(ngModel)]="reportDetails.installationDetails"></textarea>
                  <div *ngIf="submitted && f.detailsOfInstallation.errors" class="invalid-feedback">
                    <div *ngIf="f.detailsOfInstallation.errors.required">Details of installation is required</div>
                </div> 
                </mat-form-field>
              </div>
            </div>
  
            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <h3>Date of starting the verification *</h3>
                  <input type="date" class="form-control" formControlName="startingDateVerification"  [ngClass]="{ 'is-invalid': submitted && f.startingDateVerification.errors }" placeholder="Enter Date" [(ngModel)]="reportDetails.verficationDate">      
                  <div *ngIf="submitted && f.startingDateVerification.errors" class="invalid-feedback">
                    <div *ngIf="f.startingDateVerification.errors.required">Please enter valid details</div>
                </div>         
                </div>
  
                <div class="col-md-4">
                  <label>Name of Engineer who carries out verification * :</label>
                  <input type="text" class="form-control" formControlName="engineerName" placeholder="Enter Engineer Name" [(ngModel)]="reportDetails.verifedEngineer" [ngClass]="{ 'is-invalid': submitted && f.engineerName.errors }">
                  <div *ngIf="submitted && f.engineerName.errors" class="invalid-feedback">
                    <div *ngIf="f.engineerName.errors.required">Engineer name is required</div>
                </div> 
                </div>
  
                <div class="col-md-4">
                  <label>Designation* :</label>
                  <input type="text" class="form-control" formControlName="designation" style="margin-top: 20px;" placeholder="Enter Designation" [(ngModel)]="reportDetails.designation" [ngClass]="{ 'is-invalid': submitted && f.designation.errors }">
                  <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                    <div *ngIf="f.designation.errors.required">Designation is required</div>
                </div> 
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <label>Company* :</label>
                  <input type="text" class="form-control" formControlName="companyName" style="margin-top: 20px;" placeholder="Enter Company Name" [(ngModel)]="reportDetails.company" [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }">
                  <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
                    <div *ngIf="f.companyName.errors.required">Company name is required</div>
                </div> 
                </div>
  
                <div class="col-md-4">
                  <label>Read and confirmed the extent and limitations* :</label>
                  <select class="form-control" formControlName="confirmExtent" [(ngModel)]="reportDetails.confirmExtent" [ngClass]="{ 'is-invalid': submitted && f.confirmExtent.errors }">
                    <option value="0" selected>Select option</option>
                    <option *ngFor="let value of previousRecordList">{{value}}</option>
                  </select> 
                  <div *ngIf="submitted && f.confirmExtent.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmExtent.errors.required">Please enter valid details</div>
                </div>              
                </div>
              </div>
            </div>
            
          </mat-expansion-panel>
  
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Liability and Declaration</h3>
              </mat-panel-title>
  
            </mat-expansion-panel-header>
            <h3><b>Declaration of designer  of the electrical installation:</b></h3>
            <div class="form-group">
                <p>
                  I/we being the person responsible for the design of the electrical installation (as indicated by my/our signatures below), particulars of which are described above, having exercised reasonable skill and care when carrying out the design hereby declare that design work for which I/We have been responsible is to the best of my/our knowledge and belief in accordance with IEC 60364					
                </p>
                <p>
                  The extent of liability of the signatory or signatories is limited to the work described above as the subject of this report.					
                </p>

                <div formArrayName="designer1AcknowledgeArr" *ngFor="let a of getDesigner1AcknowledgeControls(); let i = index">
                  <div class="form-group" [formGroupName]="i">
  
                    <h2>Designer 1* :</h2>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Signature:</label>
                        <input type="text" formControlName="signature" class="form-control">
                      </div>
      
                      <div class="col-md-4">
                        <label>Date:</label>
                        <input type="date" formControlName="declarationDate" class="form-control" placeholder="Enter Date">              
                      </div>
      
                      <div class="col-md-4">
                        <label>Name (In block letters) :</label>
                        <input type="text" formControlName="declarationName" class="form-control" placeholder="Enter Designer Name">
                      </div>
                    </div>

                  </div>
                </div>
  
              <div formArrayName="designer2AcknowledgeArr" *ngFor="let a of getDesigner2AcknowledgeControls(); let i = index">
                <div class="form-group" [formGroupName]="i">               
                   <h2>Designer 2: (Optional)</h2>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Signature:</label>
                        <input type="text" formControlName="signature" class="form-control">
                      </div>
      
                      <div class="col-md-4">
                        <label>Date:</label>
                        <input type="date" formControlName="declarationDate" class="form-control" placeholder="Enter Date">              
                      </div>
      
                      <div class="col-md-4">
                        <label>Name (In block letters) :</label>
                        <input type="text" formControlName="declarationName" class="form-control" placeholder="Enter Designer Name">
                      </div>
                    </div>

                  </div>
                </div>
            </div>
            
            <div class="form-group">
                <h3><b>Declaration of contractor of installation:</b></h3>
                  <p>
                    I/we being the person responsible for the construction of the electrical installation (as indicated by my/our signatures below), particulars of which are described above, having exercised reasonable skill and care when carrying out the design hereby declare that the design work for which I/We have been responsible is to the best of my/our knowledge and belief in accordance with IEC 60364					
                  </p>
                  <p>
                    The extent of liability of the signatory is limited to the work described above as the subject of this report.					
                  </p>
    
                  <div formArrayName="contractorAcknowledgeArr" *ngFor="let a of getContractorAcknowledgeControls(); let i = index">
                    <div class="form-group" [formGroupName]="i">
                      <h2>Contractor* :</h2>
                      <div class="row">
                        <div class="col-md-4">
                          <label>Signature:</label>
                          <input type="text" formControlName="signature" class="form-control">
                        </div>
        
                        <div class="col-md-4">
                          <label>Date:</label>
                          <input type="date" formControlName="declarationDate" class="form-control" placeholder="Enter Date">              
                        </div>
        
                        <div class="col-md-4">
                          <label>Name (In block letters) :</label>
                          <input type="text" formControlName="declarationName" class="form-control" placeholder="Enter Contractor Name">
                        </div>
                      </div>

                    </div>
                  </div>
            </div>
            
            <div class="form-group">
                <h3><b>Declaration of Safety Engineer (Inspector):</b></h3>
                  <p>
                    I/we being the person responsible for the inspection & testing  of the electrical installation (as indicated by my/our signatures below), particulars of which are described above, having exercised reasonable skill and care when carrying out the design hereby declare that the design work for which I/We have been responsible is to the best of my/our knowledge and belief in accordance with IEC 60364					
                  </p>
                  <p>
                    The extent of liability of the signatory is limited to the work described above as the subject of this report.					
                  </p>
                  <div formArrayName="inspectorAcknowledgeArr" *ngFor="let a of getInspectorAcknowledgeControls(); let i = index">
                    <div class="form-group" [formGroupName]="i">
    
                      <h2>Inspector* :</h2>
                      <div class="row">
                        <div class="col-md-4">
                          <label>Signature:</label>
                          <input type="text" formControlName="signature" class="form-control">
                        </div>
        
                        <div class="col-md-4">
                          <label>Date:</label>
                          <input type="date" formControlName="declarationDate" class="form-control" placeholder="Enter Date">              
                        </div>
        
                        <div class="col-md-4">
                          <label>Name (In block letters) :</label>
                          <input type="text" formControlName="declarationName" class="form-control" placeholder="Enter Inspector Name">
                        </div>
                      </div>

                    </div>
                  </div>
            </div>
    
          </mat-expansion-panel>
  
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Next Inspection</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I/We recommend that installation is further inspected and tested after an interval of not more than <input type="number" [ngClass]="{ 'is-invalid': submitted && f.nextInspection.errors }" style="
              width: 75px;
              background: transparent;
              border: none;
              border-bottom: 1px solid #000000;"
            [(ngModel)]="reportDetails.nextInspection" formControlName="nextInspection" placeholder="Enter year"></p>
            <div *ngIf="submitted && f.nextInspection.errors" class="invalid-feedback">
              <div *ngIf="f.nextInspection.errors.required">Please enter valid details</div>
          </div>  
          </mat-expansion-panel>
  
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Details of signatories to the verification report</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h2>Designer Details</h2>
            
            <mat-icon *ngIf="showAddButton" class="mousechange" (click)="addDesigner()" style="float:right; padding-right: 37px; padding-top: 10px;">add_box</mat-icon>

              <div formArrayName="designer1Arr" *ngFor="let a of getDesigner1Controls(); let i = index">
                <div class="form-group" [formGroupName]="i">
                  <h2>Designer 1*</h2>
              
                  <div class="form-group" >
                    <div class="row">
                        <div class="col-md-4">
                            <label>Person Name:</label>        
                            <input type="text"  formControlName="personName" class="form-control"  placeholder="Enter Person Name" >
                        </div>
            
                        <div class="col-md-4">
                            <label>Contact No:</label>        
                            <input type="number"  formControlName="personContactNo" class="form-control"  placeholder="Enter Contact Number" >
                        </div>
            
                        <div class="col-md-4">
                            <label>Email:</label>        
                            <input type="text"  formControlName="personMailID" class="form-control"  placeholder="Enter Email Address" >
                        </div>       
                    </div>                            
                  </div>   
      
  
                  <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Manager Name:</label>        
                            <input type="text"  formControlName="managerName" class="form-control"  placeholder="Enter Manager Name" >
                        </div>
            
                        <div class="col-md-4">
                          <label>Contact No:</label>        
                          <input type="number"  formControlName="managerContactNo" class="form-control"  placeholder="Enter Contact Number" >
                        </div>
          
                        <div class="col-md-4">
                            <label>Email:</label>        
                            <input type="text"  formControlName="managerMailID" class="form-control"  placeholder="Enter Email Address" >
                        </div>
                    </div>
                  </div>
            
            
                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-4">
                              <label>Company Name:</label>        
                              <input type="text"  formControlName="companyName" class="form-control"  placeholder="Enter Company Name" >
                          </div>
              
                          <div class="col-md-4">
                              <label>AddressLine1:</label>        
                              <input type="text"  formControlName="addressLine1" class="form-control"  placeholder="Enter Address Line1" >
                          </div>
              
                          <div class="col-md-4">
                              <label>AddressLine2:</label>        
                              <input type="text"  formControlName="addressLine2" class="form-control"  placeholder="Enter Address Line2" >
                          </div>
                      </div>
                  </div>
            
                  <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Site Landmark:</label>        
                            <input type="text"  formControlName="landMark" class="form-control"  placeholder="Enter Landmark" >
                        </div>
            
                        <div class="col-md-4">
                            <label>Country:</label>
                            <select  formControlName="country" class="form-control" (change)="designer1changeCountry($event)"  >
                                <option value="0" selected>Select Country Name</option>
                                <option *ngFor="let country of countryList">{{country.name}}</option>
                            </select>
                        </div>
            
                        <div class="col-md-4">
                            <label>State:</label>
                            <select  formControlName="state" class="form-control" >
                                <option value="0" selected>Select State Name</option>
                                <option *ngFor="let state of stateList1">{{state.name}}</option>
                            </select>
                        </div>
                    </div>
                  </div>
            
                  <div class="form-group">    
                      <div class="row">
                          <div class="col-md-4">
                              <label>Pincode:</label>        
                              <input type="number"  formControlName="pinCode" class="form-control"  placeholder="Enter Pincode" >
                          </div>
                          <div class="col-md-4" *ngIf="false">
                            <input type="text"  formControlName="signatorRole" class="form-control" >
                          </div>
                          <div class="col-md-4" *ngIf="false">
                            <input type="text"  formControlName="declarationName" class="form-control" >
                          </div>
                          <div class="col-md-4" *ngIf="false">
                            <input type="text"  formControlName="declarationDate" class="form-control" >
                          </div>
                      </div>   
                  </div>
                </div>
              </div>
                         
              <div *ngIf="showDesigner2">

                <mat-icon class="mousechange"  (click)="removeDesigner()" style="float:right; padding-right: 37px; padding-top: 10px;">delete</mat-icon>

                <div formArrayName="designer2Arr" *ngFor="let a of getDesigner2Controls(); let i = index">
                  <div class="form-group" [formGroupName]="i">
                    <h2>Designer 2 (optional)</h2>
            
                    <div class="form-group" >
                      <div class="row">
                          <div class="col-md-4">
                              <label>Person Name:</label>        
                              <input type="text"  formControlName="personName" class="form-control"  placeholder="Enter Person Name" >
                          </div>
              
                          <div class="col-md-4">
                              <label>Contact No:</label>        
                              <input type="number"  formControlName="personContactNo" class="form-control"  placeholder="Enter Contact Number" >
                          </div>
              
                          <div class="col-md-4">
                              <label>Email:</label>        
                              <input type="text"  formControlName="personMailID" class="form-control"  placeholder="Enter Email Address" >
                          </div>       
                      </div>                            
                    </div>   
        
      
                    <div class="form-group">
                      <div class="row">
                          <div class="col-md-4">
                              <label>Manager Name:</label>        
                              <input type="text"  formControlName="managerName" class="form-control"  placeholder="Enter Manager Name" >
                          </div>
              
                          <div class="col-md-4">
                            <label>Contact No:</label>        
                            <input type="number"  formControlName="managerContactNo" class="form-control"  placeholder="Enter Contact Number" >
                          </div>
            
                          <div class="col-md-4">
                              <label>Email:</label>        
                              <input type="text"  formControlName="managerMailID" class="form-control"  placeholder="Enter Email Address" >
                          </div>
                      </div>
                    </div>
              
              
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Company Name:</label>        
                                <input type="text"  formControlName="companyName" class="form-control"  placeholder="Enter Company Name" >
                            </div>
                
                            <div class="col-md-4">
                                <label>AddressLine1:</label>        
                                <input type="text"  formControlName="addressLine1" class="form-control"  placeholder="Enter Address Line1" >
                            </div>
                
                            <div class="col-md-4">
                                <label>AddressLine2:</label>        
                                <input type="text"  formControlName="addressLine2" class="form-control"  placeholder="Enter Address Line2" >
                            </div>
                        </div>
                    </div>
              
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Site Landmark:</label>        
                                <input type="text"  formControlName="landMark" class="form-control"  placeholder="Enter Landmark" >
                            </div>
                
                            <div class="col-md-4">
                                <label>Country:</label>
                                <select  formControlName="country" class="form-control" (change)="designer2changeCountry($event)"  >
                                    <option value="0" selected>Select Country Name</option>
                                    <option *ngFor="let country of countryList">{{country.name}}</option>
                                </select>
                            </div>
                
                            <div class="col-md-4">
                                <label>State:</label>
                                <select  formControlName="state" class="form-control" >
                                    <option value="0" selected>Select State Name</option>
                                    <option *ngFor="let state of stateList2">{{state.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
              
                    <div class="form-group">    
                        <div class="row">
                            <div class="col-md-4">
                                <label>Pincode:</label>        
                                <input type="number"  formControlName="pinCode" class="form-control"  placeholder="Enter Pincode" >
                            </div>
                            <div class="col-md-4" *ngIf="false">
                              <input type="text"  formControlName="signatorRole" class="form-control" value="designer">
                            </div>
                            <div class="col-md-4" *ngIf="false">
                              <input type="text"  formControlName="declarationName" class="form-control" >
                            </div>
                            <div class="col-md-4" *ngIf="false">
                              <input type="text"  formControlName="declarationDate" class="form-control" >
                            </div>
                        </div>   
                    </div>
                  </div>
                </div> 
              </div>             
          </mat-expansion-panel>
  
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Details of Contractor</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h2>Contractor Details*</h2>
      
              <div formArrayName="contractorArr" *ngFor="let a of getContractorControls(); let i = index">
                  <div class="form-group" [formGroupName]="i">
            
                    <div class="form-group" >
                      <div class="row">
                          <div class="col-md-4">
                              <label>Person Name:</label>        
                              <input type="text"  formControlName="personName" class="form-control"  placeholder="Enter Person Name" >
                          </div>
              
                          <div class="col-md-4">
                              <label>Contact No:</label>        
                              <input type="number"  formControlName="personContactNo" class="form-control"  placeholder="Enter Contact Number" >
                          </div>
              
                          <div class="col-md-4">
                              <label>Email:</label>        
                              <input type="text"  formControlName="personMailID" class="form-control"  placeholder="Enter Email Address" >
                          </div>       
                      </div>                            
                    </div>   
        
      
                    <div class="form-group">
                      <div class="row">
                          <div class="col-md-4">
                              <label>Manager Name:</label>        
                              <input type="text"  formControlName="managerName" class="form-control"  placeholder="Enter Manager Name" >
                          </div>
              
                          <div class="col-md-4">
                            <label>Contact No:</label>        
                            <input type="number"  formControlName="managerContactNo" class="form-control"  placeholder="Enter Contact Number" >
                          </div>
            
                          <div class="col-md-4">
                              <label>Email:</label>        
                              <input type="text"  formControlName="managerMailID" class="form-control"  placeholder="Enter Email Address" >
                          </div>
                      </div>
                    </div>
              
              
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Company Name:</label>        
                                <input type="text"  formControlName="companyName" class="form-control"  placeholder="Enter Company Name" >
                            </div>
                
                            <div class="col-md-4">
                                <label>AddressLine1:</label>        
                                <input type="text"  formControlName="addressLine1" class="form-control"  placeholder="Enter Address Line1" >
                            </div>
                
                            <div class="col-md-4">
                                <label>AddressLine2:</label>        
                                <input type="text"  formControlName="addressLine2" class="form-control"  placeholder="Enter Address Line2" >
                            </div>
                        </div>
                    </div>
              
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Site Landmark:</label>        
                                <input type="text"  formControlName="landMark" class="form-control"  placeholder="Enter Landmark" >
                            </div>
                
                            <div class="col-md-4">
                                <label>Country:</label>
                                <select  formControlName="country" class="form-control" (change)="contractorchangeCountry($event)"  >
                                    <option value="0" selected>Select Country Name</option>
                                    <option *ngFor="let country of countryList">{{country.name}}</option>
                                </select>
                            </div>
                
                            <div class="col-md-4">
                                <label>State:</label>
                                <select  formControlName="state" class="form-control" >
                                    <option value="0" selected>Select State Name</option>
                                    <option *ngFor="let state of stateList3">{{state.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
              
                    <div class="form-group">    
                        <div class="row">
                            <div class="col-md-4">
                                <label>Pincode:</label>        
                                <input type="number"  formControlName="pinCode" class="form-control"  placeholder="Enter Pincode" >
                            </div>
                            <div class="col-md-4" *ngIf="false">
                              <input type="text"  formControlName="signatorRole" class="form-control" value="designer">
                            </div>
                            <div class="col-md-4" *ngIf="false">
                              <input type="text"  formControlName="declarationName" class="form-control" >
                            </div>
                            <div class="col-md-4" *ngIf="false">
                              <input type="text"  formControlName="declarationDate" class="form-control" >
                            </div>
                        </div>   
                    </div>
                  </div>
                </div>
              
          </mat-expansion-panel>
  
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Details of Inspector</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h2>Inspector Details*</h2>
      
                        
              <div formArrayName="inspectorArr" *ngFor="let a of getInspectorControls(); let i = index">
                <div class="form-group" [formGroupName]="i">
          
                  <div class="form-group" >
                    <div class="row">
                        <div class="col-md-4">
                            <label>Person Name:</label>        
                            <input type="text"  formControlName="personName" class="form-control"  placeholder="Enter Person Name" >
                        </div>
            
                        <div class="col-md-4">
                            <label>Contact No:</label>        
                            <input type="number"  formControlName="personContactNo" class="form-control"  placeholder="Enter Contact Number" >
                        </div>
            
                        <div class="col-md-4">
                            <label>Email:</label>        
                            <input type="text"  formControlName="personMailID" class="form-control"  placeholder="Enter Email Address" >
                        </div>       
                    </div>                            
                  </div>   
      
    
                  <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Manager Name:</label>        
                            <input type="text"  formControlName="managerName" class="form-control"  placeholder="Enter Manager Name" >
                        </div>
            
                        <div class="col-md-4">
                          <label>Contact No:</label>        
                          <input type="number"  formControlName="managerContactNo" class="form-control"  placeholder="Enter Contact Number" >
                        </div>
          
                        <div class="col-md-4">
                            <label>Email:</label>        
                            <input type="text"  formControlName="managerMailID" class="form-control"  placeholder="Enter Email Address" >
                        </div>
                    </div>
                  </div>
            
            
                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-4">
                              <label>Company Name:</label>        
                              <input type="text"  formControlName="companyName" class="form-control"  placeholder="Enter Company Name" >
                          </div>
              
                          <div class="col-md-4">
                              <label>AddressLine1:</label>        
                              <input type="text"  formControlName="addressLine1" class="form-control"  placeholder="Enter Address Line1" >
                          </div>
              
                          <div class="col-md-4">
                              <label>AddressLine2:</label>        
                              <input type="text"  formControlName="addressLine2" class="form-control"  placeholder="Enter Address Line2" >
                          </div>
                      </div>
                  </div>
            
                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-4">
                              <label>Site Landmark:</label>        
                              <input type="text"  formControlName="landMark" class="form-control"  placeholder="Enter Landmark" >
                          </div>
              
                          <div class="col-md-4">
                              <label>Country:</label>
                              <select  formControlName="country" class="form-control" (change)="inspectorchangeCountry($event)"  >
                                  <option value="0" selected>Select Country Name</option>
                                  <option *ngFor="let country of countryList">{{country.name}}</option>
                              </select>
                          </div>
              
                          <div class="col-md-4">
                              <label>State:</label>
                              <select  formControlName="state" class="form-control" >
                                  <option value="0" selected>Select State Name</option>
                                  <option *ngFor="let state of stateList4">{{state.name}}</option>
                              </select>
                          </div>
                      </div>
                  </div>
            
                  <div class="form-group">    
                      <div class="row">
                          <div class="col-md-4">
                              <label>Pincode:</label>        
                              <input type="number"  formControlName="pinCode" class="form-control"  placeholder="Enter Pincode" >
                          </div>
                          <div class="col-md-4" *ngIf="false">
                            <input type="text"  formControlName="signatorRole" class="form-control" value="designer">
                          </div>
                          <div class="col-md-4" *ngIf="false">
                            <input type="text"  formControlName="declarationName" class="form-control" >
                          </div>
                          <div class="col-md-4" *ngIf="false">
                            <input type="text"  formControlName="declarationDate" class="form-control" >
                          </div>
                      </div>   
                  </div>
                </div>
              </div>                  
          </mat-expansion-panel>
      </mat-accordion>

      <div style="text-align: center;margin-top: 40px;">
        <button class="previous" mat-button matStepperPrevious>&laquo; Back</button>
        <button [disabled]="loading" class="next" mat-button matStepperNext>Next &raquo;</button>
      </div>

      <!-- <div style="display: inline;">
          <button  [disabled]="loading" style="float: left;" type="submit"  class="btn btn-block btn-primary btn-rounded btn-lg font-weight-medium auth-form-btn"><i class="bi bi-person-plus-fill icon"></i> Next</button>
          <button  [routerLink]="['/login']" style="float:right;"  class="btn btn-outline-danger cancel" ><i class="bi bi-x icon"></i> Cancel</button>
      </div> -->
    </form>
    </div>
  </div>