/* table {
    width: 811px;
    text-align: justify;
  } */
  .auth-form-btn {
    width: 20%;
    margin: 0 auto;
}

  .mat-row.hovered {
    background: #eee;
  }
  
  .mat-row.highlighted {
    background: #999;
  }

mat-cell.mat-cell,
mat-header-cell.mat-header-cell {
  overflow-x: scroll;
  min-width: 200px;
}

.delete {   
    height: 35px;
}

.search-bar {
    border: 2px solid #b1b1b1;
    padding: 15px;
    border-radius: 4px;
}

.select.form-control {
  padding: .4375rem .75rem;
    border: 0;
    outline: 1px solid #f3f3f3;
    color: #c9c8c8;
}
.mousechange:hover {
  cursor: pointer;
}

.client-description {
  width: 800px;
  height: 150px;
}

.client-box-description {
  height: 100px;
}





.cancel {
  margin-top: 40px;
  width: 10%; 
  height: 47px;
  border-radius: 1.25rem !important;
}
.previous {
  background-color: #f1f1f1;
  color: black;
  /* position: relative;
  bottom: 57px;
  left: 40%; */
}
.previous:hover {
  background-color: #747a76;
  color: white;
  /* position: relative;
  bottom: 57px;
  left: 40%; */
}
.next{
  background-color: #f1f1f1;
  color: black;
  /* margin-left: 30px; */
  margin: 0 auto;
}
.next:hover{
  background-color: #04AA6D;
  color: white;
  /* margin-left: 30px; */
  margin: 0 auto;
}
.reply{
  background-color: #f1f1f1;
  color: black;
  margin-left: 30px;
  width: 7%;
  padding-left: 11px;
}
.reply:hover{
  background-color: #04a2aa;
  color: white;
  margin-left: 30px;
  width: 7%;
  padding-left: 11px;
}

/* textarea::-webkit-input-placeholder {
text-align: center;
} */

.example-section {
  margin: 12px 0;
  display: contents;
}

.example-margin {
  margin: 0 12px;
  float: right;
}
.next:disabled {
  background-color: lightgrey;
    color: black;
    margin-left: 30px;
    cursor: not-allowed;
  }   
/* comments */
.commentbtn{
     background-color: #f1f1f1;
     color: black;
     margin: 0 auto;
     display: block;
}
.commentbtn:hover{
  background-color: #04a2aa;
  color: white;
  margin: 0 auto;
  display: block;
}
  h4 {
    margin: 2rem 0rem 1rem;
  }
  .disable:hover{
    cursor: not-allowed;
    }
    .disable:active{
    pointer-events: none;
    }

    .menu-button {
      transition: 300ms ease-in-out;
      transform: rotate(0deg);
    }
    .menu-button .rotated {
      transform: rotate(90deg);
    }
    /* .menu-button::after {
      border-style: solid;
      border-width: 0 2px 2px 0;
      content: "";
      display: inline-block;
      padding: 3px;
      transform: rotate(
  45deg);
      vertical-align: middle;
  } */
.rejectScenario{
  /* pointer-events: none; */
  cursor: not-allowed;
}

p span {
  display: inline-block;
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}

.disableForm{
  pointer-events: none;
}
  
::ng-deep .multiline-tooltip{
  white-space: pre-line;
  }

  #textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 118px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 400px;
}

