<div *ngIf="validationErrorTab" style="text-align: center;">
  <span class="alert alert-danger">{{validationErrorMsgTab}}</span>
</div>
<div class="card">
  <div class="card-body">
<form [formGroup]="addsummary" (ngSubmit)="SubmitTab5(flag,content5)" (keyup)="onKeyForm($event)" (change)="onChangeForm($event)">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Extent And Limitations Of Inspection And Testing</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="form-group">                    
              <div class="row">
                  <div class="col-sm-12">
                    <mat-icon style="float: right;font-size: 18px;
                      line-height: unset;"
                       matTooltip="Actual area / portion of the building/block/floor details covered in this report"
                       matTooltipClass="multiline-tooltip"
                       aria-label="Button that shows a red tooltip"
                       class="example-button"> info_outline
                     </mat-icon>
                    <div class="form-group" [ngClass]="{'disableForm':service.allFieldsDisable}">
                      <label>Extent Of Installation Covered By This Report:</label>
                      
                      <input type="text" class="form-control" formControlName="extentInstallation"
                      [(ngModel)]="summary.extentInstallation" [readonly]="service.allFieldsDisable"
                      [ngClass]="{ 'is-invalid': submitted && f.extentInstallation?.errors }">
                      <div *ngIf="submitted && f.extentInstallation?.errors" class="invalid-feedback">
                        <div *ngIf="f.extentInstallation?.errors?.required">Field Is Required</div>
                    </div>
                    </div>
                  </div>
                  <div class="col-sm-12" [ngClass]="{'disableForm':service.allFieldsDisable}">
                    <div class="form-group">
                      <label>Agreed Limitations Including The Reasons:</label>
                      <input type="text" class="form-control" formControlName="agreedLimitations"
                      [(ngModel)]="summary.agreedLimitations"  [readonly]="service.allFieldsDisable"
                      [ngClass]="{ 'is-invalid': submitted && f.agreedLimitations?.errors }">
                      <div *ngIf="submitted && f.agreedLimitations?.errors" class="invalid-feedback">
                        <div *ngIf="f.agreedLimitations?.errors?.required">Field Is Required</div>
                    </div>
                    </div>
                  </div>
    
                  <div class="col-sm-12" [ngClass]="{'disableForm':service.allFieldsDisable}">
                    <div class="form-group">
                      <label>Agreed With:</label>
                      <input type="text" class="form-control" formControlName="agreedWith"
                      [(ngModel)]="summary.agreedWith" [readonly]="service.allFieldsDisable"
                      [ngClass]="{ 'is-invalid': submitted && f.agreedWith?.errors }">
                      <div *ngIf="submitted && f.agreedWith?.errors" class="invalid-feedback">
                        <div *ngIf="f.agreedWith?.errors?.required">Field Is Required</div>
                    </div>
                    </div>
                  </div>
    
                  <div class="col-sm-12" [ngClass]="{'disableForm':service.allFieldsDisable}">
                    <div class="form-group">
                      <label>Operational Limitations Including The Reasons:</label>
                      <input type="text" class="form-control" formControlName="operationalLimitations"
                      [(ngModel)]="summary.operationalLimitations" [readonly]="service.allFieldsDisable"
                      [ngClass]="{ 'is-invalid': submitted && f.operationalLimitations?.errors }">
                      <div *ngIf="submitted && f.operationalLimitations?.errors" class="invalid-feedback">
                        <div *ngIf="f.operationalLimitations?.errors?.required">Field Is Required</div>
                    </div>
                    </div>
                  </div>
    
                  <!-- <div class="col-sm-12">
                    <div class="form-group">
                      <label>The inspection and testing detailed in this report have been carried out in accordance 
                        with IEC60364. It should be note that cables concealed within trunk/trench and conduits, 
                        under floors and generally within the fabric of the building or underground, have not been 
                        inspected unless specifically agreed between the client and inspector prior to inspection:</label>
                        <input type="text" class="form-control" formControlName="inspectionTestingDetailed"
                        [(ngModel)]="summary.inspectionTestingDetailed" [readonly]="service.allFieldsDisable"
                        [ngClass]="{ 'is-invalid': submitted && f.inspectionTestingDetailed?.errors }">
                        <div *ngIf="submitted && f.inspectionTestingDetailed?.errors" class="invalid-feedback">
                          <div *ngIf="f.inspectionTestingDetailed?.errors?.required">Field Is Required</div>
                      </div>
                    </div>
                  </div> -->
                </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Observations </h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <div class="row">
              <div class="col-sm-12">
                <mat-icon style="float: right;font-size: 18px;
                    line-height: unset;"
                     matTooltip="If no remedial action required is selected, then following table is not necessary"
                     matTooltipClass="multiline-tooltip"
                     aria-label="Button that shows a red tooltip"
                     class="example-button"> info_outline
                   </mat-icon>
                <div class="form-group" [ngClass]="{'disableForm':service.allFieldsDisable}">
                  <label>Referring to attached inspection report and test results and subject to the 
                    limitations specified at the extent and limitations of inspection and testing :</label>
                    
                  <select class="form-control" formControlName="limitationsInspection" (change)="onChange($event)"
                  [(ngModel)]="summary.limitationsInspection" [disabled]="service.allFieldsDisable" [tabindex]="service.allFieldsDisable ? -1 : 0"
                  [ngClass]="{ 'is-invalid': submitted && f.limitationsInspection?.errors }">
                  <option value="" selected>Select Option</option>
                  <option value="No remedial action required" [selected]="f.limitationsInspection?.value === 'No remedial action required'"
                  [disabled]="NoRemedial">No remedial action required</option>
                  <option value="The following observations are made" [selected]="f.limitationsInspection?.value === 'The following observations are made'"
                  [disabled]="observationsMade">The following observations are made</option>
                  <!-- <option *ngFor="let a of observationList" [selected]="a === summary.limitationsInspection">{{a}}</option> -->
                  <!-- <option value="No remedial action required" [selected]="f.limitationsInspection?.value === summary.limitationsInspection">No remedial action required</option>
                  <option value="The following observations are made" [selected]="f.limitationsInspection?.value === summary.limitationsInspection">The following observations are made</option> -->
                </select>
                <div *ngIf="submitted && f.limitationsInspection?.errors" class="invalid-feedback">
                  <div *ngIf="f.limitationsInspection?.errors?.required">Field is required</div>
                </div>
                </div>
              </div>
         </div>
         <div *ngIf="selectedType">
              <div formArrayName="ObservationsArr" *ngFor="let a of getObservationsControls(); let i = index">
              <div class="form-group" [formGroupName]="i" [ngClass]="{'disableForm':service.allFieldsDisable}">
            <div class="form-group">
            <!-- <div class="row">
              <div class="col-sm-12">
                <div class="form-group">

                  always need to commented
                  <mat-icon class="mousechange" (click)="addObservations()" [ngClass]="{'disableForm':service.allFieldsDisable}"
                  style="margin-top: 2px;float: right;cursor: pointer;">add_box</mat-icon>
                <mat-form-field class="client-description">

                  <label>
                    <h3>Observations :
                  </h3>
                  </label>

                  always need to commented
                  <textarea matInput class="client-box-description" maxlength="500" formControlName="observations"
                   placeholder="Ex. Report description..." [readonly]="service.allFieldsDisable"
                   [ngClass]="{ 'is-invalid': submitted &&  a.get('observations')?.errors }"></textarea>

                <ul style="list-style: none;
                margin-top: -15px;
                margin-left: -35px;">
                    <li>Supply Characteristics:
                      <textarea matInput cols="30" rows="1"
                      formControlName="observationsSupply"
                      placeholder="Ex. Supply Observations..." readonly style="background-color: #e9ecef;border-bottom: 1px solid black;"
                      [ngClass]="{ 'is-invalid': submitted &&  a.get('observationsSupply')?.errors }"></textarea> 
                      <div *ngIf="submitted && a.get('observationsSupply')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('observationsSupply')?.errors?.required">Field Is Required</div>
                    </div>
                    </li>
                    <br>
                    <li>Inspection:
                      <textarea matInput cols="30" rows="1" maxlength="500" 
                      formControlName="observationsInspection"
                      placeholder="Ex. Inspection Observations..." readonly style="background-color: #e9ecef;border-bottom: 1px solid black;"
                      [ngClass]="{ 'is-invalid': submitted &&  a.get('observationsInspection')?.errors }"></textarea>  
                      <div *ngIf="submitted && a.get('observationsInspection')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('observationsInspection')?.errors?.required">Field Is Required</div>
                    </div>
                    </li>
                    <br>
                    <li>Testing:
                      <textarea matInput cols="30" rows="1" maxlength="500" 
                      formControlName="observationsTesting"
                      placeholder="Ex. Testing Observations..." readonly style="background-color: #e9ecef;border-bottom: 1px solid black;"
                      [ngClass]="{ 'is-invalid': submitted &&  a.get('observationsTesting')?.errors }"></textarea> 
                      <div *ngIf="submitted && a.get('observationsTesting')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('observationsTesting')?.errors?.required">Field Is Required</div>
                    </div>
                    </li>
                  </ul>

                always need to commented
                </mat-form-field>
                
              </div>
              </div>
            </div> -->

              <!-- Observation starts here -->
              <label>
                <h3><b>Observations :</b></h3>
              </label>
              <br>
              <label>
                <h3 style="cursor: pointer;" (click)= "navigateToStep(1)"><b><u>Supply Characteristics Observations :</u></b>
              </h3>
              </label>

              <div class="row" style="margin-left: 10px;">
                <div>
                  <label>Mains Observation: </label>
                </div>
                <div class="col-md-9">
                  <textarea matInput cols="30" rows="1"
                  formControlName="mainsObservations"
                  placeholder="Ex. Supply Observations..." readonly style="background-color: #e9ecef;border-bottom: 1px solid black;"
                  [ngClass]="{ 'is-invalid': submitted &&  a.get('mainsObservations')?.errors }"></textarea> 
                  <div *ngIf="submitted && a.get('mainsObservations')?.errors" class="invalid-feedback">
                    <div *ngIf="a.get('mainsObservations')?.errors?.required">Field Is Required</div>
                </div>          
                </div>
              </div>
              <br>

              <div class="row" style="margin-left: 10px;" formArrayName="alternateArr" *ngFor="let b of getAlternateControls(a); let j = index">
                <div>
                  <label>Alternate Observations-{{j+1}} :</label>
                </div>
                  <div class="col-md-9" [formGroupName]="j">
                  <div class="form-group" >
                    <textarea matInput cols="30" rows="1"
                    formControlName="alternateObservations"
                    placeholder="Ex. Supply Observations..." readonly style="background-color: #e9ecef;border-bottom: 1px solid black;"
                    [ngClass]="{ 'is-invalid': submitted &&  b.get('alternateObservations')?.errors }"></textarea>
  
                    <div *ngIf="submitted && b.get('alternateObservations')?.errors" class="invalid-feedback">
                      <div *ngIf="b.get('alternateObservations')?.errors?.required">Field Is Required</div>
                    </div>          
                  </div>
                </div>
                
              </div>
              <br>

              <div class="row" style="margin-left: 10px;">
                <div>
                  <label>Earth Electrode Observation: </label>
                </div>
                <div class="col-md-9">
                  <textarea matInput cols="30" rows="1"
                  formControlName="earthElectrodeObservations"
                  placeholder="Ex. Supply Observations..." readonly style="background-color: #e9ecef;border-bottom: 1px solid black;"
                  [ngClass]="{ 'is-invalid': submitted &&  a.get('earthElectrodeObservations')?.errors }"></textarea> 
                  <div *ngIf="submitted && a.get('earthElectrodeObservations')?.errors" class="invalid-feedback">
                    <div *ngIf="a.get('earthElectrodeObservations')?.errors?.required">Field Is Required</div>
                </div>          
                </div>
              </div>
              <br>

              <div class="row" style="margin-left: 10px;">
                <div>
                  <label>Bonding Conductor Observation: </label>
                </div>
                <div class="col-md-9">
                  <textarea matInput cols="30" rows="1"
                  formControlName="bondingConductorObservations"
                  placeholder="Ex. Supply Observations..." readonly style="background-color: #e9ecef;border-bottom: 1px solid black;"
                  [ngClass]="{ 'is-invalid': submitted &&  a.get('bondingConductorObservations')?.errors }"></textarea> 
                  <div *ngIf="submitted && a.get('bondingConductorObservations')?.errors" class="invalid-feedback">
                    <div *ngIf="a.get('bondingConductorObservations')?.errors?.required">Field Is Required</div>
                </div>          
                </div>
              </div>
              <br>

              <div class="row" style="margin-left: 10px;">
                <div>
                  <label>Earthing Conductor Observation: </label>
                </div>
                <div class="col-md-9">
                  <textarea matInput cols="30" rows="1"
                  formControlName="earthingConductorObservations"
                  placeholder="Ex. Supply Observations..." readonly style="background-color: #e9ecef;border-bottom: 1px solid black;"
                  [ngClass]="{ 'is-invalid': submitted &&  a.get('earthingConductorObservations')?.errors }"></textarea> 
                  <div *ngIf="submitted && a.get('earthingConductorObservations')?.errors" class="invalid-feedback">
                    <div *ngIf="a.get('earthingConductorObservations')?.errors?.required">Field Is Required</div>
                  </div>          
                </div>
              </div>
              <br>

              <label>
                <h3 style="cursor: pointer;" (click)= "navigateToStep(2)"><b><u>Inspection Observations :</u></b>
              </h3>
              </label>

              <div class="row" style="margin-left: 10px;" formArrayName="inspectionArr" *ngFor="let c of getInspectionControls(a); let j = index">
                <div>
                  <label>Inspection Observations-{{j+1}} :</label>
                </div>
                  <div class="col-md-9" [formGroupName]="j">
                  <div class="form-group" >
                    <textarea matInput cols="30" rows="1"
                    formControlName="outerObservations"
                    placeholder="Ex. Supply Observations..." readonly style="background-color: #e9ecef;border-bottom: 1px solid black;"
                    [ngClass]="{ 'is-invalid': submitted &&  c.get('outerObservations')?.errors }"></textarea>
  
                    <div *ngIf="submitted && c.get('outerObservations')?.errors" class="invalid-feedback">
                      <div *ngIf="c.get('outerObservations')?.errors?.required">Field Is Required</div>
                    </div>          
                  </div>
                  <div class="row" style="margin-left: -115px;" formArrayName="outerObservationsArr" *ngFor="let d of getOuterObservationControls(c); let k = index">
                    <div>
                      <label>Consumer Observations-{{k+1}} :</label>
                    </div>
                    <div class="col-md-9" [formGroupName]="k">
                      <div class="form-group">
                        <textarea matInput cols="30" rows="1"
                        formControlName="innerObservations"
                        placeholder="Ex. Inspection Observations..." readonly style="background-color: #e9ecef;border-bottom: 1px solid black;"
                        [ngClass]="{ 'is-invalid': submitted &&  c.get('innerObservations')?.errors }"></textarea>
                      </div>
                      
                      </div>
                  </div>
                </div>
                
              </div>
              <br>

              <label>
                <h3 style="cursor: pointer;" (click)= "navigateToStep(3)"><b><u>Testing Observation :</u></b>
              </h3>
              </label>

              <div class="row" style="margin-left: 10px;" formArrayName="testingArr" *ngFor="let c of getTestingControls(a); let j = index">
                <div>
                  <label>Circuit Observation-{{j+1}} : </label>
                </div>
                <div class="col-md-9" [formGroupName]="j">
                  <div class="form-group">
                      <textarea matInput cols="30" rows="1"
                    formControlName="circuitObservation"
                    placeholder="Ex. Supply Observations..." readonly style="background-color: #e9ecef;border-bottom: 1px solid black;"
                    [ngClass]="{ 'is-invalid': submitted &&  c.get('circuitObservation')?.errors }"></textarea> 
                    <div *ngIf="submitted && c.get('circuitObservation')?.errors" class="invalid-feedback">
                      <div *ngIf="c.get('circuitObservation')?.errors?.required">Field Is Required</div>
                     </div>  
                  </div>
                          
                </div>
              </div>
              <br>
              <!-- observation ends here -->


              
            <!-- <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Recommendations:</label>
                  <mat-icon class="mousechange" (click)="addObservations()" style="margin-top: 2px;
                  float: right;">add_box</mat-icon>
                  <textarea matInput class="client-box-description" maxlength="500" formControlName="observations"
                   placeholder="Ex. Report description..." ></textarea>
                </div>
              </div>
            </div> -->
          </div>
                </div>
              </div>


              <div class="row" [ngClass]="{'disableForm':service.allFieldsDisable}">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Reference in report:</label>
                    <input type="number" min="0" formControlName="referanceNumberReport" class="form-control"  
                    [readonly]="service.allFieldsDisable" [(ngModel)]="summary.referanceNumberReport"
                    placeholder="Enter Reference Number" [ngClass]="{ 'is-invalid': submitted && f.referanceNumberReport?.errors }">
                    <div *ngIf="submitted && f.referanceNumberReport?.errors" class="invalid-feedback">
                      <div *ngIf="f.referanceNumberReport?.errors?.required">Field Is Required</div>
                  </div> 
                  </div>
                </div>
                <div class="col-md-6" >
                  <div class="form-group">
                    <label>Code classification :</label>
                    <select class="form-control" formControlName="furtherActions" [disabled]="service.allFieldsDisable" 
                    [tabindex]="service.allFieldsDisable ? -1 : 0" [(ngModel)]="summary.furtherActions"
                    [ngClass]="{ 'is-invalid': submitted && f.furtherActions?.errors }">
                      <option value="" selected>Select Option</option>
                      <option >C1</option>
                      <option>C2</option>
                      <option>C3</option>
                      <option>R1</option>
                    </select>
                    <div *ngIf="submitted && f.furtherActions?.errors" class="invalid-feedback">
                      <div *ngIf="f.furtherActions?.errors?.required">Field Is Required</div>
                  </div>
                  </div>
                </div>
                </div>
                <div class="row">
                <div class="col-sm-12">
                  <mat-form-field class="client-description">
                    <mat-label>
                      <h3>Remedial action to be taken :
                    </h3>
                    </mat-label>
                    <textarea matInput class="client-box-description" maxlength="500" 
                    placeholder="Enter comment" [readonly]="service.allFieldsDisable"
                    formControlName="comment" [(ngModel)]="summary.comment"
                    [ngClass]="{ 'is-invalid': submitted && f.comment?.errors }"></textarea>
                    <div *ngIf="submitted && f.comment?.errors" class="invalid-feedback">
                      <div *ngIf="f.comment?.errors?.required">Field Is Required</div>
                  </div>     
                  </mat-form-field>
                </div>
                </div>
                <div class="row">
                <div class="col-sm-12">
                    <p>
                      Any Observations classified as:-  </p>
                      <p>Code C1 <b>(“dangers present”)</b> or Code C2 <b>(“potentially dangerous”)</b> are acted upon the matter of urgency and remedial 
                      action to be taken immediately,</p> 
                      <p>Code C3 <b>(“Improvement recommended”)</b> should be given due consideration,</p>
                    <p>Code R1 <b>(“required further investigation”)</b> should start investigation without any delay.</p> 
                      <p>Subject to necessary remedial action being taken, I/We recommended that the installation is further inspected and tested by :</p>
                     
                    <input type="date" class="form-control" placeholder="Enter Date" [readonly]="service.allFieldsDisable"
                    formControlName="recommendationsDate" [(ngModel)]="summary.recommendationsDate"
                    [ngClass]="{ 'is-invalid': submitted && f.recommendationsDate?.errors }">  
                    <div *ngIf="submitted && f.recommendationsDate?.errors" class="invalid-feedback">
                      <div *ngIf="f.recommendationsDate?.errors?.required">Field Is Required</div>
                  </div>            
                </div>
                <!-- <mat-icon class="mousechange" *ngIf="getObservationsControls().length > 1" 
                  (click)="removeObservations(i)" style="margin-top: 2px;float: right;cursor: pointer;">remove_circle</mat-icon> -->
              </div>


        </div>
          </mat-expansion-panel>


          <!-- <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Recommendations</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group" [ngClass]="{'disableForm':service.allFieldsDisable}">
                      <label>Where the overall assessment of the suitability of the installation for 
                        continuous use above is stated as unsatisfactory, I/We recommend that any observations 
                        classified as “danger present” (Code C1) or “potentially dangerous” (Code C2) are acted 
                        upon the matter of urgency. Investigation without delay is recommended for observations 
                        identified as “Required further investigation”. Observations classified as “Improvement 
                        recommended” (Code C3) should be given due consideration. Subject to necessary remedial 
                        action being taken, I/We recommended that the installation is further inspected and tested
                         by date.:</label>
                         <input type="date" class="form-control" placeholder="Enter Date"
                          [(ngModel)]="summary.recommendationsDate" formControlName="recommendationsDate"
                          [ngClass]="{ 'is-invalid': submitted && f.recommendationsDate?.errors }">  

                        <input matInput [matDatepicker]="picker" (click)="picker.open()" placeholder="Choose a date"
                          [(ngModel)]="summary.recommendationsDate" formControlName="recommendationsDate" autocomplete="off"
                          [ngClass]="{ 'is-invalid': submitted && f.recommendationsDate?.errors }" 
                          style="border-bottom: 1px solid darkgrey;padding: 10px;" id="summaryDateIcon">
                          <mat-datepicker-toggle matSuffix [for]="picker" style="float: right;position: relative;bottom: 40px;"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker> 

                          <div *ngIf="submitted && f.recommendationsDate?.errors" class="invalid-feedback">
                            <div *ngIf="f.recommendationsDate?.errors?.required">Field Is Required</div>
                        </div>            
                    </div> 
                  </div>
                </div>
              </div>
          </mat-expansion-panel> -->

          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Summary And Conditions Of The Installation </h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
                <div class="form-group" [ngClass]="{'disableForm':service.allFieldsDisable}">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>General condition of the installation in terms of electrical safety:</label>
                        <input type="text" class="form-control" formControlName="generalConditionInstallation" 
                        [(ngModel)]="summary.generalConditionInstallation" [readonly]="service.allFieldsDisable"
                        [ngClass]="{ 'is-invalid': submitted && f.generalConditionInstallation?.errors }">
                        <div *ngIf="submitted && f.generalConditionInstallation?.errors" class="invalid-feedback">
                          <div *ngIf="f.generalConditionInstallation?.errors?.required">Field Is Required</div>
                      </div> 
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label>Overall assessment of the installation in terms of suitability of continuous use:</label>
                        &nbsp;&nbsp;
                        <mat-radio-group class="example-radio-group" (change)="changeComboo($event)"
                         [(ngModel)]="summary.overallAssessmentInstallation" [disabled]="service.allFieldsDisable"
                         [ngClass]="{ 'is-invalid': submitted && f.overallAssessmentInstallation?.errors }"
                         formControlName="overallAssessmentInstallation">
                          <mat-radio-button class="example-radio-button" *ngFor="let installation of installations" 
                          [value]="installation">
                            {{installation}}
                          </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && f.overallAssessmentInstallation?.errors" class="invalid-feedback">
                          <div *ngIf="f.overallAssessmentInstallation?.errors?.required">Field Is Required</div>
                      </div> 
                   </div>
                   <div *ngIf="f.overallAssessmentInstallation?.value=='Unsatisfactory'"><b>Note:</b>Unsatisfactory assessment indicates that dangerous and/or 
                     potentially dangerous conditions have been identified</div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Declaration</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <div formArrayName="Declaration1Arr" *ngFor="let a of getDeclaration1Controls(); let i = index">
                <div class="form-group" [formGroupName]="i" [ngClass]="{'disableForm':service.allFieldsDisable}">
                  <label>I/we being the person responsible for the inspection & testing  of the electrical 
                    installation (as indicated by my/our signatures below), particulars of which are described 
                    in this report, having exercised reasonable skill and care when carrying out the inspection 
                    and testing, hereby declare that information in this report including the observations 
                    provides an accurate assessment of condition of electrical installation taking into account 
                    the stated extent and limitations in part 5 of this report:</label>
    
                  <h2>Inspected and tested by:</h2>
                  <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" formControlName="name" [readonly]="service.allFieldsDisable"
                        [ngClass]="{ 'is-invalid': submitted && a.get('name')?.errors }">
                        <div *ngIf="submitted && a.get('name')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('name')?.errors?.required">Person name is required</div>
                      </div>
                      </div>
                    </div>
      
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Signature:</label>
                        <input type="text" class="form-control" formControlName="signature" readonly
                        [ngClass]="{ 'is-invalid': submitted && a.get('signature')?.errors }">
                        <div *ngIf="submitted && a.get('signature')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('signature')?.errors?.required">Signature is required</div>
                      </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Company:</label>
                        <input type="text" class="form-control" formControlName="company" [readonly]="service.allFieldsDisable"
                        [ngClass]="{ 'is-invalid': submitted && a.get('company')?.errors }">
                        <div *ngIf="submitted && a.get('company')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('company')?.errors?.required">Company name is required</div>
                      </div>
                      </div>
                    </div>
      
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Position:</label>
                        <input type="text" class="form-control" formControlName="position" [readonly]="service.allFieldsDisable"
                        [ngClass]="{ 'is-invalid': submitted && a.get('position')?.errors }">
                        <div *ngIf="submitted && a.get('position')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('position')?.errors?.required">Position is required</div>
                      </div>
                      </div>
                    </div>
      
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Address:</label>
                        <input type="text" class="form-control" formControlName="address" [readonly]="service.allFieldsDisable"
                        [ngClass]="{ 'is-invalid': submitted && a.get('address')?.errors }">
                        <div *ngIf="submitted && a.get('address')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('address')?.errors?.required"><Address></Address> is required</div>
                      </div>
                      </div>
                    </div>
      
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Date:</label>
                        <input type="date" class="form-control" formControlName="date" [readonly]="service.allFieldsDisable"
                        [ngClass]="{ 'is-invalid': submitted && a.get('date')?.errors }">
                        <div *ngIf="submitted && a.get('date')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('date')?.errors?.required">Date is required</div>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>

                <div formArrayName="Declaration2Arr" *ngFor="let a of getDeclaration2Controls(); let i = index">
                  <div class="form-group" [formGroupName]="i" [ngClass]="{'disableForm':service.allFieldsDisable}">
                    <h2>Authorised by:</h2>
                    <div class="form-group">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Name:</label>
                          <input type="text" class="form-control" formControlName="name" [readonly]="service.allFieldsDisable"
                          [ngClass]="{ 'is-invalid': submitted && a.get('name')?.errors }">
                          <div *ngIf="submitted && a.get('name')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('name')?.errors?.required">Person name is required</div>
                        </div>
                        </div>
                      </div>
        
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Signature:</label>
                          <input type="text" class="form-control" formControlName="signature" readonly
                          [ngClass]="{ 'is-invalid': submitted && a.get('signature')?.errors }">
                        <div *ngIf="submitted && a.get('signature')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('signature')?.errors?.required">Signature is required</div>
                      </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Company:</label>
                          <input type="text" class="form-control" formControlName="company" [readonly]="service.allFieldsDisable"
                          [ngClass]="{ 'is-invalid': submitted && a.get('company')?.errors }">
                          <div *ngIf="submitted && a.get('company')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('company')?.errors?.required">Company name is required</div>
                        </div>
                        </div>
                      </div>
        
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Position:</label>
                          <input type="text" class="form-control" formControlName="position" [readonly]="service.allFieldsDisable"
                          [ngClass]="{ 'is-invalid': submitted && a.get('position')?.errors }">
                          <div *ngIf="submitted && a.get('position')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('position')?.errors?.required">Position is required</div>
                        </div>
                        </div>
                      </div>
        
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Address:</label>
                          <input type="text" class="form-control" formControlName="address" [readonly]="service.allFieldsDisable"
                          [ngClass]="{ 'is-invalid': submitted && a.get('address')?.errors }">
                          <div *ngIf="submitted && a.get('address')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('address')?.errors?.required">Address is required</div>
                        </div>
                        </div>
                      </div>
        
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Date:</label>
                          <input type="date" class="form-control" formControlName="date" [readonly]="service.allFieldsDisable"
                     [ngClass]="{ 'is-invalid': submitted && a.get('date')?.errors }">
                          <div *ngIf="submitted && a.get('date')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('date')?.errors?.required">Date is required</div>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
            
          </mat-expansion-panel>

          <!-- comments start-->
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngIf="hideShowComment">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Comments</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
   
   <mat-progress-spinner style="margin: 0 auto;" *ngIf="spinner"
  color="primary"
   [mode]="mode"
   value="50"
  diameter="50">
</mat-progress-spinner>

<div class="card-body" style="padding: 0px;" *ngIf="cardBodyComments">
<button class="btn dropdown" (click)="showSubmenu = !showSubmenu" style="width:100%;" 
*ngIf="(isExpanded || isShowing) || (toggleHideShow || getViewerCommentControls().length > 2)">
  <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" style="float: left;">chevron_right</mat-icon> 
  <label style="float: left;">Check comments here!</label>
 </button> 
 <span *ngIf="getViewerCommentControls().length==0">No comments!</span>
 <mat-icon class="mousechange" (click)="refreshCommentSection()" style="float: right;"
 title="Refresh comment">refresh</mat-icon> 

<div  formArrayName="viewerCommentArr" *ngFor="let a of getViewerCommentControls(); let i = index" 
style="margin-left: 10px;">
<div [formGroupName]="i" style="margin-left: 30px;">
<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" [ngStyle]="{'display': showSubmenu ? 'block' : 'none'}">

  <div class="input-group" [ngClass]="{even: i!=0}" style="align-items: end;">
    <div class="input-group-prepend" title="Viewer" style="height: 26px;">
        <span class="input-group-text" style="line-height: unset;">
            <i class="bi bi-eye-fill"></i>
        </span>
    </div>
    <textarea cols="60" rows="1" formControlName="viewerComments" placeholder="Enter Viewer Comment">
   </textarea>

<div style="display: flex;margin-left: 25px;" *ngIf="replyCommentBox">

          <mat-icon class="mousechange" (click)="sendViewerComment(a)" [ngClass]="{'disable':disableSend== true}"
          *ngIf="((a.get('inspectorComments')?.value=='' || a.get('inspectorComments')?.value==null) && sendComment)"
          title="Send comment">send</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp;

          <mat-icon class="mousechange" (click)="replyToViewerComment(a)" 
          *ngIf="((a.get('viewerComments')?.value!='') && (getViewerCommentControls().length-1 == i)) && hideAsViewerLogin "
         title="Reply comment">reply</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;

         <mat-icon class="mousechange" (click)="ViewerRemoveComment(i)" style="float:right;position: relative;left: 630%;"
         *ngIf="(a.get('inspectorComments')?.value=='' || a.get('viewerComments')?.value=='') && hideDelete" >delete</mat-icon>
         &nbsp;&nbsp;&nbsp;&nbsp;

        
  </div>
</div>


  <span [ngClass]="i!=0 ? 'viewer' : 'even1'">
    {{a.value.viewerUserName}} {{a.value.viewerDateTime | date:'dd-MM-YY hh:mm:ss a':'+0530'}}
  </span>  

<div *ngIf="replyCommentBox">

<ul style="list-style-type:none;margin-bottom: 0rem;">
<li> 

  <div class="input-group" style="align-items: end;"
  *ngIf="(a.get('inspectorComments')?.value!='' && a.get('inspectorComments')?.value!=null) || showReplyBox" >
    <div class="input-group-prepend" title="Inspector" style="height: 26px;">
        <span class="input-group-text" style="line-height: unset;">
            <i class="bi bi-person-fill"></i>
        </span>
    </div>
    <textarea cols="60" rows="1" placeholder="Enter Inspector Comment" formControlName="inspectorComments" ></textarea>
 <div style="display: initial;margin-left: 25px;">

     <mat-icon class="mousechange" (click)="inspectorComment(a)" [ngClass]="{'disable':disableReply== true}"
     *ngIf="(getViewerCommentControls().length-1 == i) && SendReply" title="Send reply">send</mat-icon>

     <mat-icon class="mousechange" (click)="approveComment(a)" [ngClass]="{'disable':enabledRequest== true}"
     *ngIf="((getViewerCommentControls().length-1 == i) && hideapprove) && a.value.approveOrReject != 'REJECT'"
     title="Approve comment">thumb_up_alt</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp;

     <mat-icon class="mousechange" (click)="rejectComment(a)" 
     [ngClass]="{'disable':a.value.approveOrReject === 'REJECT' || enabledRequest== true}"

      *ngIf="((getViewerCommentControls().length-1 == i) && hideReject) || 
      ((a.get('inspectorComments')?.value!='' || a.get('viewerComments')?.value!='') && a.value.approveOrReject=='REJECT')"
     title="Reject comment">thumb_down_alt</mat-icon>

     

     <mat-icon class="mousechange" (click)="addAnotherviewerComment()"
     *ngIf="((getViewerCommentControls().length-1 == i) && hideAdd) 
     || ((a.value.approveOrReject === 'REJECT' && getViewerCommentControls().length-1 == i) && addReject)"
      style="float:right;position: relative;left: 718%;" title="Add another comment">add_box</mat-icon>

 </div>
</div>

 <span style="display: block;font-size: 11px;text-align: center;margin-left: -29%;">
  {{a.value.inspectorUserName}} {{a.value.inspectorDateTime | date:'dd-MM-YY hh:mm:ss a':'+0530'}}</span>  
       </li>
     </ul>
    </div> 
    </div>
    </div>
  </div> 
   
  </div>   
   
  </mat-expansion-panel>

<!-- completed comments start-->
<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngIf="completedComments">
<mat-expansion-panel-header>
<mat-panel-title>
<h3>Completed Comments</h3>
</mat-panel-title>

</mat-expansion-panel-header>
<div class="card-body" style="padding: 0px;">
<div formArrayName="completedCommentArr1" *ngFor="let x of getCompletedCommentControls1(); let j = index" >
<div [formGroupName]="j">

<button class="btn dropdown" (click)="showHideAccordion(j);" style="width:100%;" 
*ngIf="(isExpanded || isShowing) || toggleHideShow || getCompletedCommentControls1().length >= 1">
  <mat-icon class="menu-button" style="float: left;">chevron_right</mat-icon> 
  <label style="float: left;">{{getViewerFirstMessage(x)}}...</label>
 </button> 

<div *ngIf="j === expandedIndexx" >
<div  formArrayName="completedCommentArr" *ngFor="let a of getCompletedCommentControls(x); let i = index" 
style="margin-left: 10px;" > 
<div [formGroupName]="i" style="margin-left: 30px;">
<div class="submenu" >

<div class="input-group" [ngClass]="{even: i!=0}" style="align-items: end;">
<div class="input-group-prepend" title="Viewer" style="height: 26px;">
    <span class="input-group-text" style="line-height: unset;">
        <i class="bi bi-eye-fill"></i>
    </span>
</div>
<textarea cols="60" rows="1"  formControlName="viewerComments" placeholder="Enter Viewer Comment">
</textarea>
</div>
<div>
<span [ngClass]="i!=0 ? 'viewer' : 'even1'">
{{a.value.viewerUserName}} 
{{a.value.viewerDateTime | date:'dd-MM-YY hh:mm:ss a':'+0530'}}
</span>  
</div>
<div class="input-group" style="margin-left: 41px;width: 50%;align-items: end;">
<div class="input-group-prepend" title="Inspector" style="height: 26px;">
<span class="input-group-text" style="line-height: unset;">
  <i class="bi bi-person-fill"></i>
</span>
</div>
<textarea cols="60" rows="1"  formControlName="inspectorComments" placeholder="Enter Viewer Comment"></textarea>
</div>

<span style="display: block;font-size: 11px;text-align: center;margin-left: -25%;">
{{a.value.inspectorUserName}} {{a.value.inspectorDateTime | date:'dd-MM-YY hh:mm:ss a':'+0530'}}</span>  
   
</div>
</div>
</div> 
</div>
</div>
</div>
</div>   

</mat-expansion-panel>
<!-- completed comments end-->

      </mat-accordion>
      <div *ngIf="validationError" style="text-align: center;margin-top: 30px;">
        <span class="alert alert-danger">{{validationErrorMsg}}</span>
    </div>
    <div *ngIf="commentSuccess" style="text-align: center;margin-top: 30px;">
      <span class="successshow">Your comment has been sent to Inspector</span>
    </div>
    <div *ngIf="commentApprove" style="text-align: center;margin-top: 30px;">
      <span class="alert alert-success">Your response to comments has been approved</span>
    </div>
    <div *ngIf="commentReject" style="text-align: center;margin-top: 30px;">
      <span class="alert alert-danger">Your response to comments has been rejected</span>
    </div>
    <br>
      <!-- <div style="text-align: center;margin-top: 40px;">
        <button class="previous" mat-button matStepperPrevious>&laquo; Back</button>
      </div> -->
    
      <div class="row" style="display:block;margin-top: 30px;margin-left: 40px;">
        <div class="col-sm-12">
        <div style="text-align: center;"> 
        <button  style="width: auto;" type="submit" 
        class="btn btn-primary btn-rounded btn-md font-weight-medium auth-form-btn next"
        mat-button [ngClass]="{'disableSubmit':service.disableSubmitSummary}">
          <i class="bi bi-journal-arrow-up icon"></i> Submit</button>
    </div>
        </div>
      </div>
<br>
      <!-- <div class="row" *ngIf="showSubmit">
        <div class="col-sm-12">
        <div style="text-align: center;">
        <button  style="width: auto;" type="submit" (click)="openModalDialog(content2)"
        class="btn btn-block btn-primary btn-rounded btn-md font-weight-medium auth-form-btn next"
        mat-button>
          <i class="bi bi-journal-arrow-up icon"></i> Submit</button>
    </div>
        </div>
      </div> -->
  </form>
</div>
</div>

  <ng-template #content5 let-modal>
    <div class="modal-body">
        <div class="centre-text m-btm30">
            <div *ngIf="success" style="text-align: center;">
                <span class="alert alert-success">{{successMsg}}</span>
            </div>
            <div *ngIf="Error" style="text-align: center;">
                <span class="alert alert-danger">{{errorMsg}}</span>
            </div>
        </div>
    </div>
    <br>
    <button type="button" class="col-md-6" class="close" class="btn btn-primary btn-rounded btn-md font-weight-medium auth-form-btn"
   aria-label="Close" (click)="closeModalDialog()">
    <span aria-hidden="true">Ok</span>
</button>

</ng-template>

<ng-template #content2 let-modal>
  <div class="modal-body">
   <div class="centre-text m-btm30">
    <div style="text-align: center;" *ngIf="ConfirmSuccess">
      <span class="successshow">Are you sure you want to procced? </span>
      <br>
      <span style="font-size: 12px;"><b>Note:</b>Once saved, details can't be edited!</span>
     </div>
     <div *ngIf="Error" style="text-align: center;">
      <span class="alert alert-danger">{{errorMsg}}</span>
  </div>
  <br>
  <div class="row" *ngIf="Error">
    <button type="button" class="col-md-6" style="text-align:center; width: auto;" class="btn btn-primary btn-rounded btn-md font-weight-medium auth-form-btn"
    aria-label="Close" (click)="closeModalDialog()">
    <i class="bi bi-arrow-right-circle"></i>&nbsp;
     <span aria-hidden="true">Ok</span>
 </button>
</div>
    </div>
   </div>
  <br>
  <div class="row" *ngIf="ConfirmSuccess">
     <button type="button" class="col-md-6" style="text-align:center; width: auto;" class="btn btn-primary btn-rounded btn-md font-weight-medium auth-form-btn"
     aria-label="Close" (click)="OkModalDialog(content5)">
     <i class="bi bi-arrow-right-circle"></i>&nbsp;
      <span aria-hidden="true">Ok</span>
  </button>
  <button type="button" class="col-md-6" style="width: auto;" class="btn btn-danger btn-rounded btn-md font-weight-medium auth-form-btn"
     aria-label="Close" (click)="closeModalDialog()">
     <i class="bi bi-x icon"></i>
      <span aria-hidden="true">Cancel</span>
  </button>
</div>

  </ng-template>