<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 bg-image">
            <!-- <div class="col-md-12"> -->
                <div class="card col-md-5 loginCardBody" >
                        <div class="brand-logo">
                            <a href="#"><img src="assets/img/Original-green.png"></a>
                        </div>
                        <div class="login-header">
                            <h3 class="login-title">Login</h3>
                        </div>
                        <div class="loginMargin"></div>
                    <div class="card-body">
                      
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div *ngIf="showErrorMessage" class="errorshow">{{showErrorMessage}}</div>
                           
                            <div class="form-group">
                                <label for="email">Email</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="bi bi-envelope-fill"></i>
                                        </span>
                                    </div>
                                    <input type="email" formControlName="email" requied class="form-control"
                                        placeholder="Enter your email address" maxlength="50"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                        [(ngModel)]="user.email" />
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.pattern">Enter valid email</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="bi bi-lock-fill"></i>
                                        </span>
                                    </div>
                                    <input type="password" formControlName="password" class="form-control"
                                        placeholder="Enter your password" minlength="8" maxlength="15"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                        [(ngModel)]="user.password" />
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                        <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-2 d-flex justify-content-between align-items-center">

                                <div class="col-md-8">
                                    <!-- <input type="checkbox" disabled ="true" /> -->
                                    <input type="checkbox" (change)="rememberMe($event)"/>
                                    Remember me
                                </div>
                                <div class="col-md-4"><a [routerLink]="['/forgotpassword']">Forgot Password?</a></div>
                            </div>
                            <div class="row" style="display:block;">
                                <div class="col-sm-12">
                                    <div style="text-align: center;">
                            <button [disabled]="loading"
                                class="btn btn-primary btn-rounded btn-md font-weight-medium auth-form-btn"><i
                                    class="bi bi-box-arrow-in-right"></i> Login</button>
                                </div>
                                </div>
                                </div>
                            <div class="row register">
                                <div class="col-sm-12">
                                <button [routerLink]="['/register']" class="btn btn-link">
                                    <p>Don't have an account register here</p>
                                </button>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-7" style="text-align: center;float: right;margin: 24px;
                background: rgba(228, 224, 223, 0.5);
                color: #365520;">
                <h2>Digital Support for Testing, Inspection and Ceritification of Electrical Installation</h2>
                <h1 style="font-weight: 600;">INTERACTIVE - INTELLIGENT - MODERN</h1>
                </div>
            <!-- </div> -->
             <!-- chat bot starts -->
    <div id="chat-circle" class="btn btn-raised" (click)="toggleStatus()">
        <div id="chat-overlay"></div>
        <div class="tooltipBot glow">
       <span><img src="assets/img/bot-icon1.png" style="width: 55px;position: relative;left: 61px;
        top: 42px;"></span> 
          <span class="tooltiptextBot">
            Ask me!
          </span>
        </div>
      </div>
        <div class="chat-box resizable" *ngIf="isShow" style="height: 70%;">
          <div class="chat-box-header">
            <span><img src="assets/img/Original-green-logo.png" style="width: 8%;
            position: relative;left: -15px;top: -2px;"></span>
            <b>SOLVE</b> - Your Questions
            <span class="chat-box-toggle" (click)="toggleStatusClose()"><i class="material-icons">close</i></span>
          </div>
          <div class="chat-box-body" style="top: 0%;overflow-y: scroll;">
            <div class="greeting">
              <h3>{{greet}}</h3>
          </div>
            <ng-container *ngFor="let message of messages">
              <div class="message"
              [ngClass]="{ 'from': message.author === 'bot',
              'to': message.author === 'user'}">
              {{ message.content }}
             </div>
            </ng-container>
              <!-- <label *ngIf="messages.length == 0; else" for="nameField"></label> -->
              <input [(ngModel)]="valueBot" (keyup.enter)="sendMessage()" type="text" placeholder="Type your message" 
              class="botUserInput">
              <i class="material-icons" (click)="sendMessage()" style="position: fixed;top: 88.5%;right: 2.5%;">send</i>
              <!-- <ng-template #dialogInfo>
              <span [className]="'float-right'">Total messages: {{messages.length}}</span>
              </ng-template> -->
          </div>
          
        </div>
<!-- chat bot ends -->

        </div>
    </div>
</div>
