<div class="card-body">
    <!-- Heading tag -->
    <div style="margin-top: 2rem;">
        <h3>Checklist for Separation Distance of LPS as per IS/IEC 62305</h3>
    </div>
    <!-- Basic Details -->
    <div class="card-body">
        <form [formGroup]="separeteDistanceForm">
            <div class="card-body">
                <div style="font-weight: bold;">
                    <label for="Basicdetails">Basic Details:</label>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="clientname">Client Name:</label>
                        <!-- icon code -->
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="bi bi-person-lines-fill"></i>
                                </span>
                            </div>
                            <input tpe="text" class="form-control" placeholder="Enter client name">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="projectname">Project Name:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="bi bi-journal-plus"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter project name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="typeofindustry">Type of Industry:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="bi bi-building"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter Type of Industry name">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="typeofbuilding">Type of Building:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="bi bi-building"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter Type of Building name">
                        </div>
                    </div>
                </div>

                <div style="margin-top: 10px; font-weight: bold;">
                    <label for="buildingdimension">Building Dimension:</label>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label for="length(m)">Length(m)</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="bi bi-align-start"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter length in meter">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="width(m)">Width(m)</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="bi bi-border-width"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter width in meter">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="height(m)">Height(m)</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="bi bi-distribute-horizontal"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter height in meter">
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-4">
                        <label for="levelofprotection">Level of protection:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="bi bi-shield-fill-x"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter Level of protection name">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="soilresistivity">Soil Resistivity:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="bi bi-shield-fill-x"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter Soil Resistivity name">
                        </div>
                    </div>
                </div>

                <!-- tables -->
                <div style="margin-top: 40px;">
                    <!-- <table class="table">
                    <thead>
                      <tr>
                       <th>SI.No</th>
                       <th>Description</th>
                       <th>Observation</th>
                       <th>Remarks</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3" style="border:none">
                                <table>
                                    <tr>
                                        <td width="10%" style="border:none">1</td>
                                        <td width="90%" style="border:none">Measured Seperation distance beweeen air termination and electrical apparatus (lights, Solar PV, AC chillers, cameras…. Etc)(Measurement required in atleast 10 locations on roof top):</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td width="10%">1</td>
                            <td width="30%">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="bi bi-text-paragraph"></i></span>
                                    </div>
                                    <textarea type="text" formControlName="seperationDistanceDesc"class="form-control" placeholder="Ex.."></textarea>
                                </div>
                            </td>

                            <td width="30%">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="bi bi-text-paragraph"></i></span>
                                    </div>
                                    <textarea type="text" formControlName="seperationDistanceDesc"class="form-control" placeholder="Ex.."></textarea>
                                </div>
                            </td>

                            <td width="30%">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="bi bi-text-paragraph"></i></span>
                                    </div>
                                    <textarea type="text" formControlName="seperationDistanceDesc"class="form-control" placeholder="Ex.."></textarea>
                                </div>
                            </td>
                    </tr>
                  </tbody>
                </table> -->
                    <table class="table">
                        <thead style="text-align: center;">
                            <th>SI.No</th>
                            <th>Description</th>
                            <th>Observation</th>
                            <th>Remarks</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 1rem; text-align: center;"></td>
                                <td colspan="3" style="width: 24rem;">Measured Seperation distance beweeen air
                                    termination and electrical
                                    apparatus (lights, Solar PV, AC chillers, cameras…. Etc)(Measurement required in
                                    atleast
                                    10 locations on roof top):
                                </td>
                            </tr>
                        </tbody>

                    </table>
                    <table>
                        <tbody formArrayName="separateDistanceDescriptionArr"
                            *ngFor="let f of getseparateDistanceDescriptionControls(); let i = index">
                            <div class="form-group" [formGroupName]="i">
                                <td style="width: 4rem; text-align: center;">{{i+1}}</td>
                                <td style="width: 35rem; margin-left: 1rem;">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="bi bi-text-paragraph"></i>
                                            </span>
                                        </div>
                                        <textarea type="text" formControlName="seperationDistanceDesc"
                                            class="form-control" placeholder="Ex.."
                                            [ngClass]="{ 'is-invalid': submitted && f.get('seperationDistanceDesc')?.errors }">
                                        <div *ngIf="submitted && f.get('seperationDistanceDesc')?.errors" class="invalid-feedback">
                                            <div *ngIf="f.get('seperationDistanceDesc')?.errors?.required">SeparateDistance Description is required</div>
                                        </div></textarea>
                                    </div>
                                </td>
                                <td style="width: 35rem;">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="bi bi-text-paragraph"></i>
                                            </span>
                                        </div>
                                        <textarea type="text" formControlName="seperationDistanceOb"
                                            class="form-control" placeholder="Ex.."
                                            [ngClass]="{ 'is-invalid': submitted && f.get('seperationDistanceOb')?.errors }">
                                        <div *ngIf="submitted && f.get('seperationDistanceOb')?.errors" class="invalid-feedback">
                                            <div *ngIf="f.get('seperationDistanceOb')?.errors?.required"> SeparateDistance Description Observation is required</div>
                                        </div></textarea>
                                    </div>
                                </td>
                                <td style="width: 35rem;">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="bi bi-text-paragraph"></i>
                                            </span>
                                        </div>
                                        <textarea type="text" formControlName="seperationDistanceRem"
                                            class="form-control" placeholder="Ex.."
                                            [ngClass]="{ 'is-invalid': submitted && f.get('seperationDistanceRem')?.errors }">
                                        <div *ngIf="submitted && f.get('seperationDistanceRem')?.errors" class="invalid-feedback">
                                            <div *ngIf="f.get('seperationDistanceRem')?.errors?.required">SeparateDistance Description Remarks is required</div>
                                        </div></textarea>
                                    </div>
                                </td>
                            </div>
                            <div>
                                <mat-icon class="mousechange" (click)="add()"
                                    style="margin-left: 91rem;margin-bottom: 4px;">add_box</mat-icon>



                                <mat-icon class="mousechange"
                                    *ngIf="getseparateDistanceDescriptionControls().length > 1" (click)="removeItem(i)"
                                    style="float:left;margin: 0px 15px 0px 15px;">delete</mat-icon>
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>

            </div>
            <div>
                <button style="margin-inline: 30rem;width: 7rem;height: 3rem;" class="btn btn-primary">Back</button>
                <button style="width: 7rem;height: 3rem;" (click)="onSubmit()" class="btn btn-success">Next</button>
            </div>
        </form>
    </div>
</div>