.bg-image {
    background: url(../../assets/img/login-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-size: 100%;
    height: 740px;
    width: 100%;
    position: absolute;
}

.card {
    float: left;
    max-width: 500px;
    width:100%;
    margin-top: 40px;
}

.brand-logo {
    text-align: center;
    margin-top: 2rem;
}

.brand-logo img{
    width: 150px;
}

.forgot-title {
    margin-top: 2rem;
    color: #9e97aa;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.auth-form-btn {
    margin-top: 40px;
    width: 25%;
}

.auth-form-btn .icon {
    float: left;
    margin-top: -2px;
}

.cancel {
    margin-top: 40px;
    width: 25%; 
    /* height: 47px; */
}

/* .cancel .icon {
    float: left;
    margin-left: 20px;
} */