<div class="card">
    <div class="card-header" style="text-align: center; display: block">
       <h2 class="modal-title" style="display: contents">Protective Earth conductor</h2>
     </div>
   <div class="card-body">
     <form [formGroup]="protectiveEarthConductorForm" (keyup)="onKeyForm($event)" (change)="onChangeForm($event)">
   
           <h2>Testing related to safety</h2>
       
           <div class="table-responsive">
             <table class="table" style="width: 100%; border: 1px solid black">
               <thead>
                 <tr>
                   <th>
                     Make
                   </th>
       
                   <th>
                    Type (flat or bare conductor)
                   </th>
       
                   <th>
                    Material (copper /aluminum/GI)
                   </th>
       
                   <th>
                    Size (sq.mm.)
                   </th>
       
                   <th>
                    Conductor length
                   </th>
                   <th>
                    Conductor resistance
                   </th>
                   <th>
                    Max allowable resistance
                   </th>
                   <th>
                    Remarks
                   </th>
                 </tr>
               </thead>
       
               <tbody>
                 <tr>
                    <td>
                        <input type="text" formControlName="make" [(ngModel)]="protectiveEarthConductor.make"
                          [ngClass]="{ 'is-invalid': submittedPEC && a.make?.errors }">
                        <div *ngIf="submittedPEC && a.make?.errors" class="invalid-feedback">
                          <div *ngIf="a.make?.errors?.required">Make is required</div>
                        </div>
                      </td>
       
                   <td>
                     <input type="text" formControlName="type" [(ngModel)]="protectiveEarthConductor.type"
                       [ngClass]="{ 'is-invalid': submittedPEC && a.type?.errors }">
                     <div *ngIf="submittedPEC && a.type?.errors" class="invalid-feedback">
                       <div *ngIf="a.type?.errors?.required">Type is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="material" [(ngModel)]="protectiveEarthConductor.material"
                       [ngClass]="{ 'is-invalid': submittedPEC && a.material?.errors }">
                     <div *ngIf="submittedPEC && a.material?.errors" class="invalid-feedback">
                       <div *ngIf="a.material?.errors?.required">Material is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="size"
                     [(ngModel)]="protectiveEarthConductor.size" (focusout)="onFocusOut($event,a)"
                     [ngClass]="[ a.sizeFlag?.value  ? 'is-invalid' : '',submittedPEC && a.size?.errors ? 'is-invalid' : '']">
                     <div *ngIf="a.sizeFlag?.value" class="invalid-feedback">
                      <div>Value entered doesn't match the standard</div>
                    </div>
                   </td>
       
                   <td> 
                    <input type="text" formControlName="conductorLength" [(ngModel)]="protectiveEarthConductor.conductorLength"
                      [ngClass]="{ 'is-invalid': submittedPEC && a.conductorLength?.errors }"
                      (focusout)="onFocusOut($event,a)">
                    <div *ngIf="submittedPEC && a.conductorLength?.errors" class="invalid-feedback">
                      <div *ngIf="a.conductorLength?.errors?.required">Size is required</div>
                    </div>
                  </td>
                  <td>
                    <input type="text" formControlName="conductorResistance" [(ngModel)]="protectiveEarthConductor.conductorResistance"
                      [ngClass]="{ 'is-invalid': submittedPEC && a.conductorResistance?.errors }">
                    <div *ngIf="submittedPEC && a.conductorResistance?.errors" class="invalid-feedback">
                      <div *ngIf="a.conductorResistance?.errors?.required">Size is required</div>
                    </div>
                  </td>
                  <td>
                    <input type="text" formControlName="maxResistance" [(ngModel)]="protectiveEarthConductor.maxResistance"
                      [ngClass]="{ 'is-invalid': submittedPEC && a.maxResistance?.errors }">
                    <div *ngIf="submittedPEC && a.maxResistance?.errors" class="invalid-feedback">
                      <div *ngIf="a.maxResistance?.errors?.required">Size is required</div>
                    </div>
                  </td>
                   <td>
                     <input type="text" formControlName="rNRemarks" [(ngModel)]="protectiveEarthConductor.rNRemarks">
                   </td>
                 </tr>
       
               </tbody>
             </table>
           </div>
       
     </form>
   </div>

   <div *ngIf="validationError" style="text-align: center;;margin-top: 5px;margin-bottom: 40px">
       <span class="alert alert-danger">{{validationErrorMsg}}</span>
     </div>

     <div class="centre-text m-btm30">
       <div *ngIf="success" style="text-align: center;margin-top: 5px;margin-bottom: 40px">
         <span class="successshow">{{ successMsg }}</span>
       </div>
       <div *ngIf="error" style="text-align: center;margin-top: 5px;margin-bottom: 40px">
         <span class="errorshow">{{ errorMsg }}</span>
       </div>
     </div>
     
     <div style="display: inline;margin-top: 30px;">    
       <button type="button"  style="float: left; margin-left: 400px"
         class="btn btn-info" (click)="savePEC(protectiveEarthConductorFlag)">
         <i class="bi bi-person-plus-fill icon"></i> Save
       </button>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <button type="button"  class="btn btn-danger" aria-label="Close"  (click)="close()"
         style="float: right; margin-right: 400px" >
         <span aria-hidden="true">Cancel</span>
       </button>
     </div>
     <br>
 </div>

 