<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg-image">
            <div class="col-md-12">
                <div class="card col-md-5">
                        <div class="brand-logo">
                            <a href="#"><img src="assets/img/Original-green.png"></a>
                        </div>
                        <div class="forgot-header">
                            <h3 class="forgot-title">Create New Password</h3>
                        </div>
                    <div class="loginMargin"></div>
                    <!-- Exception Messages -->
                    <div *ngIf="successMsg" class="changePasswordAlign"><span class="successshow">{{successMsg}}</span></div>
                    <div *ngIf="showErrorMessage" class="changePasswordAlign"><span class="errorshow">{{showErrorMessage}}</span></div>

                    <div class="card-body">
                        <form [formGroup]="updatepassform" (ngSubmit)="onSubmit()">
                            <div *ngIf="showErrorMessage" class="alert alert-danger">Something went wrong</div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="bi bi-envelope-fill"></i>
                                        </span>
                                    </div>
                                    <input type="text"   class="form-control" readonly maxlength="50"  value="{{user.email}}"/>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">New Password</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="bi bi-lock-fill"></i>
                                        </span>
                                    </div>
                                    <input type="password" formControlName="password" class="form-control" placeholder="Enter your new password" minlength="8" maxlength="15"
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [(ngModel)]="user.password"/>
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                        <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password"> Confirm Password</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="bi bi-lock-fill"></i>
                                        </span>
                                    </div>
                                    <input type="password" formControlName="confirmpassword" class="form-control" placeholder="Enter your password again" pattern="{{ user.password }}"
                                    [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }"/>
                                    <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
                                        <div *ngIf="f.confirmpassword.errors.pattern">Password and Confirm password must be same</div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="form-group">
                                <label for="otp">OTP</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="bi bi-lock-fill"></i>
                                        </span>
                                    </div>
                                    <input type="otp" formControlName="otp" class="form-control" placeholder="Enter your new otp" minlength="6" maxlength="8"
                                    [ngClass]="{ 'is-invalid': submitted && f.otp.errors }" [(ngModel)]="user.otp"/>
                                    <div *ngIf="submitted && f.otp.errors" class="invalid-feedback">
                                        <div *ngIf="f.otp.errors.required">OTP is required</div>
                                        <div *ngIf="f.otp.errors.minlength">OTP must be at least 6 characters</div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="row" style="display: block;">
                                <div class="col-xs-12">
                                <div class="text-align" style="text-align: center;">
                                <button [disabled]="loading" class="btn btn-primary btn-rounded btn-lg font-weight-medium auth-form-btn"><i class="bi bi-key-fill"></i> Submit</button>
                            </div>
                            </div>
                             </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-7" style="text-align: center;
                float: right;
                margin: 24px;
                background: rgba(228, 224, 223, 0.5);
                color: #365520;">

                <h2>Digital Support for Testing, Inspection and Ceritification of Electrical Installation</h2>
                <h1 style="font-weight: 600;">INTELLIGENT - INTERACTIVE - MODERN</h1>
                </div>
            </div>
        </div>
    </div>
</div>
