<html>
    <ng-template #reference></ng-template>
<body>
    <div *ngIf="destroy">
         <!-- <app-lps-matstepper *ngIf="showHome"></app-lps-matstepper> -->
         <app-licenselist *ngIf="showLicence"></app-licenselist>
         <!-- <app-verificationlv *ngIf="showHome"></app-verificationlv> -->
    </div>
    <div *ngIf="!destroy" style="padding: 20px; background: white;">
    <button style="float: right;" type="submit"
        class="btn btn-block btn-primary btn-rounded btn-md font-weight-medium auth-form-btn"
        (click)="onNavigateToQuestionaire()" [disabled]="displayIconsBasedOnEmail()">Skip</button>
    <button style="float: right;" class="btn btn-block btn-primary btn-rounded btn-md font-weight-medium auth-form-btn" 
         printSectionId="printdiv" ngxPrint [disabled]="displayIconsBasedOnEmail()">Print</button>
            <h2 style="text-align: center;margin-bottom: 0rem;">Testing Inspection and Certification of Lightning Protection System (LPS) </h2>
            <h5 style="margin-left: 28rem;margin-top: 0rem;">This safety audit (Testing Inspection & Certification) is based on IEC 2305</h5>
    <div id="printdiv">
        <br>
        <p>The effectiveness of an LPS depends on its installation, maintenance, and the testing methods used. TIC of LPS ensures 
        </p>
        <div>
        <ol class="k">
            <li>Confirmation to the technical requirements of IEC 62305,</li>
            <li>All components of the LPS are in good condition and there is no corrosion,</li>
            <li>LPS includes all addition and modifications in the structure.</li>
        </ol>
        </div>
        <div>
            <p>Testing shall be made during the construction of the structure, to check the embedded electrodes in case of LPS integrated in the building and after the installation of the LPS to ensure its confirmation to the technical requirements of the standard.</p>

            <p>Periodical TIC is necessary to find out the condition of LPS and the installation is free from corrosion problems. Periodic TIC shall be carried out after alterations, repairs or after a lightning strike to the building. Regular inspections are necessary for reliable maintenance of an LPS.</p>
        </div>
        <div>
            <h3>Protection measures against injury to human beings due to touch and step voltages</h3>
            <p style="font-weight: bold;"> <u>Protection measures against touch voltages:</u></p>
            <p>Under normal conditions people are present in the vicinity of the down-conductors of an LPS. The hazard is reduced to a tolerable level if one of the following conditions is fulfilled:</p>           
            <ol class="k">
                <li>Under normal operation conditions there are no persons within 3 m from the down conductors,</li>
                <li>The “natural” down-conductor system consists of at least 10 columns of the extensive metal framework of the structure or of at least 10 pillars of interconnected steel of the structure, with the electrical continuity ensured, </li>
                <li>The contact resistance with the soil, within 3 m of the down-conductor, is not less than 100 kΩ over an area of a typical footprint (0.02 m2).</li>
            </ol>
            <p>
                If none of these conditions is fulfilled, protection measures shall be adopted against injury to human beings due to touch voltages as follows:
            </p>
            <p>
                Insulation of the exposed down-conductor is provided giving a 100 kV, 1,2/50 μs impulse withstand voltage, e.g. at least 3 mm cross-linked polyethylene; the withstand voltage should be considered in wet conditions, physical restrictions and/or warning notices to minimize the probability of down-conductors being touched. 
            </p>
            <p style="font-weight: bold;"> <u>Protection measures against step voltages:</u></p>
            <p>In certain conditions, the vicinity of the down-conductors may be hazardous to life even if the LPS has been designed and constructed according to the above-mentioned rules. The hazard is reduced to a tolerable level if one of the following conditions is fulfilled:</p>
            <ol class="k">
                <li>Under normal operation conditions there are no persons within 3 m from the down conductors,</li>
                <li>The “natural” down-conductor system consists of at least 10 columns of the extensive metal framework of the structure or of at least 10 pillars of interconnected steel of the structure, with the electrical continuity ensured,</li>
                <li>The contact resistance of the surface layer of the soil within 3 m 1400 of the down-conductor is not less than 100 kΩ.</li>
            </ol>
            <p>If none of these conditions is fulfilled, protection measures shall be adopted against injury to human beings due to step voltages as follows:</p>
            <ul>
                <li>Equipotentialization by means of a meshed earth-termination system,</li>
                <li>physical restrictions and/or warning notices to minimize the probability of access to the dangerous area, within 3 m of the down-conductor.</li>
            </ul>
        </div>
        <button style="float: right;" type="submit"
        class="btn btn-block btn-primary btn-rounded btn-md font-weight-medium auth-form-btn-continue"
        (click)="onNavigateToQuestionaire()"[disabled]="displayIconsBasedOnEmail()">Continue
    </button>
    </div>
   
    </div>
    
</body>
</html>