<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar role="toolbar" class="main-header mat-elevation-z1 sticky-header example-toolbar">
    <mat-toolbar-row>
      <button mat-button (click)="isExpanded = !isExpanded" *ngIf="desktopDisplay">
        <mat-icon>menu</mat-icon>
      </button>
      <!-- <button mat-button (click)="sidenav.toggle()" *ngIf="mobileDisplay">
        <mat-icon>menu</mat-icon>
      </button> -->
      <div class="brand-logo">
        <a href="#"><img src="assets/img/Rush_Final_logo.png"></a>
      </div>
      <div class="appName">
      <span>Rush Safety Applications</span>
    </div>
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>{{fullName}}
      </button>          
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="profileUpdate(email)"><mat-icon >manage_accounts</mat-icon>Profile</button>
        <button mat-menu-item (click)="changePassword(email)"><mat-icon >build</mat-icon>Change Password</button>
        <button  mat-menu-item (click)="logout()"><mat-icon >logout</mat-icon>Logout</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
 
    <mat-sidenav-container class="example-container" [autosize]="autosize" fxFlexFill>
    <mat-sidenav mode="side" opened="true" class="desktopDisplay"
    [ngStyle]="{'width': isExpanded ? '295px' : (!isExpanded && isShowing ? '295px' : '60px')}"
    (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">

    <div class="logomain" style="margin-top: 35px;">
      <button class="btn btn-info" (click)="openModal()" 
      style="float: left;padding: 7px 10px 0px 10px;margin: 5px 10px 5px 7px;">
       <mat-icon aria-hidden="false" aria-label="Example home icon" mat-list-icon>add_box</mat-icon>
      </button>
      <span *ngIf="isExpanded || isShowing" style="margin-top: 15px;
      position: absolute;">Add New Application Type</span>
    </div>
    <mat-nav-list>
      <mat-list-item *ngFor="let type of applicationTypes"
      [ngClass]="{'highlight': selectedRowIndex == type.id}"
      (click)="highlight(type)">
        <div class="col-md-2" style="position: sticky;">
        <button class="btn btn-info" 
        style="float: left;padding: 3px 5px 3px 5px;
        margin: 5px 4px 5px -8px;">
        <span>{{ type.applicationName }}</span>        
        </button>
        </div>
        <a class="logomain col-md-8">
          <span *ngIf="isExpanded || isShowing" style="margin-left: 8px;"
          (click)="showLinkDescription(type.id)" title="{{type.type}}">{{ type.code }}</span>
        </a>

      <div class="MenuIcons col-md-4" style="display: flex;margin-left: -27px;">
        <button mat-menu-item (click)="editApplicationType(type.id, type.type, type.code)" style="height: 30px;"
        class="full-width" *ngIf="isExpanded || isShowing" title="Edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-menu-item (click)="deleteApplicationType(type.id)" style="height: 30px;"
        class="full-width" *ngIf="isExpanded || isShowing" title="Delete">
          <mat-icon>delete</mat-icon>
        </button>   
      </div>     
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content fullscreen fxFlexFill>
    <div style="margin: 185px; text-align: center;" *ngIf="welcome">
    <h1 style="font-size: 35px;">Welcome to Rush Safety Applications</h1>
    <p>Note: Kindly go through the sub-menus on the left side panel.</p>
  </div>
    <ng-template #ref></ng-template>
 </mat-sidenav-content>
 
</mat-sidenav-container>


</div>


 
