<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar role="toolbar" class="main-header mat-elevation-z1 sticky-header example-toolbar">
    <mat-toolbar-row>
      <button mat-button (click)="isExpanded = !isExpanded" *ngIf="desktopDisplay">
        <mat-icon>menu</mat-icon>
      </button>
      <!-- <button mat-button (click)="onToggleSidenav()" *ngIf="mobileDisplay">
        <mat-icon>menu</mat-icon>
      </button> -->
      <div class="col-md-2 brand-logo">
        <a href="#"><img src="assets/img/Original-green.png"></a>
      </div>
      <div class="appName">
      <span>SOLVE: Intelligent-Interactive-Modern</span>
    </div>
      <span class="spacer"></span>
      <!-- <button mat-button [matMenuTriggerFor]="notify" *ngIf="oldNotification">
        <mat-icon matBadge="{{count}}">notifications</mat-icon>
      </button> -->

      <!-- new notification -->
      <button mat-button [matMenuTriggerFor]="Newnotify">
        <mat-icon matBadge="{{newNotificationCount}}">notifications</mat-icon>
      </button>

      <button mat-button [matMenuTriggerFor]="menu" style="min-width: unset;">
        <mat-icon>person</mat-icon>{{fullName}}
      </button>

      <!-- <mat-menu #notify="matMenu">
        <div *ngIf="viewerComment" style="padding: 10px;text-align: center;text-decoration: underline;
        cursor: pointer;" 
        ngxScrollTo [ngxScrollToOffset]="300" (click)="triggerScrollTo()" >
          You have 1 new comment from Viewer
          <span style="color: #17a2b8;
          display: flex;
          font-size: 11px;
          float: right;">{{viewerTime | dateAgo}}</span>
        </div>
        <div *ngIf="inspectorReply" style="padding: 10px;text-align: center;text-decoration: underline;
        cursor: pointer;" 
        ngxScrollTo [ngxScrollToOffset]="300" (click)="triggerScrollTo()">
          You have 1 new comment from Inspector
          <span style="color: #17a2b8;
          display: flex;
          font-size: 11px;
          float: right;">{{inspectorTime | dateAgo}}</span>
        </div>

        <div *ngIf="zeroNotification" style="padding: 10px;">
          No new notifications!
        </div>
      </mat-menu> -->

      <mat-menu #Newnotify="matMenu" style="width: auto !important;">
        <div *ngIf="NewViewerComment">
        <!-- <div style="text-decoration: underline;text-align: end;
        padding: 0px 5px;
        color: #17a2b8;
        font-weight: 600;">
          Mark as read
        </div> -->
        <div *ngFor="let a of activeNotificationData;" style="padding: 15px 10px 20px 10px;text-align: center;background-color: #17a2b82e;
        border-color: #17a2b82e;
        margin: 10px 5px 10px 5px;">
         For site <b>{{a.siteName}}-</b>&nbsp; <span title="Click here" style="text-decoration: underline;cursor: pointer;"
         (click)="triggerNavigateTo(a.siteName)">You have 1 new comment from Viewer</span>
         <br>
          <div style="color: #17a2b8;
          display: flex;
          font-size: 11px;
          float: right;font-weight: 500;">{{a.viewerDate | dateAgo}}</div>
        </div>
      </div>
      <div *ngIf="NewInspectorReply">
        <!-- <div style="text-decoration: underline;text-align: end;
        padding: 0px 5px;
        color: #17a2b8;
        font-weight: 600;">
          Mark as read
        </div> -->
        <div *ngFor="let a of activeNotificationData;" style="padding: 15px 10px 20px 10px;text-align: center;background-color: #17a2b82e;
        border-color: #17a2b82e;
        margin: 10px 5px 10px 5px;">
        For site <b>{{a.siteName}}-</b> &nbsp;
          <span (click)="triggerNavigateTo(a.siteName)" title="Click here" style="text-decoration: underline;cursor: pointer;">You have 1 new comment from Inspector
          </span>
        <br>
          <div style="color: #17a2b8; 
          display: flex;
          font-size: 11px;
          float: right;font-weight: 500;">{{a.inspectorDate | dateAgo}}</div>
        </div>
      </div>
        <div *ngIf="newZeroNotification" style="padding: 10px;">
          No new notifications!
        </div>
      </mat-menu>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="profileUpdate(email)"><mat-icon >manage_accounts</mat-icon>Profile</button>
        <button mat-menu-item (click)="changePassword(email)"><mat-icon >build</mat-icon>Change Password</button>
        <button  mat-menu-item (click)="logout()"><mat-icon >logout</mat-icon>Logout</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
    <mat-sidenav-container class="example-container" [autosize]="autosize" fxFlexFill>
    <mat-sidenav mode="side" opened="true" class="desktopDisplay"
    [ngStyle]="{'width': isExpanded ? '295px' : (!isExpanded && isShowing ? '295px' : '60px')}"
    (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">

    <div class="logomain" style="margin-top: 40px;margin-left: 10px;">
      <span *ngIf="isExpanded || isShowing" style="position: absolute;margin-left: 4px;font-size: 18px;
      font-weight: 500;">Electrical Inspection Services</span>
    </div>
    <mat-nav-list>

      <mat-list-item [ngClass]="{'highlight': selectedRowIndex == itemValue1}" (click)="highlight('IN')" style="padding: 5px;">
        <div class="col-md-2" style="position: sticky;">
        <button class="btn btn-info"
        style="float: left;padding: 3px 5px 3px 5px;
        margin: 5px 4px 5px -8px;">
        <span>IN</span>
        </button>
        </div>
        <a class="logomain col-md-8">
          <span *ngIf="isExpanded || isShowing" style="margin-left: -14px;"
          (click)="showLinkDescription('IN')" title="Introduction">Introduction</span>
        </a>
      </mat-list-item>

        <mat-list-item *ngIf="showTIC" (click)="showSubmenu = !showSubmenu" [ngClass]="{'highlight': selectedRowIndex == itemValue2}" 
        (click)="highlight('TIC')" style="padding: 5px;">
          <div class="col-md-2" style="position: sticky;">
            <button class="btn btn-info"
            style="float: left;padding: 3px 5px 3px 5px;
            margin: 5px 4px 5px -8px;">
            <span>TIC</span>
            </button>
            </div>
          <span class="full-width" *ngIf="isExpanded || isShowing">TIC</span>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded"  
        [ngStyle]="{'display': showSubmenu ? 'block' : 'none'}">
        <div *ngFor="let type of ApplicationTypesSplit">
          <a>
            <mat-list-item (click)="showLinkDescription(type)" class="leftAlignSub" 
            [ngClass]="{'highlightType': selectedRowIndexType == type}" (click)="highlightType(type)">{{ type }}</mat-list-item>
          </a>   
        </div>     
        </div>
      <mat-list-item [ngClass]="{'highlight': selectedRowIndex == itemValue3}" (click)="highlight('RM')" style="padding: 5px;">
        <div class="col-md-2" style="position: sticky;">
        <button class="btn btn-info"
        style="float: left;padding: 3px 5px 3px 5px;
        margin: 5px 4px 5px -8px;">
        <span>RM</span>
        </button>
        </div>
        <a class="logomain col-md-8">
          <span *ngIf="isExpanded || isShowing" style="margin-left: -14px;"
          (click)="showLinkDescription('RM')" title="Rent Meter">Rent Meter</span>
        </a>
      </mat-list-item>

      <mat-list-item [ngClass]="{'highlight': selectedRowIndex == itemValue4}" (click)="highlight('BM')" style="padding: 5px;">
        <div class="col-md-2" style="position: sticky;">
        <button class="btn btn-info"
        style="float: left;padding: 3px 5px 3px 5px;
        margin: 5px 4px 5px -8px;">
        <span>BM</span>
        </button>
        </div>
        <a class="logomain col-md-8">
          <span *ngIf="isExpanded || isShowing" style="margin-left: -14px;"
          (click)="showLinkDescription('BM')" title="Buy Meter">Buy Meter</span>
        </a>
      </mat-list-item>

        <mat-list-item  *ngIf="showREP" (click)="showSubmenuRep = !showSubmenuRep" [ngClass]="{'highlight': selectedRowIndex == itemValue5}" 
        (click)="highlight('REP')" style="padding: 5px;">
          <div class="col-md-2" style="position: sticky;">
            <button class="btn btn-info"
            style="float: left;padding: 3px 5px 3px 5px;
            margin: 5px 4px 5px -8px;">
            <span>REP</span>
            </button>
            </div>
            <a class="logomain col-md-8">
              <span *ngIf="isExpanded || isShowing" style="margin-left: -10px;"
              (click)="showLinkDescription('REP')" title="Reports">Reports</span>
            </a>
          <mat-icon class="menu-button" style="margin-left: 24px;" [ngClass]="{'rotated' : showSubmenuRep}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubmenuRep}" *ngIf="isShowing || isExpanded">
          <a>
            <mat-list-item class="leftAlignSub" (click)="showSubmenuOngoing = !showSubmenuOngoing" [ngClass]="{'highlightSub': selectedRowIndexSub == SubitemValue1}" >Ongoing TIC
              <mat-icon class="menu-button" style="margin-left: 50px;" [ngClass]="{'rotated' : showSubmenuOngoing}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
            </mat-list-item>
          </a>
          <div class="submenu" style="margin-left: -35px;" [ngClass]="{'expanded' : showSubmenuOngoing}" *ngIf="showSubmenuOngoing">
            <a>
              <mat-list-item class="leftAlignSub"  [ngClass]="{'highlightSub': selectedRowIndexSub == SubitemValueOngoing1}" (click)="highlightSub('LV Systems')" >LV Systems
              </mat-list-item>
            </a>   
            <a>
              <mat-list-item class="leftAlignSub"  [ngClass]="{'highlightSub2': selectedRowIndexSub == SubitemValueOngoing2}" (click)="highlightSub('EMC Assessment')">EMC Assessment
              </mat-list-item>
            </a> 
            <a>
              <mat-list-item class="leftAlignSub"  [ngClass]="{'highlightSub2': selectedRowIndexSub == SubitemValueOngoing3}" (click)="highlightSub('LPS Systems')">LPS Systems
              </mat-list-item>
            </a> 
          </div>   

          <a>
            <mat-list-item class="leftAlignSub" (click)="showSubmenuCompleted = !showSubmenuCompleted" [ngClass]="{'highlightSub2': selectedRowIndexSub == SubitemValue2}" >Completed TIC
              <mat-icon class="menu-button" style="margin-left: 32px;" [ngClass]="{'rotated' : showSubmenuCompleted}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
            </mat-list-item>
          </a> 
          <div class="submenu" style="margin-left: -35px;" [ngClass]="{'expanded' : showSubmenuCompleted}" *ngIf="showSubmenuCompleted">
            <a>
              <mat-list-item class="leftAlignSub"  [ngClass]="{'highlightSub': selectedRowIndexSub == SubitemValueCompleted1}" (click)="highlightSub2('LV Systems')">LV Systems
              </mat-list-item>
            </a>   
            <a>
              <mat-list-item class="leftAlignSub"  [ngClass]="{'highlightSub2': selectedRowIndexSub == SubitemValueCompleted2}" (click)="highlightSub2('EMC Assessment')">EMC Assessment
              </mat-list-item>
            </a> 
            <a>
              <mat-list-item class="leftAlignSub"  [ngClass]="{'highlightSub2': selectedRowIndexSub == SubitemValueCompleted3}" (click)="highlightSub2('LPS Systems')">LPS Systems
              </mat-list-item>
            </a> 
          </div>   
        </div>

        

      <!-- <mat-list-item *ngFor="let type of mainApplications"
      [ngClass]="{'highlight': selectedRowIndex == type}"
      (click)="highlight(type)">
      <a class="logomain col-md-9" style="padding-right: 0px;
      padding-left: 3px;">
        <div class="col-md-2" style="position: sticky;"  (click)="showLinkDescription(type.id)">
        <button class="btn btn-info"
        style="float: left;padding: 3px 5px 3px 5px;
        margin: 5px 4px 5px -8px;">
        <span>{{ type.code }}</span>
        </button>
        </div>
        <a class="logomain col-md-8">
          <span *ngIf="isExpanded || isShowing" style="margin-left: 8px;"
          (click)="showLinkDescription(type)" title="{{type.type}}">{{ type.name }}</span>
        </a> -->

      <!-- <div class="MenuIcons col-md-4" style="display: flex;margin-left: -27px;">
        <button mat-menu-item (click)="editApplicationType(type.id, type.type, type.code)" style="height: 30px;"
        class="full-width" *ngIf="isExpanded || isShowing" title="Edit" [disabled]="displayIconsBasedOnEmail()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-menu-item (click)="deleteApplicationType(type.id)" style="height: 30px;"
        class="full-width" *ngIf="isExpanded || isShowing" title="Delete" [disabled]="displayIconsBasedOnEmail()">
          <mat-icon>delete</mat-icon>
        </button>
      </div> -->
      <!-- </mat-list-item> -->

    </mat-nav-list>
   
  </mat-sidenav>

  <mat-sidenav-content fullscreen fxFlexFill id="destination" class="pagePadding" [ngStyle]="{'padding': currentUser1.role == 'Viewer' ? '20px' : 'unset'}">
    <div class="col-sm-12 welcome-text" style="text-align: center;" *ngIf="welcome">
      <h1 style="font-size: 35px;">Welcome to SOLVE Applications</h1>
      <p>Note: Kindly go through the sub-menus on the left side panel.</p>
    </div>

    <ng-template #ref></ng-template>
    <app-verificationlv *ngIf="value" #verify></app-verificationlv>
    <!-- (proceedNext)="onGoingEditSite($event)" -->
    <!-- ongoing site -->
    <div class="card" *ngIf="ongoingSite">
      <div class="card-body">
      <table mat-table [dataSource]="ongoingSite_dataSource" class="mat-elevation-z8 table" id="tableResponsive" matSort
      #ongoingSiteSort="matSort">

      <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="siteCd">
        <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
          mat-sort-header> Site Code </th>
        <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
          {{element.siteCd}} </td>
      </ng-container>
      <ng-container matColumnDef="site">
        <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
          mat-sort-header> Site Name </th>
        <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element"
          class="mousechange"> {{element.site}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="country">
        <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
          mat-sort-header> Country </th>
        <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
          {{element.country}} </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
          mat-sort-header> City </th>
        <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
          {{element.city}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="createdDate">
        <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
          mat-sort-header> Created Date </th>
        <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
          {{element.createdDate | date : 'shortDate'}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="createdBy">
        <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
          mat-sort-header> Created By </th>
        <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
          {{element.createdBy}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="updatedDate">
        <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
          mat-sort-header> Updated Date </th>
        <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
          {{element.updatedDate | date : 'shortDate'}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="updatedBy">
        <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
          mat-sort-header> Updated By </th>
        <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
          {{element.updatedBy}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="action">
          <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef> Action
          </th>
          <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
            <button class="btn btn-outline-danger delete" title="Edit Site" (click)="editSite(element.siteId,element.userName,element.site)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="ongoingSiteColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: ongoingSiteColumns;" title="Click here to edit Site details" 
      (click)="editSite(row.siteId,row.userName,row.site)" style="cursor: pointer;"
        [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (mouseover)="row.hovered = true"
        (mouseout)="row.hovered = false" class="highlight-row"></tr>

    </table>
    <mat-paginator #ongoingSitePaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
    </div>

    <!-- completed site -->
    <div class="card" *ngIf="completedSite">
      <div class="card-body">
      <table mat-table [dataSource]="completedLicense_dataSource" class="mat-elevation-z8 table" id="tableResponsive" matSort
      #completedLicenseSort="matSort">

      <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      
      <ng-container matColumnDef="siteCd">
        <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
          mat-sort-header> Site Code </th>
        <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
          {{element.siteCd}} </td>
      </ng-container>
      <ng-container matColumnDef="site">
        <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
          mat-sort-header> Site Name </th>
        <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element"
          class="mousechange"> {{element.site}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="country">
        <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
          mat-sort-header> Country </th>
        <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
          {{element.country}} </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
          mat-sort-header> City </th>
        <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
          {{element.city}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="createdDate">
        <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
          mat-sort-header> Created Date </th>
        <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
          {{element.createdDate | date : 'shortDate'}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="createdBy">
        <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
          mat-sort-header> Created By </th>
        <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
          {{element.createdBy}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="updatedDate">
        <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
          mat-sort-header> Updated Date </th>
        <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
          {{element.updatedDate | date : 'shortDate'}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="updatedBy">
        <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef
          mat-sort-header> Updated By </th>
        <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
          {{element.updatedBy}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
          <th style="width: auto; text-align: justify; padding: auto;" mat-header-cell *matHeaderCellDef> Action
          </th>
          <td style="width: auto; text-align: justify; padding: auto;" mat-cell *matCellDef="let element">
            <button class="btn btn-outline-danger delete" title="View Site" (click)="viewSite(element.siteId,element.userName,element.site)">
              <mat-icon>visibility</mat-icon>
            </button>
            <button class="btn btn-outline-danger delete" title="Download Final PDF" 
            (click)="downloadPdf(element.siteId,element.userName, element.site)" [disabled]="disable"
            style="border-color: #cdcecf;box-shadow: unset;">
              <mat-icon>download</mat-icon>
            </button>
            <button class="btn btn-outline-danger delete" title="Trigger Email With Final PDF" 
            (click)="emailPDF(element.siteId,element.userName, element.site)" [disabled]="disable"
            style="border-color: #cdcecf;box-shadow: unset;">
              <mat-icon>email</mat-icon>
            </button>
            <button class="btn btn-outline-danger delete" title="Print Final PDF" 
            (click)="pdfModal(element.siteId,element.userName, element.site)" [disabled]="disable"
            style="border-color: #cdcecf;box-shadow: unset;">
            <mat-icon>print</mat-icon></button>
          </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="completedLicenseColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: completedLicenseColumns; "
        [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (mouseover)="row.hovered = true"
        (mouseout)="row.hovered = false" class="highlight-row"></tr>

    </table>
    <mat-paginator #completedLicensePaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    <div class="centre-text m-btm30">
      <div *ngIf="success" style="text-align: center;">
        <span class="successshow">{{successMsg}}</span>
       </div>
       <div *ngIf="Error" style="text-align: center;">
         <span class="errorshow">{{errorMsg}}</span>
        </div>
           </div>
</div>
    </div>
 </mat-sidenav-content>

</mat-sidenav-container>
</div>

