.brand-logo {
  width: 89%;
}


.brand-logo img{
  width: 89%;
}
.sidenav-container {
  height: 90%;

}

.sidenav {
  /* width: 500px; */
  width: 370px;

}

.sidenav .mat-toolbar {
  background: inherit;
  margin-bottom: 20px;
  background: #3f51b5;
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  /* z-index: 1; */
  z-index: 999;
}

.spacer {
  flex: 1 1 auto;
}

.spacer-row {
  margin-top: auto;
  margin-bottom: auto;
}

.text-spacer{
  margin-right: auto;

}


/* aish changes*/
.welcome-text{
  margin: 80px 0px 185px 0px;
}
/* .example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
} */

/* .example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
} */

/* .example-sidenav {
  padding: 20px;
} */

.app-drawer-container {
  flex: 1;
}

.app-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.appName{
  /* text-align: center; */
    display: initial;
    width: inherit;
    /* margin: 0 auto; */
    font-size: 18px;
    /* margin-left: -100px; */
}
.example-container {
  /* height: 240vh; */
  min-height: 88.5%;
  display: block !important;
}
.example-sidenav-content {
  /* display: flex; */
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
   user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 56px;
}
.submenu.expanded {
  transform: scaleY(1);
}

#logicCircuit .sb-mobile-diagram {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-left: none;
}
.e-symbolpalette {
  display: block;
}

.material #logicCircuit #palette-space .e-accordion {
  border: none;
}

.material #logicCircuit #palette-space {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.bootstrap #logicCircuit .sb-mobile-diagram {
  height: calc(100% - 5px);
  margin-top: 5px;
  border-radius: 4px;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.fabric #logicCircuit .sb-mobile-diagram {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

/* #footer{
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 26px;
  width: 100%;
} */


.videoTextEx{
  margin-left: 75px;
}
.videoText{
  margin-left: 95px;
}
.followUs{
  margin-left: 70px; 
}
.followUsEx{
  margin-left: 34px;
}
