<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div class="brand-logo">
        <a href="#"><img src="assets/img/Cape-logo.png"></a>
      </div>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item>
        <a [routerLink]="['/home']">Verification of LV system (IEC 60364-6)</a>
      </mat-list-item>
      <mat-divider class="spacer-row"></mat-divider>

      <mat-list-item>
        <a [routerLink]="['/home']">Verification of HV system (up to 33 kV) (IEC 61936-1)</a>
      </mat-list-item>
      <mat-divider class="spacer-row"></mat-divider>

      <mat-list-item>
        <a [routerLink]="['/home']">Lightning protection conformity assessment, risk assessment,  inspection and maintenance (IEC 62305-3 & 4) </a>
      </mat-list-item>
      <mat-divider class="spacer-row"></mat-divider>

      <mat-list-item>
        <a [routerLink]="['/home']">EMC assessment of an installation (IEC 61000-5-1)</a>
      </mat-list-item>
      <mat-divider class="spacer-row"></mat-divider>

      <mat-list-item>
        <a [routerLink]="['/home']">Failure analysis of electronic systems</a>
      </mat-list-item>
      <mat-divider class="spacer-row"></mat-divider>

      <mat-list-item>
        <a [routerLink]="['/home']">Conformity and project analysis</a>   
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Cape Electric Applications</span>
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon >person</mat-icon>User Name</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item><mat-icon >manage_accounts</mat-icon>Profile</button>
        <button mat-menu-item><mat-icon >build</mat-icon>Change Password</button>
        <button  mat-menu-item (click)="logout()"><mat-icon >logout</mat-icon>Logout</button>
      </mat-menu>
      
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
