<div class="card">
    <!-- Exception -->
    <div class="centre-text m-btm30">
      <div *ngIf="error1" style="text-align: center;margin-top: 5px;margin-bottom: 40px">
        <span class="errorshow">{{ error1Msg }}</span>
      </div>
    </div>
    
    <div class="card-header" style="text-align: center; display: block">
       <h2 class="modal-title" style="display: contents">ACB/VCB/SF6 CB</h2>
     </div>
   <div class="card-body">
     <form [formGroup]="acbForm" (keyup)="onKeyForm($event)" (change)="onChangeForm($event)">
     <div class="row">
       <div class="col-md-3">
         <div class="form-group">
           <label>Reference Name</label>
           <input type="text" class="form-control" formControlName="referenceName" [(ngModel)]="acb.referenceName"
           [ngClass]="{ 'is-invalid': submittedACB && h.referenceName?.errors }">
           <div *ngIf="submittedACB && h.referenceName?.errors" class="invalid-feedback">
             <div *ngIf="h.referenceName?.errors?.required">Reference name is required</div>
           </div>
         </div>
       </div>

       <div class="col-md-3">
         <div class="form-group">
           <label>OCPD Manfacturer Name</label>
           <input type="text" class="form-control" formControlName="manufacturerName" [(ngModel)]="acb.manufacturerName"
           [ngClass]="{ 'is-invalid': submittedACB && h.manufacturerName?.errors }">
           <div *ngIf="submittedACB && h.manufacturerName?.errors" class="invalid-feedback">
             <div *ngIf="h.manufacturerName?.errors?.required">Manufacturer Name is required</div>
           </div>
         </div>
       </div>

       <div class="col-md-3">
        <div class="form-group">
          <label>OCPD Type</label>
          <select  class="form-control" formControlName="ocpdType" [(ngModel)]="acb.ocpdType"
          [ngClass]="{ 'is-invalid': submittedACB && h.ocpdType?.errors }">
            <option value="" disabled>Select Option</option>
            <option value="ACB">ACB</option>
            <option value="VCB">VCB</option>
            <option value="3SF6 CB">3SF6 CB</option>
          </select>        
          <div *ngIf="submittedACB && h.ocpdType?.errors" class="invalid-feedback">
            <div *ngIf="h.ocpdType?.errors?.required">OCPD Type is required</div>
          </div>
        </div>
      </div>


       <div class="col-md-3">
         <div class="form-group">
           <label>Rating(A)</label>
           <input type="number" class="form-control" formControlName="rating" [(ngModel)]="acb.rating"
           [ngClass]="{ 'is-invalid': submittedACB && h.rating?.errors }">
           <div *ngIf="submittedACB && h.rating?.errors" class="invalid-feedback">
             <div *ngIf="h.rating?.errors?.required">Rating is required</div>
           </div>
         </div>
       </div>

     </div>

     <div class="row">
       <div class="col-md-3">
         <div class="form-group">
           <label>Voltage(V)</label>
           <input type="number" class="form-control" formControlName="voltage" [(ngModel)]="acb.voltage"
           [ngClass]="{ 'is-invalid': submittedACB && h.voltage?.errors }">
           <div *ngIf="submittedACB && h.voltage?.errors" class="invalid-feedback">
             <div *ngIf="h.voltage?.errors?.required">Voltage is required</div>
           </div>
         </div>
       </div>

       <div class="col-md-3">
         <div class="form-group">
           <label>No of Poles</label>
           <select  class="form-control" formControlName="noOfPoles" [(ngModel)]="acb.noOfPoles"
           [ngClass]="{ 'is-invalid': submittedACB && h.noOfPoles?.errors }">
             <option value="" disabled>Select Option</option>
             <option value="1">1</option>
             <option value="2">2</option>
             <option value="3">3</option>
             <option value="4">4</option>
           </select>        
           <div *ngIf="submittedACB && h.noOfPoles?.errors" class="invalid-feedback">
             <div *ngIf="h.noOfPoles?.errors?.required">No of poles is required</div>
           </div>
         </div>
       </div>

       <div class="col-md-3">
         <div class="form-group">
           <label>Relay Manufacturers name</label>
           <input type="text" class="form-control" formControlName="relayManufacturer" [(ngModel)]="acb.relayManufacturer"
           [ngClass]="{ 'is-invalid': submittedACB && h.relayManufacturer?.errors }">
           <div *ngIf="submittedACB && h.relayManufacturer?.errors" class="invalid-feedback">
             <div *ngIf="h.relayManufacturer?.errors?.required">Relay Manufacturers is required</div>
           </div>
         </div>
       </div>

       <div class="col-md-3">
         <div class="form-group">
           <label>Model/Type</label>
           <input type="text" class="form-control" formControlName="model" [(ngModel)]="acb.model"
           [ngClass]="{ 'is-invalid': submittedACB && h.model?.errors }">
           <div *ngIf="submittedACB && h.model?.errors" class="invalid-feedback">
             <div *ngIf="h.model?.errors?.required">Model/Type is required</div>
           </div>
         </div>
       </div>
     </div>

     <br>
     <h3 style="text-align: center">Current setting</h3>
     <br>
     <div class="row">
       <div class="col-md-3">
         <div class="form-group">
           <label>Overcurrent instantaneous / High stage/ I>> (A)</label>
           <input type="number" class="form-control" formControlName="overcurrent" [(ngModel)]="acb.overcurrent"
           [ngClass]="{ 'is-invalid': submittedACB && h.overcurrent?.errors }">
           <div *ngIf="submittedACB && h.overcurrent?.errors" class="invalid-feedback">
             <div *ngIf="h.overcurrent?.errors?.required">OverCurrent is required</div>
           </div>
         </div>
       </div>
       <div class="col-md-3">
         <div class="form-group">
           <label>Set time (mS)</label>
           <input type="number" class="form-control" formControlName="setTimes" [(ngModel)]="acb.setTimes"
           [ngClass]="{ 'is-invalid': submittedACB && h.setTimes?.errors }">
           <div *ngIf="submittedACB && h.setTimes?.errors" class="invalid-feedback">
             <div *ngIf="h.setTimes?.errors?.required">Set time is required</div>
           </div>
         </div>
       </div>
       <div class="col-md-3">
         <div class="form-group">
           <label>Earth fault instantaneous/ high stage / Ig (A)</label>
           <input type="number" class="form-control" formControlName="earthFault" [(ngModel)]="acb.earthFault"
           [ngClass]="{ 'is-invalid': submittedACB && h.earthFault?.errors }">
           <div *ngIf="submittedACB && h.earthFault?.errors" class="invalid-feedback">
             <div *ngIf="h.earthFault?.errors?.required">Earth fault is required</div>
           </div>
         </div>
       </div>
       <div class="col-md-3">
         <div class="form-group">
           <label>Set time (mS)</label>
           <input type="number" class="form-control" formControlName="setTime" [(ngModel)]="acb.setTime"
           [ngClass]="{ 'is-invalid': submittedACB && h.setTime?.errors }">
           <div *ngIf="submittedACB && h.setTime?.errors" class="invalid-feedback">
             <div *ngIf="h.setTime?.errors?.required">Set time is required</div>
           </div>
         </div>
       </div>
     </div>

     <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Overvoltage protection Setting</label>
            <select  class="form-control" formControlName="overvoltage" [(ngModel)]="acb.overvoltage"
              [ngClass]="{ 'is-invalid': submittedACB && h.overvoltage?.errors }">
             <option value="" disabled>Select Option</option>
             <option value="Applicable">Applicable</option>
             <option value="Not Applicable">Not Applicable</option>
           </select>   
            <div *ngIf="submittedACB && h.overvoltage?.errors" class="invalid-feedback">
              <div *ngIf="h.overvoltage?.errors?.required">Overvoltage is required</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Set voltage (V)</label>
            <input type="number" class="form-control" formControlName="setVoltage" [(ngModel)]="acb.setVoltage"
            [ngClass]="{ 'is-invalid': submittedACB && h.setVoltage?.errors }">
            <div *ngIf="submittedACB && h.setVoltage?.errors" class="invalid-feedback">
              <div *ngIf="h.setVoltage?.errors?.required">Set time is required</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Set time (mS)</label>
            <input type="number" class="form-control" formControlName="settTime" [(ngModel)]="acb.settTime"
            [ngClass]="{ 'is-invalid': submittedACB && h.settTime?.errors }">
            <div *ngIf="submittedACB && h.settTime?.errors" class="invalid-feedback">
              <div *ngIf="h.settTime?.errors?.required">Set time is required</div>
            </div>
          </div>
        </div>
     </div>

     <br>
    
   <h2><b><u>Testing</u></b></h2>
       <ng-container formArrayName="generalTestingACB" *ngFor="let a of getGeneralTestingACBControls(); let i = index">
         <ng-container [formGroupName]="i">
           <h2>General Testing</h2>
           <div class="table-responsive">
             <table class="table" style="width: 70%; border: 1px solid black">
               <thead>
                 <tr>
                   <th>
                     Reference
                   </th>
       
                   <th>
                     Voltage(V)
                   </th>
       
                   <th>
                     Insulation Resistance(MΩ)
                   </th>
                 </tr>
               </thead>
       
               <tbody>
                 <tr>
                   <td>
                     R-N
                   </td>
       
                   <td>
                     <input type="text" formControlName="rNVoltage"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('rNVoltage')?.errors }">
                     <div *ngIf="submittedACB && a.get('rNVoltage')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('rNVoltage')?.errors?.required">rNVoltage is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="rNResistance"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('rNResistance')?.errors }">
                     <div *ngIf="submittedACB && a.get('rNResistance')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('rNResistance')?.errors?.required">rNResistance is required</div>
                     </div>
                   </td>
                 </tr>
       
                 <tr>
                   <td>
                     Y-N
                   </td>
       
                   <td>
                     <input type="text" formControlName="yNVoltage"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('yNVoltage')?.errors }">
                     <div *ngIf="submittedACB && a.get('yNVoltage')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('yNVoltage')?.errors?.required">yNVoltage is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="yNResistance"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('yNResistance')?.errors }">
                     <div *ngIf="submittedACB && a.get('yNResistance')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('yNResistance')?.errors?.required">yNResistance is required</div>
                     </div>
                   </td>
                 </tr>
       
                 <tr>
                   <td>
                     B-N
                   </td>
       
                   <td>
                     <input type="text" formControlName="bNVoltage"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('bNVoltage')?.errors }">
                     <div *ngIf="submittedACB && a.get('bNVoltage')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('bNVoltage')?.errors?.required">bNVoltage is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="bNResistance"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('bNResistance')?.errors }">
                     <div *ngIf="submittedACB && a.get('bNResistance')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('bNResistance')?.errors?.required">bNResistance is required</div>
                     </div>
                   </td>
                 </tr>
       
                 <tr>
                   <td>
                     R-E
                   </td>
       
                   <td>
                     <input type="text" formControlName="rEVoltage"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('rEVoltage')?.errors }">
                     <div *ngIf="submittedACB && a.get('rEVoltage')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('rEVoltage')?.errors?.required">rEVoltage is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="rEResistance"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('rEResistance')?.errors }">
                     <div *ngIf="submittedACB && a.get('rEResistance')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('rEResistance')?.errors?.required">rEResistance is required</div>
                     </div>
                   </td>
                 </tr>
       
                 <tr>
                   <td>
                     Y-E
                   </td>
       
                   <td>
                     <input type="text" formControlName="yEVoltage"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('yEVoltage')?.errors }">
                     <div *ngIf="submittedACB && a.get('yEVoltage')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('yEVoltage')?.errors?.required">yEVoltage is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="yEResistance"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('yEResistance')?.errors }">
                     <div *ngIf="submittedACB && a.get('yEResistance')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('yEResistance')?.errors?.required">yEResistance is required</div>
                     </div>
                   </td>
                 </tr>
       
                 <tr>
                   <td>
                     B-E
                   </td>
       
                   <td>
                     <input type="text" formControlName="bEVoltage"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('bEVoltage')?.errors }">
                     <div *ngIf="submittedACB && a.get('bEVoltage')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('bEVoltage')?.errors?.required">bEVoltage is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="bEResistance"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('bEResistance')?.errors }">
                     <div *ngIf="submittedACB && a.get('bEResistance')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('bEResistance')?.errors?.required">bEResistance is required</div>
                     </div>
                   </td>
                 </tr>
       
                <tr>
                 <td>
                   R-Y
                 </td>
                 <td>
                   <input type="text" formControlName="rYVoltage"
                     [ngClass]="{ 'is-invalid': submittedACB && a.get('rYVoltage')?.errors }">
                   <div *ngIf="submittedACB && a.get('rYVoltage')?.errors" class="invalid-feedback">
                     <div *ngIf="a.get('rYVoltage')?.errors?.required">rYVoltage is required</div>
                   </div>
                 </td>
       
                 <td>
                   <input type="text" formControlName="rYResistance"
                     [ngClass]="{ 'is-invalid': submittedACB && a.get('rYResistance')?.errors }">
                   <div *ngIf="submittedACB && a.get('rYResistance')?.errors" class="invalid-feedback">
                     <div *ngIf="a.get('rYResistance')?.errors?.required">rYResistance is required</div>
                   </div>
                 </td>
                 </tr>
       
                 <tr>
                   <td>
                     Y-B
                   </td>
       
                   <td>
                     <input type="text" formControlName="yBVoltage"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('yBVoltage')?.errors }">
                     <div *ngIf="submittedACB && a.get('yBVoltage')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('yBVoltage')?.errors?.required">yBVoltage is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="yBResistance"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('yBResistance')?.errors }">
                     <div *ngIf="submittedACB && a.get('yBResistance')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('yBResistance')?.errors?.required">yBResistance is required</div>
                     </div>
                   </td>
                 </tr>
                 <tr>
                   <td>
                     B-R
                   </td>
                   <td>
                   <input type="text" formControlName="bRVoltage"
                     [ngClass]="{ 'is-invalid': submittedACB && a.get('bRVoltage')?.errors }">
                   <div *ngIf="submittedACB && a.get('bRVoltage')?.errors" class="invalid-feedback">
                     <div *ngIf="a.get('bRVoltage')?.errors?.required">bRVoltage is required</div>
                   </div>
                 </td>
       
                 <td>
                   <input type="text" formControlName="bRResistance"
                     [ngClass]="{ 'is-invalid': submittedACB && a.get('bRResistance')?.errors }">
                   <div *ngIf="submittedACB && a.get('bRResistance')?.errors" class="invalid-feedback">
                     <div *ngIf="a.get('bRResistance')?.errors?.required">bRResistance is required</div>
                   </div>
                 </td>
                 </tr>
       
                 <tr>
                   <td>
                     NE
                   </td>
       
                   <td>
                     <input type="text" formControlName="nEVoltage"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('nEVoltage')?.errors }">
                     <div *ngIf="submittedACB && a.get('nEVoltage')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('nEVoltage')?.errors?.required">nEVoltage is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="nEResistance"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('nEResistance')?.errors }">
                     <div *ngIf="submittedACB && a.get('nEResistance')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('nEResistance')?.errors?.required">nEResistance is required</div>
                     </div>
                   </td>
                 </tr>
               </tbody>
             </table>
           </div>
       
           <br>
       
           <div class="table-responsive">
             <table class="table" style="width: 35%; border: 1px solid black">
               <thead>
                 <tr>
                   <th>
                     Reference
                   </th>
       
                   <th>
                     Load Current(A)
                   </th>
                 </tr>
               </thead>
       
               <tbody>
                 <tr>
                   <td>
                     IR
                   </td>
       
                   <td>
                     <input type="text" formControlName="iRCurrent"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('iRCurrent')?.errors }">
                     <div *ngIf="submittedACB && a.get('iRCurrent')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('iRCurrent')?.errors?.required">iRCurrent is required</div>
                     </div>
                   </td>
                 </tr>
       
                 <tr>
                   <td>
                     IY
                   </td>
       
                   <td>
                     <input type="text" formControlName="iYCurrent"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('iYCurrent')?.errors }">
                     <div *ngIf="submittedACB && a.get('iYCurrent')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('iYCurrent')?.errors?.required">iYCurrent is required</div>
                     </div>
                   </td>
                 </tr>
       
                 <tr>
                   <td>
                     IB
                   </td>
       
                   <td>
                     <input type="text" formControlName="iBCurrent"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('iBCurrent')?.errors }">
                     <div *ngIf="submittedACB && a.get('iBCurrent')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('iBCurrent')?.errors?.required">iBCurrent is required</div>
                     </div>
                   </td>
                 </tr>
       
                 <tr>
                   <td>
                     IN
                   </td>
       
                   <td>
                     <input type="text" formControlName="iNCurrent"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('iNCurrent')?.errors }">
                     <div *ngIf="submittedACB && a.get('iNCurrent')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('iNCurrent')?.errors?.required">iNCurrent is required</div>
                     </div>
                   </td>
                 </tr>
       
                 <tr>
                   <td>
                     IPE
                   </td>
       
                   <td>
                     <input type="text" formControlName="iPECurrent"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('iPECurrent')?.errors }">
                     <div *ngIf="submittedACB && a.get('iPECurrent')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('iPECurrent')?.errors?.required">iPECurrent is required</div>
                     </div>
                   </td>
                 </tr>
       
               </tbody>
             </table>
           </div>

           <br>
        
           <div class="row">
             <div class="col-md-4">
               <div class="form-group">
                 <label>Power Factor</label>
                 <input type="number" class="form-control" formControlName="powerFactor"
                   [ngClass]="{ 'is-invalid': submittedACB && a.get('powerFactor')?.errors }">
                 <div *ngIf="submittedACB && a.get('powerFactor')?.errors" class="invalid-feedback">
                   <div *ngIf="a.get('powerFactor')?.errors?.required">Power Factor is required</div>
                 </div>
               </div>
             </div>
       
             <div class="col-md-4">
               <div class="form-group">
                 <label>Frequency(Hz)</label>
                 <input type="number" class="form-control" formControlName="frequency"
                   [ngClass]="{ 'is-invalid': submittedACB && a.get('frequency')?.errors }">
                 <div *ngIf="submittedACB && a.get('frequency')?.errors" class="invalid-feedback">
                   <div *ngIf="a.get('frequency')?.errors?.required">Frequency is required</div>
                 </div>
               </div>
             </div>
           </div>
         </ng-container>
       </ng-container>
       
       <br>
       <ng-container formArrayName="safetyTestingACB" *ngFor="let a of getSafetyTestingACBControls(); let i = index">
         <ng-container [formGroupName]="i">
           <h2>Testing related to safety</h2>
       
           <div class="table-responsive">
             <table class="table" style="width: 100%; border: 1px solid black">
               <thead>
                 <tr>
                   <th>
                     Reference
                   </th>
       
                   <th>
                     Fault Loop Impedence(mΩ)
                   </th>
       
                   <th>
                     Prospective fault current (kA)
                   </th>
       
                   <th>
                     Disconnection time (mS)
                   </th>
       
                   <th>
                     Remarks
                   </th>
                 </tr>
               </thead>
       
               <tbody>
                 <tr>
                   <td>
                     R-N
                   </td>
       
                   <td>
                     <input type="text" formControlName="rNImpedence"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('rNImpedence')?.errors }">
                     <div *ngIf="submittedACB && a.get('rNImpedence')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('rNImpedence')?.errors?.required">rNImpedence is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="rNCurrent"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('rNCurrent')?.errors }">
                     <div *ngIf="submittedACB && a.get('rNCurrent')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('rNCurrent')?.errors?.required">rNCurrent is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="rNTime"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('rNTime')?.errors }">
                     <div *ngIf="submittedACB && a.get('rNTime')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('rNTime')?.errors?.required">rNTime is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="rNRemarks">
                   </td>
                 </tr>
       
                 <tr>
                   <td>
                     Y-N
                   </td>
       
                   <td>
                     <input type="text" formControlName="yNImpedence"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('yNImpedence')?.errors }">
                     <div *ngIf="submittedACB && a.get('yNImpedence')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('yNImpedence')?.errors?.required">yNImpedence is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="yNCurrent"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('yNCurrent')?.errors }">
                     <div *ngIf="submittedACB && a.get('yNCurrent')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('yNCurrent')?.errors?.required">yNCurrent is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="yNTime"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('yNTime')?.errors }">
                     <div *ngIf="submittedACB && a.get('yNTime')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('yNTime')?.errors?.required">yNTime is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="yNRemarks">
                   </td>
                 </tr>
       
                 <tr>
                   <td>
                     B-N
                   </td>
       
                   <td>
                     <input type="text" formControlName="bNImpedence"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('bNImpedence')?.errors }">
                     <div *ngIf="submittedACB && a.get('bNImpedence')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('bNImpedence')?.errors?.required">bNImpedence is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="bNCurrent"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('bNCurrent')?.errors }">
                     <div *ngIf="submittedACB && a.get('bNCurrent')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('bNCurrent')?.errors?.required">bNCurrent is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="bNTime"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('bNTime')?.errors }">
                     <div *ngIf="submittedACB && a.get('bNTime')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('bNTime')?.errors?.required">bNTime is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="bNRemarks">
                   </td>
                 </tr>
       
                 <tr>
                   <td>
                     R-E
                   </td>
       
                   <td>
                     <input type="text" formControlName="rEImpedence"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('rEImpedence')?.errors }">
                     <div *ngIf="submittedACB && a.get('rEImpedence')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('rEImpedence')?.errors?.required">rEImpedence is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="rECurrent"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('rECurrent')?.errors }">
                     <div *ngIf="submittedACB && a.get('rECurrent')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('rECurrent')?.errors?.required">rECurrent is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="rETime"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('rETime')?.errors }">
                     <div *ngIf="submittedACB && a.get('rETime')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('rETime')?.errors?.required">rETime is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="rERemarks">
                   </td>
                 </tr>
       
                 <tr>
                   <td>
                     Y-E
                   </td>
       
                   <td>
                     <input type="text" formControlName="yEImpedence"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('yEImpedence')?.errors }">
                     <div *ngIf="submittedACB && a.get('yEImpedence')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('yEImpedence')?.errors?.required">yEImpedence is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="yECurrent"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('yECurrent')?.errors }">
                     <div *ngIf="submittedACB && a.get('yECurrent')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('yECurrent')?.errors?.required">yECurrent is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="yETime"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('yETime')?.errors }">
                     <div *ngIf="submittedACB && a.get('yETime')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('yETime')?.errors?.required">yETime is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="yERemarks">
                   </td>
                 </tr>
       
                 <tr>
                   <td>
                     B-E
                   </td>
       
                   <td>
                     <input type="text" formControlName="bEImpedence"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('bEImpedence')?.errors }">
                     <div *ngIf="submittedACB && a.get('bEImpedence')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('bEImpedence')?.errors?.required">bEImpedence is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="bECurrent"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('bECurrent')?.errors }">
                     <div *ngIf="submittedACB && a.get('bECurrent')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('bECurrent')?.errors?.required">bECurrent is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="bETime"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('bETime')?.errors }">
                     <div *ngIf="submittedACB && a.get('bETime')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('bETime')?.errors?.required">bETime is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="bERemarks">
                   </td>
                 </tr>
       
                 <tr>
                   <td>
                     R-Y
                   </td>
       
                   <td>
                     <input type="text" formControlName="rYImpedence"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('rYImpedence')?.errors }">
                     <div *ngIf="submittedACB && a.get('rYImpedence')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('rYImpedence')?.errors?.required">rYImpedence is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="rYCurrent"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('rYCurrent')?.errors }">
                     <div *ngIf="submittedACB && a.get('rYCurrent')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('rYCurrent')?.errors?.required">rYCurrent is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="rYTime"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('rYTime')?.errors }">
                     <div *ngIf="submittedACB && a.get('rYTime')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('rYTime')?.errors?.required">rYTime is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="rYRemarks">
                   </td>
                 </tr>
       
                 <tr>
                   <td>
                     Y-B
                   </td>
       
                   <td>
                     <input type="text" formControlName="yBImpedence"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('yBImpedence')?.errors }">
                     <div *ngIf="submittedACB && a.get('yBImpedence')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('yBImpedence')?.errors?.required">yBImpedence is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="yBCurrent"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('yBCurrent')?.errors }">
                     <div *ngIf="submittedACB && a.get('yBCurrent')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('yBCurrent')?.errors?.required">yBCurrent is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="yBTime"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('yBTime')?.errors }">
                     <div *ngIf="submittedACB && a.get('yBTime')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('yBTime')?.errors?.required">yBTime is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="yBRemarks">
                   </td>
                 </tr>
       
                 <tr>
                   <td>
                     B-R
                   </td>
       
                   <td>
                     <input type="text" formControlName="bRImpedence"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('bRImpedence')?.errors }">
                     <div *ngIf="submittedACB && a.get('bRImpedence')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('bRImpedence')?.errors?.required">bRImpedence is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="bRCurrent"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('bRCurrent')?.errors }">
                     <div *ngIf="submittedACB && a.get('bRCurrent')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('bRCurrent')?.errors?.required">bRCurrent is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="bRTime"
                       [ngClass]="{ 'is-invalid': submittedACB && a.get('bRTime')?.errors }">
                     <div *ngIf="submittedACB && a.get('bRTime')?.errors" class="invalid-feedback">
                       <div *ngIf="a.get('bRTime')?.errors?.required">bRTime is required</div>
                     </div>
                   </td>
       
                   <td>
                     <input type="text" formControlName="bRRemarks">
                   </td>
                 </tr>
               </tbody>
             </table>
           </div>
         </ng-container>
       </ng-container>
     </form>
   </div>

   <div *ngIf="validationError" style="text-align: center;;margin-top: 5px;margin-bottom: 40px">
       <span class="alert alert-danger">{{validationErrorMsg}}</span>
     </div>

     <div class="centre-text m-btm30">
       <div *ngIf="success" style="text-align: center;margin-top: 5px;margin-bottom: 40px">
         <span class="successshow">{{ successMsg }}</span>
       </div>
       <div *ngIf="error" style="text-align: center;margin-top: 5px;margin-bottom: 40px">
         <span class="errorshow">{{ errorMsg }}</span>
       </div>
     </div>
     
     <div style="display: inline;margin-top: 30px;">    
       <button type="button"  style="float: left; margin-left: 400px"
         class="btn btn-info" (click)="saveACB(acbFlag)">
         <i class="bi bi-person-plus-fill icon"></i> Save
       </button>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <button type="button"  class="btn btn-danger" aria-label="Close"  (click)="close()"
         style="float: right; margin-right: 400px" >
         <span aria-hidden="true">Cancel</span>
       </button>
     </div>
     <br>
 </div>

 