<div class="card">
    <div class="card-header" style="text-align: center; display: block">
        <h2 class="modal-title" style="display: contents">MCB With RCD or RCBO</h2>
    </div>
    <div class="card-body">
    <form [formGroup]="mcbWithRcdForm" (keyup)="onKeyForm($event)" (change)="onChangeForm($event)">
    <div class="row">
      <div class="col-md-4">
        <label>Reference Name</label>
        <input type="text" class="form-control" formControlName="referenceName" [(ngModel)]="rcbo.referenceName"
        [ngClass]="{ 'is-invalid': submittedRCBO && g.referenceName?.errors }">
        <div *ngIf="submittedRCBO && g.referenceName?.errors" class="invalid-feedback">
          <div *ngIf="g.referenceName?.errors?.required">Reference name is required</div>
        </div>
      </div>

      <div class="col-md-4">
        <label>OCPD Manfacturer Name</label>
        <input type="text" class="form-control" formControlName="manufacturerName" [(ngModel)]="rcbo.manufacturerName"
        [ngClass]="{ 'is-invalid': submittedRCBO && g.manufacturerName?.errors }">
        <div *ngIf="submittedRCBO && g.manufacturerName?.errors" class="invalid-feedback">
          <div *ngIf="g.manufacturerName?.errors?.required">Manfacturer name is required</div>
        </div>
      </div>

      <div class="col-md-4">
        <label>Rating(A)</label>
        <input type="number" class="form-control" formControlName="rating" [(ngModel)]="rcbo.rating"
        [ngClass]="{ 'is-invalid': submittedRCBO && g.rating?.errors }">
        <div *ngIf="submittedRCBO && g.rating?.errors" class="invalid-feedback">
          <div *ngIf="g.rating?.errors?.required">Rating is required</div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-md-4">
        <label>Voltage(V)</label>
        <input type="number" class="form-control" formControlName="voltage" [(ngModel)]="rcbo.voltage"
        [ngClass]="{ 'is-invalid': submittedRCBO && g.voltage?.errors }">
        <div *ngIf="submittedRCBO && g.voltage?.errors" class="invalid-feedback">
          <div *ngIf="g.voltage?.errors?.required">Voltage is required</div>
        </div>
      </div>

      <div class="col-md-4">
        <label>No of Poles</label>
        <select  class="form-control" formControlName="noOfPoles" [(ngModel)]="rcbo.noOfPoles"
        [ngClass]="{ 'is-invalid': submittedRCBO && g.noOfPoles?.errors }">
          <option value="">Select Option</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>  
        <div *ngIf="submittedRCBO && g.noOfPoles?.errors" class="invalid-feedback">
          <div *ngIf="g.noOfPoles?.errors?.required">No of Poles is required</div>
        </div>          
      </div>

      <div class="col-md-4">
        <label>Current Curve of MCB</label>
        <select  class="form-control" formControlName="currentCurve" [(ngModel)]="rcbo.currentCurve"
        [ngClass]="{ 'is-invalid': submittedRCBO && g.currentCurve?.errors }">
          <option value="">Select Option</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="K">K</option>
          <option value="Z">Z</option>
        </select>  
        <div *ngIf="submittedRCBO && g.currentCurve?.errors" class="invalid-feedback">
          <div *ngIf="g.currentCurve?.errors?.required">Current Curve is required</div>
        </div>          
      </div>

      <div class="col-md-4">
        <label>Type of residual current device</label>
        <select  class="form-control" formControlName="residualCurrentType" [(ngModel)]="rcbo.residualCurrentType"
        [ngClass]="{ 'is-invalid': submittedRCBO && g.residualCurrentType?.errors }">
          <option value="">Select Option</option>
          <option value="Type A">Type A</option>
          <option value="Type AC">Type AC</option>
          <option value="Type F">Type F</option>
          <option value="Type B">Type B</option>
        </select>  
        <div *ngIf="submittedRCBO && g.residualCurrentType?.errors" class="invalid-feedback">
          <div *ngIf="g.residualCurrentType?.errors?.required">Type of residual current is required</div>
        </div>          
      </div>

      <div class="col-md-4">
        <label>Rated residual operating current I∆n (mA)</label>
        <select  class="form-control" formControlName="residualCurrent" [(ngModel)]="rcbo.residualCurrent"
        [ngClass]="{ 'is-invalid': submittedRCBO && g.residualCurrent?.errors }">
          <option value="">Select Option</option>
          <option value="30">30</option>
          <option value="100">100</option>
          <option value="300">300</option>
          <option value="500">500</option>
        </select>     
        <div *ngIf="submittedRCBO && g.residualCurrent?.errors" class="invalid-feedback">
          <div *ngIf="g.residualCurrent?.errors?.required">Rated residual operating current is required</div>
        </div>       
      </div>
    </div>

    <br>
    <h3 style="text-align: center">Outgoing Cable Size(sq.mm.)</h3>
    <br>
    <div class="row">
      <div class="col-md-4">
        <label>Phase</label>
        <input type="number" class="form-control" formControlName="outgoingSizePhase" [(ngModel)]="rcbo.outgoingSizePhase"
        [ngClass]="{ 'is-invalid': submittedRCBO && g.outgoingSizePhase?.errors }">
        <div *ngIf="submittedRCBO && g.outgoingSizePhase?.errors" class="invalid-feedback">
          <div *ngIf="g.outgoingSizePhase?.errors?.required">Phase is required</div>
        </div>
      </div>
      <div class="col-md-4">
        <label>Neutral</label>
        <input type="number" class="form-control" formControlName="outgoingSizeNeutral" [(ngModel)]="rcbo.outgoingSizeNeutral"
        [ngClass]="{ 'is-invalid': submittedRCBO && g.outgoingSizeNeutral?.errors }">
        <div *ngIf="submittedRCBO && g.outgoingSizeNeutral?.errors" class="invalid-feedback">
          <div *ngIf="g.outgoingSizeNeutral?.errors?.required">Neutral is required</div>
        </div>
      </div>
      <div class="col-md-4">
        <label>Protective Conductor</label>
        <input type="number" class="form-control" formControlName="outgoingSizeProtective" [(ngModel)]="rcbo.outgoingSizeProtective"
        [ngClass]="{ 'is-invalid': submittedRCBO && g.outgoingSizeProtective?.errors }">
        <div *ngIf="submittedRCBO && g.outgoingSizeProtective?.errors" class="invalid-feedback">
          <div *ngIf="g.outgoingSizeProtective?.errors?.required">Protective Conductor is required</div>
        </div>
      </div>
    </div>

    <br>
      <h2><b><u>Testing</u></b></h2>

      <mat-icon class="mousechange" (click)="addRCBOTesting()" 
          style="float:right; padding-right: 37px; padding-top: 10px;">add_box</mat-icon>

      <br>
      <ng-container formArrayName="generalTestingRCBO" *ngFor="let a of getGeneralTestingRCBOControls(); let i = index">
        <ng-container [formGroupName]="i">
          <h2>Incomer -{{i+1}} (General Testing)</h2>
          <div class="table-responsive">
            <table class="table" style="width: 70%; border: 1px solid black">
              <thead>
                <tr>
                  <th>
                    Reference
                  </th>
  
                  <th>
                    Voltage(V)
                  </th>
  
                  <th>
                    Insulation Resistance(MΩ)
                  </th>
                </tr>
              </thead>    
              
              <tbody>
                <tr>
                  <td>
                    R-N
                  </td>
  
                  <td>
                    <input type="text" formControlName="rNVoltage" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('rNVoltage')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('rNVoltage')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('rNVoltage')?.errors?.required">rNVoltage is required</div>
                    </div>
                  </td>
  
                  <td>
                    <input type="text" formControlName="rNResistance" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('rNResistance')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('rNResistance')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('rNResistance')?.errors?.required">rNResistance is required</div>
                    </div>
                  </td>
                </tr>
  
                <tr>
                  <td>
                    Y-N
                  </td>
  
                  <td>
                    <input type="text" formControlName="yNVoltage" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('yNVoltage')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('yNVoltage')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('yNVoltage')?.errors?.required">yNVoltage is required</div>
                    </div>
                  </td>
  
                  <td>
                    <input type="text" formControlName="yNResistance" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('yNResistance')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('yNResistance')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('yNResistance')?.errors?.required">yNResistance is required</div>
                    </div>
                  </td>
                </tr>
  
                <tr>
                  <td>
                    B-N
                  </td>
  
                  <td>
                    <input type="text"  formControlName="bNVoltage" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('bNVoltage')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('bNVoltage')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('bNVoltage')?.errors?.required">bNVoltage is required</div>
                    </div>
                  </td>
  
                  <td>
                    <input type="text"  formControlName="bNResistance" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('bNResistance')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('bNResistance')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('bNResistance')?.errors?.required">bNResistance is required</div>
                    </div>
                  </td>
                </tr>
  
                <tr>
                  <td>
                    R-E
                  </td>
  
                  <td>
                    <input type="text"  formControlName="rEVoltage" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('rEVoltage')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('rEVoltage')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('rEVoltage')?.errors?.required">rEVoltage is required</div>
                    </div>
                  </td>
  
                  <td>
                    <input type="text"  formControlName="rEResistance" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('rEResistance')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('rEResistance')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('rEResistance')?.errors?.required">rEResistance is required</div>
                    </div>
                  </td>
                </tr>
  
                <tr>
                  <td>
                    Y-E
                  </td>
  
                  <td>
                    <input type="text"  formControlName="yEVoltage" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('yEVoltage')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('yEVoltage')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('yEVoltage')?.errors?.required">yEVoltage is required</div>
                    </div>
                  </td>
  
                  <td>
                    <input type="text" formControlName="yEResistance" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('yEResistance')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('yEResistance')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('yEResistance')?.errors?.required">yEResistance is required</div>
                    </div>
                  </td>
                </tr>
  
                <tr>
                  <td>
                    B-E
                  </td>
  
                  <td>
                    <input type="text" formControlName="bEVoltage" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('bEVoltage')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('bEVoltage')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('bEVoltage')?.errors?.required">bEVoltage is required</div>
                    </div>
                  </td>
  
                  <td>
                    <input type="text" formControlName="bEResistance" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('bEResistance')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('bEResistance')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('bEResistance')?.errors?.required">bEResistance is required</div>
                    </div>
                  </td>
                </tr>
  
                <tr>
                  <td>
                    R-Y
                  </td>
  
                  <td>
                    <input type="text" formControlName="rYVoltage" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('rYVoltage')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('rYVoltage')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('rYVoltage')?.errors?.required">rYVoltage is required</div>
                    </div>
                  </td>
  
                  <td>
                    <input type="text" formControlName="rYResistance" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('rYResistance')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('rYResistance')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('rYResistance')?.errors?.required">rYResistance is required</div>
                    </div>
                  </td>
                </tr>
  
                <tr>
                  <td>
                    Y-B
                  </td>
  
                  <td>
                    <input type="text" formControlName="yBVoltage" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('yBVoltage')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('yBVoltage')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('yBVoltage')?.errors?.required">yBVoltage is required</div>
                    </div>
                  </td>
  
                  <td>
                    <input type="text" formControlName="yBResistance" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('yBResistance')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('yBResistance')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('yBResistance')?.errors?.required">yBResistance is required</div>
                    </div>
                  </td>
                </tr>
  
                <tr>
                  <td>
                    B-R
                  </td>
  
                  <td>
                    <input type="text" formControlName="bRVoltage" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('bRVoltage')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('bRVoltage')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('bRVoltage')?.errors?.required">bRVoltage is required</div>
                    </div>
                  </td>
  
                  <td>
                    <input type="text" formControlName="bRResistance" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('bRResistance')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('bRResistance')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('bRResistance')?.errors?.required">bRResistance is required</div>
                    </div>
                  </td>
                </tr>
  
                <tr>
                  <td>
                    N-E
                  </td>
  
                  <td>
                    <input type="text" formControlName="nEVoltage" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('nEVoltage')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('nEVoltage')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('nEVoltage')?.errors?.required">nEVoltage is required</div>
                    </div>
                  </td>
  
                  <td>
                    <input type="text" formControlName="nEResistance" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('nEResistance')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('nEResistance')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('nEResistance')?.errors?.required">nEResistance is required</div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
         
          <br>

          <div class="table-responsive">
            <table class="table" style="width: 35%; border: 1px solid black">
              <thead>
                <tr>
                  <th>
                    Reference
                  </th>

                  <th>
                    Load Current(A)
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>
                    IR
                  </td>

                  <td>
                    <input type="text" formControlName="iRCurrent" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('iRCurrent')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('iRCurrent')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('iRCurrent')?.errors?.required">iRCurrent is required</div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    IY
                  </td>

                  <td>
                    <input type="text" formControlName="iYCurrent" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('iYCurrent')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('iYCurrent')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('iYCurrent')?.errors?.required">iYCurrent is required</div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    IB
                  </td>

                  <td>
                    <input type="text" formControlName="iBCurrent" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('iBCurrent')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('iBCurrent')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('iBCurrent')?.errors?.required">iBCurrent is required</div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    IN
                  </td>

                  <td>
                    <input type="text" formControlName="iNCurrent" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('iNCurrent')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('iNCurrent')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('iNCurrent')?.errors?.required">iNCurrent is required</div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    IPE
                  </td>

                  <td>
                    <input type="text" formControlName="iPECurrent" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('iPECurrent')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('iPECurrent')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('iPECurrent')?.errors?.required">iPECurrent is required</div>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

          <br>
          
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Power Factor</label>
                <input type="number" class="form-control" formControlName="powerFactor" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('powerFactor')?.errors }">
                <div *ngIf="submittedRCBO && a.get('powerFactor')?.errors" class="invalid-feedback">
                  <div *ngIf="a.get('powerFactor')?.errors?.required">Power Factor is required</div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Frequency(Hz)</label>
                <input type="number" class="form-control" formControlName="frequency" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('frequency')?.errors }">
                <div *ngIf="submittedRCBO && a.get('frequency')?.errors" class="invalid-feedback">
                  <div *ngIf="a.get('frequency')?.errors?.required">Frequency is required</div>
                </div>
              </div>
            </div>
          </div>
          
          <mat-icon class="mousechange" *ngIf="getGeneralTestingRCBOControls().length>1" class="dlt" type="button" title="Delete"  (click)="removeRCBOtesting(a,i)" style="float: right">remove_circle_outline</mat-icon>
          <br>
        </ng-container>
      </ng-container>

      <br>
      <ng-container formArrayName="safetyTestingRCBO" *ngFor="let a of getSafetyTestingRCBOControls(); let i = index">
        <ng-container [formGroupName]="i">
          <h2>Incomer -{{i+1}} (Testing related to safety)</h2>

          <div class="table-responsive">
            <table class="table" style="width: 100%; border: 1px solid black">
              <thead>
                <tr>
                  <th>
                    Reference
                  </th>

                  <th>
                    Fault Loop Impedence(mΩ)
                  </th>

                  <th>
                    Prospective fault current (kA)
                  </th>

                  <th>
                    Disconnection time (mS)
                  </th>

                  <th>
                    Remarks
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>
                    R-N
                  </td>

                  <td>
                    <input type="text" formControlName="rNImpedence" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('rNImpedence')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('rNImpedence')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('rNImpedence')?.errors?.required">rNImpedence is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="rNCurrent" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('rNCurrent')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('rNCurrent')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('rNCurrent')?.errors?.required">rNCurrent is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="rNTime" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('rNTime')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('rNTime')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('rNTime')?.errors?.required">rNTime is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="rNRemarks">
                  </td>
                </tr>

                <tr>
                  <td>
                    Y-N
                  </td>

                  <td>
                    <input type="text" formControlName="yNImpedence" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('yNImpedence')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('yNImpedence')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('yNImpedence')?.errors?.required">yNImpedence is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="yNCurrent" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('yNCurrent')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('yNCurrent')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('yNCurrent')?.errors?.required">yNCurrent is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="yNTime" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('yNTime')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('yNTime')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('yNTime')?.errors?.required">yNTime is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="yNRemarks">
                  </td>
                </tr>

                <tr>
                  <td>
                    B-N
                  </td>

                  <td>
                    <input type="text" formControlName="bNImpedence" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('bNImpedence')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('bNImpedence')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('bNImpedence')?.errors?.required">bNImpedence is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="bNCurrent" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('bNCurrent')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('bNCurrent')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('bNCurrent')?.errors?.required">bNCurrent is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="bNTime" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('bNTime')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('bNTime')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('bNTime')?.errors?.required">bNTime is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="bNRemarks">
                  </td>
                </tr>

                <tr>
                  <td>
                    R-E
                  </td>

                  <td>
                    <input type="text" formControlName="rEImpedence" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('rEImpedence')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('rEImpedence')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('rEImpedence')?.errors?.required">rEImpedence is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="rECurrent" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('rECurrent')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('rECurrent')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('rECurrent')?.errors?.required">rECurrent is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="rETime" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('rETime')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('rETime')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('rETime')?.errors?.required">rETime is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="rERemarks">
                  </td>
                </tr>

                <tr>
                  <td>
                    Y-E
                  </td>

                  <td>
                    <input type="text" formControlName="yEImpedence" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('yEImpedence')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('yEImpedence')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('yEImpedence')?.errors?.required">yEImpedence is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="yECurrent" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('yECurrent')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('yECurrent')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('yECurrent')?.errors?.required">yECurrent is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="yETime" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('yETime')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('yETime')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('yETime')?.errors?.required">yETime is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="yERemarks">
                  </td>
                </tr>

                <tr>
                  <td>
                    B-E
                  </td>

                  <td>
                    <input type="text" formControlName="bEImpedence" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('bEImpedence')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('bEImpedence')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('bEImpedence')?.errors?.required">bEImpedence is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="bECurrent" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('bECurrent')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('bECurrent')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('bECurrent')?.errors?.required">bECurrent is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="bETime" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('bETime')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('bETime')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('bETime')?.errors?.required">bETime is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="bERemarks">
                  </td>
                </tr>

                <tr>
                  <td>
                    R-Y
                  </td>

                  <td>
                    <input type="text" formControlName="rYImpedence" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('rYImpedence')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('rYImpedence')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('rYImpedence')?.errors?.required">rYImpedence is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="rYCurrent" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('rYCurrent')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('rYCurrent')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('rYCurrent')?.errors?.required">rYCurrent is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="rYTime" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('rYTime')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('rYTime')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('rYTime')?.errors?.required">rYTime is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="rYRemarks">
                  </td>
                </tr>

                <tr>
                  <td>
                    Y-B
                  </td>

                  <td>
                    <input type="text" formControlName="yBImpedence" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('yBImpedence')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('yBImpedence')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('yBImpedence')?.errors?.required">yBImpedence is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="yBCurrent" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('yBCurrent')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('yBCurrent')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('yBCurrent')?.errors?.required">yBCurrent is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="yBTime" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('yBTime')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('yBTime')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('yBTime')?.errors?.required">yBTime is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="yBRemarks">
                  </td>
                </tr>

                <tr>
                  <td>
                    B-R
                  </td>

                  <td>
                    <input type="text" formControlName="bRImpedence" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('bRImpedence')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('bRImpedence')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('bRImpedence')?.errors?.required">bRImpedence is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="bRCurrent" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('bRCurrent')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('bRCurrent')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('bRCurrent')?.errors?.required">bRCurrent is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="bRTime" [ngClass]="{ 'is-invalid': submittedRCBO && a.get('bRTime')?.errors }">
                    <div *ngIf="submittedRCBO && a.get('bRTime')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('bRTime')?.errors?.required">bRTime is required</div>
                    </div>
                  </td>

                  <td>
                    <input type="text" formControlName="bRRemarks">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <br>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Touch/Shock Voltage (V)</label>
                <input type="number" class="form-control" formControlName="shockVoltage" 
                [ngClass]="{ 'is-invalid': submittedRCBO && a.get('shockVoltage')?.errors }">
                <div *ngIf="submittedRCBO && a.get('shockVoltage')?.errors" class="invalid-feedback">
                  <div *ngIf="a.get('shockVoltage')?.errors?.required">Touch/Shock Voltage is required</div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Floor Resistance (MΩ)</label>
                <input type="number" class="form-control" formControlName="floorResistance" 
                [ngClass]="{ 'is-invalid': submittedRCBO && a.get('floorResistance')?.errors }">
                <div *ngIf="submittedRCBO && a.get('floorResistance')?.errors" class="invalid-feedback">
                  <div *ngIf="a.get('floorResistance')?.errors?.required">Floor Resistance is required</div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Wall Resistance (MΩ)</label>
                <input type="number" class="form-control" formControlName="wallResistance" 
                [ngClass]="{ 'is-invalid': submittedRCBO && a.get('wallResistance')?.errors }">
                <div *ngIf="submittedRCBO && a.get('wallResistance')?.errors" class="invalid-feedback">
                  <div *ngIf="a.get('wallResistance')?.errors?.required">Wall Resistance is required</div>
                </div>
              </div>
            </div>
          </div>

          <mat-icon class="mousechange" *ngIf="getGeneralTestingRCBOControls().length>1" class="dlt" type="button" title="Delete"  (click)="removeRCBOtesting(a,i)" style="float: right">remove_circle_outline</mat-icon>

        </ng-container>
      </ng-container>
    </form>
    </div>

    <div *ngIf="validationError" style="text-align: center;margin-top: 20px;">
        <span class="alert alert-danger">{{validationErrorMsg}}</span>
      </div>

      <div class="centre-text m-btm30">
        <div *ngIf="success" style="text-align: center;margin-top: 5px;margin-bottom: 40px">
          <span class="successshow">{{ successMsg }}</span>
        </div>
        <div *ngIf="error" style="text-align: center;margin-top: 5px;margin-bottom: 40px">
          <span class="errorshow">{{ errorMsg }}</span>
        </div>
      </div>

    <div style="display: inline">    
        <button type="button"  style="float: left; margin-left: 400px"
          class="btn btn-info" (click)="saveRCBO(rcboFlag)">
          <i class="bi bi-person-plus-fill icon"></i> Save
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button"  class="btn btn-danger" aria-label="Close"  (click)="close()"
          style="float: right; margin-right: 400px" >
          <span aria-hidden="true">Cancel</span>
        </button>
      </div>
      <br>
  </div>

  