    <div class="modal-body" modal-md>
     <div class="centre-text m-btm30">
      <div style="text-align: center;">
        <!-- LV -->
        <h4 class="successshow" *ngIf="editModal">Are you sure you want to edit site details? </h4>
        <h4 class="successshow" *ngIf="viewModal">Are you sure you want to view site details? </h4>
        <!-- LPS -->
        <h4 class="successshow" *ngIf="viewModal1">Are you sure you want to edit this LPS Data details? </h4>
        <h4 class="successshow" *ngIf="viewModal2">Are you sure you want to view this LPS Data details? </h4>
        <!-- Risk Assessment -->
        <h4 class="successshow" *ngIf="editRisk">Are you sure you want to edit this Risk Data details? </h4>
        <h4 class="successshow" *ngIf="viewRisk">Are you sure you want to view this Risk Data details? </h4>

        <h4 class="successshow" *ngIf="lpsAirTModal">Confirm if two or more different height air VAT are available? </h4>
        <h4 class="successshow" *ngIf="lpsAirHModal">Confirm if two or more different holders are available? </h4>
        <h4 class="successshow" *ngIf="lpsTypeEModal">Confirm if two or more different earth electrodes are available? </h4>

        <span class="successshow" *ngIf="triggerModal">Are you sure you want to proceed without saving?</span>
        <p style="margin-top: 10px;" *ngIf="triggerModal"><b>Note:</b> To update the details, kindly click on next button! </p>

        <!-- File Uplaod purpose -->
        <span class="successshow" *ngIf="triggerModal1">Are you sure you want to proceed without saving?</span>
        <p style="margin-top: 10px;" *ngIf="triggerModal1"><b>Note:</b>Uploaded file would be deleted, kindly click on next button! </p>
        
        <span class="successshow" *ngIf="linkModal">Are you sure you want to proceed without saving?</span>
        <p style="margin-top: 10px;" *ngIf="linkModal"><b>Note:</b> To save the details, kindly fill all fields & click on next button! </p>

        <span class="successshow" *ngIf="sldModal">Are you sure you want to proceed without saving?</span>
        <p style="margin-top: 10px;" *ngIf="sldModal"><b>Note:</b> To save the SLD diagram, kindly click on save/update button! </p>

        <span class="successshow" *ngIf="summaryModal">Are you sure you want to procced?</span>
        <p style="margin-top: 10px;" *ngIf="summaryModal"><b>Note:</b> Once submitted, details can't be modified!</p>

        <h4 class="successshow" *ngIf="prtsrcModal">Print screen disabled!</h4>

    </div>
      </div>
     </div>
    <div class="row">
      <div class="col-sm-12" style="text-align: center;">
       <button type="button" class="col-md-6" style="text-align:center; width: auto;background-color: #0f800c;color: white;"
       class="btn btn-rounded btn-sm font-weight-medium auth-form-btn"
       aria-label="Close" (click)="OkModalDialog()">
       <i class="bi bi-arrow-right-circle"></i>&nbsp;
        <span aria-hidden="true">Ok</span>
    </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="col-md-6" style="width: auto;" *ngIf="!prtsrcModal"
    class="btn btn-danger btn-rounded btn-sm font-weight-medium auth-form-btn"
       aria-label="Close" (click)="closeModalDialog()">
       <i class="bi bi-x icon"></i>
        <span aria-hidden="true">Cancel</span>
    </button>
  </div>
</div>
