<div class="card">
    <div class="card-header" style="text-align: center; display: block">
      <h2 class="modal-title" style="display: contents">Portable Appliances</h2>
    </div>
    <div class="card-body">
    <form [formGroup]="patForm" (keyup)="onKeyForm($event)" (change)="onChangeForm($event)">
    <div class="row">
      <div class="col-md-4">
        <label>Reference Name</label>
        <input type="text" class="form-control" formControlName="referenceName" [(ngModel)]="pat.referenceName"
        [ngClass]="{ 'is-invalid': submitted && f.referenceName?.errors }">
        <div *ngIf="submitted && f.referenceName?.errors" class="invalid-feedback">
          <div *ngIf="f.referenceName?.errors?.required">Reference name is required</div>
        </div>
      </div>

      <div class="col-md-4">
        <label>Portable Appliance Name</label>
        <select  class="form-control" formControlName="portableApplianceName" [(ngModel)]="pat.portableApplianceName"
            [ngClass]="{ 'is-invalid': submitted && f.portableApplianceName?.errors }">
              <option value="">Select Option</option>
              <option value="Refrigrator">Refrigrator</option>
              <option value="Washing machine">Washing machine</option>
              <option value="Micro oven">Micro oven</option>
              <option value="Toaster">Toaster</option>
              <option value="Air conditioner">Air conditioner</option>
              <option value="Geycer">Geycer</option>
              <option value="Iron box">Iron box</option>
              <option value="Kettles">Kettles</option>
              <option value="Fan">Fan</option>
            </select>      
        <div *ngIf="submitted && f.portableApplianceName?.errors" class="invalid-feedback">
          <div *ngIf="f.portableApplianceName?.errors?.required">Portable Appliance name is required</div>
        </div>
      </div>

      <div class="col-md-4">
        <label>Manfacturer Name</label>
        <input type="text" class="form-control" formControlName="manufacturerName" [(ngModel)]="pat.manufacturerName"
        [ngClass]="{ 'is-invalid': submitted && f.manufacturerName?.errors }">
        <div *ngIf="submitted && f.manufacturerName?.errors" class="invalid-feedback">
          <div *ngIf="f.manufacturerName?.errors?.required">Manfacturer name is required</div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4">
        <label>Rating(A)</label>
        <input type="number" class="form-control" formControlName="rating" [(ngModel)]="pat.rating"
        [ngClass]="{ 'is-invalid': submitted && f.rating?.errors }">
        <div *ngIf="submitted && f.rating?.errors" class="invalid-feedback">
          <div *ngIf="f.rating?.errors?.required">Current Rating is required</div>
        </div>
      </div>

      <div class="col-md-4">
        <label>Voltage(V)</label>
        <input type="number" class="form-control" formControlName="voltage" [(ngModel)]="pat.voltage"
        [ngClass]="{ 'is-invalid': submitted && f.voltage?.errors }">
        <div *ngIf="submitted && f.voltage?.errors" class="invalid-feedback">
          <div *ngIf="f.voltage?.errors?.required">Voltage is required</div>
        </div>
      </div>

      <div class="col-md-4">
        <label>Insulation Class</label>
        <select  class="form-control" formControlName="insulationClass" (change)="showClass($event)" [(ngModel)]="pat.insulationClass"
            [ngClass]="{ 'is-invalid': submitted && f.insulationClass?.errors }">
              <option value="">Select Option</option>
              <option value="Class-1">Class-1</option>
              <option value="Class-2">Class-2</option>
            </select>    
        <div *ngIf="submitted && f.insulationClass?.errors" class="invalid-feedback">
          <div *ngIf="f.insulationClass?.errors?.required">Insulation Class is required</div>
        </div>
      </div>
    
    </div>
    <!-- Commented by Arun because we don't need iteration -->
    <!-- <br> -->
    <!-- <h3 style="text-align: center">Outgoing Cable Size(sq.mm.)</h3>
    <br>
    <div class="row">
      <div class="col-md-4">
        <label>Phase</label>
        <input type="text" class="form-control" formControlName="outGoingSizePhase" [(ngModel)]="pat.outGoingSizePhase"
        [ngClass]="{ 'is-invalid': submitted && f.outGoingSizePhase?.errors }">
        <div *ngIf="submitted && f.outGoingSizePhase?.errors" class="invalid-feedback">
          <div *ngIf="f.outGoingSizePhase?.errors?.required">Phase is required</div>
        </div>
      </div>
      <div class="col-md-4">
        <label>Neutral</label>
        <input type="text" class="form-control" formControlName="outGoingSizeNeutral" [(ngModel)]="pat.outGoingSizeNeutral"
        [ngClass]="{ 'is-invalid': submitted && f.outGoingSizeNeutral?.errors }">
        <div *ngIf="submitted && f.outGoingSizeNeutral?.errors" class="invalid-feedback">
          <div *ngIf="f.outGoingSizeNeutral?.errors?.required">Neutral is required</div>
        </div>
      </div>
      <div class="col-md-4">
        <label>Protective Conductor</label>
        <input type="text" class="form-control" formControlName="outGoingSizeProtective" [(ngModel)]="pat.outGoingSizeProtective"
        [ngClass]="{ 'is-invalid': submitted && f.outGoingSizeProtective?.errors }">
        <div *ngIf="submitted && f.outGoingSizeProtective?.errors" class="invalid-feedback">
          <div *ngIf="f.outGoingSizeProtective?.errors?.required">Protective Conductor is required</div>
        </div>
      </div>
    </div> -->

    <br>
      <h2><b><u>General Testing for - {{f.insulationClass?.value}}</u></b></h2>
      <br>

      <div class="table-responsive">
        <table class="table" style = "width: 70%; border: 1px solid black"> 
            <thead>
                <tr>
                    <th>
                    Reference
                    </th>

                    <th>
                    Voltage (V)
                    </th>

                    <th *ngIf="f.insulationClass?.value === 'Class-1'">
                    Continuity Resistance (Ω)
                    </th>

                    <th>
                    Insulation Resistance (MΩ)
                    </th>

                    <th>
                    Leakage  current (A)
                    </th>
                </tr>

            </thead>

            <tbody formArrayName="generalTestingClass1" *ngFor="let a of getGeneralTestingClass1Controls(); let i = index">
                <tr [formGroupName]="i">
                    <td>
                        <input type="text" formControlName="reference" [ngClass]="{ 'is-invalid': submitted && a.get('reference')?.errors }">
                        <div *ngIf="submitted && a.get('reference')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('reference')?.errors?.required">Reference is required</div>
                        </div>
                    </td>

                    <td>
                        <input type="text" formControlName="voltage" [ngClass]="{ 'is-invalid': submitted && a.get('voltage')?.errors }">
                        <div *ngIf="submitted && a.get('voltage')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('voltage')?.errors?.required">Voltage is required</div>
                        </div>
                    </td>

                    <td *ngIf="f.insulationClass?.value === 'Class-1'">
                        <input type="text"  formControlName="continuityResistance" [ngClass]="{ 'is-invalid': submitted && a.get('continuityResistance')?.errors }">
                        <div *ngIf="submitted && a.get('continuityResistance')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('continuityResistance')?.errors?.required">Continuity Resistance is required</div>
                        </div>
                    </td>

                    <td>
                        <input type="text" formControlName="insulationResistance" [ngClass]="{ 'is-invalid': submitted && a.get('insulationResistance')?.errors }">
                        <div *ngIf="submitted && a.get('insulationResistance')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('insulationResistance')?.errors?.required">Insulation Resistance is required</div>
                        </div>
                    </td>

                    <td>
                        <input type="text" formControlName="leakageCurrent" [ngClass]="{ 'is-invalid': submitted && a.get('leakageCurrent')?.errors }">
                        <div *ngIf="submitted && a.get('leakageCurrent')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('leakageCurrent')?.errors?.required">Leakage Current is required</div>
                        </div>
                    </td>

                    <td>
                      <mat-icon  (click)="removeRow(i)" class="dlt mousechange"  type="button" title="delete" *ngIf="getGeneralTestingClass1Controls().length>1">remove_circle_outline</mat-icon>
                    </td>

                    <td>
                      <mat-icon class="mousechange" (click)="addRow(a,i)" *ngIf="(getGeneralTestingClass1Controls().length-1) == i">add_box</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>
        
      </div>
      

      <!-- <div class="table-responsive">
        <table class="table" style = "width: 70%; border: 1px solid black"> 
            <thead>
                <tr>
                    <th>
                    Sl.No
                    </th>

                    <th>
                    Reference
                    </th>

                    <th>
                    Voltage (V)
                    </th>

                    <th>
                    Insulation Resistance (MΩ)
                    </th>

                    <th>
                    Leakage  current (A)
                    </th>
                </tr>

            </thead>

            <tbody formArrayName="generalTestingClass2" *ngFor="let a of getGeneralTestingClass2Controls(); let i = index">
                <tr [formGroupName]="i">
                    <td>
                        <input type="text" formControlName="serialNo" >
                    </td>

                    <td>
                        <input type="text" formControlName="reference" [ngClass]="{ 'is-invalid': submitted && a.get('reference')?.errors }">
                        <div *ngIf="submitted && a.get('reference')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('reference')?.errors?.required">Reference is required</div>
                        </div>
                    </td>

                    <td>
                        <input type="text" formControlName="voltage" [ngClass]="{ 'is-invalid': submitted && a.get('voltage')?.errors }">
                        <div *ngIf="submitted && a.get('voltage')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('voltage')?.errors?.required">Voltage is required</div>
                        </div>
                    </td>

                    <td>
                        <input type="text" formControlName="insulationResistance" [ngClass]="{ 'is-invalid': submitted && a.get('insulationResistance')?.errors }">
                        <div *ngIf="submitted && a.get('insulationResistance')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('insulationResistance')?.errors?.required">Insulation Resistance is required</div>
                        </div>
                    </td>

                    <td>
                        <input type="text" formControlName="leakageCurrent" [ngClass]="{ 'is-invalid': submitted && a.get('leakageCurrent')?.errors }">
                        <div *ngIf="submitted && a.get('leakageCurrent')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('leakageCurrent')?.errors?.required">Leakage Current is required</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

      </div> -->
      <br>
    </form>
    </div>

    <div *ngIf="validationError" style="text-align: center;margin-top: 20px;">
      <span class="alert alert-danger">{{validationErrorMsg}}</span>
    </div>

    <div class="centre-text m-btm30">
      <div *ngIf="success" style="text-align: center;margin-top: 5px;margin-bottom: 40px">
        <span class="successshow">{{ successMsg }}</span>
      </div>
      <div *ngIf="error" style="text-align: center;margin-top: 5px;margin-bottom: 40px">
        <span class="errorshow">{{ errorMsg }}</span>
      </div>
    </div>

    <div style="display: inline;margin-top: 30px;">    
      <button type="button"  style="float: left; margin-left: 400px"
        class="btn btn-info" (click)="savePAT(patFlag)">
        <i class="bi bi-person-plus-fill icon"></i> Save
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button"  class="btn btn-danger" aria-label="Close"  (click)="close()"
        style="float: right; margin-right: 400px" >
        <span aria-hidden="true">Cancel</span>
      </button>
    </div>
    <br>
  </div>

  