<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg-image">
            <div class="col-md-12">
                <div class="card col-md-5">
                    <div class="card-header">
                        <div class="brand-logo">
                            <a href="#"><img src="assets/img/Rush_Final_logo.png"></a>
                        </div>
                        <div class="login-header">
                            <h3 class="login-title">Rush Safety Applications</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="generateOtpForm" (ngSubmit)="onSubmit()">
                            <div *ngIf="showErrorMessage" class="errorshow">{{errorMsg}}</div>
                            <div *ngIf="successMsgOTP" class="alert alert-success">{{successMsg}}</div>

                            <div class="col-sm-12">
                                <label for="mobileNumber">Mobile Number: </label>
                                    <input type="tel" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'in',separateDialCode: 'true'}" (countryChange)="countryChange($event)" formControlName="mobileNumber" class="form-control"   placeholder="Enter Number" [ngClass]="{ 'is-invalid': submitted && f.mobileNumber?.errors }">
                                    <div *ngIf="submitted && f.mobileNumber?.errors" class="invalid-feedback">
                                        <div *ngIf="f.mobileNumber?.errors?.required">Mobile Number Is Required</div>
                                        <!-- <div *ngIf="f.mobileNumber?.errors?.minlength">Enter 10 Digit Number</div> -->
                                        <div *ngIf="f.mobileNumber?.errors?.maxlength">Enter 10 Digit Number</div>
                                    </div>                                        
                            </div>

                            <button [disabled]="loading"
                                class="btn btn-block btn-primary btn-rounded btn-md font-weight-medium auth-form-btn"><i
                                    class="bi bi-box-arrow-in-right"></i> Generate</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-7" style="text-align: center;
                float: right;

                margin-top: 10px;">
                <h2>Digital Support For Testing Inspection And Certification Of Electrical Installation</h2>
                <h1 style="font-weight: 600;">INTERACTIVE - INTELLIGENT - MODERN</h1>
                </div>
            </div>
        </div>
    </div>
</div>
