
<div class="container centre">
    <div class="row">
        <div class="col-md-12">
            <div class="brand-logo">
                <img src="assets/img/Cape-logo.png">
            </div>
            <div class="forgot-header">
                <h3 class="forgot-title">Create new password</h3>
            </div>
            <form [formGroup]="forgotpassform" (ngSubmit)="onSubmit()">
                <div *ngIf="showErrorMessage" class="alert alert-danger">Your email is not registered with us</div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="bi bi-envelope-fill"></i>
                            </span>
                        </div>     
                        <input type="email" formControlName="email" requied class="form-control" placeholder="Enter your email address" maxlength="50" 
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="user.email"/> 
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.pattern">Enter valid email</div>
                        </div>
                    </div>                
                </div>
     
                <div style="display: inline;">
                    <button [disabled]="loading" style="float: left;" type="submit" class="btn btn-block btn-primary btn-rounded btn-lg font-weight-medium auth-form-btn"><i class="bi bi-upload icon"></i> Submit</button>
        
                    <button [disabled]="loading" [routerLink]="['/login']" style="float:right;"  class="btn btn-outline-danger cancel" ><i class="bi bi-x icon"></i> Cancel</button>
                </div>            
            </form>
        </div>
    </div>
</div>
