<div class="card">
    <!-- <div>
        <h2 style="text-align: center;">ELECTROMAGNETIC COMPATIBILITY (EMC) DATA</h2>
    </div>2 -->
    <div class="card-body">
        <mat-accordion>
            <form [formGroup]="EMCElectroMagneticFormm">

                <mat-expansion-panel class="body">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3>System Earth Referance Summery</h3>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">System earth referance a single point referance</label>
                                <select class="form-control" formControlName="seSinglePoint">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of selectionValue">{{value}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>System earth referance a meshed arrangement</label>
                                <select class="form-control" formControlName="seMeshedArrangment">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of selectionValue">{{value}}</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <label>Descriptions</label>
                                <textarea class="textarea-size" class="form-control" style="font-size: 100%;" formControlName="seDescription"
                                    placeholder="other connections to facility safety earth system (or earth electrodes)...!"></textarea>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Provide A Schematic Of Equipotential Bonding</label>
                                <input type="text" class="form-control" formControlName="equiptentialBonding"
                                    placeholder="Enter Provide A Schematic Of Equipotential Bonding">
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <!-- Provide a schematic of equipotential bonding -->
                <mat-expansion-panel class="body">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3>System / Room Shielding</h3>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>RFI - resistant cabinets used</label>
                                <select class="form-control" formControlName="resistanceCabinet">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of selectionValue">{{value}}</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <label>Descriptions</label>
                                <textarea class="textarea-size" class="form-control" style="font-size: 100%;" formControlName="resistanceCabinetDesc"
                                    placeholder="Enter Descriptions"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Computer room shield</label>
                                <select class="form-control" formControlName="roomShield">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of selectionValue">{{value}}</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <label>Descriptions</label>
                                <textarea class="textarea-size" class="form-control" formControlName="roomShieldDesc"
                                    placeholder="Enter Descriptions"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <label>Describe other shielding provisions </label>
                                <textarea class="textarea-size" class="form-control" formControlName="shieldingOtherDesc"
                                    placeholder="(window screens, etc)...!"></textarea>
                            </div>
                        </div>

                    </div>
                </mat-expansion-panel>
                <!-- SITE RF SOURCE -->
                <mat-expansion-panel class="body">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3>Site RF Source</h3>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Any equipment in the building or near computer room using high-frequency energy
                                    (e.g., welding machine, ultrasonic cleaners, high-energy medical equipment, relay
                                    banks, microwave equipment, sodium or mercury arc lamps, equipment engines using
                                    spark plugs, other)?</label>
                                <select class="form-control" formControlName="equipmentHighFrequency">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of selectionValue">{{value}}</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <label class="form-label">Describe</label>
                                <textarea class="textarea-size" class="form-control" formControlName="equipmentHighFrequencyDesc"
                                    placeholder="Enter Describe"></textarea>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Approximate distance from electronic system in meters</label>
                                <input type="text" class="form-control" formControlName="approximateDistance"
                                    placeholder="Enter Approximate distance from electronic system in meters">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Equipment maintained and operated properly (access doors/panels closed??)</label>
                                <select class="form-control" formControlName="equipmentMaintence">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of selectionValue">{{value}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div>
                                <label>Describe</label>
                                <textarea class="textarea-size" class="form-control" formControlName="equipmentMaintenceDesc"
                                    placeholder="Enter Describe"></textarea>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Operational frequency</label>
                                <input type="text" class="form-control" formControlName="operationFrequency" placeholder=" (if known) ">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Radiated power or power consumption in RF section</label>
                                <input type="text" class="form-control" formControlName="radiatedPower" placeholder=" (if known) ">
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <!-- EXTRENAL RFI SOURCES -->
                <mat-expansion-panel class="body">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3>Extrenal RFI Sources</h3>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Communications / navigation</label>
                                <input type="text" class="form-control" formControlName="communication" placeholder="Enter Communications navigation ">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Any broadcast or communication antennas visible on or near the customers
                                    site?</label>
                                <select class="form-control" formControlName="visibilityOfAntennas">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of selectionValue">{{value}}</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Type (s) of transmission (radar, radio/tv broadcse, amateur, microwave, other, if
                                    known)</label>
                                <input type="text" class="form-control" formControlName="typeOfTransmission"
                                    placeholder="Enter Type (s) of transmission (radar, radio/tv broadcse, amateur, microwave, other, if known)">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <label>Describe</label>
                                <textarea class="textarea-size" class="form-control" formControlName="transmissionDesc"
                                    placeholder="Enter Describe"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Distance from antenna to electronic system in meters</label>
                                <input type="text" class="form-control" formControlName="antennaDistance"
                                    placeholder="Enter Distance from antenna to electronic system in meters">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Number of walls in building between electronic system and antenna (theoretical
                                    line of sight):</label>
                                <input type="text" class="form-control" formControlName="noOfWalls"
                                    placeholder="Enter Number of walls in building between electronic system and antenna (theoretical line of sight):">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div>
                                <label>Describe</label>
                                <textarea class="textarea-size" class="form-control" formControlName="losDesc"
                                    placeholder="Enter Describe"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Distance from electronic system to outside wall near to source in meters </label>
                                <input type="text" class="form-control" formControlName="electronicSystemDistance"
                                    placeholder="Enter Distance from electronic system to outside wall near to source in meters ">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Transmitter power (if known) in watts (ERP)</label>
                                <input type="text" class="form-control" formControlName="transmitterPower"
                                    placeholder="Enter Transmitter power (if known) in watts (ERP)">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Frequency (if known)</label>
                                <input type="text" class="form-control" formControlName="frequency" placeholder="Enter Frequency (if known)">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Orintation of electronic system to antenna</label>
                                <input type="text" class="form-control" formControlName="orientationAntinna"
                                    placeholder="Enter Orintation of electronic system to antenna">
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <!-- INCIDENTAL EMI SOURCE -->
                <mat-expansion-panel class="body">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3>Incidental EMI Source</h3>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>CB, walkie talkies, wireless intercom, or clock synchronisation syste used on
                                    site</label>
                                <select class="form-control" formControlName="systemSite">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of selectionValue">{{value}}</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label>Describe</label>
                                <textarea class="textarea-size" class="form-control" formControlName="systemSiteDesc"
                                    placeholder="Enter Describe"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Dimmer switches or large SCR cotrolled loads</label>
                                <select class="form-control" formControlName="controlledLoads">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of selectionValue">{{value}}</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label>Describe</label>
                                <textarea class="textarea-size" class="form-control" formControlName="controlledLoadsDesc"
                                    placeholder="Enter Describe"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Electric railway / traction near by</label>
                                <select class="form-control" formControlName="electricRailway">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of selectionValue">{{value}}</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label>Describe</label>
                                <textarea class="textarea-size" class="form-control" formControlName="electricRailwayDesc"
                                    placeholder="Enter Describe"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>High voltage transmission lines near by</label>
                                <select class="form-control" formControlName="hvTransmission">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of selectionValue">{{value}}</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label>Describe</label>
                                <textarea class="textarea-size" class="form-control" formControlName="hvTransmissionDesc"
                                    placeholder="Enter Describe"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>High power a.c magets or high current feeders nearby</label>
                                <select class="form-control" formControlName="hpAcMangets">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of selectionValue">{{value}}</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label>Describe</label>
                                <textarea class="textarea-size" class="form-control" formControlName="hpAcMangetsDesc"
                                    placeholder="Enter Describe"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Approximate distance between electronics system and cable connected to metal
                                    parts of the lightning protection system: (in meters)</label>
                                <input type="text" class="form-control" formControlName="approximateDistance"
                                    placeholder="Approximate distance between electronics...">
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <!-- SITE RFI SURVEY -->
                <mat-expansion-panel class="body">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3>SITE RFI SURVEY</h3>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>RFI survey been condcuted on this site</label>
                                <select class="form-control" formControlName="rfiSurvey">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of selectionValue">{{value}}</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">RFI survey needed</label>
                                <select class="form-control" formControlName="newRfiSurvey">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of selectionValue">{{value}}</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <label>Describe</label>
                                <textarea class="textarea-size" class="form-control" formControlName="newRfiSurveyDesc"
                                    placeholder="Enter Describe"></textarea>
                            </div>
                        </div>

                    </div>
                </mat-expansion-panel>


                <div class="container">
                    <div style="text-align: center;">
                        <button type="button" style="width: 100px; margin: 16px auto;"
                            class="btn btn-primary">Previous</button>
                        <button type="submit" style="width: 100px; margin: 16px auto;"
                            class="btn btn-success">Next</button>
                    </div>
                </div>

            </form>
        </mat-accordion>
    </div>
</div>