<div *ngIf="validationErrorTab" style="text-align: center;">
    <span class="alert alert-danger">{{validationErrorMsgTab}}</span>
</div>
<div class="card">
    <!-- <div>
        <h2 style="text-align: center;">ELECTROMAGNETIC COMPATIBILITY (EMC) DATA</h2>
    </div>2 -->
    <div class="card-body">
        <mat-accordion>
            <form [formGroup]="EMCElectroMagneticFormm" (ngSubmit)="saveElectroMagneticData(flag)"
                (keyup)="onKeyForm($event)" (change)="onChangeForm($event)">

                <mat-expansion-panel class="body">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3>System Earth Referance Summery</h3>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">System earth referance a single point referance</label>
                                <select class="form-control" formControlName="seSinglePoint"
                                    [(ngModel)]="emcElectromagneticCompatibility.seSinglePoint"
                                    [ngClass]="{'is-invalid':submitted && f.seSinglePoint?.errors}">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of selectionValue">{{value}}</option>
                                </select>
                                <div *ngIf="submitted &&f.seSinglePoint?.errors" class="invalid-feedback">
                                    <div *ngIf="f.seSinglePoint?.errors?.required">Field Is Required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>System earth referance a meshed arrangement</label>
                                <select class="form-control" formControlName="seMeshedArrangment"
                                    [ngClass]="{'is-invalid':submitted && f.seMeshedArrangment?.errors}"
                                    [(ngModel)]="emcElectromagneticCompatibility.seMeshedArrangment">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of selectionValue">{{value}}</option>
                                </select>
                                <div *ngIf="submitted &&f.seMeshedArrangment?.errors" class="invalid-feedback">
                                    <div *ngIf="f.seMeshedArrangment?.errors?.required">Field Is Required</div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <label>Descriptions</label>
                                <textarea class="textarea-size" class="form-control" style="font-size: 100%;"
                                    [(ngModel)]="emcElectromagneticCompatibility.seDescription"
                                    [ngClass]="{'is-invalid':submitted && f.seDescription?.errors}"
                                    formControlName="seDescription"
                                    placeholder="other connections to facility safety earth system (or earth electrodes)...!"></textarea>
                                <div *ngIf="submitted &&f.seDescription?.errors" class="invalid-feedback">
                                    <div *ngIf="f.seDescription?.errors?.required">Description Is Required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Provide A Schematic Of Equipotential Bonding</label>
                                <input type="text" class="form-control" formControlName="equiptentialBonding"
                                    [ngClass]="{'is-invalid':submitted && f.equiptentialBonding?.errors}"
                                    [(ngModel)]="emcElectromagneticCompatibility.equiptentialBonding"
                                    placeholder="Enter Provide A Schematic Of Equipotential Bonding">
                                <div *ngIf="submitted &&f.equiptentialBonding?.errors" class="invalid-feedback">
                                    <div *ngIf="f.equiptentialBonding?.errors?.required">Field Is Required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <!-- Provide a schematic of equipotential bonding -->
                <mat-expansion-panel class="body">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3>System / Room Shielding</h3>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>RFI - resistant cabinets used</label>
                                <select class="form-control" formControlName="resistanceCabinet"
                                    [ngClass]="{'is-invalid':submitted && f.equiptentialBonding?.errors}"
                                    [(ngModel)]="emcElectromagneticCompatibility.resistanceCabinet">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of selectionValue">{{value}}</option>
                                </select>
                                <div *ngIf="submitted &&f.resistanceCabinet?.errors" class="invalid-feedback">
                                    <div *ngIf="f.resistanceCabinet?.errors?.required">Field Is Required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <label>Descriptions</label>
                                <textarea class="textarea-size" class="form-control" style="font-size: 100%;"
                                    [ngClass]="{'is-invalid':submitted && f.resistanceCabinetDesc?.errors}"
                                    [(ngModel)]="emcElectromagneticCompatibility.resistanceCabinetDesc"
                                    formControlName="resistanceCabinetDesc" placeholder="Enter Descriptions"></textarea>
                                <div *ngIf="submitted &&f.resistanceCabinetDesc?.errors" class="invalid-feedback">
                                    <div *ngIf="f.resistanceCabinetDesc?.errors?.required">Description Is Required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Computer room shield</label>
                                <select class="form-control" formControlName="roomShield"
                                    [ngClass]="{'is-invalid':submitted && f.roomShield?.errors}"
                                    [(ngModel)]="emcElectromagneticCompatibility.roomShield">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of selectionValue">{{value}}</option>
                                </select>
                                <div *ngIf="submitted &&f.roomShield?.errors" class="invalid-feedback">
                                    <div *ngIf="f.roomShield?.errors?.required">Computer Room Shield Is Required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <label>Descriptions</label>
                                <textarea class="textarea-size" class="form-control"
                                    [ngClass]="{'is-invalid':submitted && f.roomShieldDesc?.errors}"
                                    [(ngModel)]="emcElectromagneticCompatibility.roomShieldDesc"
                                    formControlName="roomShieldDesc" placeholder="Enter Descriptions"></textarea>
                                <div *ngIf="submitted &&f.roomShieldDesc?.errors" class="invalid-feedback">
                                    <div *ngIf="f.roomShieldDesc?.errors?.required">Description Is Required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <label>Describe other shielding provisions </label>
                                <textarea class="textarea-size" class="form-control"
                                    [ngClass]="{'is-invalid':submitted && f.shieldingOtherDesc?.errors}"
                                    [(ngModel)]="emcElectromagneticCompatibility.shieldingOtherDesc"
                                    formControlName="shieldingOtherDesc"
                                    placeholder="(window screens, etc)...!"></textarea>
                                <div *ngIf="submitted &&f.shieldingOtherDesc?.errors" class="invalid-feedback">
                                    <div *ngIf="f.shieldingOtherDesc?.errors?.required">Field Is Required</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </mat-expansion-panel>
                <!-- SITE RF SOURCE -->
                <mat-expansion-panel class="body">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3>Site RF Source</h3>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Any equipment in the building or near computer room using high-frequency energy
                                    (e.g., welding machine, ultrasonic cleaners, high-energy medical equipment, relay
                                    banks, microwave equipment, sodium or mercury arc lamps, equipment engines using
                                    spark plugs, other)?</label>
                                <select class="form-control" formControlName="equipmentHighFrequency"
                                    [ngClass]="{'is-invalid':submitted && f.equipmentHighFrequency?.errors}"
                                    [(ngModel)]="emcElectromagneticCompatibility.equipmentHighFrequency">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of selectionValue">{{value}}</option>
                                </select>
                                <div *ngIf="submitted &&f.equipmentHighFrequency?.errors" class="invalid-feedback">
                                    <div *ngIf="f.equipmentHighFrequency?.errors?.required">Field Is Required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <label class="form-label">Describe</label>
                                <textarea class="textarea-size" class="form-control"
                                    [ngClass]="{'is-invalid':submitted && f.equipmentHighFrequencyDesc?.errors}"
                                    [(ngModel)]="emcElectromagneticCompatibility.equipmentHighFrequencyDesc"
                                    formControlName="equipmentHighFrequencyDesc"
                                    placeholder="Enter Describe"></textarea>
                                <div *ngIf="submitted &&f.equipmentHighFrequencyDesc?.errors" class="invalid-feedback">
                                    <div *ngIf="f.equipmentHighFrequencyDesc?.errors?.required">Describe Is Required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Approximate distance from electronic system in meters</label>
                                <input type="text" class="form-control" formControlName="approximateDistance"
                                    [ngClass]="{'is-invalid':submitted && f.approximateDistance?.errors}"
                                    [(ngModel)]="emcElectromagneticCompatibility.approximateDistance"
                                    placeholder="Enter Approximate distance from electronic system in meters">
                                <div *ngIf="submitted &&f.approximateDistance?.errors" class="invalid-feedback">
                                    <div *ngIf="f.approximateDistance?.errors?.required">Field Is Required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Equipment maintained and operated properly (access doors/panels closed??)</label>
                                <select class="form-control" formControlName="equipmentMaintence"
                                    [ngClass]="{'is-invalid':submitted && f.equipmentMaintence?.errors}"
                                    [(ngModel)]="emcElectromagneticCompatibility.equipmentMaintence">
                                    <option [ngValue]="null">Select Option</option>
                                    <option *ngFor="let value of selectionValue">{{value}}</option>
                                </select>
                                <div *ngIf="submitted &&f.equipmentMaintence?.errors" class="invalid-feedback">
                                    <div *ngIf="f.equipmentMaintence?.errors?.required">Field Is Required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div>
                                <label>Describe</label>
                                <textarea class="textarea-size" class="form-control"
                                    [ngClass]="{'is-invalid':submitted && f.equipmentMaintenceDesc?.errors}"
                                    [(ngModel)]="emcElectromagneticCompatibility.equipmentMaintenceDesc"
                                    formControlName="equipmentMaintenceDesc" placeholder="Enter Describe"></textarea>
                                <div *ngIf="submitted &&f.equipmentMaintenceDesc?.errors" class="invalid-feedback">
                                    <div *ngIf="f.equipmentMaintenceDesc?.errors?.required">Describe Is Required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Operational frequency</label>
                                <input type="text" class="form-control" formControlName="operationFrequency"
                                    [ngClass]="{'is-invalid':submitted && f.operationFrequency?.errors}"
                                    [(ngModel)]="emcElectromagneticCompatibility.operationFrequency"
                                    placeholder=" (if known) ">
                                <div *ngIf="submitted &&f.operationFrequency?.errors" class="invalid-feedback">
                                    <div *ngIf="f.operationFrequency?.errors?.required">Operational Frequency Is
                                        Required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Radiated power or power consumption in RF section</label>
                                <input type="text" class="form-control" formControlName="radiatedPower"
                                    [ngClass]="{'is-invalid':submitted && f.radiatedPower?.errors}"
                                    [(ngModel)]="emcElectromagneticCompatibility.radiatedPower"
                                    placeholder=" (if known) ">
                                <div *ngIf="submitted &&f.radiatedPower?.errors" class="invalid-feedback">
                                    <div *ngIf="f.radiatedPower?.errors?.required">Field Is Required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>

                <div formArrayName="externalCompatibilityArr"
                    *ngFor="let a of getExternalCompatibilityControl(); let i = index">
                    <div class="form-group" [formGroupName]="i">

                        <!-- EXTRENAL RFI SOURCES -->
                        <mat-expansion-panel class="body">

                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h3>Extrenal RFI Sources</h3>
                                </mat-panel-title>

                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Communications / navigation</label>
                                        <input type="text" class="form-control" formControlName="communication"
                                            [ngClass]="{'is-invalid':submitted && a.get('communication')?.errors}"
                                            placeholder="Enter Communications navigation ">
                                        <div *ngIf="submitted && a.get('communication')?.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="a.get('communication')?.errors?.required">Communications /
                                                Navigation Is Required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Any broadcast or communication antennas visible on or near the customers
                                            site?</label>
                                        <select class="form-control" formControlName="visibilityOfAntennas"
                                            [ngClass]="{'is-invalid':submitted && a.get('visibilityOfAntennas')?.errors}">
                                            <option [ngValue]="null">Select Option</option>
                                            <option *ngFor="let value of selectionValue">{{value}}</option>
                                        </select>
                                        <div *ngIf="submitted && a.get('visibilityOfAntennas')?.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="a.get('visibilityOfAntennas')?.errors?.required">Field Is
                                                Required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Type (s) of transmission (radar, radio/tv broadcse, amateur, microwave,
                                            other, if
                                            known)</label>
                                        <input type="text" class="form-control" formControlName="typeOfTransmission"
                                            [ngClass]="{'is-invalid':submitted && a.get('typeOfTransmission')?.errors}"
                                            placeholder="Enter Type (s) of transmission (radar, radio/tv broadcse, amateur, microwave, other, if known)">
                                        <div *ngIf="submitted && a.get('typeOfTransmission')?.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="a.get('typeOfTransmission')?.errors?.required">Field Is Required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <label>Describe</label>
                                        <textarea class="textarea-size" class="form-control"
                                            formControlName="transmissionDesc"
                                            [ngClass]="{'is-invalid':submitted && a.get('transmissionDesc')?.errors}"
                                            placeholder="Enter Describe"></textarea>
                                        <div *ngIf="submitted && a.get('transmissionDesc')?.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="a.get('transmissionDesc')?.errors?.required">Describe Is
                                                Required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Distance from antenna to electronic system in meters</label>
                                        <input type="text" class="form-control" formControlName="antennaDistance"
                                            [ngClass]="{'is-invalid':submitted && a.get('antennaDistance')?.errors}"
                                            placeholder="Enter Distance from antenna to electronic system in meters">
                                        <div *ngIf="submitted && a.get('antennaDistance')?.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="a.get('antennaDistance')?.errors?.required">Field Is Required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Number of walls in building between electronic system and antenna
                                            (theoretical
                                            line of sight):</label>
                                        <input type="text" class="form-control" formControlName="noOfWalls"
                                            [ngClass]="{'is-invalid':submitted && a.get('noOfWalls')?.errors}"
                                            placeholder="Enter Number of walls in building between electronic system and antenna (theoretical line of sight):">
                                        <div *ngIf="submitted && a.get('noOfWalls')?.errors" class="invalid-feedback">
                                            <div *ngIf="a.get('noOfWalls')?.errors?.required">Field Is Required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div>
                                        <label>Describe</label>
                                        <textarea class="textarea-size" class="form-control" formControlName="losDesc"
                                            [ngClass]="{'is-invalid':submitted && a.get('losDesc')?.errors}"
                                            placeholder="Enter Describe"></textarea>
                                        <div *ngIf="submitted && a.get('losDesc')?.errors" class="invalid-feedback">
                                            <div *ngIf="a.get('losDesc')?.errors?.required">Describe Is Required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Distance from electronic system to outside wall near to source in meters
                                        </label>
                                        <input type="text" class="form-control"
                                            formControlName="electronicSystemDistance"
                                            [ngClass]="{'is-invalid':submitted && a.get('electronicSystemDistance')?.errors}"
                                            placeholder="Enter Distance from electronic system to outside wall near to source in meters ">
                                        <div *ngIf="submitted && a.get('electronicSystemDistance')?.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="a.get('electronicSystemDistance')?.errors?.required">Field Is
                                                Required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Transmitter power (if known) in watts (ERP)</label>
                                        <input type="text" class="form-control" formControlName="transmitterPower"
                                            [ngClass]="{'is-invalid':submitted && a.get('transmitterPower')?.errors}"
                                            placeholder="Enter Transmitter power (if known) in watts (ERP)">
                                        <div *ngIf="submitted && a.get('transmitterPower')?.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="a.get('transmitterPower')?.errors?.required">Transmitter Power
                                                Is Required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Frequency (if known)</label>
                                        <input type="text" class="form-control" formControlName="frequency"
                                            [ngClass]="{'is-invalid':submitted && a.get('frequency')?.errors}"
                                            placeholder="Enter Frequency (if known)">
                                        <div *ngIf="submitted && a.get('frequency')?.errors" class="invalid-feedback">
                                            <div *ngIf="a.get('frequency')?.errors?.required">Frequency Is Required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Orintation of electronic system to antenna</label>
                                        <input type="text" class="form-control" formControlName="orientationAntinna"
                                            [ngClass]="{'is-invalid':submitted && a.get('orientationAntinna')?.errors}"
                                            placeholder="Enter Orintation of electronic system to antenna">
                                        <div *ngIf="submitted && a.get('orientationAntinna')?.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="a.get('orientationAntinna')?.errors?.required">Field Is Required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <!-- INCIDENTAL EMI SOURCE -->
                        <mat-expansion-panel class="body">

                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h3>Incidental EMI Source</h3>
                                </mat-panel-title>

                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>CB, walkie talkies, wireless intercom, or clock synchronisation syste
                                            used on
                                            site</label>
                                        <select class="form-control" formControlName="systemSite"
                                            [ngClass]="{'is-invalid':submitted && a.get('systemSite')?.errors}">
                                            <option [ngValue]="null">Select Option</option>
                                            <option *ngFor="let value of selectionValue">{{value}}</option>
                                        </select>
                                        <div *ngIf="submitted && a.get('systemSite')?.errors" class="invalid-feedback">
                                            <div *ngIf="a.get('systemSite')?.errors?.required">Field Is Required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label>Describe</label>
                                        <textarea class="textarea-size" class="form-control"
                                            [ngClass]="{'is-invalid':submitted && a.get('systemSiteDesc')?.errors}"
                                            formControlName="systemSiteDesc" placeholder="Enter Describe"></textarea>
                                        <div *ngIf="submitted && a.get('systemSiteDesc')?.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="a.get('systemSiteDesc')?.errors?.required">Describe Is Required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Dimmer switches or large SCR cotrolled loads</label>
                                        <select class="form-control" formControlName="controlledLoads"
                                            [ngClass]="{'is-invalid':submitted && a.get('controlledLoads')?.errors}">
                                            <option [ngValue]="null">Select Option</option>
                                            <option *ngFor="let value of selectionValue">{{value}}</option>
                                        </select>
                                        <div *ngIf="submitted && a.get('controlledLoads')?.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="a.get('controlledLoads')?.errors?.required">Field Is Required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label>Describe</label>
                                        <textarea class="textarea-size" class="form-control"
                                            formControlName="controlledLoadsDesc"
                                            [ngClass]="{'is-invalid':submitted && a.get('controlledLoadsDesc')?.errors}"
                                            placeholder="Enter Describe"></textarea>
                                        <div *ngIf="submitted && a.get('controlledLoadsDesc')?.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="a.get('controlledLoadsDesc')?.errors?.required">Describe Is
                                                Required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Electric railway / traction near by</label>
                                        <select class="form-control" formControlName="electricRailway"
                                            [ngClass]="{'is-invalid':submitted && a.get('electricRailway')?.errors}">
                                            <option [ngValue]="null">Select Option</option>
                                            <option *ngFor="let value of selectionValue">{{value}}</option>
                                        </select>
                                        <div *ngIf="submitted && a.get('electricRailway')?.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="a.get('electricRailway')?.errors?.required">Field Is Required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label>Describe</label>
                                        <textarea class="textarea-size" class="form-control"
                                            formControlName="electricRailwayDesc"
                                            [ngClass]="{'is-invalid':submitted && a.get('electricRailwayDesc')?.errors}"
                                            placeholder="Enter Describe"></textarea>
                                        <div *ngIf="submitted && a.get('electricRailwayDesc')?.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="a.get('electricRailwayDesc')?.errors?.required">Describe Is
                                                Required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>High voltage transmission lines near by</label>
                                        <select class="form-control" formControlName="hvTransmission"
                                            [ngClass]="{'is-invalid':submitted && a.get('hvTransmission')?.errors}">
                                            <option [ngValue]="null">Select Option</option>
                                            <option *ngFor="let value of selectionValue">{{value}}</option>
                                        </select>
                                        <div *ngIf="submitted && a.get('hvTransmission')?.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="a.get('hvTransmission')?.errors?.required">Field Is Required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label>Describe</label>
                                        <textarea class="textarea-size" class="form-control"
                                            formControlName="hvTransmissionDesc"
                                            [ngClass]="{'is-invalid':submitted && a.get('hvTransmissionDesc')?.errors}"
                                            placeholder="Enter Describe"></textarea>
                                        <div *ngIf="submitted && a.get('hvTransmissionDesc')?.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="a.get('hvTransmissionDesc')?.errors?.required">Describe Is
                                                Required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>High power a.c magets or high current feeders nearby</label>
                                        <select class="form-control" formControlName="hpAcMangets"
                                            [ngClass]="{'is-invalid':submitted && a.get('hpAcMangets')?.errors}">
                                            <option [ngValue]="null">Select Option</option>
                                            <option *ngFor="let value of selectionValue">{{value}}</option>
                                        </select>
                                        <div *ngIf="submitted && a.get('hpAcMangets')?.errors" class="invalid-feedback">
                                            <div *ngIf="a.get('hpAcMangets')?.errors?.required">Field Is Required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label>Describe</label>
                                        <textarea class="textarea-size" class="form-control"
                                            formControlName="hpAcMangetsDesc"
                                            [ngClass]="{'is-invalid':submitted && a.get('hpAcMangetsDesc')?.errors}"
                                            placeholder="Enter Describe"></textarea>
                                        <div *ngIf="submitted && a.get('hpAcMangetsDesc')?.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="a.get('hpAcMangetsDesc')?.errors?.required">Describe Is Required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Approximate distance between electronics system and cable connected to
                                            metal
                                            parts of the lightning protection system: (in meters)</label>
                                        <input type="text" class="form-control" formControlName="approximateDistance"
                                            [ngClass]="{'is-invalid':submitted && a.get('approximateDistance')?.errors}"
                                            placeholder="Approximate distance between electronics...">
                                        <div *ngIf="submitted && a.get('approximateDistance')?.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="a.get('approximateDistance')?.errors?.required">Field Is
                                                Required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <!-- SITE RFI SURVEY -->
                        <mat-expansion-panel class="body">

                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h3>SITE RFI SURVEY</h3>
                                </mat-panel-title>

                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>RFI survey been condcuted on this site</label>
                                        <select class="form-control" formControlName="rfiSurvey"
                                            [ngClass]="{'is-invalid':submitted && a.get('rfiSurvey')?.errors}">
                                            <option [ngValue]="null">Select Option</option>
                                            <option *ngFor="let value of selectionValue">{{value}}</option>
                                        </select>
                                        <div *ngIf="submitted && a.get('rfiSurvey')?.errors" class="invalid-feedback">
                                            <div *ngIf="a.get('rfiSurvey')?.errors?.required">Field Is Required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">RFI survey needed</label>
                                        <select class="form-control" formControlName="newRfiSurvey"
                                            [ngClass]="{'is-invalid':submitted && a.get('newRfiSurvey')?.errors}">
                                            <option [ngValue]="null">Select Option</option>
                                            <option *ngFor="let value of selectionValue">{{value}}</option>
                                        </select>
                                        <div *ngIf="submitted && a.get('newRfiSurvey')?.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="a.get('newRfiSurvey')?.errors?.required">RFI Survey Needed Is
                                                Required</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div>
                                        <label>Describe</label>
                                        <textarea class="textarea-size" class="form-control"
                                            [ngClass]="{'is-invalid':submitted && a.get('newRfiSurveyDesc')?.errors}"
                                            formControlName="newRfiSurveyDesc" placeholder="Enter Describe"></textarea>
                                        <div *ngIf="submitted && a.get('newRfiSurveyDesc')?.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="a.get('newRfiSurveyDesc')?.errors?.required">Describe Is
                                                Required</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </mat-expansion-panel>
                    </div>
                </div>

                <div style="text-align: center;margin-top: 40px;margin-bottom: 20px;">
                    <button class="previous" mat-button matStepperPrevious>&laquo; Back</button>
                    <button class="next" (click)="gotoNextModal(content3)" mat-button>Next &raquo;</button>
                </div>

                <div *ngIf="validationError" style="text-align: center;margin-top: 30px;">
                    <span class="alert alert-danger">{{validationErrorMsg}}</span>
                </div>

            </form>
        </mat-accordion>
    </div>
</div>



<ng-template #content3 let-modal>
    <mat-progress-spinner style="margin: 0 auto;" *ngIf="finalSpinner" color="primary">
    </mat-progress-spinner>
    <div class="modal-body" *ngIf="popup">
        <div class="centre-text m-btm30">
            <div *ngIf="success" style="text-align: center;">
                <span class="successshow">{{successMsg}}</span>
            </div>
            <div *ngIf="Error" style="text-align: center;">
                <span class="errorshow">{{errorMsg}}</span>
            </div>
        </div>
    </div>
    <br>

    <button type="button" *ngIf="popup" class="close"
        class="btn btn-block btn-primary btn-rounded btn-md font-weight-medium auth-form-btn" aria-label="Close"
        (click)="closeModalDialog()" matStepperNext>
        <span aria-hidden="true">Ok</span>
    </button>
</ng-template>