/* table {
    width: 811px;
    text-align: justify;
  } */
  .auth-form-btn {
    width: 20%;
    margin: 0 auto;
}
  .mat-row.hovered {
    background: #eee;
  }
  
  .mat-row.highlighted {
    background: #999;
  }

mat-cell.mat-cell,
mat-header-cell.mat-header-cell {
  overflow-x: scroll;
  min-width: 200px;
}

.delete {   
    height: 35px;
}

.search-bar {
    border: 2px solid #b1b1b1;
    padding: 15px;
    border-radius: 4px;
    margin-top: 10px;
}

.select.form-control {
  padding: .4375rem .75rem;
    border: 0;
    outline: 1px solid #f3f3f3;
    color: #c9c8c8;
}
.mousechange:hover {
  cursor: pointer;
}

.client-description {
  width: 800px;
  height: 150px;
}

.client-box-description {
  height: 100px;
}

.cancel {
  margin-top: 40px;
  width: 10%; 
  height: 47px;
  border-radius: 1.25rem !important;
}
.previous {
  background-color: #f1f1f1;
  color: black;
  /* position: relative;
  bottom: 92px;
  left: 40%; */
}
.previous:hover {
  background-color: #747a76;
  color: white;
  /* position: relative;
  bottom: 92px;
  left: 40%; */
}
.next{
  background-color: #f1f1f1;
  color: black;
  margin-left: 30px;
}
.next:hover{
  background-color: #04AA6D;
  color: white;
  margin-left: 30px;
}

.next:disabled {
  background-color: lightgrey;
    color: black;
    margin-left: 30px;
    cursor: not-allowed;
  }   

.example-section {
  margin: 12px 0;
  display: contents;
}

.example-margin {
  margin: 0 12px;
  float: right;
}
.auth-form-btn {
  width: 20%;
  margin: 0 auto;
}
.disableForm{
  pointer-events: none;
}
::ng-deep .multiline-tooltip{
  white-space: pre-line;
  }
/* .button {
    background-color: unset;
    border-radius: 10px;
    border: none;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
  }
  @-webkit-keyframes glowing {
    0% {  -webkit-box-shadow: 0 0 3px #17b881; }
   50% {  -webkit-box-shadow: 0 0 40px #17b881; }
   100% {  -webkit-box-shadow: 0 0 3px #17b881; }
   }
  @keyframes glowing {
    0% {box-shadow: 0 0 3px #17b881; }
    50% {  box-shadow: 0 0 40px #17b881; }
    100% { box-shadow: 0 0 3px #17b881; }
 } */
