 <!-- step 3 -->
 <form [formGroup]="addstep3">
 <div class="card">
    <div class="card-body">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Incoming equipment</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Service cable:</label>
                <select class="form-control" formControlName="serviceCable"
                [(ngModel)]="inspectionDetails.serviceCable">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Service cut out / fuse:</label>
                <select class="form-control" formControlName="serviceFuse" [(ngModel)]="inspectionDetails.serviceFuse">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Meter tails – Distributor:</label>
                <select class="form-control" formControlName="meterDistributor" [(ngModel)]="inspectionDetails.meterDistributor">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Meter tails – Consumer:</label>
                <select class="form-control" formControlName="meterConsumer" [(ngModel)]="inspectionDetails.meterConsumer">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Metering Equipment:</label>
                <select class="form-control" formControlName="meterEqu" [(ngModel)]="inspectionDetails.meterEqu">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Isolator (Means to isolate the public supply system):</label>
                <select class="form-control" formControlName="isolator" [(ngModel)]="inspectionDetails.isolator">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Presence of adequate arrangements for parallel or switched alternative sources of supply </h3>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Dedicated earthing arrangement independent to that of public supply:</label>
                <select class="form-control" formControlName="earthingArrangement" [(ngModel)]="inspectionDetails.earthingArrangement">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Presence of adequate arrangements where generator to operate in parallel with the public
                  supply system:</label>
                <select class="form-control" formControlName="adequateArrangement" [(ngModel)]="inspectionDetails.adequateArrangement">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Correct connections of generator in parallel. (note: Special attention to circulating
                  currents):</label>
                <select class="form-control" formControlName="connectionGenerator" [(ngModel)]="inspectionDetails.connectionGenerator">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Compatibility of characteristics of means of generation:</label>
                <select class="form-control" formControlName="compatibilityCharacteristics" [(ngModel)]="inspectionDetails.compatibilityCharacteristics">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Means to provide automatic disconnection of generator in the event of
                  loss of public supply system or voltage or frequency deviation beyond declared values:</label>
                <select class="form-control" formControlName="automaticDisconnectGenerator" [(ngModel)]="inspectionDetails.automaticDisconnectGenerator">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Means to prevent connection of generator in the event of loss of
                  public supply system or voltage or frequency deviation beyond declared values:</label>
                <select class="form-control" formControlName="preventConnectGenerator" [(ngModel)]="inspectionDetails.preventConnectGenerator">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Means to isolate generator from the public supply system :</label>
                <select class="form-control" formControlName="isolateGenerator" [(ngModel)]="inspectionDetails.isolateGenerator">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Automatic disconnection of supply</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Main earthing / bonding arrangements:</label>
                <select class="form-control" formControlName="mainEarting" [(ngModel)]="inspectionDetails.mainEarting">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Presence and adequacy of energy suppliers earthing arrangement or installation earth
                  electrode arrangement:</label>
                <select class="form-control" formControlName="earthElectordeArrangement" [(ngModel)]="inspectionDetails.earthElectordeArrangement">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Presence and adequacy of earthing conductor and connections:</label>
                <select class="form-control" formControlName="earthConductorConnection" [(ngModel)]="inspectionDetails.earthConductorConnection">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Accessibility of earthing conductor connections:</label>
                <select class="form-control" formControlName="accessibility" [(ngModel)]="inspectionDetails.accessibility">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Presence and adequacy of main protective bonding conductors and connections (colour, sizes,
                  termination, and provision of independent earthing) :</label>
                <select class="form-control" formControlName="aainProtectBonding" [(ngModel)]="inspectionDetails.aainProtectBonding">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Accessibility of all protective bonding connections:</label>
                <select class="form-control" formControlName="allProtectBonding" [(ngModel)]="inspectionDetails.allProtectBonding">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Presence and adequacy of electrical earthing/bonding labels at all appropriate
                  locations:</label>
                <select class="form-control" formControlName="allAppropriateLocation" [(ngModel)]="inspectionDetails.allAppropriateLocation">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Accessibility of FELV requirements satisfied:</label>
                <select class="form-control" formControlName="felvRequirement" [(ngModel)]="inspectionDetails.felvRequirement">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Other methods of protection applicable to locations where automatic disconnection of supply is
                not employed</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <h3><b>Basic and fault protection</b></h3>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>SELV system, including the source and associated circuits:</label>
                <select class="form-control" formControlName="selvSystem" [(ngModel)]="inspectionDetails.selvSystem">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>PELV system, including the source and associated circuits:</label>
                <select class="form-control" formControlName="pelvSystem" [(ngModel)]="inspectionDetails.pelvSystem">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Double insulation (Class II or equivalent equipment and associated circuits):</label>
                <select class="form-control" formControlName="doubleInsulation" [(ngModel)]="inspectionDetails.doubleInsulation">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Reinforced insulation:</label>
                <select class="form-control" formControlName="reinforcedInsulation" [(ngModel)]="inspectionDetails.reinforcedInsulation">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Electrical separation for one item of equipment (shaver supply unit) :</label>
                <select class="form-control" formControlName="basicElectricalSepartion" [(ngModel)]="inspectionDetails.basicElectricalSepartion">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
          </div>

          <h3><b>Basic protection (prevention of contact with live parts)</b></h3>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Insulation of live parts (conductors completely covered with durable insulating
                  material):</label>
                <select class="form-control" formControlName="insulationLiveParts" [(ngModel)]="inspectionDetails.insulationLiveParts">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Barriers or enclosures (correct IP rating):</label>
                <select class="form-control" formControlName="barriersEnclosers" [(ngModel)]="inspectionDetails.barriersEnclosers">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Obstacles:</label>
                <select class="form-control" formControlName="obstacles" [(ngModel)]="inspectionDetails.obstacles">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Placing out of reach:</label>
                <select class="form-control" formControlName="placingOutReach" [(ngModel)]="inspectionDetails.placingOutReach">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
          </div>

          <h3><b>Fault protection</b></h3>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Non-Conducting location – earth free local equipotential bonding:</label>
                <select class="form-control" formControlName="nonConductLocation" [(ngModel)]="inspectionDetails.nonConductLocation">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Electrical separation:</label>
                <select class="form-control" formControlName="faultElectricalSepartion" [(ngModel)]="inspectionDetails.faultElectricalSepartion">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
          </div>

          <h3><b>Additional protection</b></h3>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>RCD(s) not exceeding 30 mA operating current:</label>
                <select class="form-control" formControlName="faultNonConductLocation" [(ngModel)]="inspectionDetails.faultNonConductLocation">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Supplementary bonding:</label>
                <select class="form-control" formControlName="operatingCurrent" [(ngModel)]="inspectionDetails.operatingCurrent">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Consumer unit(s) / distribution board(s) / distribution equipment</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Adequacy of access and working space for items of electrical equipment including
                  switchgear:</label>
                <select class="form-control" formControlName="accessWorking" [(ngModel)]="inspectionDetails.accessWorking">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Security of fixing:</label>
                <select class="form-control" formControlName="securityFixing" [(ngModel)]="inspectionDetails.securityFixing">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Insulation of live parts not damaged during erection:</label>
                <select class="form-control" formControlName="livePartsDamage" [(ngModel)]="inspectionDetails.livePartsDamage">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Adequacy / security of barriers:</label>
                <select class="form-control" formControlName="securityBarriers" [(ngModel)]="inspectionDetails.securityBarriers">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Suitability of enclosure(s) for IP and fire ratings:</label>
                <select class="form-control" formControlName="suitabilityEnclosure" [(ngModel)]="inspectionDetails.suitabilityEnclosure">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Enclosure not damaged during installation:</label>
                <select class="form-control" formControlName="enclosureDamaged" [(ngModel)]="inspectionDetails.enclosureDamaged">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Presence and effectiveness of obstacles:</label>
                <select class="form-control" formControlName="presenceObstacles" [(ngModel)]="inspectionDetails.presenceObstacles">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Placing out of reach:</label>
                <select class="form-control" formControlName="placingOutReach" [(ngModel)]="inspectionDetails.placingOutReach">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Presence of main switches linked where required:</label>
                <select class="form-control" formControlName="presenceMainSwitches" [(ngModel)]="inspectionDetails.presenceMainSwitches">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Operation of main switches (functional checks):</label>
                <select class="form-control" formControlName="operationMainSwitches" [(ngModel)]="inspectionDetails.operationMainSwitches">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Manual operation of circuit breakers and RCD’s to prove functionally:</label>
                <select class="form-control" formControlName="manualCircuitBreakers" [(ngModel)]="inspectionDetails.manualCircuitBreakers">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Confirmation that integral test button / switch causes RCD’s to trip when operated
                  (functional check):</label>
                <select class="form-control" formControlName="switchCausesRcd" [(ngModel)]="inspectionDetails.switchCausesRcd">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>RCD’s provided for fault protection, where specified:</label>
                <select class="form-control" formControlName="rcdFaultProtection" [(ngModel)]="inspectionDetails.rcdFaultProtection">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>RCD’s provided for additional protection, where specified:</label>
                <select class="form-control" formControlName="rcdAdditionalProtection" [(ngModel)]="inspectionDetails.rcdAdditionalProtection">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Confirmation of over voltage protection (SPD’s) provided where specified:</label>
                <select class="form-control" formControlName="overVoltageProtection" [(ngModel)]="inspectionDetails.overVoltageProtection">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Confirmation of indication that SPD is functional:</label>
                <select class="form-control" formControlName="indicationOfSpd" [(ngModel)]="inspectionDetails.indicationOfSpd">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Presence of RCD quarterly test notice at or near origin:</label>
                <select class="form-control" formControlName="rcdQuarterlyTest" [(ngModel)]="inspectionDetails.rcdQuarterlyTest">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Presence of diagrams charts or schedules at or near each distribution board where
                  required:</label>
                <select class="form-control" formControlName="diagramsCharts" [(ngModel)]="inspectionDetails.diagramsCharts">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>presence of nonstandard (mixed) cable colour warning notice near appropriate distribution
                  board, as required:</label>
                <select class="form-control" formControlName="nonstandardCableColour" [(ngModel)]="inspectionDetails.nonstandardCableColour">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Presence of alternative supply - warning notice at or near the origin:</label>
                <select class="form-control" formControlName="alSupplyOfOrign" [(ngModel)]="inspectionDetails.alSupplyOfOrign">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Presence of alternative supply - warning notice at or near the meter position, if remote
                  from origin:</label>
                <select class="form-control" formControlName="alSupplyOfMeter" [(ngModel)]="inspectionDetails.alSupplyOfMeter">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Presence of alternative supply - warning notice at or near the distribution board to which
                  alternative sources are connected:</label>
                <select class="form-control" formControlName="alSupplyDistribution" [(ngModel)]="inspectionDetails.alSupplyDistribution">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Presence of alternative supply - warning notice at or near all points of isolation of ALL
                  sources of supply:</label>
                <select class="form-control" formControlName="allPointsIsolation" [(ngModel)]="inspectionDetails.allPointsIsolation">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Presence of next inspection recommendation label:</label>
                <select class="form-control" formControlName="nextInspection" [(ngModel)]="inspectionDetails.nextInspection">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Presence of other required labelling:</label>
                <select class="form-control" formControlName="otherRequiredLabelling" [(ngModel)]="inspectionDetails.otherRequiredLabelling">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Selection of protective devices and bases correct type and rating (no signs of unacceptable
                  thermal damage, arcing or overheating):</label>
                <select class="form-control" formControlName="basesCorrectType" [(ngModel)]="inspectionDetails.basesCorrectType">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Single pole protective devices in line conductor only:</label>
                <select class="form-control" formControlName="singlePole" [(ngModel)]="inspectionDetails.singlePole">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Protection against mechanical damage where cables enter equipment:</label>
                <select class="form-control" formControlName="mechanicalDamage" [(ngModel)]="inspectionDetails.mechanicalDamage">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Protection against electromagnetic/heating effects where cables enter ferromagnetic
                  enclosures:</label>
                <select class="form-control" formControlName="electromagnetic" [(ngModel)]="inspectionDetails.electromagnetic">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Confirmation that all conductor connections including connections to busbars are correctly
                  located in terminals and are tight and secure:</label>
                <select class="form-control" formControlName="allConductorCon" [(ngModel)]="inspectionDetails.allConductorCon">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Circuits</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Identification of conductors including main earthing / bonding arrangements:</label>
                <select class="form-control" formControlName="identificationConductors" [(ngModel)]="inspectionDetails.identificationConductors">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Cable installation methods (including support) suitable for the location(s) and external
                  influences (Cables correctly supported throughout):</label>
                <select class="form-control" formControlName="cableInstallation" [(ngModel)]="inspectionDetails.cableInstallation">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Examination of cables for signs of mechanical damage during installation:</label>
                <select class="form-control" formControlName="examinationCables" [(ngModel)]="inspectionDetails.examinationCables">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Examination of insulation of live parts not damaged during erection:</label>
                <select class="form-control" formControlName="examinationInsulation" [(ngModel)]="inspectionDetails.examinationInsulation">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Non-Sheathed cables protected by enclosure in conduit, ducting or trucking:</label>
                <select class="form-control" formControlName="nonSheathedCables" [(ngModel)]="inspectionDetails.nonSheathedCables">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Suitability of containment systems including flexible conduit:</label>
                <select class="form-control" formControlName="containmentSystems" [(ngModel)]="inspectionDetails.containmentSystems">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Correct temperature rating of cable insulation:</label>
                <select class="form-control" formControlName="temperatureRating" [(ngModel)]="inspectionDetails.temperatureRating">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Cables correctly terminated in enclosures:</label>
                <select class="form-control" formControlName="cablesTerminated" [(ngModel)]="inspectionDetails.cablesTerminated">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Adequacy of conductors for current-carrying capacity with respect to type and nature of the
                  installation:</label>
                <select class="form-control" formControlName="currentCarryCapacity" [(ngModel)]="inspectionDetails.currentCarryCapacity">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Operation of main switches (functional checks):</label>
                <select class="form-control" formControlName="operationMainSwitches" [(ngModel)]="inspectionDetails.operationMainSwitches">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Manual operation of circuit breakers and RCD’s to prove functionally:</label>
                <select class="form-control" formControlName="manualCircuitBreakers" [(ngModel)]="inspectionDetails.manualCircuitBreakers">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Confirmation that integral test button / switch causes RCD’s to trip when operated
                  (functional check):</label>
                <select class="form-control" formControlName="switchCausesRcd" [(ngModel)]="inspectionDetails.switchCausesRcd">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Adequacy of protective devices, type and fault current rating for fault protection:</label>
                <select class="form-control" formControlName="adequacyProtectDevices" [(ngModel)]="inspectionDetails.adequacyProtectDevices">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>RCD’s provided for additional protection, where specified:</label>
                <select class="form-control" formControlName="rcdAdditionalProtection" [(ngModel)]="inspectionDetails.rcdAdditionalProtection">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Presence, adequacy, and correct termination of protective conductors:</label>
                <select class="form-control" formControlName="presenceProtectConductors" [(ngModel)]="inspectionDetails.presenceProtectConductors">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Co-ordination between conductors and overload protective devices:</label>
                <select class="form-control" formControlName="coOrdination" [(ngModel)]="inspectionDetails.coOrdination">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Wiring systems and cable installation methods/ practices with regard to the type and nature
                  of installation and external influences:</label>
                <select class="form-control" formControlName="wiringSystems" [(ngModel)]="inspectionDetails.wiringSystems">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Cables concealed under floors above ceilings, in wall adequately protected against damage
                  by contact with fixings:</label>
                <select class="form-control" formControlName="cablesConcealUnderFloors" [(ngModel)]="inspectionDetails.cablesConcealUnderFloors">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Additional protection by RCD’s having residual operating current (I∆n) not exceeding 30mA
                  for circuits used to supply mobile equipment not exceeding 32A rating for use outdoors in all
                  cases:</label>
                <select class="form-control" formControlName="operatingCurrentCircuits" [(ngModel)]="inspectionDetails.operatingCurrentCircuits">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Additional protection by RCD’s having residual operating current (I∆n) not exceeding 30mA
                  for all socket outlets of rating 20A or less provided for use by ordinary persons unless
                  exempt:</label>
                <select class="form-control" formControlName="operatingCurrentSocket" [(ngModel)]="inspectionDetails.operatingCurrentSocket">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Additional protection by RCD’s having residual operating current (I∆n) not exceeding 30mA
                  for cables concealed in walls at a depth of less than 50mm:</label>
                <select class="form-control" formControlName="cablesConcDepth" [(ngModel)]="inspectionDetails.cablesConcDepth">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Additional protection by RCD’s having residual operating current (I∆n) not exceeding 30mA
                  for Cables concealed in walls / sections containing metal sections regardless of depth:</label>
                <select class="form-control" formControlName="sectionsRegardlessDepth" [(ngModel)]="inspectionDetails.sectionsRegardlessDepth">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Provision of fire barriers, sealing arrangements so as to minimize the spread of
                  fire:</label>
                <select class="form-control" formControlName="provisionFireBarriers" [(ngModel)]="inspectionDetails.provisionFireBarriers">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Segregation/separation of Band I (ELV) and Band II (LV) circuits:</label>
                <select class="form-control" formControlName="separationBand" [(ngModel)]="inspectionDetails.separationBand">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Segregation/separation of electrical and non-electrical services:</label>
                <select class="form-control" formControlName="separationElectrical" [(ngModel)]="inspectionDetails.separationElectrical">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Condition of circuit accessories:</label>
                <select class="form-control" formControlName="conditionCircuitAccessories" [(ngModel)]="inspectionDetails.conditionCircuitAccessories">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Cables and conductors correctly terminated, enclosed and with no undue mechanical
                  strain:</label>
                <select class="form-control" formControlName="conductorCorrectTerminated" [(ngModel)]="inspectionDetails.conductorCorrectTerminated">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>No basic insulation of a conductor visible outside enclosure:</label>
                <select class="form-control" formControlName="conductorVisibleOutside" [(ngModel)]="inspectionDetails.conductorVisibleOutside">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Connections of live conductors adequately enclosed:</label>
                <select class="form-control" formControlName="connLiveConductors" [(ngModel)]="inspectionDetails.connLiveConductors">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Adequately connected at the point of entry to enclosure (glands, bushes etc.):</label>
                <select class="form-control" formControlName="adequatelyConnectedEnclosure" [(ngModel)]="inspectionDetails.adequatelyConnectedEnclosure">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Suitability of circuit accessories for external influences:</label>
                <select class="form-control" formControlName="suitabilityCircuitAccessories" [(ngModel)]="inspectionDetails.suitabilityCircuitAccessories">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group equipment">
                <label>Condition of accessories including socket-outlets, switches and joint boxes (Circuit
                  accessories not damaged, securely fixed, correctly connected, suitable for external
                  influences):</label>
                <select class="form-control" formControlName="conditionAccessories" [(ngModel)]="inspectionDetails.conditionAccessories">
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of InspectionList">{{value}}</option>
                </select>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div style="text-align: center;margin-top: 40px;">
        <button class="previous" mat-button matStepperPrevious>&laquo; Back</button>
        <button class="next" type="submit" mat-button (click)="nextTab3()">Next &raquo;</button>
      </div>
    </div>
  </div>
  </form>