
.disableForm{
  pointer-events: none;
  background-color: lightgrey;
  color: black;
  cursor: not-allowed !important;
  }

.save-Button {
  width: auto;
  margin-left: 50px;
  background-color: #17a2b8;
}

.signatureBtn button {
  overflow: visible;
  position: relative;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 38px;
  width: 50px;
  color: currentColor;
  background: #82d7f7;
  border-radius: 0 3px 3px 0;     
  top: -38px;
  float: right;
  left: -63px;
}   

.signatureBtn button:hover{    
  background: #82d7f7;
}  

.signatureBtn button:active,
.signatureBtn button:focus{  
  background: #82d7f7;
  outline: 0;  
}

.signatureBtn button:before { /* left arrow */
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #82d7f7 transparent;
  top: 12px;
  left: -6px;
}

.signatureBtn button:hover:before{
  border-right-color: #82d7f7;
}

.signatureBtn button:focus:before,
.signatureBtn button:active:before{
      border-right-color: #82d7f7;
}     

.signatureBtn button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}   
