
<div *ngIf="migError" style="text-align: center;margin-top: 1rem;margin-bottom: 1rem;">
  <span class="alert alert-danger">{{validationErrorMsgTab1}}</span>
</div>
<div *ngIf="tabError" style="text-align: center;margin-top: 1rem;margin-bottom: 1rem;">
  <span class="alert alert-danger">{{tabErrorMsg}}</span>
</div>
<div *ngIf="tabError1" style="text-align: center;margin-top: 1rem;margin-bottom: 1rem;">
  <span class="alert alert-danger">{{tabErrorMsg1}}</span>
</div>
<div *ngIf="validationErrorTab1" style="text-align: center;margin-top: 1rem;margin-bottom: 1rem;">
  <span class="alert alert-danger">{{validationErrorMsgTab2}}</span>
</div>

<div class="card">
    <div class="card-body">
        <form [formGroup]="CustomerDetailsForm" (ngSubmit)="onSubmit(flag)" (keyup)="onKeyForm($event)" (change)="onChangeForm($event)">
          <div formArrayName="riskCustomerDetails" *ngFor="let f of overAllControl(); let j = index">
              <div class="col-md-4" class="form-group" [formGroupName]="j">

                <div class="row" style="font-weight: bold;">
                  <label for="customerDetails" style="font-weight: bold;margin: 10px;font-size: 16px;">Customer Details</label>
                </div>
                <div class="row" style="margin-top:1rem">
          
                  <div class="col-md-4">
                    <label for="organisation">Organization Name</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                              <i class="bi bi-person-lines-fill"></i>
                          </span>
                        </div>
                        <input class="form-control" [readonly]="isEditable" type="text" formControlName="organisationName" placeholder="Enter Organisation Name"
                          [ngClass]="{ 'is-invalid': submitted && f.get('organisationName')?.errors }"/>
                            <div *ngIf="submitted && f.get('organisationName')?.errors" class="invalid-feedback">
                              <div *ngIf="f.get('organisationName')?.errors?.required">Organization Name is required</div>
                            </div>  
                      </div>
                  </div>
          
                  <div class="col-md-4">
                    <label for="addres">Address</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                              <i class="bi bi-person-lines-fill"></i>
                          </span>
                        </div>
                        <input class="form-control" [readonly]="isEditable" type="text" formControlName="address" placeholder="Enter Address"
                          [ngClass]="{ 'is-invalid': submitted && f.get('address')?.errors }"/>
                            <div *ngIf="submitted && f.get('address')?.errors" class="invalid-feedback">
                              <div *ngIf="f.get('address')?.errors?.required">Address is required</div>
                            </div>
                      </div>
                  </div>
          
                  <div class="col-md-4">
                    <label for="project name">Project Name</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                              <i class="bi bi-person-lines-fill"></i>
                          </span>
                        </div>
                        <input class="form-control" [readonly]="isEditable" type="text" formControlName="projectName" placeholder="Enter Project Name"
                          [ngClass]="{ 'is-invalid': submitted && f.get('projectName')?.errors }"/>
                            <div *ngIf="submitted && f.get('projectName')?.errors" class="invalid-feedback">
                              <div *ngIf="f.get('projectName')?.errors?.required">Project Name is required</div>
                            </div>
                      </div>
                  </div>
          
                  <div class="col-md-4">
                    <label for="project des">Project Description</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                              <i class="bi bi-person-lines-fill"></i>
                          </span>
                        </div>
                        <input class="form-control" [readonly]="isEditable" type="text" formControlName="projectDescription" placeholder="Enter Project Description"
                          [ngClass]="{ 'is-invalid': submitted && f.get('projectDescription')?.errors }"/>
                            <div *ngIf="submitted && f.get('projectDescription')?.errors" class="invalid-feedback">
                              <div *ngIf="f.get('projectDescription')?.errors?.required">Project Description is required</div>
                            </div>
                      </div>
                  </div>
          
                  <div class="col-md-4">
                    <label for="contact name">Contact Person Name</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                              <i class="bi bi-person-lines-fill"></i>
                          </span>
                        </div>
                        <input class="form-control" type="text" [readonly]="isEditable" formControlName="contactPersonName" placeholder="Enter Contact Person Name"
                          [ngClass]="{ 'is-invalid': submitted && f.get('contactPersonName')?.errors }"/>
                            <div *ngIf="submitted && f.get('contactPersonName')?.errors" class="invalid-feedback">
                              <div *ngIf="f.get('contactPersonName')?.errors?.required">Contact Person Name is required</div>
                            </div>
                      </div>
                  </div>
          
                  <div class="col-md-4">
                    <label for="prepared">Prepared By</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                              <i class="bi bi-person-lines-fill"></i>
                          </span>
                        </div>
                        <input class="form-control" [readonly]="isEditable" type="text" formControlName="preparedBy" placeholder="Enter Prepared By"
                          [ngClass]="{ 'is-invalid': submitted && f.get('preparedBy')?.errors }"/>
                            <div *ngIf="submitted && f.get('preparedBy')?.errors" class="invalid-feedback">
                              <div *ngIf="f.get('preparedBy')?.errors?.required">Prepared By is required</div>
                            </div>
                      </div>
                  </div>
          
                  <div class="col-md-4">
                    <label for="verified">Verified By</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                              <i class="bi bi-person-lines-fill"></i>
                          </span>
                        </div>
                        <input class="form-control" [readonly]="isEditable" type="text" formControlName="verifiedBy" placeholder="Enter Who is Verifying"
                          [ngClass]="{ 'is-invalid': submitted && f.get('verifiedBy')?.errors }"/>
                            <div *ngIf="submitted && f.get('verifiedBy')?.errors" class="invalid-feedback">
                              <div *ngIf="f.get('verifiedBy')?.errors?.required">Verified By is required</div>
                            </div>
                      </div>
                  </div>

                  <div class="col-md-4">
                    <label for="contact">Contact Number</label>
                        <input class="form-control" [readonly]="isEditable" (keypress)="keyPressNumbers($event)" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'in',separateDialCode: 'true'}" formControlName="contactNumber" placeholder="Enter Contact Number"
                        (countryChange)="countryChange($event)" [ngClass]="{ 'is-invalid': submitted && f.get('contactNumber')?.errors }"/>
                          <div *ngIf="submitted && f.get('contactNumber')?.errors" class="invalid-feedback">
                            <div *ngIf="f.get('contactNumber')?.errors?.required">Contact Number is required</div>
                            <div *ngIf="f.get('contactNumber')?.errors?.minlength">Please Enter 10 Digit Number</div>
                            <div *ngIf="f.get('contactNumber')?.errors?.maxlength">Please Enter 10 Digit Number</div>
                          </div>
                  </div>

                  <div class="col-md-4">
                    <label for="contact">Email ID</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                              <i class="bi bi-envelope-fill"></i>
                          </span>
                        </div>
                        <input class="form-control" [readonly]="isEditable" type="email" formControlName="email" placeholder="Enter Email ID"
                          [ngClass]="{ 'is-invalid': submitted && f.get('email')?.errors }"/>
                            <div *ngIf="submitted && f.get('email')?.errors" class="invalid-feedback">
                              <div *ngIf="f.get('email')?.errors?.required">Email ID is required</div>
                            </div>
                      </div>
                  </div>
                </div>

              </div>
          </div>

          
              
          <div>
            <div style="text-align: center;margin-top: 40px;margin-left: 80px;">
                <button class="next" (click)="gotoNextModal(content,contents)" mat-button>Next &raquo;</button>
            </div>
            <div *ngIf="validationError" style="text-align: center;margin-top: 30px;">
              <span class="alert alert-danger">{{validationErrorMsg}}</span>
            </div>
          </div>
        </form>
    </div>
  </div>
  
  
  <ng-template #content let-modal>
    <!-- Spinner -->
    <!-- <mat-progress-spinner style="margin: 0 auto;" *ngIf="spinner" color="primary" [mode]="mode" value="50" diameter="50">
    </mat-progress-spinner>
    <br>
    <div *ngIf="spinner" style="text-align: center;">
        Please wait, the details are loading!
    </div> -->
    <div class="modal-body" *ngIf="popup">
        <div class="centre-text m-btm30">
            <div *ngIf="success" style="text-align: center;">
                <span class="successshow">{{successMsg}}</span>
            </div>
            <div *ngIf="Error" style="text-align: center;">
                <span class="errorshow">{{errorMsg}}</span>
            </div>
        </div>
    </div>
    <br>
    <div *ngIf="popup" style="text-align: center;">
        <button type="button" *ngIf="success" class="close" class="btn btn-block btn-rounded btn-md font-weight-medium auth-form-btn"
        aria-label="Close" (click)="closeModalDialog()" style="margin-left: 195px;width: 16%;background-color: #0f800c;color: white;" matStepperNext>
         <span aria-hidden="true">Ok</span>
        </button>
    
        <button type="button" *ngIf="Error" class="close" class="btn btn-block btn-rounded btn-md font-weight-medium auth-form-btn"
        aria-label="Close" (click)="closeModalDialog()" style="margin-left: 195px;width: 16%;background-color: #0f800c;color: white;">
        <span aria-hidden="true">Ok</span>
        </button>
    </div>
  </ng-template> 

  <ng-template #contents let-modal>
      <div class="modal-body">
      <div class="centre-text m-btm30">
        <div style="text-align: center;">
          <span class="successshow">Are you sure you want to procced? </span>
          <br>
          <span style="font-size: 12px;"><b>Note:</b> Please verify all the details! </span>
        </div>
        </div>
      </div>
      <br>
      <div class="row">
        <button type="button" class="col-md-6" style="width: 5rem;position: relative;margin-left: 30%;background-color: #0f800c;color: white;" class="btn btn-rounded btn-md font-weight-medium auth-form-btn"
        aria-label="Close" (click)="closeModalDialog()" matStepperNext>
        <i class="bi bi-arrow-right-circle"></i>&nbsp;
          <span aria-hidden="true">Ok</span>
      </button>
      <button type="button" class="col-md-6" style="text-align: center;width: auto;position: relative;margin-right: 30%;" class="btn btn-danger btn-rounded btn-md font-weight-medium auth-form-btn"
        aria-label="Close" (click)="closeModalDialog()">
        <i class="bi bi-x icon"></i>
          <span aria-hidden="true">Cancel</span>
      </button>
    </div>
  </ng-template>