<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg-image">
            <div class="col-md-12">
                <div class="card col-md-5">
                    
                        <div class="brand-logo">
                            <a href="#"><img src="assets/img/Original1.png"></a>
                        </div>
                        <div class="login-header">
                            <h3 class="login-title">Create Mobile Number To Rush Safety Applications</h3>
                        </div>
                        <div class="loginMargin"></div>
                    <div class="card-body">
                        <form [formGroup]="changeContactNumberForm" (ngSubmit)="onSubmit()">
                            <div *ngIf="showErrorMessage" class="errorshow">Please enter a valid OTP</div>
                                <div *ngIf="showOTPMessage" class="alert alert-success">OTP has been sent to your resgistered mobile number. </div>
                            <div class="form-group">
                                <label for="email">User Name: (email ID)</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="bi bi-envelope-fill"></i>
                                        </span>
                                    </div>
                                    <input type="email" formControlName="emailId" readonly class="form-control"
                                        placeholder="Enter your email address" maxlength="50"  value="{{inspector.username}}"
                                        [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }"/>
                                    <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                                        <div *ngIf="f.emailId.errors.required">Email is required</div>
                                        <div *ngIf="f.emailId.errors.pattern">Enter valid email</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mobileNumber">Mobile Number: </label>
                                    <input type="tel" ng2TelInput id="changeContactPadding"
                                    [ng2TelInputOptions]="{initialCountry: 'in',separateDialCode: 'true'}"  
                                    formControlName="mobileNumber" class="form-control"  readonly placeholder="Enter Number" 
                                    [ngClass]="{ 'is-invalid': submitted && f.mobileNumber?.errors }">
                                    <div *ngIf="submitted && f.mobileNumber?.errors" class="invalid-feedback">
                                        <div *ngIf="f.mobileNumber?.errors?.required">Mobile Number Is Required</div>
                                        <!-- <div *ngIf="f.mobileNumber?.errors?.minlength">Enter 10 Digit Number</div> -->
                                        <div *ngIf="f.mobileNumber?.errors?.maxlength">Enter 10 Digit Number</div>
                                    </div>

                                <!-- <label for="password">New Password</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="bi bi-lock-fill"></i>
                                        </span>
                                    </div>
                                    <input type="password" formControlName="password" class="form-control"
                                        placeholder="Enter your password" minlength="8" maxlength="15"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                        [(ngModel)]="updatePassInspector.password" />
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                        <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <!-- <div class="form-group">
                                <label for="Confirm password">Confirm New Password</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="bi bi-lock-fill"></i>
                                        </span>
                                    </div>
                                    <input type="password" formControlName="confirmpassword" class="form-control" placeholder="Enter your password again"
                                     pattern="{{ updatePassInspector.password }}"
                                        placeholder="Enter your password" minlength="8" maxlength="15"
                                        [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }"/>
                                      <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
                                        <div *ngIf="f.confirmpassword.errors.pattern">Password and Confirm password must be same</div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="form-group">
                                <p class="a-o-i">Enter verification code(OTP):</p>
                                    <a (click)="resendOTP()" style="text-decoration: underline;float: right; cursor: pointer;
                                    margin-top: -30px;color: #007bff;">Resend OTP Link</a>
                              </div>
                            <div class="row">
                              <div class="form-group col-sm-2" *ngFor="let input of formInput;  index as i">
                                <input #formRow type="password" formControlName="{{input}}" class="form-control" 
                                maxlength="1" (keyup)="keyUpEvent($event, i)" name="password" style="-webkit-text-security: square;">
                              </div>
                              <div *ngIf="showOTPValidation" class="errorshow">Please enter verification code (OTP)</div>
                              <div *ngIf="OTPerrorMsgflag" class="errorshow">{{OTPerrorMsg}}</div>
                              <span *ngIf="SubmitSuccessMsg" class="alert alert-success">Mobile number added successfully</span>

                            </div>
                            <div style="display: block;margin-top: 20px;">
                                <button style="float: left;" type="submit" (click)="submit()"
                                class="btn btn-block btn-primary btn-rounded btn-md font-weight-medium auth-form-btn" id="login-btn"><i class="bi bi-person-plus-fill icon"></i> Submit</button>
                                <button style="float:right;"  class="btn btn-danger cancel" (click)="cancel()" ><i class="bi bi-x icon"></i> Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-7" style="text-align: center;
                float: right;
                margin-top: 10px;">
                <h2>Digital Support for Testing, Inspection and Ceritification of Electrical Installation</h2>
                <h1 style="font-weight: 600;">INTERACTIVE - INTELLIGENT - MODERN</h1>
                </div>
            </div>
        </div>
    </div>
</div>

