
label {
    font-size: smaller;
}

td {
    font-size: smaller;
}

/* textarea.form-control{height: 30px !important} */

thead {
    text-align: center;
    font-size: 16px;
}

.previous {
    background-color: #f1f1f1;
    color: black;
  }
  .previous:hover {
    background-color: #747a76;
    color: white;
  }
  .next{
    background-color: #f1f1f1;
    color: black;
    margin-left: 30px;
  }
  .next:hover{
    background-color: #04AA6D;
    color: white;
    margin-left: 30px;
  }
  .auth-form-btn {
    width: 20%;
    margin: 0 auto;
}

/* Text area description */
.client-box-description {
  height: 100px;
}

.client-description {
  width: 800px;
  height: 150px;
}

/* add and delete button */
/* .add{
  background-color: #f1f1f1;
  color: black;
} */
.add:hover{
  /* background-color: #04AA6D; */
  color: green;
}

/* .dlt{
  background-color: #f1f1f1;
  color: black;
} */
.dlt:hover{
  /* background-color: #df0000; */
  color: #df0000;
}

/* Mat stepper */
.mat-form-field {
  margin-top: 16px;
}

label{
  font-size: 14px;
}

::placeholder{
  font-size: 10px;
}

table tr td {
  font-size: 14px;
}

textarea{
  font-size: 12px;
}

.disableForm{
  pointer-events: none;
}
.ButtonSave {
  color: black;
  line-height: 32px !important;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  left: 83%; */
}
.ButtonSave:hover {
  background-color: #04AA6D;
  color: white;
  line-height: 32px !important;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  left: 83%; */
  border-radius: 5px;
}