.container {
    padding: 2rem 0rem;
  }
  
  
  .verticalLine {
    border-left: 1px solid black;
    height: 100px;
  }
  .meterTable th, .meterTable td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  .meterTable th, .meterTable td {
    padding: 5px;
    text-align: left; 
  }
  .disabled-pointer {
    pointer-events: none;
  }

  .card1 {
    display: inline-block;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 25px;
    text-align: center;
    font-family: arial;
    background: white;
  }
  
  .price {
    color: black;
    font-size: 22px;
    font-weight: 500;
  }
  
  .card1 button {
    border: none;
    outline: 0;
    margin-right: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
  }
  
  .card1 button:hover {
    opacity: 0.7;
  }

  .rate {
    height: 30px;
    padding: 0 20px;
    width: 100%;
    display: flex;
    margin-left: 50px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:25px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

