.container {
    padding: 2rem 0rem;
  }
  
  
  .verticalLine {
    border-left: 1px solid black;
    height: 100px;
  }
  .meterTable th, .meterTable td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  .meterTable th, .meterTable td {
    padding: 5px;
    text-align: left; 
  }
  .disabled-pointer {
    pointer-events: none;
  }