<div class="card">
  <div class="card-body">
    <form [formGroup]="supplycharesteristicForm">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Mains incoming</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <label>System earthing:</label>
                <select class="form-control"  >
                  <option value="0" selected>Select option</option>
                  <option *ngFor="let value of systemEarthingList">
                    {{value}}
                  </option>
                </select>                            
              </div>

              <div class="col-md-4">
                  <label>Number and type of live conductors: </label>
                  <select class="form-control"   (change)="changeCurrent($event)">
                    <option value="0" selected>Select option</option>
                    <option value="AC">AC</option>
                    <option value="DC">DC</option>
                  </select>
              </div>

              <div class="col-md-4" *ngIf="enableAC">
                  <label>AC:</label>
                  <select class="form-control" >
                    <option value="0" selected>Select option</option>
                    <option value="1-phase" >1-phase</option>
                    <option value="2-wire (LN)" >2-wire (LN)</option>
                    <option value="1-phase" >1-phase</option>
                    <option value="3-wire (LLM)" >3-wire (LLM)</option>
                    <option value="2-phase" >2-phase</option>
                    <option value="3-wire (LLN)" >3-wire (LLN)</option>
                    <option value="3-phase" >3-phase</option>
                    <option value="3-wire (LLL)" >3-wire (LLL)</option>
                    <option value="3-phase" >3-phase</option>
                    <option value="4-wire (LLLN)" >4-wire (LLLN)</option>                    
                  </select>
              </div>

              <div class="col-md-4" *ngIf="enableDC">
                  <label>DC:</label>
                  <select class="form-control" >
                    <option value="0" selected>Select option</option>
                    <option value="2-pole" >2-pole</option>
                    <option value="3-pole" >3-pole</option>
                    <option value="Others" >Others</option>
                  </select>
              </div>


            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="client-description ">
                <mat-label>
                  <h3>Brief note (in case of confusion)</h3>
                </mat-label>
                <textarea matInput class="client-box-description" maxlength="500" placeholder="Ex. Brief Note ..." ></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="row" *ngIf="tableAC">
            <div class="col" >
              <h2>Applicable for AC:</h2>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr align="center">
                        <th>Nature of supply parameters</th>
                        <th >R-Y</th>
                        <th>R-B</th>
                        <th>Y-B</th>
                        <th>R-N</th>
                        <th>Y-N</th>
                        <th>B-N</th>
                        <th>R-PE</th>
                        <th>Y-PE</th>
                        <th>B-PE</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td nowrap="nowrap">Nominal voltage U/U0 (V)</td>
                        <td><input type="text" maxlength="4"  style="width:50px"></td>
                        <td><input type="text"  maxlength="4" style="width:50px"></td>
                        <td><input type="text"   maxlength="4"style="width:50px"></td>
                        <td><input type="text"  maxlength="4" style="width:50px"></td>
                        <td><input type="text"  maxlength="4" style="width:50px"></td>
                        <td><input type="text"  maxlength="4" style="width:50px"></td>
                        <td><input type="text"  maxlength="4" style="width:50px"></td>
                        <td><input type="text"  maxlength="4" style="width:50px"></td>
                        <td><input type="text"  maxlength="4" style="width:50px"></td>
                      </tr>
                      <tr>
                        <td nowrap="nowrap">Nominal Frequency f (HZ)</td>
                        <td><input type="text"  maxlength="3"  style="width:50px"></td>
                        <td><input type="text"   maxlength="3"style="width:50px"></td>
                        <td><input type="text"   maxlength="3" style="width:50px"></td>
                        <td><input type="text"  maxlength="3" style="width:50px"></td>
                        <td><input type="text"  maxlength="3" style="width:50px"></td>
                        <td><input type="text"   maxlength="3"style="width:50px"></td>
                        <td><input type="text"   maxlength="3"style="width:50px"></td>
                        <td><input type="text"  maxlength="3" style="width:50px"></td>
                        <td><input type="text"  maxlength="3" style="width:50px"></td>
                      </tr>
                      <tr>
                        <td nowrap="nowrap">Prospective fault current Ipfc (kA) </td>
                        <td><input type="text"   maxlength="7"  style="width:50px"></td>
                        <td><input type="text" maxlength="7" style="width:50px"></td>
                        <td><input type="text"maxlength="7" style="width:50px"></td>
                        <td><input type="text" maxlength="7" style="width:50px"></td>
                        <td><input type="text" maxlength="7" style="width:50px"></td>
                        <td><input type="text"  maxlength="7"style="width:50px"></td>
                        <td><input type="text"  maxlength="7"style="width:50px"></td>
                        <td><input type="text" maxlength="7" style="width:50px"></td>
                        <td><input type="text" maxlength="7" style="width:50px"></td>
                      </tr>
                    
                      <tr>
                        <td nowrap="nowrap">External Loop Impedance Ze (Ω)</td>
                        <td><input type="text" maxlength="6" style="width:50px"></td>
                        <td><input type="text" maxlength="6" style="width:50px"></td>
                        <td><input type="text"maxlength="6"  style="width:50px"></td>
                        <td><input type="text"  maxlength="6" style="width:50px"></td>
                        <td><input type="text"  maxlength="6" style="width:50px"></td>
                        <td><input type="text"  maxlength="6" style="width:50px"></td>
                        <td><input type="text" maxlength="6" style="width:50px"></td>
                        <td><input type="text" maxlength="6" style="width:50px"></td>
                        <td><input type="text" maxlength="6" style="width:50px"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
          </div>

          

          <div class="row" style="margin-top: 50px;">
            <h2>Incoming (supply) protective device characteristics:</h2>
            <table  class="table">
             
              <tr>
                <td nowrap="nowrap">Type of Over Current Protective Device</td>
                <td> 
                  <select  class="form-control" style="width:200px">
                    <option value="0" selected>Select option</option>
                    <option  value="Fuse"> Fuse </option>
                    <option value="MCB"> MCB</option>
                    <option value="MCCB">MCCB</option>
                    <option value="ACB">ACB</option>     
                </select></td>
             </tr>
              <tr>
                <td nowrap="nowrap">Rated current (A)</td>
                <td><input type="number"  maxlength="4"style="width:200px"></td>
            </tr>
              <tr>
                <td nowrap="nowrap">Current for disconnection with in 0.2 seconds</td>
                <td><input type="number"   maxlength="5" style="width:200px" max="5"></td>
               </tr>
            </table>
          </div>

        </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Alternative source of supply</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label> Availability of alternative supply:</label>
                <select class="form-control" >
                  <option value="0" selected>Select option</option>
                  <option value="YES" selected>Yes</option>
                  <option value="NO" selected>No</option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <label>Number of alternate sources of supply:</label>        
              <input type="number"  class="form-control"  >
            </div>

          </div>

          <h2>Alternate Form :</h2>
          <div class="row">

            <div class="col-md-4">
              <label>Alternate supply no:</label>        
              <input type="number"   class="form-control"  >
            </div>

            <div class="col-md-4">
              <label>Short name of alternate supply:</label>        
              <input type="text"  maxlength="50" class="form-control"  >
            </div>

            <div class="col-md-4">
              <label>System earthing:</label>
              <select class="form-control" >
                <option value="0" selected>Select option</option>
                <option *ngFor="let value of systemEarthingList"> {{value}}</option>
                 </select>
            </div>

            <div class="col-md-4">
                <label>Number and type of live conductors: </label>
                <select class="form-control" (change)= changeCurrent2($event)>
                  <option value="0" selected>Select option</option>
                  <option value="AC">AC</option>
                  <option value="DC">DC</option>
                </select>
            </div>

            <div class="col-md-4" *ngIf="enable2AC">
                <label>AC:</label>
                <select class="form-control">
                  <option value="0" selected>Select option</option>
                  <option value="1-phase, 3-wire (LLM)">1-phase, 2-wire (LN)</option>
                  <option value="1-phase, 3-wire (LLM)">1-phase, 3-wire (LLM)</option>
                  <option value="2-phase, 3-wire (LLN)">2-phase, 3-wire (LLN)</option>
                  <option value="3-phase, 3-wire (LLL)" selected>3-phase, 3-wire (LLL)</option>
                  <option value="3-phase, 4-wire (LLLN)" selected>3-phase, 4-wire (LLLN)</option>
                </select>
            </div>

            <div class="col-md-4" *ngIf="enable2DC">
                <label>DC:</label>
                <select class="form-control">
                  <option selected="selected" value="2-pole">2-pole </option>
                  <option value=" 3-pole"> 3-pole</option>
                  <option value="Others">Others</option>
                </select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="client-description ">
                <mat-label>
                  <h3>Brief note (in case of confusion)</h3>
                </mat-label>
                <textarea matInput class="client-box-description"  maxlength="500" placeholder="Ex. Brief Note ..." ></textarea>
              </mat-form-field>
            </div>
          </div>

            <div class="row" *ngIf="table2AC">
              <div class="col">
                <h2>Applicable for AC:</h2>
                <div class="table-responsive">
                  <table  class="table"> 
                    <thead> 
                        <tr align="center">
                          <th>Nature of supply parameters</th>
                          <th>R-Y</th>
                          <th>R-B</th>
                          <th>Y-B</th>
                          <th>R-N</th>
                          <th>Y-N</th>
                          <th>B-N</th>
                          <th>R-PE</th>
                          <th>Y-PE</th>
                          <th>B-PE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                      <td nowrap="nowrap">Nominal voltage U/U0 (V)</td>
                      <td><input type="number"  maxlength="4"  style="width:70px"></td>
                      <td><input type="number"  maxlength="4" style="width:70px"></td>
                      <td><input type="number"   maxlength="4"style="width:70px"></td>
                      <td><input type="text"  maxlength="4" style="width:70px"></td>
                      <td><input type="text"  maxlength="4" style="width:70px"></td>
                      <td><input type="text"  maxlength="4" style="width:70px"></td>
                      <td><input type="text"  maxlength="4" style="width:70px"></td>
                      <td><input type="text"  maxlength="4" style="width:70px"></td>
                      <td><input type="text"  maxlength="4" style="width:70px"></td>
                    </tr>
                    <tr>
                      <td nowrap="nowrap">Nominal Frequency f (HZ)</td>
                      <td><input type="text"   maxlength="3" style="width:70px"></td>
                      <td><input type="text"   maxlength="3"style="width:70px"></td>
                      <td><input type="text"   maxlength="3" style="width:70px"></td>
                      <td><input type="text"  maxlength="3" style="width:70px"></td>
                      <td><input type="text"  maxlength="3" style="width:70px"></td>
                      <td><input type="text"   maxlength="3"style="width:70px"></td>
                      <td><input type="text"   maxlength="3"style="width:70px"></td>
                      <td><input type="text"  maxlength="3" style="width:70px"></td>
                      <td><input type="text"  maxlength="3" style="width:70px"></td>
                    </tr>
                    <tr>
                      <td nowrap="nowrap">Prospective fault current Ipfc (kA) </td>
                      <td><input type="text" maxlength="7"  style="width:70px"></td>
                      <td><input type="text" maxlength="7" style="width:70px"></td>
                      <td><input type="text"maxlength="7" style="width:70px"></td>
                      <td><input type="text" maxlength="7" style="width:70px"></td>
                      <td><input type="text" maxlength="7" style="width:70px"></td>
                      <td><input type="text"  maxlength="7"style="width:70px"></td>
                      <td><input type="text"  maxlength="7"style="width:70px"></td>
                      <td><input type="text" maxlength="7" style="width:70px"></td>
                      <td><input type="text" maxlength="7" style="width:70px"></td>
                    </tr>
                    <tr>
                      <td nowrap="nowrap">External Loop Impedance Ze (Ω)</td>
                      <td><input type="text" maxlength="6" style="width:70px"></td>
                      <td><input type="text" maxlength="6" style="width:70px"></td>
                      <td><input type="text"maxlength="6"  style="width:70px"></td>
                      <td><input type="text"  maxlength="6" style="width:70px"></td>
                      <td><input type="text"  maxlength="6" style="width:70px"></td>
                      <td><input type="text"  maxlength="6" style="width:70px"></td>
                      <td><input type="text" maxlength="6" style="width:70px"></td>
                      <td><input type="text" maxlength="6" style="width:70px"></td>
                      <td><input type="text" maxlength="6" style="width:70px"></td>
                    </tr>
                      <tr><td >Installed capacity (kVA)</td>
                        <td colspan="9"><input type="text"  maxlength="4"  style="width: 950px"></td>
                      </tr>
                      <tr>
                        <td >Actual load current (R,Y,B, N)</td>
                        <td colspan="2"><input type="text"  style="width:206px"></td>
                        <td colspan="2"><input type="text"  style="width:206px"></td>
                        <td colspan="2"><input type="text"  style="width:206px"></td>
                        <td colspan="3"><input type="text"  style="width:206px"></td>
                      </tr>
                    </tbody>
                    </table>
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 50px;">
              <div class="col">
                <h2>Incoming (supply) protective device characteristics:</h2>
                <table  class="table">
                    
                    <tr>
                      <td nowrap="nowrap">Type of Over Current Protective Device</td>
                      <td><input type="text" style="width:400px"></td>
                    </tr>
                    <tr>
                        <td nowrap="nowrap">Rated current (A)</td>
                        <td><input type="text" style="width:400px"></td>
                    </tr>
                    <tr>
                      <td nowrap="nowrap">Current for disconnection with in 0.2 seconds</td>
                      <td><input type="text" style="width:400px"></td>
                    </tr>
                </table>
              </div>
            </div>
          
            
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h3>Particulars of installation referred in the report</h3>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-md-4" style="margin-top: 30px">
                  <p>Maximum demand <input type="number" style="
                    width: 50px;
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid #000000;"> KvA</p>
                </div>

                <div class="col-md-4" style="margin-top: 30px">
                  <p>Maximum load<input type="number"  style="
                    width: 50px;
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid #000000;"> Amps</p>
                </div>

                <div class="col-md-4" >
                  <label>Means of earthing :</label>
                  <select class="form-control" >
                    <option value="0" selected>Select option</option>
                    <option *ngFor="let value of MeansofEarthingList"> {{value}}</option>
                  </select>
                </div>
              </div>

              <div class="row" style="margin-top: 30px">
                
                <div class="col-md-4">
                  <label>Type of earth electrode :</label>
                  <select class="form-control" >
                    <option value="0" selected>Select option</option>
                    <option *ngFor="let value of  electrodeTypeList"> {{value}}</option>
                  </select>
                </div>

                <div class="col-md-4">
                  <label>Material of earth electrode:</label>
                  <select class="form-control" >
                    <option value="0" selected>Select option</option>
                    <option *ngFor="let value of  electrodeMaterialList"> {{value}}</option>
                  </select>
                </div>

                <div class="col-md-4" style="margin-top: 30px">
                  <p>Number of Locations <input type="number"  style="
                    width: 50px;
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid #000000;"></p>
                </div>

              </div>
              <div class="row">
                <h2>Number of Locations</h2>
                <mat-icon class="mousechange" (click)="addLocation1()" style=" padding-top: 5px;">add_box</mat-icon>
              </div>
              

              <div class="row">
                <div class="col-md-3">
                  <label style="text-align: center;">Location Number</label>
                </div>
                <div class="col-md-3">
                  <label style="text-align: center;">Location Name</label>
                </div>
                <div class="col-md-3">
                  <label style="text-align: center;">Electrode resistance to earth in (Ω)</label>
                </div>
                <div class="col-md-3">
                  <label style="text-align: center;">Electrode resistance to grid (Ω)</label>
                </div>
              </div>
  
              <div formArrayName="location1Arr" *ngFor="let a of getLocation1Controls(); let i = index">
                <div class="form-group" [formGroupName]="i">
                  <div class="row">
                    <div class="col-md-3">
                      <input type="text"  formControlName="locationNumber" class="form-control"  placeholder="Enter location number" >
                    </div>
  
                    <div class="col-md-3">
                      <input type="text"  formControlName="locationName" class="form-control"  placeholder="Enter location name" >
                    </div>
  
                    <div class="col-md-3">
                      <input type="text"  formControlName="electrodeResistanceToEarth" class="form-control"  placeholder="Enter electrode resistance" >
                    </div>

                    <div class="col-md-3">
                      <input type="text"  formControlName="electrodeResistanceToGrid" class="form-control"  placeholder="Enter electrode resistance" >
                    </div>
                  </div>
                </div>
              </div>

            </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h3>Details of main protective conductor</h3>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4" style="margin-top: 57px">
                      <p>Size of earthing conductor <input type="number"  style="
                        width: 50px;
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid #000000;"> sq.mm</p>
                    </div>

                    <div class="col-md-4">
                      <label>Material of earthing conductor:</label>
                      <input type="text"  class="form-control" style="margin-top: 21px">
                    </div>

                    <div class="col-md-4">
                      <label>earthing conductor continuity and connection verified:</label>
                      
                      <select class="form-control" >
                        <option value="0" selected>Select option</option>
                        <option *ngFor="let value of  earthingConductorVerifyList"> {{value}}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4" style="margin-top: 30px">
                      <p>Size of main protective bonding conductor <input type="number"  style="
                        width: 50px;
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid #000000;"> sq.mm</p>
                    </div>

                    <div class="col-md-4">
                      <label>Material of main protective bonding conductor:</label>
                      <input type="text"  class="form-control">
                    </div>

                    <div class="col-md-4">
                      <label>Main protective bonding conductor continuity and connection verified:</label>
                      <select class="form-control" >
                        <option value="0" selected>Select option</option>
                        <option *ngFor="let value of bondingConductorVerifyList"> {{value}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                    
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4" style="margin-top: 30px">
                      <p>Type of joints (impairing safety) <input type="number"  style="
                        width: 50px;
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid #000000;">
                      </p>
                    </div>

                    <div class="col-md-4" style="margin-top: 30px">
                      <p>No of joints <input type="number"  style="
                        width: 50px;
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid #000000;"></p>
                    </div>
                  </div>
                </div>
                    
                <div class="row">
                  <h2>Location Table</h2>
                  <mat-icon class="mousechange" (click)="addLocation2()" style=" padding-top: 5px;">add_box</mat-icon>
  
                </div>
                
                <div class="row">
                  <div class="col-md-4">
                    <label style="text-align: center;">Location</label>
                  </div>
                  <div class="col-md-4">
                    <label style="text-align: center;">Joint No</label>
                  </div>
                  <div class="col-md-4">
                    <label style="text-align: center;">Joint resistance (Ω)</label>
                  </div>
                </div>
    
                <div formArrayName="location2Arr" *ngFor="let a of getLocation2Controls(); let i = index">
                  <div class="form-group" [formGroupName]="i">
                    <div class="row">
                      <div class="col-md-4">
                        <input type="text"  formControlName="location" class="form-control"  placeholder="Enter location" >
                      </div>
    
                      <div class="col-md-4">
                        <input type="text"  formControlName="jointNo" class="form-control"  placeholder="Enter Joint No" >
                      </div>
    
                      <div class="col-md-4">
                        <input type="text"  formControlName="jointResistance" class="form-control"  placeholder="Enter Joint resistance" >
                      </div>
                    </div>
                  </div>
                </div>
              
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4" style="margin-top: 30px">
                      <p>Size of main protective earthing conductor<input type="number"  style="
                        width: 50px;
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid #000000;"> Sq.mm</p>
                    </div>
  
                    <div class="col-md-4">
                      <label>Material of main protective earthing conductor:</label>
                      <input type="text"  class="form-control">
                    </div>
  
                    <div class="col-md-4">
                      <label>Main Protective Conductor continuity and connection verified:</label>
                      <select class="form-control" >
                        <option value="0" selected>Select option</option>
                        <option *ngFor="let value of conductorVerifyList"> {{value}}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4" style="margin-top: 30px">
                      <p>Type of Joints<input type="number"  style="
                        width: 50px;
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid #000000;">
                      </p>
                    </div>
  
                    <div class="col-md-4" style="margin-top: 30px">
                      <p>No of Joints <input type="number"  style="
                        width: 50px;
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid #000000;"></p>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <h2>Location Table</h2>
                  <mat-icon class="mousechange" (click)="addLocation3()" style=" padding-top: 5px;">add_box</mat-icon>
                </div>
                
                <div class="row">
                  <div class="col-md-4">
                    <label style="text-align: center;">Location</label>
                  </div>
                  <div class="col-md-4">
                    <label style="text-align: center;">Joint No</label>
                  </div>
                  <div class="col-md-4">
                    <label style="text-align: center;">Joint resistance (Ω)</label>
                  </div>
                </div>
    
                <div formArrayName="location3Arr" *ngFor="let a of getLocation3Controls(); let i = index">
                  <div class="form-group" [formGroupName]="i">
                    <div class="row">
                      <div class="col-md-4">
                        <input type="text"  formControlName="location" class="form-control"  placeholder="Enter location" >
                      </div>
    
                      <div class="col-md-4">
                        <input type="text"  formControlName="jointNo" class="form-control"  placeholder="Enter Joint No" >
                      </div>
    
                      <div class="col-md-4">
                        <input type="text"  formControlName="jointResistance" class="form-control"  placeholder="Enter Joint resistance" >
                      </div>
                    </div>
                  </div>
                </div>
                
              </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <h3>Details of main switch or circuit breaker</h3>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
              
                <div class="row">
                 
                  <table cellpadding="0" cellspacing="0" border="1" style="width:10%" >
                    
                    <tr>
                      <th nowrap="nowrap">Location:</th>
                      <td><input type="text"></td>
                    </tr>
                    <tr>
                      <th nowrap="nowrap">Type</th>
                      <select class="form-control" style="width:160px" style="height:30px" >
                       <option value="0" selected>Select option</option>
                       <option value="MCB">MCB</option>
                        <option value=" ACB"> ACB</option>
                        <option value="MCCB">MCCB</option>
                        <option value="RCBO">RCBO</option>
                      </select>
                    </tr>
                    <tr>
                      <th nowrap="nowrap">No of poles</th>
                      <td><input type="text"></td>
                    </tr>
                    <tr>
                      <th nowrap="nowrap">Current Rating</th>
                      <td><input type="text" style="width:120px">Amp</td>
                    </tr>
                    <tr>
                      <th nowrap="nowrap">Voltage Rating</th>
                      <td><input type="text" style="width:120px"> V</td>
                    </tr>
                    <tr>
                      <th nowrap="nowrap">Fuse Rating or Settings</th>
                      <td><input type="text" style="width:120px"> Amp</td>
                    </tr>
                    <tr *ngIf="true">
                      <th nowrap="nowrap">Rated residual operating Current I∆n</th>
                      <td><input type="text" style="width:120px">
                        <select style="width:20px" style="height:25px">
                        <option value="mA" selected>mA</option>
                        <option value="A">A</option>
                      </select></td>
                    </tr>
                    <tr *ngIf="true">
                      <th nowrap="nowrap">Rated residual operating time @I∆n T∆n</th>
                      <td><input type="text" style="width:120px"> mS</td>
                    </tr>
                 </table>
            </div>
               
              </mat-expansion-panel>
             </mat-accordion>
             <div style="text-align: center;margin-top: 40px;">
              <button class="previous" mat-button matStepperPrevious>&laquo; Back</button>
              <button class="next" mat-button matStepperNext>Next &raquo;</button>
            </div>
    </form>

  </div>
</div>
