<div class="bg-image">
    <div class="card">
        <div style="position: absolute;right: 20px;margin-top: 10px;">
        <h4 class="hover-underline-animation"  style=" cursor:pointer; "(click)="onMove()" >About us</h4>
        <h4 class="hover-underline-animation" style="cursor:pointer;margin-left: 10px;" (click)="onMoveTerms(termsContent)">Terms&Condition</h4>
                </div>
                <div class="brand-logo">
                    <a href="#"><img src="assets/img/Original-green.png"></a>
                    
                </div>
                
                
                
                <div class="login-header">
                    <h3 class="login-title">Welcome to SOLVE App Online Services</h3>
                    
                </div>
        <div class="loginMargin"></div>
        <div class="card-body">
            <p> {{signInContent}}
                <!-- IEC 60364 gives the rules for the design, erection, and verification of electrical installations up to 1000 V
                AC and 1500 V DC. These rules are adopted/followed worldwide as wiring rules. Some of the adopted national
                versions of this standard are BS7671 in UK, VDE0100 in Germany … etc. The NFPA 70 (NEC) of USA closely
                follows the fundamental safety measures recommended in IEC 60364.
                In India the standard is adopted as IS732 for general installations and Part 3 of National Building Code of
                India part 3 for special locations.
                The rules are intended to provide for the safety of persons, livestock and property against dangers and
                damage which may arise in the reasonable use of electrical installations and to provide for the proper
                functioning of those installations.
                The rules are applicable in design, erection and verification of electrical installations such as
                residential, commercial, public, industrial, agricultural and horticultural, prefabricated buildings,
                caravans, caravan sites and similar sites, construction sites, exhibitions, fairs and other installations
                for temporary purposes, marinas, external lighting and similar installations, medical locations, mobile or
                transportable units, photovoltaic systems, low-voltage generating sets etc.
                Verification ensures safety of the installation and its conformity to the standard in design, selection and
                erection of the installation. Initial and periodic verifications are necessary. -->
        </p>
       <div class="a-divider a-divider-break"><h5>New to SOLVE Applications?</h5></div>

        <div class="row" style="display: block;">
            <div class="col-xs-12">
                <div class="text-align" style="text-align: center;">
            <button type="submit" [routerLink]="['/register']" style="background-color: #0f800c;color: white;"
            class="btn newUserBtn btn-rounded btn-md font-weight-medium auth-form-btn" id="login-btn">
            <i class="bi bi-person-plus-fill icon"></i> New User/Register</button>
            <div class="divider"> </div>
            <button style="width: auto;position: relative;
            left: -9%;" class="btn btn-success cancel" (click)="buyMeter();">Meter</button>

            <button [routerLink]="['/login']" style="width: auto;" class="btn btn-success cancel" >
                <i class="bi bi-x icon"></i> SignIn/Login</button>
        </div>
            </div>
        </div>

        </div>
    </div>
</div> 
<ng-template #termsContent let-modal>
    
    <div class="modal-body" modal-xl style="height: 700px;;
            overflow-y: scroll;">
    <div class="card">
    <div class="card-body">
    <div class="row" style="display: block;">
    
     
        <h4 class="fs-3 fw-bolder lh-lg font-monospace text-center" style="font-size: large;">Terms & Conditions</h4><br>
            </div>
    
    
     
    
            <p>
              Leave Policy aims at providing the employees an opportunity to take a planned break from the stress ofbusiness
              so as
              to re-energize him/her and achieve a better balance between work and another social familyresponsibilities.
    </p>
    <p>
              The annual cycle is normally the calendar year –1st January to 31st December. The Employees, who are on
              probation,will be able to take one day of leave per month.
              All confirmed employees are entitled to leave,according to the rules and regulations stated below.
    </p>
   
    
          </div>
    </div>
    
    <div class="card" style="margin-top:25px;">
        <div class="card-body">
        <div class="row" style="display: block;">
        
         
            <h4 class="fs-3 fw-bolder lh-lg font-monospace text-center" style="font-size: large;">Privacy Policy</h4><br>
                </div>
        
        
         
        
                <p>
                  Leave Policy aims at providing the employees an opportunity to take a planned break from the stress ofbusiness
                  so as
                  to re-energize him/her and achieve a better balance between work and another social familyresponsibilities.
        </p>
        <p>
                  The annual cycle is normally the calendar year –1st January to 31st December. The Employees, who are on
                  probation,will be able to take one day of leave per month.
                  All confirmed employees are entitled to leave,according to the rules and regulations stated below.
        </p>
       
        <div class="col-xs-12">
        <div class="text-align" style="text-align: end;margin: 10px;">
        <button type="button" class="btn btn-danger" id="closeModal" (click)="onCancel()">Cancel</button>
        
        </div>
        </div>
        
         
        
              </div>
        </div>
    </div>
   
    </ng-template>
