.bg-image {
    background: url(../../assets/img/electrical-panel-testing_test.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-size: 100%;
    height: 100%;
    width: 100%;
    position: relative;
    /* padding: 20px; */
    padding: 20px 40px 20px 40px;
}

.card {
    float: left;
    /* max-width: 500px; */
    width:100%;
    /* margin-top: 40px; */
}

.brand-logo {
    text-align: center;
    /* margin-top: 2rem; */
}

.loginMargin {
    border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
}
.brand-logo img{
    width: 20%;
    margin: 50px auto 20px 0px;
}

.login-title {
    margin-top: 2rem;
    color: #9e97aa;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}


.auth-form-btn {
    margin-top: 40px;
    /* width: 8%; */
}

/* .auth-form-btn .icon {
    float: left;
    margin-top: -2px;
} */

.cancel {
    margin-top: 40px;
    /* width: 8%; */
    /* height: 47px; */
}

.form-check{
    padding-left: 0.3rem !important;
}
 h5 {
    font-family: sans-serif;
    margin: 60px 10px -30px 10px;
    color: #767676bf;
    text-align: center;
    font-size: 15px;
    max-width: 991px;
    position: relative;
  }
  h5:before {
    content: "";
    display: block;
    width: 56px;
    height: 2px;
    background: #9f9fa02e;
    left: 32%;
    top: 50%;
    position: absolute;
  }
  h5:after {
    content: "";
    display: block;
    width: 56px;
    height: 2px;
    background: #9f9fa02e;
    right:32%;
    top: 50%;
    position: absolute;
  }
  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #101010;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #0934c1;
    transform-origin: bottom right;
    transition: transform 0.30s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  /* .newUserBtn{
    width: auto;
    position: relative;
    right: 9.5%;
  } */