<div class="bg-image">
    <div class="card">
        <div style="position: absolute;right: 20px;margin-top: 10px;">
        <h4 class="hover-underline-animation"  style=" cursor:pointer; "(click)="onMove(about)" >About us</h4>
        <h4 class="hover-underline-animation" style="cursor:pointer;margin-left: 10px;" (click)="onMoveTerms(termsContent)">Terms&Condition</h4>
                </div>
                <div class="brand-logo">
                    <a href="#"><img src="assets/img/Original-green.png"></a>
                    
                </div>
                
                
                
                <div class="login-header">
                    <h3 class="login-title">Welcome to SOLVE App Online Services</h3>
                    
                </div>
        <div class="loginMargin"></div>
        <div class="card-body">
            <p> {{signInContent}}
                <!-- IEC 60364 gives the rules for the design, erection, and verification of electrical installations up to 1000 V
                AC and 1500 V DC. These rules are adopted/followed worldwide as wiring rules. Some of the adopted national
                versions of this standard are BS7671 in UK, VDE0100 in Germany … etc. The NFPA 70 (NEC) of USA closely
                follows the fundamental safety measures recommended in IEC 60364.
                In India the standard is adopted as IS732 for general installations and Part 3 of National Building Code of
                India part 3 for special locations.
                The rules are intended to provide for the safety of persons, livestock and property against dangers and
                damage which may arise in the reasonable use of electrical installations and to provide for the proper
                functioning of those installations.
                The rules are applicable in design, erection and verification of electrical installations such as
                residential, commercial, public, industrial, agricultural and horticultural, prefabricated buildings,
                caravans, caravan sites and similar sites, construction sites, exhibitions, fairs and other installations
                for temporary purposes, marinas, external lighting and similar installations, medical locations, mobile or
                transportable units, photovoltaic systems, low-voltage generating sets etc.
                Verification ensures safety of the installation and its conformity to the standard in design, selection and
                erection of the installation. Initial and periodic verifications are necessary. -->
        </p>
       <div class="a-divider a-divider-break"><h5>New to SOLVE Applications?</h5></div>

        <div class="row" style="display: block;">
            <div class="col-xs-12">
                <div class="text-align" style="text-align: center;">
            <button type="submit" [routerLink]="['/register']" style="background-color: #0f800c;color: white;"
            class="btn newUserBtn btn-rounded btn-md font-weight-medium auth-form-btn" id="login-btn">
            <i class="bi bi-person-plus-fill icon"></i> New User/Register</button>
            <div class="divider"> </div>
            <button style="width: auto;position: relative;
            left: -9%;" class="btn btn-success cancel" (click)="buyMeter();">Meter</button>

            <button [routerLink]="['/login']" style="width: auto;" class="btn btn-success cancel" >
                <i class="bi bi-x icon"></i> SignIn/Login</button>
        </div>
            </div>
        </div>

        </div>
    </div>
</div> 
<ng-template #about let-modal>
    
    <div class="modal-body" modal-xl style="height: 700px;;
            overflow-y: scroll;">  
    <div class="card" >
    <div class="card-body">
    <div class="row" style="display: block;">
    
     
        <h4 class="fs-3 fw-bolder lh-lg font-monospace text-center" style="font-size: large; font-family: Georgia, 'Times New Roman', Times, serif;"><b>About</b></h4><br>
            </div>
    
    
     
    
            <p>
                Established in 1996 at Kanyakumari. Started to provide reactive power compensation for wind turbines which is a challenging application 
                due to high temperature, harmonics etc. During 1998 we started establishing our business all over India starting with branch offices in 
                Chennai, Delhi and Mumbai. Our international collaborations helped us to establish ourselves as a leader in providing solutions against 
                failure due to transient surges. We have conducted more than 500 seminars all over India for various industries and as a result the subject
                 of Surge Protection became known to the industry. Another industry’s first from CAPE was DC combiner solutions for Solar during 2002.
                  In association with leading German and Spanish manufacturers we specialize in the area of double Insulated electricity distribution 
                  solutions for Industries. Our UV resistant and high IP protected panels are accepted and appreciated in the industry due to its advantages 
                  of non-corrosive behavior and long life. “SMART BUILDING INFRASTRUCTURE SOLUTIONS” of CAPE and unique in which helps in reducing electrical
                   accidents. Our END to END solution offers, design, product development, manufacturing & supply, installation and testing commissioning and
                    periodic maintenance in the field of electrical safety. </p>
    
   
   
    
          </div>
    </div>
    
    <div class="card" style="margin-top:25px;">
        <div class="card-body">
        <div class="row" style="display: block;">
        
         
            <h4 class="fs-3 fw-bolder lh-lg font-monospace text-center" style="font-size: large;font-family: Georgia, 'Times New Roman', Times, serif;"><b>Contact</b></h4><br>
                </div>
        
        
         
        
                <div class="row" >
                    <div class="col">
                      <div class="card border-secondary mb-3" id="contact"  style="max-width: 30rem; margin-right:-8px;">
                          <div class="card-header" style="background-color:rgb(174, 196, 238) !important;"><b>Corporate Office</b></div>
                          <div class="card-body">
                            <p class="card-text"style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight:700;" >CAPE electric pvt ltd
                               Plot No.A-41 (B), SIPCOT Industrial Growth Centre,
                              Oragadam, Kancheepuram Dist – 602 105,
                              Tamil Nadu.</p>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                      <div class="card border-secondary mb-3" style="max-width: 20rem; margin-right:-15px; ">
                          <div class="card-header" style="background-color:rgb(174, 196, 238) !important;"><b>Wind Division</b></div>
                          <div class="card-body">
                            <p class="card-text" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight:700">CAPE electric pvt ltd
                              Door no.6/29, Kanyakumari road,
                              Kumarapuram, Aralvaimozhi,
                              Kanyakumari Dist – 629 301
                              Tamilnadu.</p>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                      <div class="card border-secondary mb-3" style="max-width: 20rem; ">
                          <div class="card-header" style="background-color:rgb(174, 196, 238) !important;"><b>Email Services</b></div>
                          <div class="card-body">
                            <p class="card-text" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight:700">cecngl@capeindia.net
                              sales@capeindia.net    marketing@capeindia.net<br><br>
                            </p>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                      <div class="card border-secondary mb-3" style="max-width: 20rem;">
                          <div class="card-header" style="background-color:rgb(174, 196, 238) !important;" ><b>Phone Number</b></div>
                          <div class="card-body">
                            <p class="card-text" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight:700">+91 44 7101 8121 / 125</p><br><br>
                          </div>
                        </div>
                    </div>
                  </div>
       
        <div class="col-xs-12">
        <div class="text-align" style="text-align: end;margin: 10px;">
        <button type="button" class="btn btn-danger" id="closeModal" (click)="oncancel(about)">Cancel</button>
        
        </div>
        </div>
        
         
        
              </div>
        </div>
    </div>
   
    </ng-template>

    <ng-template #termsContent let-modal>
    
        <div class="modal-body" modal-xl style="height: 700px;;
                overflow-y: scroll;">
        <div class="card">
        <div class="card-body" >
        <div class="row" style="display: block;">
        
         
            <h4 class="fs-3 fw-bolder lh-lg font-monospace text-center" style="font-size: large; font-family: Georgia, 'Times New Roman', Times, serif;">Terms & Conditions</h4><br>
                </div>
        
        
         
        
                <p>
                  Leave Policy aims at providing the employees an opportunity to take a planned break from the stress ofbusiness
                  so as
                  to re-energize him/her and achieve a better balance between work and another social familyresponsibilities.
        </p>
       
       
        
              </div>
        </div>
        
        <div class="card" style="margin-top:25px;">
            <div class="card-body">
            <div class="row" style="display: block;">
            
             
                <h4 class="fs-3 fw-bolder lh-lg font-monospace text-center" style="font-size: large; font-family: Georgia, 'Times New Roman', Times, serif;">Privacy Policy</h4><br>
                    </div>
            
            
             
            
                    <p>
                      Leave Policy aims at providing the employees an opportunity to take a planned break from the stress ofbusiness
                      so as
                      to re-energize him/her and achieve a better balance between work and another social familyresponsibilities.
            </p>
            <p>
                      The annual cycle is normally the calendar year –1st January to 31st December. The Employees, who are on
                      probation,will be able to take one day of leave per month.
                      All confirmed employees are entitled to leave,according to the rules and regulations stated below.
            </p>
           
            <div class="col-xs-12">
            <div class="text-align" style="text-align: end;margin: 10px;">
            <button type="button" class="btn btn-danger" id="closeModal" (click)="onCancel(termsContent)">Cancel</button>
            
            </div>
            </div>
            
             
            
                  </div>
            </div>
        </div>
       
        </ng-template>
    
