<div class="bg-image">
    <div class="card">
        <div class="card-header">
                <div class="brand-logo">
                    <a href="#"><img src="assets/img/Rush_Final_logo.png"></a>
                </div>
                <div class="login-header">
                    <h3 class="login-title">Welcome to Rush App Online Services</h3>
                </div>
        </div>
        <div class="card-body">
            <p> {{signInContent}}
                <!-- IEC 60364 gives the rules for the design, erection, and verification of electrical installations up to 1000 V
                AC and 1500 V DC. These rules are adopted/followed worldwide as wiring rules. Some of the adopted national
                versions of this standard are BS7671 in UK, VDE0100 in Germany … etc. The NFPA 70 (NEC) of USA closely
                follows the fundamental safety measures recommended in IEC 60364.
                In India the standard is adopted as IS732 for general installations and Part 3 of National Building Code of
                India part 3 for special locations.
                The rules are intended to provide for the safety of persons, livestock and property against dangers and
                damage which may arise in the reasonable use of electrical installations and to provide for the proper
                functioning of those installations.
                The rules are applicable in design, erection and verification of electrical installations such as
                residential, commercial, public, industrial, agricultural and horticultural, prefabricated buildings,
                caravans, caravan sites and similar sites, construction sites, exhibitions, fairs and other installations
                for temporary purposes, marinas, external lighting and similar installations, medical locations, mobile or
                transportable units, photovoltaic systems, low-voltage generating sets etc.
                Verification ensures safety of the installation and its conformity to the standard in design, selection and
                erection of the installation. Initial and periodic verifications are necessary. -->
        </p>
       <div class="a-divider a-divider-break"><h5>New to Rush Safety Applications?</h5></div>
        <div style="display: inline;">
            <button style="float: left; margin-left: 400px;width: 14%;" type="submit" [routerLink]="['/inspectorregister']"
            class="btn btn-block btn-primary btn-rounded btn-md font-weight-medium auth-form-btn" id="login-btn">
            <i class="bi bi-person-plus-fill icon"></i> New User/Register</button>

            <button [routerLink]="['/login']" style="float:right; margin-right: 400px;;width: 12%;"  class="btn btn-danger cancel" >
                <i class="bi bi-x icon"></i> SignIn/Login</button>
        </div>

        </div>
    </div>
</div> 

