<div class="card">
    <div class="card-header" style="text-align: center; display: block">
       <h2 class="modal-title" style="display: contents">Equipotential Bonding Bar</h2>
     </div>
   <div class="card-body">
     <form [formGroup]="equipotentialBondingForm" (keyup)="onKeyForm($event)" (change)="onChangeForm($event)">
     <div class="row">
       <div class="col-md-4">
         <div class="form-group">
           <label>Reference Name</label>
           <input type="text" class="form-control" formControlName="referenceName" [(ngModel)]="equipBond.referenceName"
           [ngClass]="{ 'is-invalid': submittedEquipBond && h.referenceName?.errors }">
           <div *ngIf="submittedEquipBond && h.referenceName?.errors" class="invalid-feedback">
             <div *ngIf="h.referenceName?.errors?.required">Reference name is required</div>
           </div>
         </div>
       </div>
       
       <div class="col-md-4">
         <div class="form-group">
           <label>Current Rating (A)</label>
           <input type="number" class="form-control" formControlName="rating" [(ngModel)]="equipBond.rating"
           [ngClass]="{ 'is-invalid': submittedEquipBond && h.rating?.errors }">
           <div *ngIf="submittedEquipBond && h.rating?.errors" class="invalid-feedback">
             <div *ngIf="h.rating?.errors?.required">Rating is required</div>
           </div>
         </div>
       </div>
       
       <div class="col-md-4">
        <div class="form-group">
          <label>Size (sq.mm.)</label>
          <input type="text" class="form-control" formControlName="size" [(ngModel)]="equipBond.size"
          [ngClass]="{ 'is-invalid': submittedEquipBond && h.size?.errors }">
          <div *ngIf="submittedEquipBond && h.size?.errors" class="invalid-feedback">
            <div *ngIf="h.size?.errors?.required">Manufacturer Name is required</div>
          </div>
        </div>
      </div>

     </div>
    
     </form>
   </div>

   <div *ngIf="validationError" style="text-align: center;;margin-top: 5px;margin-bottom: 40px">
       <span class="alert alert-danger">{{validationErrorMsg}}</span>
     </div>

     <div class="centre-text m-btm30">
       <div *ngIf="success" style="text-align: center;margin-top: 5px;margin-bottom: 40px">
         <span class="successshow">{{ successMsg }}</span>
       </div>
       <div *ngIf="error" style="text-align: center;margin-top: 5px;margin-bottom: 40px">
         <span class="errorshow">{{ errorMsg }}</span>
       </div>
     </div>
     
     <div style="display: inline;margin-top: 30px;">    
       <button type="button"  style="float: left; margin-left: 400px"
         class="btn btn-info" (click)="saveEquipBond(equipBondFlag)">
         <i class="bi bi-person-plus-fill icon"></i> Save
       </button>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <button type="button"  class="btn btn-danger" aria-label="Close"  (click)="close()"
         style="float: right; margin-right: 400px" >
         <span aria-hidden="true">Cancel</span>
       </button>
     </div>
     <br>
 </div>

 