#logicCircuit .sb-mobile-diagram {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-left: none;
  }
  .e-symbolpalette {
    display: block;
  }
  
  .material #logicCircuit #palette-space .e-accordion {
    border: none;
  }
  
  .material #logicCircuit #palette-space {
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
  
  .bootstrap #logicCircuit .sb-mobile-diagram {
    height: calc(100% - 5px);
    margin-top: 5px;
    border-radius: 4px;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }
  
  .fabric #logicCircuit .sb-mobile-diagram {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }
  