      <div class="card">
        <div class="card-header" style="text-align: center; display: block">
          <h2 class="modal-title" style="display: contents">LT Motor</h2>
        </div>
        <div class="card-body">
        <form [formGroup]="ltMotorForm"  (keyup)="onKeyForm($event)" (change)="onChangeForm($event)">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Reference Name</label>
              <input type="text" class="form-control" formControlName="referenceName" [(ngModel)]="ltMotor.referenceName"
              [ngClass]="{ 'is-invalid': submittedltMotor && j.referenceName?.errors }">
              <div *ngIf="submittedltMotor && j.referenceName?.errors" class="invalid-feedback">
                <div *ngIf="j.referenceName?.errors?.required">Reference name is required</div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="form-group">
              <label>Manfacturer Name</label>
              <input type="text" class="form-control" formControlName="manufacturerName" [(ngModel)]="ltMotor.manufacturerName"
              [ngClass]="{ 'is-invalid': submittedltMotor && j.manufacturerName?.errors }">
              <div *ngIf="submittedltMotor && j.manufacturerName?.errors" class="invalid-feedback">
                <div *ngIf="j.manufacturerName?.errors?.required">Manufacturer Name is required</div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="form-group">
              <label>Winding Connection</label>
              <select  class="form-control" formControlName="windingConnection" [(ngModel)]="ltMotor.windingConnection"
              [ngClass]="{ 'is-invalid': submittedltMotor && j.windingConnection?.errors }">
                <option value="" disabled>Select Option</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>        
              <div *ngIf="submittedltMotor && j.windingConnection?.errors" class="invalid-feedback">
                <div *ngIf="j.windingConnection?.errors?.required">Winding Connection is required</div>
              </div>
            </div>
          </div>
  
        </div>
  
        <div class="row"> 
          <div class="col-md-4">
            <div class="form-group">
              <label>Power Capacity(KW)</label>
            <input type="number" class="form-control" formControlName="powerCapacity" [(ngModel)]="ltMotor.powerCapacity"
            [ngClass]="{ 'is-invalid': submittedltMotor && j.powerCapacity?.errors }">
            <div *ngIf="submittedltMotor && j.powerCapacity?.errors" class="invalid-feedback">
              <div *ngIf="j.powerCapacity?.errors?.required">Power Capacity is required</div>
            </div>
          </div>
          </div>
  
          <div class="col-md-4">
            <div class="form-group">
              <label>Current Rating(A)</label>
              <input type="number" class="form-control" formControlName="currentRating" [(ngModel)]="ltMotor.currentRating"
               [ngClass]="{ 'is-invalid': submittedltMotor && j.currentRating?.errors }">
            <div *ngIf="submittedltMotor && j.currentRating?.errors" class="invalid-feedback">
              <div *ngIf="j.currentRating?.errors?.required">Power Capacity is required</div>
            </div>
          </div>
          </div>
  
          <div class="col-md-4">
            <div class="form-group">
              <label>Voltage(V)</label>
              <input type="number" class="form-control" formControlName="voltage" [(ngModel)]="ltMotor.voltage"
               [ngClass]="{ 'is-invalid': submittedltMotor && j.voltage?.errors }">
            <div *ngIf="submittedltMotor && j.voltage?.errors" class="invalid-feedback">
              <div *ngIf="j.voltage?.errors?.required">Voltage is required</div>
            </div>
          </div>        
        </div>
        </div>
  
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>No of Phase(V)</label>
              <select  class="form-control" formControlName="noOfPhase" [(ngModel)]="ltMotor.noOfPhase"
              [ngClass]="{ 'is-invalid': submittedltMotor && j.noOfPhase?.errors }">
                <option value="" disabled>Select Option</option>
                <option value="1phase">1phase</option>
                <option value="3phase">3phase</option>
              </select>    
            <div *ngIf="submittedltMotor && j.noOfPhase?.errors" class="invalid-feedback">
              <div *ngIf="j.noOfPhase?.errors?.required">No of Phase is required</div>
            </div>
          </div> 
                    
          </div>
  
          <div class="col-md-4">
            <div class="form-group">
              <label>Model/Type</label>
              <input type="number" class="form-control" formControlName="model" [(ngModel)]="ltMotor.model"
              [ngClass]="{ 'is-invalid': submittedltMotor && j.model?.errors }">
              <div *ngIf="submittedltMotor && j.model?.errors" class="invalid-feedback">
                <div *ngIf="j.model?.errors?.required">Model is required</div>
              </div>
            </div>        
          </div>
        
        </div>
        <br>
        <h3 style="text-align: center">Incoming Cable Size(sq.mm.)</h3>
        <br>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Phase</label>
              <input type="number" class="form-control" formControlName="incomingSizePhase" [(ngModel)]="ltMotor.incomingSizePhase"
              [ngClass]="{ 'is-invalid': submittedltMotor && j.incomingSizePhase?.errors }">
              <div *ngIf="submittedltMotor && j.incomingSizePhase?.errors" class="invalid-feedback">
                <div *ngIf="j.incomingSizePhase?.errors?.required">Phase is required</div>
              </div>
            </div>          
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Neutral</label>
              <input type="number" class="form-control" formControlName="incomingSizeNeutral" [(ngModel)]="ltMotor.incomingSizeNeutral"
              [ngClass]="{ 'is-invalid': submittedltMotor && j.incomingSizeNeutral?.errors }">
              <div *ngIf="submittedltMotor && j.incomingSizeNeutral?.errors" class="invalid-feedback">
                <div *ngIf="j.incomingSizeNeutral?.errors?.required">Neutral is required</div>
              </div>
            </div>          
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Protective Conductor</label>
              <input type="number" class="form-control" formControlName="incomingSizeProtective" [(ngModel)]="ltMotor.incomingSizeProtective"
              [ngClass]="{ 'is-invalid': submittedltMotor && j.incomingSizeProtective?.errors }">
              <div *ngIf="submittedltMotor && j.incomingSizeProtective?.errors" class="invalid-feedback">
                <div *ngIf="j.incomingSizeProtective?.errors?.required">Reference name is required</div>
              </div>
            </div>          
          </div>
        </div>
  
        <br>
        <h3 style="text-align: center">Incoming Cable Length(m)</h3>
        <br>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Phase</label>
              <input type="number" class="form-control" formControlName="incomingLengthPhase" [(ngModel)]="ltMotor.incomingLengthPhase"
              [ngClass]="{ 'is-invalid': submittedltMotor && j.incomingLengthPhase?.errors }">
              <div *ngIf="submittedltMotor && j.incomingLengthPhase?.errors" class="invalid-feedback">
                <div *ngIf="j.incomingLengthPhase?.errors?.required">Phase is required</div>
              </div>
            </div>          
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Neutral</label>
              <input type="number" class="form-control" formControlName="incomingLengthNeutral" [(ngModel)]="ltMotor.incomingLengthNeutral"
              [ngClass]="{ 'is-invalid': submittedltMotor && j.incomingLengthNeutral?.errors }">
              <div *ngIf="submittedltMotor && j.incomingLengthNeutral?.errors" class="invalid-feedback">
                <div *ngIf="j.incomingLengthNeutral?.errors?.required">Neutral is required</div>
              </div>
            </div>          
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Protective Conductor</label>
              <input type="number" class="form-control" formControlName="incomingLengthProtective" 
              [(ngModel)]="ltMotor.incomingLengthProtective"
              [ngClass]="{ 'is-invalid': submittedltMotor && j.incomingLengthProtective?.errors }">
              <div *ngIf="submittedltMotor && j.incomingLengthProtective?.errors" class="invalid-feedback">
                <div *ngIf="j.incomingLengthProtective?.errors?.required">Reference name is required</div>
              </div>
            </div>          
          </div>
        </div>
        <br>
        <h2><b><u>Testing</u></b></h2>
        <mat-icon class="mousechange" (click)="addLTMotorTesting()" 
        style="float:right; padding-right: 37px; padding-top: 10px;cursor:pointer;">add_box</mat-icon>

            <br>
            <ng-container formArrayName="generalTestingLTMotor" *ngFor="let a of getGeneralTestingLTMotorControls(); let i = index">
              <ng-container [formGroupName]="i">
                <h2>Incomer -{{i+1}} (General Testing)</h2>
                <div class="table-responsive">
                  <table class="table" style="width: 70%; border: 1px solid black">
                    <thead>
                      <tr>
                        <th>
                          Reference
                        </th>
            
                        <th>
                          Voltage(V)
                        </th>
            
                        <th>
                          Insulation Resistance(MΩ)
                        </th>
                        <th>
                          Continuity resistance (Ω)
                        </th>
                        <th>
                          Winding resistance (Ω)
                        </th>
                      </tr>
                    </thead>
            
                    <tbody>
            
                      <tr>
                        <td>
                          R-E
                        </td>
            
                        <td>
                          <input type="number" formControlName="rEVoltage"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('rEVoltage')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('rEVoltage')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('rEVoltage')?.errors?.required">rEVoltage is required</div>
                          </div>
                        </td>
            
                        <td>
                          <input type="number" formControlName="rEResistance"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('rEResistance')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('rEResistance')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('rEResistance')?.errors?.required">rEResistance is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="number" formControlName="rECResistance"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('rECResistance')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('rECResistance')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('rECResistance')?.errors?.required">rECResistance is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="number" formControlName="rEWResistance"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('rEWResistance')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('rEWResistance')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('rEWResistance')?.errors?.required">rEWResistance is required</div>
                          </div>
                        </td>
                      </tr>
            
                      <tr>
                        <td>
                          Y-E
                        </td>
            
                        <td>
                          <input type="number" formControlName="yEVoltage"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('yEVoltage')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('yEVoltage')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('yEVoltage')?.errors?.required">yEVoltage is required</div>
                          </div>
                        </td>
            
                        <td>
                          <input type="number" formControlName="yEResistance"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('yEResistance')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('yEResistance')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('yEResistance')?.errors?.required">yEResistance is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="number" formControlName="yECResistance"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('yECResistance')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('yECResistance')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('yECResistance')?.errors?.required">yECResistance is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="number" formControlName="yEWResistance"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('yEWResistance')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('yEWResistance')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('yEWResistance')?.errors?.required">yEWResistance is required</div>
                          </div>
                        </td>
                      </tr>
            
                      <tr>
                        <td>
                          B-E
                        </td>
                        <td>
                          <input type="number" formControlName="bEVoltage"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('bEVoltage')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('bEVoltage')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('bEVoltage')?.errors?.required">bEVoltage is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="number" formControlName="bEResistance"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('bEResistance')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('bEResistance')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('bEResistance')?.errors?.required">bEResistance is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="number" formControlName="bECResistance"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('bECResistance')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('bECResistance')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('bECResistance')?.errors?.required">bECResistance is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="number" formControlName="bEWResistance"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('bEWResistance')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('bEWResistance')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('bEWResistance')?.errors?.required">bEWResistance is required</div>
                          </div>
                        </td>
                      </tr>
            
                     <tr>
                      <td>
                        R-Y
                      </td>
                      <td>
                        <input type="number" formControlName="rYVoltage"
                          [ngClass]="{ 'is-invalid': submittedltMotor && a.get('rYVoltage')?.errors }">
                        <div *ngIf="submittedltMotor && a.get('rYVoltage')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('rYVoltage')?.errors?.required">rYVoltage is required</div>
                        </div>
                      </td>
                      <td>
                        <input type="number" formControlName="rYResistance"
                          [ngClass]="{ 'is-invalid': submittedltMotor && a.get('rYResistance')?.errors }">
                        <div *ngIf="submittedltMotor && a.get('rYResistance')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('rYResistance')?.errors?.required">rYResistance is required</div>
                        </div>
                      </td>
                      <td>
                        <input type="number" formControlName="rYCResistance"
                          [ngClass]="{ 'is-invalid': submittedltMotor && a.get('rYCResistance')?.errors }">
                        <div *ngIf="submittedltMotor && a.get('rYCResistance')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('rYCResistance')?.errors?.required">rYCResistance is required</div>
                        </div>
                      </td>
                      <td>
                        <input type="number" formControlName="rYWResistance"
                          [ngClass]="{ 'is-invalid': submittedltMotor && a.get('rYWResistance')?.errors }">
                        <div *ngIf="submittedltMotor && a.get('rYWResistance')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('rYWResistance')?.errors?.required">rYWResistance is required</div>
                        </div>
                      </td>
                      </tr>
            
                      <tr>
                        <td>
                          Y-B
                        </td>
            
                        <td>
                          <input type="number" formControlName="yBVoltage"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('yBVoltage')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('yBVoltage')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('yBVoltage')?.errors?.required">yBVoltage is required</div>
                          </div>
                        </td>
            
                        <td>
                          <input type="number" formControlName="yBResistance"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('yBResistance')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('yBResistance')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('yBResistance')?.errors?.required">yBResistance is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="number" formControlName="yBCResistance"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('yBCResistance')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('yBCResistance')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('yBCResistance')?.errors?.required">yBCResistance is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="number" formControlName="yBRWesistance"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('yBRWesistance')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('yBRWesistance')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('yBRWesistance')?.errors?.required">yBRWesistance is required</div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          B-R
                        </td>
                        <td>
                        <input type="number" formControlName="bRVoltage"
                          [ngClass]="{ 'is-invalid': submittedltMotor && a.get('bRVoltage')?.errors }">
                        <div *ngIf="submittedltMotor && a.get('bRVoltage')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('bRVoltage')?.errors?.required">bRVoltage is required</div>
                        </div>
                      </td>
            
                      <td>
                        <input type="number" formControlName="bRResistance"
                          [ngClass]="{ 'is-invalid': submittedltMotor && a.get('bRResistance')?.errors }">
                        <div *ngIf="submittedltMotor && a.get('bRResistance')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('bRResistance')?.errors?.required">bRResistance is required</div>
                        </div>
                      </td>
                      <td>
                        <input type="number" formControlName="bRCResistance"
                          [ngClass]="{ 'is-invalid': submittedltMotor && a.get('bRCResistance')?.errors }">
                        <div *ngIf="submittedltMotor && a.get('bRCResistance')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('bRCResistance')?.errors?.required">bRCResistance is required</div>
                        </div>
                      </td>
                      <td>
                        <input type="number" formControlName="bRWResistance"
                          [ngClass]="{ 'is-invalid': submittedltMotor && a.get('bRWResistance')?.errors }">
                        <div *ngIf="submittedltMotor && a.get('bRWResistance')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('bRWResistance')?.errors?.required">bRWResistance is required</div>
                        </div>
                      </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            
                <br>
            
                <div class="table-responsive">
                  <table class="table" style="width: 35%; border: 1px solid black">
                    <thead>
                      <tr>
                        <th>
                          Reference
                        </th>
            
                        <th>
                          Load Current(A)
                        </th>
                      </tr>
                    </thead>
            
                    <tbody>
                      <tr>
                        <td>
                          IR
                        </td>
            
                        <td>
                          <input type="number" formControlName="iRCurrent"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('iRCurrent')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('iRCurrent')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('iRCurrent')?.errors?.required">iRCurrent is required</div>
                          </div>
                        </td>
                      </tr>
            
                      <tr>
                        <td>
                          IY
                        </td>
            
                        <td>
                          <input type="number" formControlName="iYCurrent"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('iYCurrent')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('iYCurrent')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('iYCurrent')?.errors?.required">Neutral is required</div>
                          </div>
                        </td>
                      </tr>
            
                      <tr>
                        <td>
                          IB
                        </td>
            
                        <td>
                          <input type="number" formControlName="iBCurrent"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('iBCurrent')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('iBCurrent')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('iBCurrent')?.errors?.required">iBCurrent is required</div>
                          </div>
                        </td>
                      </tr>
            
                      <tr>
                        <td>
                          IPE
                        </td>
            
                        <td>
                          <input type="number" formControlName="iPECurrent"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('iPECurrent')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('iPECurrent')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('iPECurrent')?.errors?.required">iPECurrent is required</div>
                          </div>
                        </td>
                      </tr>
            
                    </tbody>
                  </table>
                </div>
            <br>
                <div class="table-responsive">
                  <table class="table" style="width: 35%; border: 1px solid black">
                    <thead>
                      <tr>
                        <th>
                          Reference
                        </th>
            
                        <th>
                          Polarity test
                        </th>
                      </tr>
                    </thead>
            
                    <tbody>
                      <tr>
                        <td>
                          R
                        </td>
            
                        <td>
                          <input type="number" formControlName="polarityR"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('polarityR')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('polarityR')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('polarityR')?.errors?.required">polarityR is required</div>
                          </div>
                        </td>
                      </tr>
            
                      <tr>
                        <td>
                          Y
                        </td>
            
                        <td>
                          <input type="number" formControlName="polarityY"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('polarityY')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('polarityY')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('polarityY')?.errors?.required">polarityY is required</div>
                          </div>
                        </td>
                      </tr>
            
                      <tr>
                        <td>
                          B
                        </td>
            
                        <td>
                          <input type="number" formControlName="polarityB"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('polarityB')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('polarityB')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('polarityB')?.errors?.required">polarityB is required</div>
                          </div>
                        </td>
                      </tr>
            
                    </tbody>
                  </table>
                </div>
                <br>
            
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Power Factor</label>
                      <input type="number" class="form-control" formControlName="powerFactor"
                        [ngClass]="{ 'is-invalid': submittedltMotor && a.get('powerFactor')?.errors }">
                      <div *ngIf="submittedltMotor && a.get('powerFactor')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('powerFactor')?.errors?.required">Power Factor is required</div>
                      </div>
                    </div>
                  </div>
            
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Frequency(Hz)</label>
                      <input type="number" class="form-control" formControlName="frequency"
                        [ngClass]="{ 'is-invalid': submittedltMotor && a.get('frequency')?.errors }">
                      <div *ngIf="submittedltMotor && a.get('frequency')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('frequency')?.errors?.required">Frequency is required</div>
                      </div>
                    </div>
                  </div>
                </div>
                  <mat-icon class="mousechange" *ngIf="getGeneralTestingLTMotorControls().length>1" class="dlt" type="button"
                    title="Delete" (click)="removeLTMotortesting(a,i)" style="float: right">remove_circle_outline</mat-icon>
                  <br>
              </ng-container>
            </ng-container>
            
            <br>
            <ng-container formArrayName="safetyTestingLTMotor" *ngFor="let a of getSafetyTestingLTMotorControls(); let i = index">
              <ng-container [formGroupName]="i">
                <h2>Incomer -{{i+1}} (Testing related to safety)</h2>
            
                <div class="table-responsive">
                  <table class="table" style="width: 70%; border: 1px solid black">
                    <thead>
                      <tr>
                        <th>
                          Reference
                        </th>
            
                        <th>
                          Fault loop impedance (mΩ)
                        </th>
            
                        <th>
                          Prospective fault current (kA)
                        </th>
                        <th>
                          Disconnection time (mS)
                        </th>
                        <th>
                          Remarks
                        </th>
                      </tr>
                    </thead>
            
                    <tbody>
                      <tr>
                        <td>
                          R-N
                        </td>
            
                        <td>
                          <input type="number" formControlName="rNImpedance"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('rNImpedance')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('rNImpedance')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('rNImpedance')?.errors?.required">rNImpedance is required</div>
                          </div>
                        </td>
            
                        <td>
                          <input type="number" formControlName="rNCurrent"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('rNCurrent')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('rNCurrent')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('rNCurrent')?.errors?.required">rNCurrent is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="number" formControlName="rNTime"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('rNTime')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('rNTime')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('rNTime')?.errors?.required">rNTime is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="text" formControlName="rNRemarks">
                        </td>
                      </tr>
            
                      <tr>
                        <td>
                          Y-N
                        </td>
            
                        <td>
                          <input type="number" formControlName="yNImpedance"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('yNImpedance')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('yNImpedance')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('yNImpedance')?.errors?.required">yNImpedance is required</div>
                          </div>
                        </td>
            
                        <td>
                          <input type="number" formControlName="yNCurrent"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('yNCurrent')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('yNCurrent')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('yNCurrent')?.errors?.required">yNCurrent is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="number" formControlName="yNTime"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('yNTime')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('yNTime')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('yNTime')?.errors?.required">yNTime is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="text" formControlName="yNRemarks">
                        </td>
                      </tr>
            
                      <tr>
                        <td>
                          B-N
                        </td>
                        <td>
                          <input type="number" formControlName="bNImpedance"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('bNImpedance')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('bNImpedance')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('bNImpedance')?.errors?.required">bNImpedance is required</div>
                          </div>
                        </td>
            
                        <td>
                          <input type="number" formControlName="bNCurrent"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('bNCurrent')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('bNCurrent')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('bNCurrent')?.errors?.required">bNCurrent is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="number" formControlName="bNTime"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('bNTime')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('bNTime')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('bNTime')?.errors?.required">bNTime is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="text" formControlName="bNRemarks">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          R-E
                        </td>
            
                        <td>
                          <input type="number" formControlName="rEImpedance"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('rEImpedance')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('rEImpedance')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('rEImpedance')?.errors?.required">rEImpedance is required</div>
                          </div>
                        </td>
            
                        <td>
                          <input type="number" formControlName="rECurrent"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('rECurrent')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('rECurrent')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('rECurrent')?.errors?.required">rECurrent is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="number" formControlName="rETime"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('rETime')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('rETime')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('rETime')?.errors?.required">rETime is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="text" formControlName="rERemarks">
                        </td>
                      </tr>
            
                      <tr>
                        <td>
                          Y-E
                        </td>
            
                        <td>
                          <input type="number" formControlName="yEImpedance"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('yEImpedance')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('yEImpedance')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('yEImpedance')?.errors?.required">yEImpedance is required</div>
                          </div>
                        </td>
            
                        <td>
                          <input type="number" formControlName="yECurrent"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('yECurrent')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('yECurrent')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('yECurrent')?.errors?.required">yECurrent is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="number" formControlName="yETime"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('yETime')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('yETime')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('yETime')?.errors?.required">yETime is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="text" formControlName="yERemarks">
                        </td>
                      </tr>
            
                      <tr>
                        <td>
                          B-E
                        </td>
                        <td>
                          <input type="number" formControlName="bEImpedance"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('bEImpedance')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('bEImpedance')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('bEImpedance')?.errors?.required">bEImpedance is required</div>
                          </div>
                        </td>
            
                        <td>
                          <input type="number" formControlName="bECurrent"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('bECurrent')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('bECurrent')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('bECurrent')?.errors?.required">bECurrent is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="number" formControlName="bETime"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('bETime')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('bETime')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('bETime')?.errors?.required">bETime is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="text" formControlName="bERemarks">
                        </td>
                      </tr>
            
                     <tr>
                      <td>
                        R-Y
                      </td>
                      <td>
                        <input type="number" formControlName="rYImpedance"
                          [ngClass]="{ 'is-invalid': submittedltMotor && a.get('rYImpedance')?.errors }">
                        <div *ngIf="submittedltMotor && a.get('rYImpedance')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('rYImpedance')?.errors?.required">rYImpedance is required</div>
                        </div>
                      </td>
          
                      <td>
                        <input type="number" formControlName="rYCurrent"
                          [ngClass]="{ 'is-invalid': submittedltMotor && a.get('rYCurrent')?.errors }">
                        <div *ngIf="submittedltMotor && a.get('rYCurrent')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('rYCurrent')?.errors?.required">rYCurrent is required</div>
                        </div>
                      </td>
                      <td>
                        <input type="number" formControlName="rYTime"
                          [ngClass]="{ 'is-invalid': submittedltMotor && a.get('rYTime')?.errors }">
                        <div *ngIf="submittedltMotor && a.get('rYTime')?.errors" class="invalid-feedback">
                          <div *ngIf="a.get('rYTime')?.errors?.required">rYTime is required</div>
                        </div>
                      </td>
                      <td>
                        <input type="text" formControlName="rYRemarks">
                      </td>
                      </tr>
            
                      <tr>
                        <td>
                          Y-B
                        </td>
            
                        <td>
                          <input type="number" formControlName="yBImpedance"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('yBImpedance')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('yBImpedance')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('yBImpedance')?.errors?.required">yBImpedance is required</div>
                          </div>
                        </td>
            
                        <td>
                          <input type="number" formControlName="yBCurrent"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('yBCurrent')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('yBCurrent')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('yBCurrent')?.errors?.required">yBCurrent is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="number" formControlName="yBTime"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('yBTime')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('yBTime')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('yBTime')?.errors?.required">yBTime is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="text" formControlName="yBRemarks">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          B-R
                        </td>
                        <td>
                          <input type="number" formControlName="bRImpedance"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('bRImpedance')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('bRImpedance')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('bRImpedance')?.errors?.required">bRImpedance is required</div>
                          </div>
                        </td>
            
                        <td>
                          <input type="number" formControlName="bRCurrent"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('bRCurrent')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('bRCurrent')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('bRCurrent')?.errors?.required">bRCurrent is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="number" formControlName="bRTime"
                            [ngClass]="{ 'is-invalid': submittedltMotor && a.get('bRTime')?.errors }">
                          <div *ngIf="submittedltMotor && a.get('bRTime')?.errors" class="invalid-feedback">
                            <div *ngIf="a.get('bRTime')?.errors?.required">bRTime is required</div>
                          </div>
                        </td>
                        <td>
                          <input type="text" formControlName="bRRemarks">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <br>
            
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Touch/Shock Voltage (V)</label>
                      <input type="number" class="form-control" formControlName="shockVoltage"
                        [ngClass]="{ 'is-invalid': submittedltMotor && a.get('shockVoltage')?.errors }">
                      <div *ngIf="submittedltMotor && a.get('shockVoltage')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('shockVoltage')?.errors?.required">Touch/Shock Voltage is required</div>
                      </div>
                    </div>
                  </div>
            
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Floor Resistance (MΩ)</label>
                      <input type="number" class="form-control" formControlName="floorResistance"
                        [ngClass]="{ 'is-invalid': submittedltMotor && a.get('floorResistance')?.errors }">
                      <div *ngIf="submittedltMotor && a.get('floorResistance')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('floorResistance')?.errors?.required">Floor Resistance is required</div>
                      </div>
                    </div>
                  </div>
            
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Wall Resistance (MΩ)</label>
                      <input type="number" class="form-control" formControlName="wallResistance"
                        [ngClass]="{ 'is-invalid': submittedltMotor && a.get('wallResistance')?.errors }">
                      <div *ngIf="submittedltMotor && a.get('wallResistance')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('wallResistance')?.errors?.required">Wall Resistance is required</div>
                      </div>
                    </div>
                  </div>
            </div>
                  <mat-icon class="mousechange" *ngIf="getGeneralTestingLTMotorControls().length>1" class="dlt" type="button"
                    title="Delete" (click)="removeLTMotortesting(a,i)" style="float: right">remove_circle_outline</mat-icon>
                  <br>
              </ng-container>
            </ng-container>
      </form>
        </div>
        <div *ngIf="validationError" style="text-align: center;margin-top: 20px;">
          <span class="alert alert-danger">{{validationErrorMsg}}</span>
        </div>

        <div class="centre-text m-btm30">
          <div *ngIf="success" style="text-align: center;margin-top: 5px;margin-bottom: 40px">
            <span class="successshow">{{ successMsg }}</span>
          </div>
          <div *ngIf="error" style="text-align: center;margin-top: 5px;margin-bottom: 40px">
            <span class="errorshow">{{ errorMsg }}</span>
          </div>
        </div>
        
        <div style="display: inline;margin-top: 30px;">    
          <button type="button"  style="float: left; margin-left: 400px"
            class="btn btn-info" (click)="saveLTMotor(ltMotorFlag)">
            <i class="bi bi-person-plus-fill icon"></i> Save
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button"  class="btn btn-danger" aria-label="Close"  (click)="close()">
            <span aria-hidden="true">Cancel</span>
          </button>
        </div>
      </div>

      