/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover{
    background-color: #c5efff !important;
    /* padding: 20px 23px 0px 23px !important; */
    padding: 35px 20px 15px 15px;
}
.mat-expanded:focus + .mat-expansion-indicator:focus::after,
.mat-expanded:hover + .mat-expansion-indicator:focus::after{
    margin-top: 6px !important;
}
.mat-expansion-panel-header.mat-expanded {
    height: 48px !important;
}
.mat-expansion-panel-header{
 padding: 35px 20px 15px 15px !important;
}
.mat-expansion-panel:not(.mat-expanded).mat-expansion-indicator::after{
    margin-top: -18px !important;
}
.mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]),
.mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]),
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]){
    padding: 35px 20px 15px 15px !important;
}

.mat-accordion .mat-expansion-panel:not(.mat-expanded):nth-child(even)
{
    background-color: #f1eded !important;

}

.example-section .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.example-section .mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: #1358bf !important;
}

.example-section .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.example-section .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element{
  background: #1358bf !important;
}
.modal-content{
padding: 20px;
}

.table thead th {
    vertical-align: middle !important;
}
.table tbody td {
    vertical-align: middle !important;
}
.showInactive label{
    margin-bottom: -17px !important;
}
.showInactive .mat-checkbox-label{
font-size: 14px !important;
}
.showInactive .mat-checkbox-inner-container{
    width: 14px !important;
    height: 14px !important;
}
.divider{
  width: 19%;
  height: auto;
  display:inline-block;
}
[class^="bi-"]::before, [class*=" bi-"]::before{
    vertical-align: middle !important;
}
.fixed label{
    margin-bottom: unset !important;
  }
  .delete:hover{
    color: black !important;
    background-color:unset !important;
    border: none !important;;
  }
  .delete{
    color: #dc3545;
    border: none !important;
}

.mat-expansion-panel-body {
    padding: 16px 24px 16px 24px !important;
}
.iconButton.mat-menu-panel{
    min-height: unset !important;
  }

  .iconButton.mat-menu-content:not(:empty) {
    padding-top: unset !important;
    padding-bottom: unset !important;
    display: flex !important;
  }
  .content-wrap {
    display: flex;
    height: 100%;
}
.mat-toolbar {
    background: #3f51b5 !important;
    color: white !important;
  }
  .MenuIcons button.mat-menu-item {
    width: unset !important;
    padding: 0 !important;
}


  /* .flex-spacer {
      flex: 1 1 auto;
  } */
  .mt-30{
    margin-top: 30px;
  }
  .mat-list-base {
    padding-top: 50px !important;
}
.mat-drawer-inner-container {
    overflow: hidden !important;
}

.mat-drawer-content {
  overflow: hidden !important;
}
/* .mat-drawer-inner-container {
  width: 90% !important;
}  */

.mat-list-base {
  padding-top: 40px !important;
}
.MenuIcons .mat-menu-item .mat-icon {
  margin-right: 2px !important;
  vertical-align: initial !important;
}

.mat-menu-item:hover:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]),
.mat-menu-item.cdk-keyboard-focused:not([disabled]), .mat-menu-item-highlighted:not([disabled]) {
  background: unset !important;
}


.mat-list-option:hover, .mat-list-option:focus, .mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:focus, .mat-action-list .mat-list-item:hover, .mat-action-list .mat-list-item:focus
{
  background: unset !important;

}

.mat-focus-indicator .mat-menu-item{
  background: unset !important;

}

.mat-list-base .mat-list-item .mat-list-icon, .mat-list-base .mat-list-option .mat-list-icon{
  padding: 0 !important;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#changeContactPadding{
  padding-left: 88px !important;
}
.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.equipment .form-control{
  margin: -7px 10px -7px 10px;
  width: 85% !important;
}
.equipment{
  display: flex;
}
/* .active-list-item {
  color: #3F51B5 !important;
} */

#login-btn{
  background-color: #232a44;
    border-color: #232a44;
}

#login-btn:hover{
 background-color: #232a44e3;
 border-color: #232a44e3;
}

#login-btn:focus, #login-btn.focus {
  box-shadow: 0 0 0 0.2rem #d4dae061 !important;
}

#login-btn1{
  background-color: #232a44;
    border-color: #232a44;
}

#login-btn1:hover{
 background-color: #232a44e3;
 border-color: #232a44e3;
}

#login-btn1:focus, #login-btn.focus {
  box-shadow: 0 0 0 0.2rem #d4dae061 !important;
}

.card-header {
  background-color: unset !important;
}
.error{
  color: red;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
  background-image: unset !important;
  padding-right: unset !important;
}

.desktopDisplay{
  display: block;
}
.mobileDisplay{
  display: none !important;
}

.highlight{
  background: rgb(4 4 4 / 15%);
}
.highlightSub{
  background: rgba(0,0,0,.04);
}
.highlightSub2{
  background: rgba(0,0,0,.04);
}
.highlightType{
  background: rgba(0,0,0,.04);
}
/* .mat-list-item .mat-list-item-content:hover{
  background: rgb(4 4 4 / 15%);
} */
.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  padding: unset !important;
  margin: -4px 1px -4px 1px !important;
}
/* login and register page */

.errorshow {
  padding: 5px 8px;
  text-align: center;
  font-size: 14px;
  color: #721c24;
  background-color: #ffdcde;
  border-color: #ffdcde;
  border-radius: 0.25rem;
}

.changePasswordAlign{
  margin: 15px auto 0px auto;
}
.successshow {
  padding: 5px 8px;
  text-align: center;
  font-size: 14px;
  color: hsl(120deg 34% 27%);
  background-color: hsl(101deg 45% 88%);
  border-color: hsl(101deg 45% 100%);
  border-radius: 0.25rem;
}

.iti{
  display: block !important;
}
.iti__flag-container{
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  /* pointer-events: none !important; */
}

.invalid-feedback{display:block;}

.multiselect-dropdown {
  position: absolute !important;
  width: 91% !important;
}
.multiselect-dropdown .dropdown-btn {
  padding: 7.5px 12px !important;
  line-height: 1.4 !important;
}

.multiselect-dropdown .dropdown-btn .selected-item {
  max-width: unset !important;
}
#adminTable tr.mat-row, tr.mat-footer-row {
  height: 60px !important;
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform-origin: top;
  /* transform: scaleY(0);
  padding-left: 56px; */
}
.submenu.expanded {
  transform: scaleY(1);
}
.leftAlignSub .mat-list-item-content{
  margin-left: 30px !important;
}
#commetTable thead th, #commetTable thead td {
  border-bottom-width: 0px !important;
}
#commetTable thead th {
  border-bottom-width: 0px !important;
}
.collapse:not(.show) {
  display: block !important;
}
.even {
  margin-left: 41px;
  width: 50%;
}
.even1{
  display: block;
    font-size: 11px;
    text-align: center;
    margin-left: -31%;
    width: auto;
}
.viewer{
  display: block;
  font-size: 11px;
  text-align: center;
  margin-left: -25%;width: auto;
}

.odd1 {
  border: 1px solid black;
  background-color: white;
  margin: 0 122px;
 width: 5%;
}
.scrollbar
{
max-height:300px; overflow-y:auto; overflow-x:hidden; 
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 8%);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 8%);
	background-color: rgb(0 0 0 / 8%);
}

.mat-badge-content {
  color: white;
  background: red !important;
}
.mat-menu-below{
  width: auto !important;
  max-width: unset !important;
}
#mat-menu-panel-2, #mat-menu-panel-0{ 
  height: 40vh;
}
.btn-outline-danger:focus, .btn-outline-danger.focus {
  box-shadow: unset !important;
}
.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: unset !important;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: unset !important;
}
.highlight-text{
  /* -webkit-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite; */
  background-color: rgba(0, 0, 0, 0.04) !important;
}
.highlight-text:hover{
  /* -webkit-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite; */
  background-color: rgba(0, 0, 0, 0.04) !important;
}
.highlight-row:hover{
  background-color: rgba(0, 0, 0, 0.04) !important;
}
.testingTable th, .testingTable td{
  border-right: 1px solid #dee2e6;
}
/* @-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
} */
::ng-deep .multiline-tooltip{
  white-space: pre-line;
}
/* basic tooltip starts*/
.siteNameTool .mat-icon {
  position: absolute;
  left: 15%;
  top: 6%;
}
.InstallationTypeTT .mat-icon {
  position: absolute;
  left: 47%;
  top: 2%;
}
.DeclarationTT .mat-icon {
  position: relative;
    right: 74%;
    bottom: 36px;
    float: right;
}
.LiabilityTT .mat-icon {
  float: right;
  font-size: 18px;
  line-height: unset;
  margin-right: 68%;
  margin-top: 0.4%;
}
/* basic tooltip ends*/

/* supply tooltip starts*/
.SystemEarthingTT .mat-icon {
  position: absolute;
  left: 40%;
  top: 3%;
}
.TypeLiveCon .mat-icon {
  position: absolute;
  left: 55%;
  top: 2%;
}
.NumberOfCon .mat-icon {
  position: absolute;
  left: 52%;
  top: 2%;
}
.SupplyParaTT .mat-icon {
  position: absolute;
  left: 62%;
  top: 2%;
}
.CapacityTT .mat-icon {
  position: relative;
  left: 3%;
  bottom: -3px;
}
.IncomingProTT .mat-icon {
  position: relative;
  left: 3%;
  bottom: -3px;
}
.AlternateSourceTT .mat-icon {
  position: absolute;
    left: 42%;
    top: 2%;
}
.SizeEarthingConTT .mat-icon {
  float: right;
  font-size: 18px;
  line-height: unset;
  margin-right: 25%;
}
.EarthingConTT .mat-icon {
  position: absolute;
    top: 2%;
    left: 50%;
}
.continuityTT .mat-icon {
  position: absolute;
  bottom: 70%;
  left: 90%;
}
.BondingConTT .mat-icon {
  position: absolute;
  top: 3%;
  left: 73%;
}
.JointsTT .mat-icon {
  position: absolute;
  top: 10%;
  left: 45%;
}
.SourceNameTT .mat-icon {
  position: absolute;
  left: 25%;
}
.MakeTT .mat-icon {
  position: absolute;
  left: 15%;
}
.ModelTT .mat-icon {
  position: absolute;
    top: 4%;
    left: 37%;
}
.TypeTT .mat-icon {
  position: absolute;
    top: 3%;
    left: 13%;
}
.PolesTT .mat-icon {
  position: absolute;
    top: 3%;
    left: 23%;
}
.VoltageRatingTT .mat-icon {
  position: absolute;
    top: 3%;
    left: 27%;
}
.FuseTT .mat-icon {
  position: absolute;
    top: 3%;
    left: 40%;
}
.ResidualTT .mat-icon {
  position: absolute;
    top: 3%;
    left: 50%;
}
.RatedResidualTT .mat-icon {
  position: absolute;
  top: 5%;
  left: 65%;
}
/* supply tooltip ends*/

/* testing tooltip starts*/
.PolarityTT .mat-icon {
  position: absolute;
  top: 5%;
  left: 38%;
}
.VulnerableTT .mat-icon {
  position: absolute;
  bottom: 66%;
  left: 65%;
}
.RatedCurrentTT .mat-icon {
position: absolute;
    top: 3%;
    left: 30%;
}
.SourceIncomingTT .mat-icon {
  position: absolute;
      top: 3%;
      left: 35%;
  }
/* testing tooltip ends*/

/* summary tooltip starts*/
.ReferringTT .mat-icon {
  position: absolute;
  left: 73%;
  }
  .codeTT .mat-icon {
    position: relative;
    left: 4%;
    bottom: -4px
    }
  /* summary tooltip ends*/
  .ShowingSiteName{
    color: lightslategrey;
  font-weight: 500;
  position: absolute;
    top: -20px;
  }
  .ExtentTT .mat-icon {
    position: absolute;
    top: 2%;
    right: 74%;
  }
  .typeofjointTT .mat-icon {
    line-height: unset;
    margin-right: 70%;
    float: right;
  }
/*for mobile */
@media screen and (max-width: 768px) and (min-width: 319px) {
  .mat-stepper-horizontal-line{
    display: none !important;
  }
  .mat-tab-group{
    margin-top: -20px;
  }
  .mat-horizontal-stepper-header-container{
    overflow-x: scroll;
    display: -webkit-box !important;
    margin-top: 30px;
  }
  .globalSite .mat-tab-header {
    width: 100% !important;
}
.horizontalLine {
 border: unset !important;
  flex: unset !important;
  height:unset !important;
  margin: unset !important;
  min-width: unset !important;
  position: unset !important;
  width: unset !important;
}
.ShowingSiteName{
  position: relative !important;
  top: 50px !important;
  z-index: 999 !important;
  left: -60% !important;
}
  #tableResponsive{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .mat-paginator-container{
   display: contents !important;
  }
  .mat-paginator-range-label {
    margin: 0px !important;
}
.pagePadding{
  padding: unset !important;
  margin-top: 70px;
}
.mat-horizontal-content-container {
  padding: 0 7px 24px 7px !important;
}
  .loginCardBody{
    width: 109% !important;
    margin-left: -14px;
  }
  .mobileDisplay{
    display: block !important;
  }
  .desktopDisplay{
    display: none !important;
  }
  .mat-drawer-inner-container {
    margin-top: 20px;
}
.appName {
  margin-left: 10px !important;
}

.auth-form-btn {
  width: auto !important;
}
.register{
  padding-top: unset !important;
  padding-left: unset !important;
}
.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0 16px !important;
}
.welcome-text{
  margin: 210px 0px 0px 0px !important; 
}
}
/*for macbook pro default (device-width: 1280px) and (device-height: 800px)*/
@media screen and (max-width: 1680px){
.siteNameTool .mat-icon{
  position: absolute;
  left: 20%;
  top: 6%;
  }
  .InstallationTypeTT .mat-icon {
    position: absolute;
    left: 58%;
    /* top: 0%; */
}
.typeofjointTT .mat-icon {
  line-height: unset;
    margin-right: 62%;
    float: right;
}
.SupplyParaTT .mat-icon {
  position: absolute;
  left: 77%;
  top: 2%;
}
.CapacityTT .mat-icon {
  position: relative;
  left: 3%;
  bottom: -3px;
}
.IncomingProTT .mat-icon {
  position: relative;
  left: 3%;
  bottom: -3px;
}

.LiabilityTT .mat-icon {
  float: right;
  font-size: 18px;
  line-height: unset;
  margin-right: 60%;
  margin-top: 0.4%;
}
  .SystemEarthingTT .mat-icon {
    position: absolute;
    left: 50%;
    top: 2%;
  }
  .TypeLiveCon .mat-icon {
    position: absolute;
    left: 68%;
    top: 2%;
}
.NumberOfCon .mat-icon {
  position: absolute;
  left: 63%;
  top: 2%;
}
.AlternateSourceTT .mat-icon {
  position: absolute;
  left: 52%;
  /* top: 2%; */
}
.EarthingConTT .mat-icon {
  position: absolute;
  top: 2%;
  left: 62%;
}
.continuityTT .mat-icon {
  position: absolute;
  bottom: 52%;
  left: 21%;
}
.SizeEarthingConTT .mat-icon {
  float: right;
  font-size: 18px;
  line-height: unset;
  margin-right: 6%;
}
.BondingConTT .mat-icon {
  position: absolute;
  top: 2%;
  left: 92%;
}
.JointsTT .mat-icon {
  position: absolute;
  top: 10%;
  left: 55%;
}
.SourceNameTT .mat-icon {
  position: absolute;
  left: 32%;
}
.MakeTT .mat-icon {
  position: absolute;
  left: 17%;
}
.ModelTT .mat-icon {
  position: absolute;
  top: 2%;
  left: 45%;
}
.TypeTT .mat-icon {
  position: absolute;
  top: 3%;
  left: 15%;
}
.PolesTT .mat-icon {
  position: absolute;
  top: 2%;
  left: 28%;
}
.VoltageRatingTT .mat-icon {
    position: absolute;
    top: 3%;
    left: 33%;
}
.FuseTT .mat-icon {
  position: absolute;
  top: 3%;
  left: 48%;
}
.ResidualTT .mat-icon {
  position: absolute;
  top: 3%;
  left: 61%;
}
.RatedResidualTT .mat-icon {
  position: absolute;
  top: 2%;
  left: 80%;
}
.PolarityTT .mat-icon {
  position: absolute;
  top: 3%;
  left: 47%;
}
.VulnerableTT .mat-icon {
  position: absolute;
  bottom: 69%;
  left: 81%;
}
.RatedCurrentTT .mat-icon {
  position: absolute;
  top: 2%;
  left: 37%;
}
.SourceIncomingTT .mat-icon {
  position: absolute;
  top: 3%;
  left: 42%;
}
.ReferringTT .mat-icon {
  position: absolute;
  left: 90%;
}
.ExtentTT .mat-icon {
  position: absolute;
  right: 69%;
}
}

/*for ipad*/
@media screen and (device-width: 768px) and (device-height: 1024px){
  .horizontalLine {
    margin: 7px 0 0 141px !important;
    width: 90px !important;
}
/* basic tooltip starts*/
.siteNameTool .mat-icon {
  position: absolute;
  left: 36%;
  top: 6%;
}
.InstallationTypeTT .mat-icon {
  position: absolute;
  left: 90%;
  top: 3%;
}
.LiabilityTT .mat-icon {
  float: right;
  font-size: 18px;
  line-height: unset;
  margin-right: 35%;
  margin-top: 0.4%;
}
.DeclarationTT .mat-icon {
  position: relative;
  right: 58%;
  bottom: 36px;
  float: right;
}
/* basic tooltip ends*/

/* supply tooltip starts*/
.SystemEarthingTT .mat-icon {
  position: absolute;
  left: 88%;
  top: 2%;
}
.TypeLiveCon .mat-icon {
  position: absolute;
  left: 85%;
  top: 2%;
}
.NumberOfCon .mat-icon {
  position: absolute;
  left: 85%;
  top: 2%;
}
.SupplyParaTT .mat-icon {
  position: absolute;
  left: 28%;
  top: 10%;
}
.CapacityTT .mat-icon {
  position: relative;
  left: 15%;
  /* bottom: 20px; */
}
.IncomingProTT .mat-icon {
  position: relative;
  left: 6%;
  bottom: -3px;
}
.AlternateSourceTT .mat-icon {
  position: absolute;
  left: 83%;
  top: 2%;
}
.SizeEarthingConTT .mat-icon {
  float: right;
  font-size: 18px;
  line-height: unset;
  margin-right: 15%;
}
.EarthingConTT .mat-icon {
  position: absolute;
    top: 18%;
    left: 50%;
}
.continuityTT .mat-icon {
  position: absolute;
  top: 16%;
  left: 93%;
}
.BondingConTT .mat-icon {
  position: absolute;
  top: 23%;
  left: 67%;
}
.JointsTT .mat-icon {
  position: absolute;
  top: 10%;
  left: 88%;
}
.SourceNameTT .mat-icon {
  position: absolute;
  left: 60%;
}
.MakeTT .mat-icon {
  position: absolute;
  left: 32%;
}
.ModelTT .mat-icon {
  position: absolute;
    top: 3%;
    left: 83%;
}
.TypeTT .mat-icon {
  position: absolute;
    top: 3%;
    left: 30%;
}
.PolesTT .mat-icon {
  position: absolute;
    top: 3%;
    left: 53%;
}
.VoltageRatingTT .mat-icon {
  position: absolute;
    top: 3%;
    left: 60%;
}
.FuseTT .mat-icon {
  position: absolute;
  top: 3%;
  left: 80%;
}
.ResidualTT .mat-icon {
  position: absolute;
  top: 25%;
    left: 39%;
}
.RatedResidualTT .mat-icon {
  position: absolute;
  top: 26%;
  left: 68%;
}
/* supply tooltip ends*/

/* testing tooltip starts*/
.PolarityTT .mat-icon {
  position: absolute;
  top: 5%;
  left: 85%;
}
.VulnerableTT .mat-icon {
  position: absolute;
  bottom: 45%;
  left: 84%;
  }
  .RatedCurrentTT .mat-icon {
    position: absolute;
        top: 3%;
        left: 70%;
    }
    .SourceIncomingTT .mat-icon {
      position: absolute;
          top: 3%;
          left: 80%;
      }
/* testing tooltip ends*/

/* summary tooltip starts*/
.ExtentTT .mat-icon {
  position: absolute;
  right: 50%;
}
.ReferringTT .mat-icon {
  position: absolute;
  top: 22%;
  left: 50%;
}
.codeTT .mat-icon {
  position: relative;
    left: 5%;
    top: 28.5%;
  }
/* summary tooltip ends*/
.tableObserve .table-responsive .table{
  width: 1000px !important;
}
#table1{
  width: 1000px !important;
}
}
/*for ipad pro*/
@media screen and (device-width: 1024px) and (device-height: 1366px){
  .LiabilityTT .mat-icon {
    margin-right: 48%;
}
.AlternateSourceTT .mat-icon {
  left: 67%;
}
.EarthingConTT .mat-icon {
  left: 80%;
}
.ExtentTT .mat-icon {
  right: 59%;
}
.ShowingSiteName{
  font-size: 12.5px !important;
} 
  .horizontalLine {
    margin: 7px 0 0 92px !important;
    width: 140px !important;
}
.tableObserve .table-responsive .table{
  width: 1000px !important;
}
/* basic tooltip starts*/
.siteNameTool .mat-icon {
  position: absolute;
  left: 24% !important;
  top: 6%;
}
.InstallationTypeTT .mat-icon {
  position: absolute;
  left: 74%;
  top: 3%;
}
.DeclarationTT .mat-icon {
  position: relative;
  right: 58%;
  bottom: 36px;
  float: right;
}
/* basic tooltip ends*/

/* supply tooltip starts*/
.SystemEarthingTT .mat-icon {
  position: absolute;
  left: 65%;
  top: 2%;
}
.TypeLiveCon .mat-icon {
  position: absolute;
  left: 85%;
  top: 2%;
}
.NumberOfCon .mat-icon {
  position: absolute;
  left: 85%;
  top: 2%;
}
.SupplyParaTT .mat-icon {
  position: absolute;
  left: 98%;
  top: 2%;
}
.CapacityTT .mat-icon {
  position: relative;
  left: 3%;
  bottom: -3px;
}
.IncomingProTT .mat-icon {
  position: relative;
  left: 3%;
  bottom: -3px;
}
.AlternateSourceTT .mat-icon {
  position: absolute;
    left: 98%;
    top: 2%;
}
.SizeEarthingConTT .mat-icon {
  float: right;
  font-size: 18px;
  line-height: unset;
  margin-right: 15%;
}
.EarthingConTT .mat-icon {
  position: absolute;
    top: 2%;
    left: 50%;
}
.continuityTT .mat-icon {
  position: absolute;
    top: 20%;
    left: 60%;
}
.BondingConTT .mat-icon {
  position: absolute;
    top: 25%;
    left: 37%;
}
.JointsTT .mat-icon {
  position: absolute;
  top: 10%;
  left: 70%;
}
.SourceNameTT .mat-icon {
  position: absolute;
  left: 44%;
}
.MakeTT .mat-icon {
  position: absolute;
  left: 22%;
}
.ModelTT .mat-icon {
  position: absolute;
    top: 3%;
    left: 60%;
}
.TypeTT .mat-icon {
  position: absolute;
    top: 3%;
    left: 20%;
}
.PolesTT .mat-icon {
  position: absolute;
    top: 3%;
    left: 36%;
}
.VoltageRatingTT .mat-icon {
  position: absolute;
    top: 3%;
    left: 43%;
}
.FuseTT .mat-icon {
  position: absolute;
    top: 3%;
    left: 62%;
}
.ResidualTT .mat-icon {
  position: absolute;
    top: 3%;
    left: 80%;
}
.RatedResidualTT .mat-icon {
  position: absolute;
  top: 26%;
  left: 25%;
}
/* supply tooltip ends*/

/* testing tooltip starts*/
.PolarityTT .mat-icon {
  position: absolute;
  top: 5%;
  left: 65%;
}
.VulnerableTT .mat-icon {
  position: absolute;
      bottom: 55%;
      left: 30%;
  }
  .RatedCurrentTT .mat-icon {
    position: absolute;
        top: 3%;
        left: 50%;
    }
    .SourceIncomingTT .mat-icon {
      position: absolute;
          top: 3%;
          left: 55%;
      }
/* testing tooltip ends*/

/* summary tooltip starts*/
.ReferringTT .mat-icon {
position: absolute;
    top: 22%;
    left: 22%;
}
.codeTT .mat-icon {
  position: relative;
    left: 5%;
    top: 28.5%;
  }
/* summary tooltip ends*/

}
.TableBorder thead th, .TableBorder tr 
{
  border: 1px solid #dee2e6;
}

/* #mat-tab-label-0-3 {
  position: fixed;
  left: 64%;
  color: black;
  font-weight: 600;
}
#mat-tab-label-0-4{
  position: relative; 
  margin-left: 23%;
  color: black;
} */
.disableTab .mat-tab-label.mat-tab-disabled {
  cursor: not-allowed !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.tooltip {
  /* position: relative; */
  display: inline-block;
  margin: 2px 5px;
  opacity: 1 !important;
  width: 100%;
    color: black;
    font-weight: 600;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* for mat-header line*/
.horizontalLine {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.12);
  flex: auto;
  height: 0;
  margin: 7px 0 0 142px;
  min-width: 32px;
  position: static;
  width: 213px;
}
.globalSite .mat-tab-header {
  width: 85%;
}
/* for observation glow start*/
.glow {
  color: black !important;
  text-align: center;
  /* -webkit-animation: glow 1500ms infinite;
  animation: glow 1500ms infinite; */
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 
                 0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
  }
  to {
    text-shadow: 0 0 20px #eeeeee, 0 0 30px #9554b3, 0 0 40px #9554b3, 0 0 50px #9554b3,
                 0 0 60px #9554b3, 0 0 70px #9554b3, 0 0 80px #9554b3;
  }
}
@keyframes glow {
  0% {text-shadow: 0 0 3px #25e80e; }
  50% {  text-shadow: 0 0 40px #25e80e; }
  100% { text-shadow: 0 0 3px #25e80e; }
}
/* for observation glow end*/

.tableObserve .table-responsive{
 overflow-x: unset !important;
    overflow-y: auto!important;
    height: 200px !important;
}
.tableObserve .table-responsiveTest{
  overflow-x: unset !important;
     overflow-y: auto!important;
     height: 120px !important;
 }