<h1 style="text-align: center;">Introductory Offer</h1>
<hr>
<div class="card">
    <div class="card-body" style="text-align: center;">
    <h3>Congratulations: You have {{licenseValue}} complimentary licenses</h3>
    <button class="btn" (click) ="showViewerPage()" style="background-color: #0f800c;color: white;">Proceed</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button  type="button" aria-label="Close"  (click)="closeModalDialog()" 
   class="btn btn-danger" ><i class="bi bi-x icon"></i> 
    <span aria-hidden="true">Cancel</span> 
</button>
</div>
</div>
