<mat-tab-group  [selectedIndex]="selectedIndex" style="background-color:white;" #tabs>
    <mat-tab label="Electro Magnetic Compatibility">
        <mat-horizontal-stepper linear #stepper>

            <mat-step [completed]=Completed>
                <ng-template matStepLabel>Client Details</ng-template>
                <app-emc-client-details (proceedNext)="doSomething($event)"></app-emc-client-details>
            </mat-step>

            <mat-step [completed]=Completed1>
                <ng-template matStepLabel>Facility Data</ng-template>
                <app-emc-facility-data (proceedNext)="doSomething1($event)"></app-emc-facility-data>
            </mat-step>

            <mat-step [completed]=Completed2>
                <ng-template matStepLabel>Power And Earthing Data</ng-template>
                <app-power-and-earthing-data (proceedNext)="doSomething2($event)"></app-power-and-earthing-data>
            </mat-step>

            <mat-step [completed]=Completed3>
                <ng-template matStepLabel>Electro Magnetic Compatibility (EMC) Data</ng-template>
                <app-emc-electromagnetic-compatibility-data (proceedNext)="doSomething3($event)">
                </app-emc-electromagnetic-compatibility-data>
            </mat-step>

        </mat-horizontal-stepper>
    </mat-tab>

    <mat-tab label="Saved Reports">
        <app-emc-saved-report></app-emc-saved-report>
    </mat-tab>
    <mat-tab label="Final Reports">
        <app-emc-final-report></app-emc-final-report>
    </mat-tab>
</mat-tab-group>