<div class="container-fluid">
  <div class="row">
      <div class="col-md-12 bg-image">
          <div class="col-md-12">
              <div class="card col-md-5">
                      <div class="brand-logo">
                          <a href="#"><img src="assets/img/Original-green.png"></a>
                      </div>
                      <div class="login-header">
                          <h3 class="login-title">Register to SOLVE Applications</h3>
                      </div>
                  <div class="loginMargin"></div>
                  <div class="card-body">
                      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" #i="ngForm">
                        <p class="successshow" *ngIf="successMsg">{{successMsg}}</p>
                          <span class="invalid-feedback"></span>
                          <div class="form-group">
                              <label for="firstname">* Firstname</label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">
                                          <i class="bi bi-person-lines-fill"></i>
                                      </span>
                                  </div>
                                  <input type="text" formControlName="firstname" class="form-control" placeholder="Enter your firstname"
                                  [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" [(ngModel)]="user.firstname"/>
                                  <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                                      <div *ngIf="f.firstname.errors?.required">Firstname is required</div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="lastname">Lastname</label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">
                                          <i class="bi bi-person-lines-fill"></i>
                                      </span>
                                  </div>
                                  <input type="text" formControlName="lastname" class="form-control" placeholder="Enter your lastname" [(ngModel)]="user.lastname"/>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="username">* Email</label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">
                                          <i class="bi bi-envelope-fill"></i>
                                      </span>
                                  </div>
                                  <input type="email" formControlName="email" class="form-control" placeholder="Enter your email address" maxlength="50"
                                  [ngClass]="{ 'is-invalid': submitted && f.email.errors}" [ngStyle]="{'border-color': alert ? 'red' : ''}"
                                  [(ngModel)]="user.email" (change)="loadUserTypeBasedOnEmail(user.email)"/>
                                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                      <div *ngIf="f.email.errors.required">Email is required</div>
                                      <div *ngIf="f.email.errors.pattern">Enter valid email</div>
                                  </div>
                              </div>
                          </div>

                          <div class="errorshow" *ngIf="alert">{{alert}}</div>

                          <div class="form-group">
                              <label for="username">* User Type</label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">
                                          <i class="bi bi-person-fill"></i>
                                      </span>
                                  </div>
                                  <select  formControlName="usertype" class="form-control"
                                  [ngClass]="{ 'is-invalid': submitted && f.usertype.errors }" [(ngModel)]="user.usertype">
                                      <option value="" selected>Select Type</option>
                                      <option *ngFor="let user of usertypelist">{{user | uppercase}}</option>
                                  </select>
                                  <div *ngIf="submitted && f.usertype.errors" class="invalid-feedback">
                                      <div *ngIf="f.usertype.errors.required">Please select user type</div>
                                  </div>
                              </div>
                          </div>

                          <div class="form-group posrelative">
                              <label for="password">* Password</label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">
                                          <i class="bi bi-lock-fill"></i>
                                      </span>
                                  </div>
                                  <input type="password" formControlName="password" class="form-control" placeholder="Enter your password" minlength="8" maxlength="15" (keydown.space)="$event.preventDefault()"
                                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [(ngModel)]="user.password"/>
                                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                      <div *ngIf="f.password.errors.required">Password is required</div>
                                      <div *ngIf="f.password.errors.minlength">Password must contain at least 8 characters</div>
                                      <div style="color: #f2c716;" *ngIf="f.password.errors.pattern">Password Suggestion - "Qwerty@123'</div>
                                  </div>
                              </div>
<!--
                              <div class="pass_group">
                              <div class="pas_notify">
                                  <div class="pass_content">
                                    <p>Password Must</p>
                                      <ul>
                                        <li>Have at least one UpperCase Letter </li>
                                        <li>Have al  </li>
                                        <li>UpperCase </li>
                                        <li>UpperCase </li>ng s
                                        <li>UpperCase </li>
                                      </ul>
                                  </div>
                                  <div class="diag-left"></div>
                              </div>
                            </div>-->
                          </div>

                          <div class="form-group">
                              <label for="password">* Confirm Password</label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">
                                          <i class="bi bi-lock-fill"></i>
                                      </span>
                                  </div>
                                  <input type="password" formControlName="confirmpassword" class="form-control" placeholder="Enter your password again" pattern="{{ user.password }}" minlength="8" maxlength="15" (keydown.space)="$event.preventDefault()"
                                  [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }"/>
                                  <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                                      <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
                                      <div *ngIf="f.confirmpassword.errors.pattern">Password and Confirm password must be same</div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-check">
                              <input type="checkbox" formControlName="isActive" [(ngModel)]="user.active"/>
                              Active
                          </div>
                          <!-- Register Succesfull Message -->
                          <div class="successshow1" *ngIf="successMsg">{{successMsg}}</div>

                          <div style="display: inline;">
                              <button style="float: left;background-color: #0f800c;color: white;" type="submit" 
                              class="btn btn-block btn-rounded btn-md font-weight-medium auth-form-btn" id="login-btn"><i class="bi bi-person-plus-fill icon"></i> Register</button>
                              <button [routerLink]="['/login']" style="float:right;" class="btn btn-danger cancel"><i class="bi bi-x icon"></i> Cancel</button>
                          </div>
                      </form>
                  </div>

              </div>
              <div class="col-md-7" style="text-align: center;
              float: right;
              margin: 24px;
                background: rgba(228, 224, 223, 0.5);
                color: #365520;">
              <h2>Digital Support for Testing, Inspection and Ceritification of Electrical Installation</h2>
              <h1 style="font-weight: 600;">INTELLIGENT - INTERACTIVE - MODERN</h1>
              </div>
          </div>
      </div>
  </div>
</div>
