<div class="card">
     <div class="card-header" style="text-align: center; display: block">
        <h2 class="modal-title" style="display: contents">MCCB</h2>
      </div>
    <div class="card-body">
      <form [formGroup]="mccbForm" (keyup)="onKeyForm($event)" (change)="onChangeForm($event)">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Reference Name</label>
            <input type="text" class="form-control" formControlName="referenceName" [(ngModel)]="mccb.referenceName"
            [ngClass]="{ 'is-invalid': submittedMccb && h.referenceName?.errors }">
            <div *ngIf="submittedMccb && h.referenceName?.errors" class="invalid-feedback">
              <div *ngIf="h.referenceName?.errors?.required">Reference name is required</div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>OCPD Manfacturer Name</label>
            <input type="text" class="form-control" formControlName="manufacturerName" [(ngModel)]="mccb.manufacturerName"
            [ngClass]="{ 'is-invalid': submittedMccb && h.manufacturerName?.errors }">
            <div *ngIf="submittedMccb && h.manufacturerName?.errors" class="invalid-feedback">
              <div *ngIf="h.manufacturerName?.errors?.required">Manufacturer Name is required</div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Rating(A)</label>
            <input type="number" class="form-control" formControlName="rating" [(ngModel)]="mccb.rating"
            [ngClass]="{ 'is-invalid': submittedMccb && h.rating?.errors }">
            <div *ngIf="submittedMccb && h.rating?.errors" class="invalid-feedback">
              <div *ngIf="h.rating?.errors?.required">Rating is required</div>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-md-3">
          <div class="form-group">
            <label>Voltage(V)</label>
            <input type="number" class="form-control" formControlName="voltage" [(ngModel)]="mccb.voltage"
            [ngClass]="{ 'is-invalid': submittedMccb && h.voltage?.errors }">
            <div *ngIf="submittedMccb && h.voltage?.errors" class="invalid-feedback">
              <div *ngIf="h.voltage?.errors?.required">Voltage is required</div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>No of Poles</label>
            <select  class="form-control" formControlName="noOfPoles" [(ngModel)]="mccb.noOfPoles"
            [ngClass]="{ 'is-invalid': submittedMccb && h.noOfPoles?.errors }">
              <option value="">Select Option</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>        
            <div *ngIf="submittedMccb && h.noOfPoles?.errors" class="invalid-feedback">
              <div *ngIf="h.noOfPoles?.errors?.required">No of poles is required</div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Relay Manufacturers name (applicable only if ACB with micrologic or relay)</label>
            <input type="text" class="form-control" formControlName="relayManufacturer" [(ngModel)]="mccb.relayManufacturer"
            [ngClass]="{ 'is-invalid': submittedMccb && h.relayManufacturer?.errors }">
            <div *ngIf="submittedMccb && h.relayManufacturer?.errors" class="invalid-feedback">
              <div *ngIf="h.relayManufacturer?.errors?.required">Relay Manufacturers is required</div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Model/Type</label>
            <input type="text" class="form-control" formControlName="model" [(ngModel)]="mccb.model"
            [ngClass]="{ 'is-invalid': submittedMccb && h.model?.errors }">
            <div *ngIf="submittedMccb && h.model?.errors" class="invalid-feedback">
              <div *ngIf="h.model?.errors?.required">Model/Type is required</div>
            </div>
          </div>
        </div>
      </div>

      <br>
      <h3 style="text-align: center">Current setting</h3>
      <br>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Overcurrent instantaneous / High stage/ I>> (A)</label>
            <input type="number" class="form-control" formControlName="overCurrent" [(ngModel)]="mccb.overCurrent"
            [ngClass]="{ 'is-invalid': submittedMccb && h.overCurrent?.errors }">
            <div *ngIf="submittedMccb && h.overCurrent?.errors" class="invalid-feedback">
              <div *ngIf="h.overCurrent?.errors?.required">Overcurrent is required</div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Set time (mS)</label>
            <input type="number" class="form-control" formControlName="setTimes" [(ngModel)]="mccb.setTimes"
            [ngClass]="{ 'is-invalid': submittedMccb && h.setTimes?.errors }">
            <div *ngIf="submittedMccb && h.setTimes?.errors" class="invalid-feedback">
              <div *ngIf="h.setTimes?.errors?.required">Set time is required</div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Earth fault instantaneous/ high stage / Ig (A)</label>
            <input type="number" class="form-control" formControlName="earthFault" [(ngModel)]="mccb.earthFault"
            [ngClass]="{ 'is-invalid': submittedMccb && h.earthFault?.errors }">
            <div *ngIf="submittedMccb && h.earthFault?.errors" class="invalid-feedback">
              <div *ngIf="h.earthFault?.errors?.required">Earth fault is required</div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Set time (mS)</label>
            <input type="number" class="form-control" formControlName="setTime" [(ngModel)]="mccb.setTime"
            [ngClass]="{ 'is-invalid': submittedMccb && h.setTime?.errors }">
            <div *ngIf="submittedMccb && h.setTime?.errors" class="invalid-feedback">
              <div *ngIf="h.setTime?.errors?.required">Set time is required</div>
            </div>
          </div>
        </div>
      </div>

      <br>
      <h3 style="text-align: center">Outgoing Cable Size  (sq.mm.)</h3>
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Phase</label>
            <input type="number" class="form-control" formControlName="outgoingSizePhase" [(ngModel)]="mccb.outgoingSizePhase"
            [ngClass]="{ 'is-invalid': submittedMccb && h.outgoingSizePhase?.errors }">
            <div *ngIf="submittedMccb && h.outgoingSizePhase?.errors" class="invalid-feedback">
              <div *ngIf="h.outgoingSizePhase?.errors?.required">Phase is required</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Neutral</label>
            <input type="number" class="form-control" formControlName="outgoingSizeNeutral" [(ngModel)]="mccb.outgoingSizeNeutral"
            [ngClass]="{ 'is-invalid': submittedMccb && h.outgoingSizeNeutral?.errors }">
            <div *ngIf="submittedMccb && h.outgoingSizeNeutral?.errors" class="invalid-feedback">
              <div *ngIf="h.outgoingSizeNeutral?.errors?.required">Neutral is required</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Protective Conductor</label>
            <input type="number" class="form-control" formControlName="outgoingSizeProtective" [(ngModel)]="mccb.outgoingSizeProtective"
            [ngClass]="{ 'is-invalid': submittedMccb && h.outgoingSizeProtective?.errors }">
            <div *ngIf="submittedMccb && h.outgoingSizeProtective?.errors" class="invalid-feedback">
              <div *ngIf="h.outgoingSizeProtective?.errors?.required">Protective Conductor is required</div>
            </div>
          </div>
        </div>
      </div>
    <br>
    <h2><b><u>Testing</u></b></h2>
    <mat-icon class="mousechange" (click)="addMCCBTesting()" style="float:right; padding-right: 37px; padding-top: 10px;
    cursor:pointer;">add_box</mat-icon>

        <br>
        <ng-container formArrayName="generalTestingMCCB" *ngFor="let a of getGeneralTestingMCCBControls(); let i = index">
          <ng-container [formGroupName]="i">
            <h2>Incomer -{{i+1}} (General Testing)</h2>
            <div class="table-responsive">
              <table class="table" style="width: 70%; border: 1px solid black">
                <thead>
                  <tr>
                    <th>
                      Reference
                    </th>
        
                    <th>
                      Voltage(V)
                    </th>
        
                    <th>
                      Insulation Resistance(MΩ)
                    </th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr>
                    <td>
                      R-N
                    </td>
        
                    <td>
                      <input type="text" formControlName="rNVoltage"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('rNVoltage')?.errors }">
                      <div *ngIf="submittedMccb && a.get('rNVoltage')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('rNVoltage')?.errors?.required">rNVoltage is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="rNResistance"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('rNResistance')?.errors }">
                      <div *ngIf="submittedMccb && a.get('rNResistance')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('rNResistance')?.errors?.required">rNResistance is required</div>
                      </div>
                    </td>
                  </tr>
        
                  <tr>
                    <td>
                      Y-N
                    </td>
        
                    <td>
                      <input type="text" formControlName="yNVoltage"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('yNVoltage')?.errors }">
                      <div *ngIf="submittedMccb && a.get('yNVoltage')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('yNVoltage')?.errors?.required">yNVoltage is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="yNResistance"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('yNResistance')?.errors }">
                      <div *ngIf="submittedMccb && a.get('yNResistance')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('yNResistance')?.errors?.required">yNResistance is required</div>
                      </div>
                    </td>
                  </tr>
        
                  <tr>
                    <td>
                      B-N
                    </td>
        
                    <td>
                      <input type="text" formControlName="bNVoltage"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('bNVoltage')?.errors }">
                      <div *ngIf="submittedMccb && a.get('bNVoltage')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('bNVoltage')?.errors?.required">bNVoltage is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="bNResistance"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('bNResistance')?.errors }">
                      <div *ngIf="submittedMccb && a.get('bNResistance')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('bNResistance')?.errors?.required">bNResistance is required</div>
                      </div>
                    </td>
                  </tr>
        
                  <tr>
                    <td>
                      R-E
                    </td>
        
                    <td>
                      <input type="text" formControlName="rEVoltage"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('rEVoltage')?.errors }">
                      <div *ngIf="submittedMccb && a.get('rEVoltage')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('rEVoltage')?.errors?.required">rEVoltage is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="rEResistance"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('rEResistance')?.errors }">
                      <div *ngIf="submittedMccb && a.get('rEResistance')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('rEResistance')?.errors?.required">rEResistance is required</div>
                      </div>
                    </td>
                  </tr>
        
                  <tr>
                    <td>
                      Y-E
                    </td>
        
                    <td>
                      <input type="text" formControlName="yEVoltage"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('yEVoltage')?.errors }">
                      <div *ngIf="submittedMccb && a.get('yEVoltage')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('yEVoltage')?.errors?.required">yEVoltage is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="yEResistance"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('yEResistance')?.errors }">
                      <div *ngIf="submittedMccb && a.get('yEResistance')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('yEResistance')?.errors?.required">yEResistance is required</div>
                      </div>
                    </td>
                  </tr>
        
                  <tr>
                    <td>
                      B-E
                    </td>
        
                    <td>
                      <input type="text" formControlName="bEVoltage"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('bEVoltage')?.errors }">
                      <div *ngIf="submittedMccb && a.get('bEVoltage')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('bEVoltage')?.errors?.required">bEVoltage is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="bEResistance"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('bEResistance')?.errors }">
                      <div *ngIf="submittedMccb && a.get('bEResistance')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('bEResistance')?.errors?.required">bEResistance is required</div>
                      </div>
                    </td>
                  </tr>
        
                 <tr>
                  <td>
                    R-Y
                  </td>
                  <td>
                    <input type="text" formControlName="rYVoltage"
                      [ngClass]="{ 'is-invalid': submittedMccb && a.get('rYVoltage')?.errors }">
                    <div *ngIf="submittedMccb && a.get('rYVoltage')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('rYVoltage')?.errors?.required">rYVoltage is required</div>
                    </div>
                  </td>
        
                  <td>
                    <input type="text" formControlName="rYResistance"
                      [ngClass]="{ 'is-invalid': submittedMccb && a.get('rYResistance')?.errors }">
                    <div *ngIf="submittedMccb && a.get('rYResistance')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('rYResistance')?.errors?.required">rYResistance is required</div>
                    </div>
                  </td>
                  </tr>
        
                  <tr>
                    <td>
                      Y-B
                    </td>
        
                    <td>
                      <input type="text" formControlName="yBVoltage"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('yBVoltage')?.errors }">
                      <div *ngIf="submittedMccb && a.get('yBVoltage')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('yBVoltage')?.errors?.required">yBVoltage is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="yBResistance"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('yBResistance')?.errors }">
                      <div *ngIf="submittedMccb && a.get('yBResistance')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('yBResistance')?.errors?.required">yBResistance is required</div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      B-R
                    </td>
                    <td>
                    <input type="text" formControlName="bRVoltage"
                      [ngClass]="{ 'is-invalid': submittedMccb && a.get('bRVoltage')?.errors }">
                    <div *ngIf="submittedMccb && a.get('bRVoltage')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('bRVoltage')?.errors?.required">bRVoltage is required</div>
                    </div>
                  </td>
        
                  <td>
                    <input type="text" formControlName="bRResistance"
                      [ngClass]="{ 'is-invalid': submittedMccb && a.get('bRResistance')?.errors }">
                    <div *ngIf="submittedMccb && a.get('bRResistance')?.errors" class="invalid-feedback">
                      <div *ngIf="a.get('bRResistance')?.errors?.required">bRResistance is required</div>
                    </div>
                  </td>
                  </tr>
        
                  <tr>
                    <td>
                      NE
                    </td>
        
                    <td>
                      <input type="text" formControlName="nEVoltage"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('nEVoltage')?.errors }">
                      <div *ngIf="submittedMccb && a.get('nEVoltage')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('nEVoltage')?.errors?.required">nEVoltage is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="nEResistance"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('nEResistance')?.errors }">
                      <div *ngIf="submittedMccb && a.get('nEResistance')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('nEResistance')?.errors?.required">nEResistance is required</div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        
            <br>
        
            <div class="table-responsive">
              <table class="table" style="width: 35%; border: 1px solid black">
                <thead>
                  <tr>
                    <th>
                      Reference
                    </th>
        
                    <th>
                      Load Current(A)
                    </th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr>
                    <td>
                      IR
                    </td>
        
                    <td>
                      <input type="text" formControlName="iRCurrent"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('iRCurrent')?.errors }">
                      <div *ngIf="submittedMccb && a.get('iRCurrent')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('iRCurrent')?.errors?.required">iRCurrent is required</div>
                      </div>
                    </td>
                  </tr>
        
                  <tr>
                    <td>
                      IY
                    </td>
        
                    <td>
                      <input type="text" formControlName="iYCurrent"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('iYCurrent')?.errors }">
                      <div *ngIf="submittedMccb && a.get('iYCurrent')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('iYCurrent')?.errors?.required">iYCurrent is required</div>
                      </div>
                    </td>
                  </tr>
        
                  <tr>
                    <td>
                      IB
                    </td>
        
                    <td>
                      <input type="text" formControlName="iBCurrent"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('iBCurrent')?.errors }">
                      <div *ngIf="submittedMccb && a.get('iBCurrent')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('iBCurrent')?.errors?.required">iBCurrent is required</div>
                      </div>
                    </td>
                  </tr>
        
                  <tr>
                    <td>
                      IN
                    </td>
        
                    <td>
                      <input type="text" formControlName="iNCurrent"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('iNCurrent')?.errors }">
                      <div *ngIf="submittedMccb && a.get('iNCurrent')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('iNCurrent')?.errors?.required">iNCurrent is required</div>
                      </div>
                    </td>
                  </tr>
        
                  <tr>
                    <td>
                      IPE
                    </td>
        
                    <td>
                      <input type="text" formControlName="iPECurrent"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('iPECurrent')?.errors }">
                      <div *ngIf="submittedMccb && a.get('iPECurrent')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('iPECurrent')?.errors?.required">iPECurrent is required</div>
                      </div>
                    </td>
                  </tr>
        
                </tbody>
              </table>
            </div>
        
            <br>
        
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Power Factor</label>
                  <input type="number" class="form-control" formControlName="powerFactor"
                    [ngClass]="{ 'is-invalid': submittedMccb && a.get('powerFactor')?.errors }">
                  <div *ngIf="submittedMccb && a.get('powerFactor')?.errors" class="invalid-feedback">
                    <div *ngIf="a.get('powerFactor')?.errors?.required">Power Factor is required</div>
                  </div>
                </div>
              </div>
        
              <div class="col-md-4">
                <div class="form-group">
                  <label>Frequency(Hz)</label>
                  <input type="number" class="form-control" formControlName="frequency"
                    [ngClass]="{ 'is-invalid': submittedMccb && a.get('frequency')?.errors }">
                  <div *ngIf="submittedMccb && a.get('frequency')?.errors" class="invalid-feedback">
                    <div *ngIf="a.get('frequency')?.errors?.required">Frequency is required</div>
                  </div>
                </div>
              </div>
            </div>
              <mat-icon class="mousechange" *ngIf="getGeneralTestingMCCBControls().length>1" class="dlt" type="button"
                title="Delete" (click)="removeMCCBtesting(a,i)" style="float: right">remove_circle_outline</mat-icon>
              <br>
          </ng-container>
        </ng-container>
        
        <br>
        <ng-container formArrayName="safetyTestingMCCB" *ngFor="let a of getSafetyTestingMCCBControls(); let i = index">
          <ng-container [formGroupName]="i">
            <h2>Incomer -{{i+1}} (Testing related to safety)</h2>
        
            <div class="table-responsive">
              <table class="table" style="width: 100%; border: 1px solid black">
                <thead>
                  <tr>
                    <th>
                      Reference
                    </th>
        
                    <th>
                      Fault Loop Impedence(mΩ)
                    </th>
        
                    <th>
                      Prospective fault current (kA)
                    </th>
        
                    <th>
                      Disconnection time (mS)
                    </th>
        
                    <th>
                      Remarks
                    </th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr>
                    <td>
                      R-N
                    </td>
        
                    <td>
                      <input type="text" formControlName="rNImpedence"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('rNImpedence')?.errors }">
                      <div *ngIf="submittedMccb && a.get('rNImpedence')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('rNImpedence')?.errors?.required">rNImpedence is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="rNCurrent"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('rNCurrent')?.errors }">
                      <div *ngIf="submittedMccb && a.get('rNCurrent')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('rNCurrent')?.errors?.required">rNCurrent is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="rNTime"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('rNTime')?.errors }">
                      <div *ngIf="submittedMccb && a.get('rNTime')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('rNTime')?.errors?.required">rNTime is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="rNRemarks">
                    </td>
                  </tr>
        
                  <tr>
                    <td>
                      Y-N
                    </td>
        
                    <td>
                      <input type="text" formControlName="yNImpedence"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('yNImpedence')?.errors }">
                      <div *ngIf="submittedMccb && a.get('yNImpedence')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('yNImpedence')?.errors?.required">yNImpedence is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="yNCurrent"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('yNCurrent')?.errors }">
                      <div *ngIf="submittedMccb && a.get('yNCurrent')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('yNCurrent')?.errors?.required">yNCurrent is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="yNTime"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('yNTime')?.errors }">
                      <div *ngIf="submittedMccb && a.get('yNTime')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('yNTime')?.errors?.required">yNTime is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="yNRemarks">
                    </td>
                  </tr>
        
                  <tr>
                    <td>
                      B-N
                    </td>
        
                    <td>
                      <input type="text" formControlName="bNImpedence"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('bNImpedence')?.errors }">
                      <div *ngIf="submittedMccb && a.get('bNImpedence')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('bNImpedence')?.errors?.required">bNImpedence is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="bNCurrent"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('bNCurrent')?.errors }">
                      <div *ngIf="submittedMccb && a.get('bNCurrent')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('bNCurrent')?.errors?.required">bNCurrent is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="bNTime"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('bNTime')?.errors }">
                      <div *ngIf="submittedMccb && a.get('bNTime')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('bNTime')?.errors?.required">bNTime is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="bNRemarks">
                    </td>
                  </tr>
        
                  <tr>
                    <td>
                      R-E
                    </td>
        
                    <td>
                      <input type="text" formControlName="rEImpedence"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('rEImpedence')?.errors }">
                      <div *ngIf="submittedMccb && a.get('rEImpedence')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('rEImpedence')?.errors?.required">rEImpedence is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="rECurrent"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('rECurrent')?.errors }">
                      <div *ngIf="submittedMccb && a.get('rECurrent')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('rECurrent')?.errors?.required">rECurrent is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="rETime"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('rETime')?.errors }">
                      <div *ngIf="submittedMccb && a.get('rETime')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('rETime')?.errors?.required">rETime is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="rERemarks">
                    </td>
                  </tr>
        
                  <tr>
                    <td>
                      Y-E
                    </td>
        
                    <td>
                      <input type="text" formControlName="yEImpedence"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('yEImpedence')?.errors }">
                      <div *ngIf="submittedMccb && a.get('yEImpedence')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('yEImpedence')?.errors?.required">yEImpedence is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="yECurrent"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('yECurrent')?.errors }">
                      <div *ngIf="submittedMccb && a.get('yECurrent')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('yECurrent')?.errors?.required">yECurrent is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="yETime"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('yETime')?.errors }">
                      <div *ngIf="submittedMccb && a.get('yETime')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('yETime')?.errors?.required">yETime is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="yERemarks">
                    </td>
                  </tr>
        
                  <tr>
                    <td>
                      B-E
                    </td>
        
                    <td>
                      <input type="text" formControlName="bEImpedence"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('bEImpedence')?.errors }">
                      <div *ngIf="submittedMccb && a.get('bEImpedence')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('bEImpedence')?.errors?.required">bEImpedence is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="bECurrent"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('bECurrent')?.errors }">
                      <div *ngIf="submittedMccb && a.get('bECurrent')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('bECurrent')?.errors?.required">bECurrent is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="bETime"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('bETime')?.errors }">
                      <div *ngIf="submittedMccb && a.get('bETime')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('bETime')?.errors?.required">bETime is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="bERemarks">
                    </td>
                  </tr>
        
                  <tr>
                    <td>
                      R-Y
                    </td>
        
                    <td>
                      <input type="text" formControlName="rYImpedence"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('rYImpedence')?.errors }">
                      <div *ngIf="submittedMccb && a.get('rYImpedence')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('rYImpedence')?.errors?.required">rYImpedence is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="rYCurrent"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('rYCurrent')?.errors }">
                      <div *ngIf="submittedMccb && a.get('rYCurrent')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('rYCurrent')?.errors?.required">rYCurrent is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="rYTime"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('rYTime')?.errors }">
                      <div *ngIf="submittedMccb && a.get('rYTime')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('rYTime')?.errors?.required">rYTime is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="rYRemarks">
                    </td>
                  </tr>
        
                  <tr>
                    <td>
                      Y-B
                    </td>
        
                    <td>
                      <input type="text" formControlName="yBImpedence"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('yBImpedence')?.errors }">
                      <div *ngIf="submittedMccb && a.get('yBImpedence')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('yBImpedence')?.errors?.required">yBImpedence is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="yBCurrent"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('yBCurrent')?.errors }">
                      <div *ngIf="submittedMccb && a.get('yBCurrent')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('yBCurrent')?.errors?.required">yBCurrent is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="yBTime"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('yBTime')?.errors }">
                      <div *ngIf="submittedMccb && a.get('yBTime')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('yBTime')?.errors?.required">yBTime is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="yBRemarks">
                    </td>
                  </tr>
        
                  <tr>
                    <td>
                      B-R
                    </td>
        
                    <td>
                      <input type="text" formControlName="bRImpedence"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('bRImpedence')?.errors }">
                      <div *ngIf="submittedMccb && a.get('bRImpedence')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('bRImpedence')?.errors?.required">bRImpedence is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="bRCurrent"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('bRCurrent')?.errors }">
                      <div *ngIf="submittedMccb && a.get('bRCurrent')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('bRCurrent')?.errors?.required">bRCurrent is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="bRTime"
                        [ngClass]="{ 'is-invalid': submittedMccb && a.get('bRTime')?.errors }">
                      <div *ngIf="submittedMccb && a.get('bRTime')?.errors" class="invalid-feedback">
                        <div *ngIf="a.get('bRTime')?.errors?.required">bRTime is required</div>
                      </div>
                    </td>
        
                    <td>
                      <input type="text" formControlName="bRRemarks">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        
            <br>
        
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Touch/Shock Voltage (V)</label>
                  <input type="number" class="form-control" formControlName="shockVoltage"
                    [ngClass]="{ 'is-invalid': submittedMccb && a.get('shockVoltage')?.errors }">
                  <div *ngIf="submittedMccb && a.get('shockVoltage')?.errors" class="invalid-feedback">
                    <div *ngIf="a.get('shockVoltage')?.errors?.required">Touch/Shock Voltage is required</div>
                  </div>
                </div>
              </div>
        
              <div class="col-md-4">
                <div class="form-group">
                  <label>Floor Resistance (MΩ)</label>
                  <input type="number" class="form-control" formControlName="floorResistance"
                    [ngClass]="{ 'is-invalid': submittedMccb && a.get('floorResistance')?.errors }">
                  <div *ngIf="submittedMccb && a.get('floorResistance')?.errors" class="invalid-feedback">
                    <div *ngIf="a.get('floorResistance')?.errors?.required">Floor Resistance is required</div>
                  </div>
                </div>
              </div>
        
              <div class="col-md-4">
                <div class="form-group">
                  <label>Wall Resistance (MΩ)</label>
                  <input type="number" class="form-control" formControlName="wallResistance"
                    [ngClass]="{ 'is-invalid': submittedMccb && a.get('wallResistance')?.errors }">
                  <div *ngIf="submittedMccb && a.get('wallResistance')?.errors" class="invalid-feedback">
                    <div *ngIf="a.get('wallResistance')?.errors?.required">Wall Resistance is required</div>
                  </div>
                </div>
              </div>
        </div>
              <mat-icon class="mousechange" *ngIf="getGeneralTestingMCCBControls().length>1" class="dlt" type="button"
                title="Delete" (click)="removeMCCBtesting(a,i)" style="float: right">remove_circle_outline</mat-icon>
        
          </ng-container>
        </ng-container>
      </form>
    </div>

    <div *ngIf="validationError" style="text-align: center;;margin-top: 5px;margin-bottom: 40px">
        <span class="alert alert-danger">{{validationErrorMsg}}</span>
      </div>

      <div class="centre-text m-btm30">
        <div *ngIf="success" style="text-align: center;margin-top: 5px;margin-bottom: 40px">
          <span class="successshow">{{ successMsg }}</span>
        </div>
        <div *ngIf="error" style="text-align: center;margin-top: 5px;margin-bottom: 40px">
          <span class="errorshow">{{ errorMsg }}</span>
        </div>
      </div>
      
      <div style="display: inline;margin-top: 30px;">    
        <button type="button"  style="float: left; margin-left: 400px"
          class="btn btn-info" (click)="saveMCCB(mccbFlag)">
          <i class="bi bi-person-plus-fill icon"></i> Save
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button"  class="btn btn-danger" aria-label="Close"  (click)="close()"
          style="float: right; margin-right: 400px" >
          <span aria-hidden="true">Cancel</span>
        </button>
      </div>
      <br>
  </div>

  