.auth-form-btn {
    /* margin-top: 40px; */
    width: 10%;
}

.auth-form-btn .icon {
    float: left;
    /* margin-left: 30px; */
}

.cancel {
    margin-top: 40px;
    width: 10%; 
    /* height: 47px; */
}

/* .cancel .icon {
    float: left;
    margin-left: 20px;
} */

.mousechange:hover {
    cursor: pointer;
}
